@import "bourbon/bourbon";
@import "foundation/variables", "foundation/components/global", "foundation/components/block-grid";
@import "fws/variables";
@import "fws/custom-font-awesome";
@import "fws/mixins";
@import "fws/buttons";
@import "fws/accordian";
@import "fws/sidebar";
@import "fws/cards";
@import "fws/project";

.main.top-bar {
  border-top-left-radius: 5px;
  @include linear-gradient(lighten($color-phac-dark-blue, 5), $color-phac-dark-blue);
}

.top-bar-section ul li.active > a, .top-bar-section li a:not(.button) {
  @include linear-gradient(lighten($color-phac-dark-blue, 5), $color-phac-dark-blue);
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.top-bar {
}

// ============================================================================
// GLOBAL AND BOX SETTINGS
// ============================================================================

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

body {
  // Positioning (z-index, top, etc...)

  // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
  height: 100%;
  width: 100%;
  background-color: $color-slate-gray;
}

.spinner:before {
  margin: 10px;
  content: url("/css/img/spinner.png");
  height: 36px;
  width: 36px;
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.row {
  width: 100%;
  min-width: 100%;
}

.login__outer {
  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

  @include linear-gradient($color-hightlight, $color-phac-dark-blue);
}

.login__inner {
  height: 300px;
  padding: 1em;
  width: 400px;

  background-color: $color-white;
  border-radius: $default-border-radius;
}

.main-content {
  height: 100%;
  width: 100%;

  // Other (colors, fonts, align)
  background-color: $color-slate-gray;
  color: $color-body-font;
  font-family: $font;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

.detailed-content {
  // @extends

  // Positioning (z-index, top, etc...)

  // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
  height: 100%;
  width: 100%;

  //margin-left: $width-sidebar;

  // Other (colors, fonts, align)
  background-color: $color-white;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid $color-slate-gray;

  // @includes
  @include box-flex(1);

  // Nested
  h3 {
    margin-top: 0;
  }
}


