@import "bourbon/bourbon";
@import "fws/variables";
@import "fws/notifier";

//@import "foundation/variables", "foundation/components/global", "foundation/components/block-grid";
//@import "fws/custom-font-awesome";
//@import "fws/mixins";
//@import "fws/buttons";

//@import "fws/accordian";
//@import "fws/sidebar";
@import "fws/cards";
//@import "fws/project";
//@import "fws/spinner";

// ============================================================================
// GLOBAL AND BOX SETTINGS
// ============================================================================

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  // Positioning (z-index, top, etc...)

  // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
  height: 100%;
  width: 100%;
  background-color: #e3e4e5;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

// Bootstrap Over-rides
.nav-tabs li {
  cursor: pointer;
}

.tab-content {
  min-height: 250px;
}


/* ==========================================================================
   Modules
   ========================================================================== */

.button-bar {
  margin-bottom: 1.5em;
}

// Login Page

.login__outer {
  height: 100%;
  width: 100%;
}

.login__inner {
  height: 300px;
  padding: 1em;
  width: 400px;

  background-color: $color-white;
  border-radius: $default-border-radius;
}

.outer {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.sidebar {
  $sidebar-color: #222222;
  background: $sidebar-color url("/css/img/sidebar-gradient.png") repeat-y top right;
  background-clip: border-box;
  color: rgb(225, 225, 225);
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  display: block;
  float: left;
  height: 949px;
  margin-top: 0px;
  min-height: 1px;
  position: relative;
  width: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    line-height: 2em;
    margin: 0;
    padding: 4px 0 4px 10px;
    border-top: 1px solid lighten($sidebar-color, 4);
    border-bottom: 1px solid darken($sidebar-color, 4);
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
    &.active {
      background-image: -webkit-linear-gradient(top, rgb(45, 47, 48) 0%, rgb(51, 53, 55) 10%, rgb(51, 53, 55) 90%, rgb(45, 47, 48) 100%);
      background-origin: padding-box;
      border-bottom: 1px solid rgb(43, 44, 46);
      border-top: 1px solid rgb(38, 39, 41);
      background-color: darken($sidebar-color, 10);

    }
  }
}

.main {
  float: left;
  min-width: 1px;
}

.container-fluid .navbar {
  margin-top: 1.4em;
}

.login {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: #ffffff;
}

.sidebar--projects {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.row--btn {
  padding-bottom: 10px;
}

.cb {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 4px;
  //border-radius: 3px;
  display: inline-block;
  position: relative;
}

input.cb--btn {
  margin: -3px 0 0 0;
}

input.cb:active, .cb:checked:active, .cb--checked {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input.cb:checked, .cb--checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input.cb:checked:after, .cb--checked:after {
  content: '\2714';
  font-size: 12px;
  position: absolute;
  top: -3px;
  left: 1px;
  color: #222;
}

.cb--checked:after {
  top: -6px;
}

// SequenceFile Table
td.file-select {
  width: 13px;
  input.cb {
    margin-top: 0;
  }
}

td.file-date {
  text-align: right;
}