<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
<title th:text="#{error.notfound.title}">_Not found_</title>
</head>
<body>
    <main layout:fragment="page" data-error="404">
    <h1 th:text="#{error.notfound.title}"></h1>
    <p th:text="#{error.notfound.content}">_Not found_</p>
    <p th:utext="#{error.contact_admins(${adminEmail})}">_contact admins_</p>
    </main>
</body>
</html>