$irida-rem-base: 16px;
$irida-base-line-height: 1.5;

// BORDER RADIUS
$irida-global-radius: 4px;
$irida-global-rounded: 1000px;

// BREAKPOINTS
$irida-breakpoint-small: rem-calc(0);
$irida-breakpoint-medium: rem-calc(640);
$irida-breakpoint-large: rem-calc(1200);
$irida-breakpoint-xlarge: rem-calc(1440);
$irida-breakpoint-xxlarge: rem-calc(1920);

// COLOURS
$irida-colour-bg: #ffffff !default;
$irida-colour-font-body: #222 !default;

$irida-colour-primary: #133b54 !default; // PHAC Blue
$color-primary: $irida-colour-primary;

$irida-colour-secondary: #f1f1f1 !default;

$irida-colour-alert: #f04124 !default;
$color-danger: $irida-colour-alert;

$irida-colour-info: lighten($irida-colour-primary, 30);
$color-info: $irida-colour-info;

$irida-colour-success: #43ac6a !default;
$color-success: $irida-colour-success;

$irida-colour-warning: #f08a24 !default;
$color-warning: $irida-colour-warning;

$irida-colour-dark: #232323 !default;

$irida-colour-grey: #dfdfdf !default;
$color-grey: $irida-colour-grey;

$irida-colour-grey-light: lighten($irida-colour-grey, 8) !default;
$color-grey-light: $irida-colour-grey-light;

$irida-colour-grey-dark: darken($irida-colour-grey, 30) !default;
$color-grey-darker: $irida-colour-grey-dark;

// SPECIFIC
$colour-paired-end: $irida-colour-primary;
$colour-single-end: $irida-colour-info;

// FONTS
$irida-font-family-sans-serif: "Helvetica Neue", "Helvetica", Helvetica, Arial,
  sans-serif;
$irida-font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$irida-font-family-monospace: "Liberation Mono", Courier, monospace !default;

$irida-font-size-base: 1rem;

$irida-font-h1-size: rem-calc(44);
$irida-font-h2-size: rem-calc(37);
$irida-font-h3-size: rem-calc(27);
$irida-font-h4-size: rem-calc(23);
$irida-font-h5-size: rem-calc(18);
$irida-font-h6-size: 1rem;

$irida-font-weight-normal: 300;
$irida-font-weight-bold: bold;
$irida-font-body-style: normal;

// SPACING
$irida-global-padding: 1rem;
$irida-global-spacing: rem-calc(15);
