/* Positioning */
/* Display & Box Model */
/* Other */
.ng-cloak {
  display: none; }

@media screen and (max-width: 48em) {
  .small-screen-expand {
    width: 100%; } }

/* ==========================================================================
   PAGES
   ========================================================================== */
/* Modules
   ========================================================================== */
/**
 * .dataTable
 *
 * Used when a table has selectable rows.
 */
.dataTable {
  width: 100%; }
  .dataTable thead {
    font-weight: 700;
    font-size: 1.2em;
    background-color: #000000;
    text-transform: uppercase;
    border-bottom: none; }
    .dataTable thead tr {
      padding: 20px; }
    .dataTable thead th {
      color: white; }
  .dataTable tbody tr:hover {
    cursor: pointer;
    background-color: #c2ccd1; }

.paging {
  font-weight: 700; }
