*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative; }

a:focus {
  outline: none; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* Foundation Block Grids for below small breakpoint */
@media only screen {
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -10px;
    *zoom: 1; }
    [class*="block-grid-"]:before, [class*="block-grid-"]:after {
      content: " ";
      display: table; }
    [class*="block-grid-"]:after {
      clear: both; }
    [class*="block-grid-"] > li {
      display: block;
      height: auto;
      float: left;
      padding: 0 10px 10px; }

  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: 48em) {
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

  [class*="small-block-grid-"] > li {
    clear: none !important; } }
/* Positioning */
/* Display & Box Model */
/* Other */
.ng-cloak {
  display: none; }

input.ng-invalid.ng-dirty {
  background-color: #FA787E; }

input.ng-valid.ng-dirty {
  background-color: #78FA89; }

@media screen and (max-width: 48em) {
  .small-screen-expand {
    width: 100%; } }

/* ==========================================================================
   PAGES
   ========================================================================== */
/* Modules
   ========================================================================== */
.page-info > .button {
  float: right;
  margin-right: 2em; }
  @media screen and (max-width: 48em) {
    .page-info > .button {
      float: left; } }

/**
 * .dataTable
 *
 * Used when a table has selectable rows.
 */
.listTable {
  width: 100%; }
  .listTable thead {
    font-weight: 700;
    font-size: 1.2em;
    background-color: #000000;
    text-transform: uppercase;
    border-bottom: none; }
    .listTable thead tr {
      padding: 20px; }
    .listTable thead th {
      color: white; }
  .listTable tbody tr {
    border-bottom: 1px solid #efefef; }
    .listTable tbody tr:hover {
      cursor: pointer;
      background-color: #c2ccd1; }
    @media screen and (max-width: 48em) {
      .listTable tbody tr {
        height: 2em;
        font-size: 1.5em; } }

.grid-list li {
  height: 100px;
  margin-bottom: 1em; }
  .grid-list li > div {
    border: 1px solid gainsboro;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.8em;
    background-color: #e9e9e9;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5); }
    .grid-list li > div:hover {
      background-color: #d0d0d0; }
