<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="themes/common/page">
<head>
    <link th:href="@{/resources/wet-theme/assets/favicon.ico}" href="/resources/wet-theme/assets/favicon.ico" rel="icon"
          type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/resources/wet-theme/css/wet-boew.min.css}"
          href="/resources/wet-theme/css/wet-boew.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/wet-theme/css/theme.min.css}"
          href="/resources/wet-theme/css/theme.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" href="/resources/css/main.css"/>
    <link rel="stylesheet" th:href="@{/resources/css/themes/wet/main.css}" href="/resources/css/themes/wet/main.css"/>
    <!--/* Page specific css fragments or links are added here when run. */-->
</head>
<body>


<div layout:fragment="main-section">
    <!-- HEADER -->
    <div th:replace="themes/wet/partials/header :: header">HEADER</div>

    <div layout:fragment="content">
    </div>

    <!-- FOOTER -->
    <div th:replace="themes/wet/partials/footer :: footer">FOOTER</div>
</div>


<th:block layout:fragment="theme-scripts">
    <script th:src="@{/resources/wet-theme/js/wet-boew.min.js}" src="/resources/wet-theme/js/wet-boew.min.js"></script>
</th:block>
</body>
</html>