<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="${themePath + '_base'}">
<head></head>
<body>
<div class="container" layout:fragment="content">
	<div class="row">
		<div th:replace="${themePath + 'partials/sitemenu'} :: menu-en">MENU</div>
		<th:block layout:fragment="subnav"></th:block>
		<div th:if="${breadcrumbs}" class="breadcrumbs">
			<div class="container">
				<ol>
					<li th:each="breadcrumb : ${breadcrumbs}">
						<a th:href="@{${breadcrumb.url}}" th:text="${breadcrumb.text}"></a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row main-area" layout:fragment="page">
	</div>
</div>
</body>
</html>