<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="${themePath + '_base'}">
<head></head>
<body>
<div class="container" layout:fragment="content">
	<div class="row">
		<div th:replace="${themePath + 'partials/sitemenu'} :: menu-en">MENU</div>
		<div ng-controller="BreadcrumbController as breadcrumb" class="breadcrumbs">
			<div class="container ng-cloak">
				<ol>
					<li ng-repeat="crumb in breadcrumb.crumbs">
						<a href="{{ crumb.url }}">{{ crumb.text }}</a>
					</li>
				</ol>
			</div>
		</div>
		<th:block layout:fragment="subnav"></th:block>
	</div>
	<div class="row main-area" layout:fragment="page">
	</div>
</div>
</body>
</html>