<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{user.create.details}">_USER PAGE_</title>
</head>
<body>

<main layout:fragment="page">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <form role="form" action="/users/1/edit"
                  th:action="@{/users/create}" method="post">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{user.create.details}">_Create User_</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="username" th:text="#{users.username}">_Username_</label>
                            <div id="username-error" class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'username')}"
                                 th:text="${errors.username}">
                                _First Name Error_
                            </div>
                            <input id="username" name="username" type="text"
                                   class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{users.username}"
                                   th:value="${given_username}"
                                   data:msg-remote="#{user.create.username.taken}"/>
                        </div>
                        <div class="form-group">
                            <label for="firstName" th:text="#{user.firstName}">_First Name_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'firstName')}"
                                 th:text="${errors.firstName}">
                                _First Name Error_
                            </div>
                            <input id="firstName" name="firstName" type="text"
                                   class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{user.firstName}"
                                   th:value="${given_firstName}"/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" th:text="#{user.lastName}">_Last Name_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'lastName')}"
                                 th:text="${errors.lastName}">
                                _Last Name Error_
                            </div>
                            <input id="lastName" name="lastName" type="text"
                                   class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{user.lastName}"
                                   th:value="${given_lastName}"/>
                        </div>
                        <div class="form-group">
                            <label for="email" th:text="#{users.email}">_Email_</label>
                            <div id="email-error" class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'email')}"
                                 th:text="${errors.email}">
                                _Email Error_
                            </div>
                            <input id="email" name="email" type="email"
                                   class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{users.email}"
                                   th:value="${given_email}"
                                   data:msg-remote="#{user.create.email.taken}"/>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber" th:text="#{user.phone}">_Phone Number_</label>
                            <div id="phoneNumber-error" class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'phoneNumber')}"
                                 th:text="${errors.phoneNumber}">
                                _Phone Number Error_
                            </div>
                            <input id="phoneNumber" name="phoneNumber" type="text"
                                   class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{user.phone}"
                                   th:value="${given_phoneNumber}"
                                   data:msg-hasNumber="#{user.create.phone.no-numbers}"/>
                        </div>
                        <div class="form-group">
                            <label for="systemRole" th:text="#{users.role}">_Role_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'role')}"
                                 th:text="${errors.role}">
                                _Role Error_
                            </div>
                            <select sec:authorize="hasRole('ROLE_ADMIN')"
                                    id="systemRole" name="systemRole" class="form-control input-full"
                                    required="required">
                                <option th:each="role : ${allowedRoles}"
                                        th:value="${role.key}"
                                        th:text="${role.value}">
                                    _Role name_
                                </option>
                            </select>
                            <input sec:authorize="hasRole('ROLE_MANAGER')"
                                   id="systemRole" name="systemRole" class="form-control input-full"
                                   type="hidden" required="required"
                                   th:value="ROLE_USER"/>
                            <input sec:authorize="hasRole('ROLE_MANAGER')"
                                   id="systemRole" name="systemRole" class="form-control input-full"
                                   required="required" disabled="disabled"
                                   th:value="${allowedRoles.ROLE_USER}"/>
                        </div>
                        <div class="form-group">
                            <label for="setpassword" th:text="#{user.setpassword}">_User Created Password_</label>
                            <input id="setpassword" name="requireActivation" type="checkbox"
                                   class="js-set-password-cb t-set-password-cb"
                                   checked="checked"
                                   value="requireActivation"
                                   th:checked="${given_requireActivation}"
                                   th:disabled="${!emailConfigured} ? 'disabled'"/>
                            <p class="alert alert-warning" th:text="#{user.create.activation.email.disabled.help}"
                               th:if="${!emailConfigured}">_Activate User Help_</p>
                            <p class="help-block" th:text="#{user.create.setpassword.help}">_Activate User Help_</p>
                        </div>
                        <div th:replace="templates/password :: passwordInputs (hidden=${given_requireActivation}, required=${given_requireActivation})"></div>
                    </div>
                    <div class="panel-footer text-right">
                        <a type="reset" class="btn btn-default" href="#" th:href="@{/users}">Cancel</a>
                        <button type="submit"
                                class="js-submit-btn t-submit-btn btn btn-primary submit">
                            Create User
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</main>
<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/users-password.bundle.js}"></script>
</th:block>
</body>
</html>
