<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="${user.label}">_USER PAGE_</title>
</head>

<body>
<main layout:fragment="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form role="form" action="/users/1/edit"
                  th:action="@{/users/{id}/edit(id=${user.getId()})}" method="post">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{user.edit.details(${user.label})}">
                            _Edit User Details For USER_
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="firstName" th:text="#{user.firstName}">_First Name_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'firstName')}"
                                 th:text="${errors.firstName}">
                                _First Name Error_
                            </div>
                            <input id="firstName" name="firstName" type="text"
                                   class="form-control input-full"
                                   th:placeholder="${user.firstName}" placeholder="First Name"/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" th:text="#{user.lastName}">_Last Name_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'lastName')}"
                                 th:text="${errors.lastName}">
                                _Last Name Error_
                            </div>
                            <input id="lastName" name="lastName" type="text"
                                   class="form-control input-full"
                                   th:placeholder="${user.lastName}" placeholder="Last Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email" th:text="#{users.email}">_Email_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'email')}"
                                 th:text="${errors.email}">
                                _Email Error_
                            </div>
                            <input id="email" name="email" type="email"
                                   class="form-control input-full"
                                   th:placeholder="${user.email}" placeholder="Email"
                                   data:msg-remote="#{user.edit.email.taken}"/>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" th:text="#{user.phone}">_Phone number_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'phoneNumber')}"
                                 th:text="${errors.phoneNumber}">
                                _Phone Number Error_
                            </div>
                            <input id="phoneNumber" name="phoneNumber" type="text"
                                   class="form-control input-full"
                                   th:placeholder="${user.phoneNumber}" placeholder="Phone Number"
                                   data:msg-hasNumber="#{user.edit.phone.no-numbers}"/>
                        </div>
                        <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                            <label for="systemRole" th:text="#{users.role}">_Role_</label>
                            <div class="alert alert-danger"
                                 th:if="${#maps.containsKey(errors, 'role')}" th:text="${errors.role}">
                                _Role Error_
                            </div>
                            <select id="systemRole" name="systemRole" class="form-control input-full">
                                <option value="" selected="selected" th:text="${currentRole}"></option>
                                <option th:each="role : ${allowedRoles}" th:value="${role.key}" th:text="${role.value}">
                                    _Role name_
                                </option>
                            </select>
                        </div>
                        <div th:replace="templates/password :: passwordInputs (hidden=false, required=false)"></div>
                        <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                            <label for="enabled" th:text="#{user.enabled}">_Enabled_</label>
                            <input type="checkbox" name="enabled" id="enabled" th:checked="${user.enabled}"/>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <a th:href="${#httpServletRequest.getHeader('referer')}" href="/users" class="btn btn-default">Cancel</a>
                        <button type="submit"
                                class="btn btn-primary submit js-submit-btn t-submit-btn">
                            Update User
                        </button>
                    </div>

                </section>
            </form>
        </div>
    </div>
</main>

<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/users-password.bundle.js}"></script>
</th:block>
</body>
</html>
