<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="${themePath + '_page'}">
<head>
    <title th:text="#{projects.title}">_USER LIST TITLE_</title>
</head>
<body>
<div layout:fragment="page">
    <main class="col-md-12">
        <h1 th:text="#{users.title}">_Users_</h1>
        <a href="/users/create" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/create}"
           class="btn btn-default">Add User</a>
        <table id="usersTable" class="table table-striped table-hover">
            <thead>
            <tr th:inline="text">
                <th id="userId-header">[[#{users.id}]]<i class="glyphicon"></i></th>
                <th id="username-header">[[#{users.username}]]<i class="glyphicon"></i></th>
                <th id="lastName-header">[[#{users.lastName}]]<i class="glyphicon"></i></th>
                <th id="firstName-header">[[#{users.firstName}]]<i class="glyphicon"></i></th>
                <th id="email-header">[[#{users.email}]]<i class="glyphicon"></i></th>
                <th id="role-header">[[#{users.role}]]<i class="glyphicon"></i></th>
                <th id="created-header">[[#{users.created}]]<i class="glyphicon"></i></th>
                <th id="modified-header">[[#{users.modified}]]<i class="glyphicon"></i></th>
            </tr>
            </thead>
            <tbody id="user-table-body"></tbody>
        </table>
    </main>
</div>
<th:block layout:fragment="page-scripts">
    <script th:src="@{/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js}"
            src="/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/resources/bower_components/moment/moment.js}"
            src="/resources/bower_components/moment/moment.js"></script>
    <script th:src="@{/resources/bower_components/livestampjs/livestamp.min.js}"
            src="/resources/bower_components/livestampjs/livestamp.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#usersTable').DataTable({
                dom: "<'top'ilf>rt<'bottom'p><'clear'>",
                processing: true,
                serverSide: true,
                deferRender: true,
                ajax: /*[[@{/users/ajax/list}]]*/ '/users/ajax/list',
                stateSave: true,
                stateDuration: -1,
                order: [[1, "desc"]],
                columnDefs: [
                    {
                        'render': function (data, type, row) {
                            return '<a href="' + /*[[@{/users/}]]*/ ''
                            + row[0] + '">' + data + '</a>';
                        },
                        'targets': 1
                    },
                    {
                        'render': function (data, type, row) {
                            return '<span data-livestamp="' + data + '"></span>';
                        },
                        'targets': 7
                    }
                ]
            });
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>