<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="#{projects.title}">_USER LIST TITLE_</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">_MENU_</div>
        <div class="col-md-12">
            <main role="main" property="mainContentOfPage">
                <h1 th:text="#{users.title}">_Users_</h1>
                <table id="usersTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th th:text="#{users.table.id}">_ID_</th>
                    <th th:text="#{users.table.username}">_Username_</th>
                    <th th:text="#{users.table.lastName}">_Last Name_</th>
                    <th th:text="#{users.table.firstName}">_First Name_</th>
                    <th th:text="#{users.table.email}">Email</th>
                    <th th:text="#{users.table.role}">_Role_</th>
                    <th th:text="#{users.table.created}">_Date Created_</th>
                    <th th:text="#{users.table.modified}">_Modified Date_</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            </main>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/resources/wet-theme/js/deps/jquery.dataTables.min.js}"
            src="/resources/wet-theme/js/deps/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#usersTable').DataTable({
                dom: "<'top'ilf>rt<'bottom'p><'clear'>",
                processing: true,
                serverSide: true,
                ajax: '/users/ajax/list',
                stateSave: true,
                stateDuration: -1,
                order: [[1, "desc"]],
                columnDefs: [
                    {
                        'render': function (data, type, row) {
                            return '<a href="' + [[@{/users/}]] + row[0] + '">' + data + '</a>';
                        },
                        'targets':1
                    }
                ]
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>