<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/wet-boew/wet-layout">
<head>
<title th:text="${user.label}">_USER PAGE_</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">_MENU_</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 mrgn-tp-lg wb-frmvld">

				<section class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{password.reset.title(${user.label})}">_Reset User Password_</h3>
					</div>
					<div class="panel-body">
						<p th:text="#{password.reset.success}">_Password was successfully changed._</p>
						<a href="/" th:href="@{/}" th:text="#{password.reset.success.link}">Return to home</a>
					</div>
				</section>
			</div>
		</div>
	</div>


	<div layout:fragment="scripts" th:inline="javascript"></div>
</body>
</html>