<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/wet-boew/wet-layout">
<head>
<title th:text="${user.label}">_USER PAGE_</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">_MENU_</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 mrgn-tp-lg wb-frmvld">
				<form role="form" action="/password_reset/1"
					th:action="@{/password_reset/{id}(id=${passwordReset.id})}" method="post">
					<section class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" th:text="#{password.reset.title(${user.label})}">_Reset User Password_</h3>
						</div>
						<div class="panel-body">
							
							<div class="form-group">
								<label class="control-label" th:text="#{user.password}"	for="password">_Password_</label>
								<div th:if="${#maps.containsKey(errors, 'password')}" th:text="${errors.password}" class="alert alert-warning">_Password Error_</div>
								<input type="password" id="password" name="password" class="form-control input-full" required="required" th:placeholder="#{user.password}" />
							</div>

							<div class="form-group">
								<label class="control-label" th:text="#{user.confirmPassword}" for="confirmPassword">_Confirm Password_</label> 
								<input type="password" id="confirmPassword" name="confirmPassword" class="form-control input-full" 
									required="required" th:placeholder="#{user.confirmPassword}" />
							</div>
						</div>
					<div class="panel-footer text-right">
                      	<a class="btn btn-default" href="#" th:href="@{/}">Cancel</a>
                    	<button type="submit" class="btn btn-primary submit">Set Password</button>
                  	</div>
					</section>
				</form>
			</div>
		</div>
	</div>


	<div layout:fragment="scripts" th:inline="javascript"></div>
</body>
</html>