<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{template/page}">
<head>
	<title th:text="${user.label}">_USER PAGE_</title>
	<script th:inline="javascript">
		var PAGE = {
			urls: {
				reset: /*[[@{/password_reset/ajax/create/{id}(id=${user.getId()})}]]*/ 'password_reset/ajax/create/'
			},
			userId: /*[[${user.getId()}]]*/ 1
		};
	</script>
	<style>
		#projectsTable {
			table-layout: fixed;
			width: 100% !important;
		}

		#projectsTable td,
		#projectsTable th {
			width: auto !important;
			white-space: normal;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	</style>
</head>
<body>
<main layout:fragment="page">
	<input id="userId" type="hidden" th:value="${user.getId()}"/>
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
		<div th:if="${mailFailure}" class="alert alert-warning" th:text="#{user.creation.activation.mail.failure}">
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1 class="t-user-page-success"
					property="name"
					th:text="${user.label}">
					__USER NAME__
				</h1>
			</div>
		</div>
		<div class="row">
			<!-- User details -->
            <div class="col-md-4" ng-controller="DetailsCtrl as details">
				<div class="sidebar">
					<div class="sidebar__heading clearfix">
						<h2 class="pull-left" th:text="#{user.details}">_User Details_</h2>

						<div class="btn-group-xs pull-right">
							<button th:if="${canCreatePasswordReset and mailConfigured}"
							        ng-click="details.resetPrompt()" class="btn btn-default password-reset-link"
							        th:text="#{user.passwordReset}">_Password Reset_
							</button>
							<a id="editUser" class="btn btn-default " th:if="${canEditUser}"
							   th:href="@{/users/{id}/edit(id=${user.getId()})}" href="/users/1/edit"
							   th:text="#{user.edit}"></a>
						</div>
					</div>

					<div class="sidebar__body">

							<div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-barcode" aria-hidden="true"></i>
                </div>
                <div th:text="#{users.id}">_ID_</div>
                <div class="sidebar__value" id="user-id" th:text="${user.getId()}">_USER_ID_</div>
							</div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div th:text="#{users.username}">_Username</div>
                <div class="sidebar__value" id="user-username" th:text="${user.username}">_USERNAME_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-tag" aria-hidden="true"></i>
                </div>
                <div th:text="#{user.name}">_Name_</div>
                <div class="sidebar__value" id="user-name" th:text="${user.label}">_NAME_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div th:text="#{users.email}">_email_</div>
                <div class="sidebar__value">
                  <a th:href="'mailto:'+${user.email}" href="mailto:someone@nowhere.com"> <span
                    id="user-email" th:text="${user.email}">_EMAIL_</span> </a>
                </div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div th:text="#{user.phone}">_phone</div>
                <div class="sidebar__value" id="user-phone" th:text="${user.phoneNumber}">_123-456-7890_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div th:text="#{users.role}">_phone</div>
                <div class="sidebar__value" id="user-role" th:text="${systemRole}">_ROLE_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-power-off" aria-hidden="true"></i>
                </div>
                <div th:text="#{user.enabled}">_phone</div>
                <div class="sidebar__value">
					<i class="fa fa-check" aria-hidden="true" th:if="${user.enabled}"></i>
					<i class="fa fa-times" aria-hidden="true" th:if="not ${user.enabled}"></i>
                </div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div th:text="#{user.created}">_phone</div>
                <div class="sidebar__value" id="user-created"
                th:text="${#calendars.format(user.createdDate, 'dd MMM yyyy')}">_DATE_CREATED_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
					<i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div th:text="#{user.modified}">_phone</div>
                <div class="sidebar__value" id="user-modified"
                th:text="${#calendars.format(user.modifiedDate, 'dd MMM yyyy')}">_DATE_MODIFIED_</div>
							</div>
							
							<div class="sidebar__item">
									<div class="sidebar__icon">
                                        <i class="far fa-clock"></i>
									</div>
									<div th:text="#{user.last-login}">_phone</div>
									<div class="sidebar__value" id="user-last-login" th:if="${user.lastLogin}"
										th:text="${#calendars.format(user.lastLogin, 'dd MMM yyyy')}">_Last Login_</div>
								</div>
					</div>
				</div>
			</div>
			<!-- User project table -->
            <div class="col-md-8" th:if="${canEditUser}">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left" th:text="#{user.projects.title}">_Projects_</h3>
					</div>

					<div class="panel-body">
						<table id="projectsTable" class="table table-striped table-hover" th:unless="${#lists.isEmpty(projects)}" ng-controller="SubscriptionController as sub">
							<thead>
							<tr>
								<th th:text="#{user.projects.id}">_ID_</th>
								<th th:text="#{user.projects.name}">_NAME_</th>
								<th th:text="#{user.projects.role}">_ROLE_</th>
								<th th:text="#{user.projects.dateAdded}">_DATE_</th>
                                <th th:if="${canEditUser and mailConfigured}" th:text="#{user.projects.subscriptions}">_Subscribed_</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="project : ${projects}">
								<td class="user-project-id" th:text="${project.identifier}">_PROJECT_ID_</td>
								<td class="user-project-name"><a th:href="@{'/projects/'+${project.identifier}}"><span
										th:text="${project.name}">_PROJECT_NAME_</span></a></td>
								<td class="user-project-role"  th:text="${project.role}">_POJECT_ROLE_</span>
								</td>
								<td class="user-project-date"
								    th:text="${#calendars.format(project.date, 'dd MMM yyyy')}">_DATE ADDED_
								</td>
                                <td align="center" th:if="${canEditUser and mailConfigured}">
                                  <input class="subcription-checkbox" type="checkbox" th:checked="${project.subscribed}" th:value="${project.identifier}" value="0"/>
                                </td>
							</tr>
							</tbody>
						</table>
            <span th:if="${#lists.isEmpty(projects)}" th:text="#{user.projects.noProjects}">_No projects_</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>
<th:block layout:fragment="scripts" th:inline="javascript">
	<script type="text/ng-template" id="reset-modal.html">
		<div class="modal-header">
			<h3 class="modal-title" id="lbx-title" th:text="#{user.passwordReset}">_Reset Password_</h3>
		</div>
		<div class="modal-body">
			<strong th:text="#{user.passwordReset.modial(${user.label})}">_Reset user's password?_</strong>
		</div>
		<div class="panel-footer clearfix">
			<div class="btn-group-sm pull-right">
				<button class="btn btn-default" ng-click="reset.close()" th:text="#{user.passwordReset.cancel}">_Cancel_
				</button>
				<button id="resetPasswordButton" ng-click="reset.reset()" class="btn btn-primary"
				        th:text="#{user.passwordReset.confirm}">_Confirm_
				</button>
			</div>
		</div>
	</script>

	<script th:inline="javascript">

		var pwd = angular.module('PasswordRest', []);

		pwd.service('ResetService', ['$http', function ($http) {
			var svc = this;

			svc.resetPassword = function () {
				return $http.get(PAGE.urls.reset)
                  .then(function(response) {
                    var data = response.data;
						if(data.success){
							window.notifications.show({type: 'success', text: data.message, title: data.title});
						}else{
							window.notifications.show({type: 'error', text: data.message, title: data.title});
						}
						return data;
					});
			}
		}]);

				pwd.service('SubscriptionService', ['$http', function ($http) {
					var svc = this;

					svc.updateSubscription = function (userId, projectId, subscribe) {
						var urlBase = /*[[@{/events/projects/}]]*/ '/events/projects/';
						urlBase += projectId + '/subscribe/' + userId;
						var params = $.param({ subscribe: subscribe });

						return $http({
							method: "POST",
							url: urlBase,
							data: $.param({ subscribe: subscribe }),
							headers: { "Content-Type": "application/x-www-form-urlencoded" }
						});
					};
				}]);

        pwd.controller('SubscriptionController', ['SubscriptionService', function (SubscriptionService) {
          var sub = this;
          var title = /*[[#{user.projects.subscriptions}]]*/ 'Subscriptions';
          var errorMessage = /*[[#{user.projects.subscriptions.error}]]*/ 'Error';

          angular.element(".subcription-checkbox").on("change", function(){
            var box = $(this);
            var projectId = box.val();
            var subscribe = false;
            if(box.is(":checked")){
              subscribe = true;
            }

            SubscriptionService.updateSubscription(PAGE.userId, projectId, subscribe).then(function(response) {
              var data = response.data;
              window.notifications.show({type: 'success', text: data.message, title: title});
            }, function(response) {
              var data = response.data;
              window.notifications.show({type: 'error', text: errorMessage, title: title});
              box.attr('checked', false);
            });
          });
        }]);

		pwd.controller('DetailsCtrl', ['$uibModal', function ($uibModal) {
			"use strict";

			var vm = this;

			vm.resetPrompt = function () {
				$uibModal.open({
					templateUrl: 'reset-modal.html',
					controller: 'ResetCtrl as reset',
					size: 'sm'
				});
			};
		}]);

		pwd.controller('ResetCtrl', ['$rootScope', '$uibModalInstance', 'ResetService', function ($rootScope, $uibModalInstance, ResetService) {
			"use strict";
			var vm = this;

			vm.close = function () {
				$uibModalInstance.close();
			};

			vm.reset = function () {
				ResetService.resetPassword().then(function () {
					vm.close();
				});
			};
		}]);

		angular.module("irida").requires.push(pwd.name);
	</script>
</th:block>
</body>
</html>
