<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head>
	<title th:text="${user.label}">_USER PAGE_</title>
	<script>window.dependencies = ['PasswordRest'];</script>
</head>
<body>
<main layout:fragment="page">
	<input id="userId" type="hidden" th:value="${user.id}"/>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1 id="wb-cont" property="name" th:text="${user.label}">__USER NAME__</h1>
			</div>
		</div>
		<div class="row">
			<!-- User details -->
			<div class="col-md-6" ng-controller="DetailsCtrl as details">
				<div class="sidebar">
					<div class="sidebar__heading clearfix">
						<h2 class="pull-left" th:text="#{user.details}">_User Details_</h2>

						<div class="btn-group-xs pull-right">
							<button th:if="${canCreatePasswordReset}"
							        ng-click="details.resetPrompt()" class="btn btn-default password-reset-link"
							        th:text="#{user.passwordReset}">_Password Reset_
							</button>
							<a id="editUser" class="btn btn-default " th:if="${canEditUser}"
							   th:href="@{/users/{id}/edit(id=${user.id})}" href="/users/1/edit"
							   th:text="#{user.edit}"></a>
						</div>
					</div>

					<div class="sidebar__body">

							<div class="sidebar__item">
                <div class="sidebar__icon">
								  <i class="glyphicon glyphicon-barcode"></i>
                </div>
                <div th:text="#{users.id}">_ID_</div>
                <div class="sidebar__value" id="user-id" th:text="${user.id}">_USER_ID_</div>
							</div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <div th:text="#{users.username}">_Username</div>
                <div class="sidebar__value" id="user-username" th:text="${user.username}">_USERNAME_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-tag"></i>
                </div>
                <div th:text="#{user.name}">_Name_</div>
                <div class="sidebar__value" id="user-name" th:text="${user.label}">_NAME_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div th:text="#{users.email}">_email_</div>
                <div class="sidebar__value">
                  <a th:href="'mailto:'+${user.email}" href="mailto:someone@nowhere.com"> <span
                    id="user-email" th:text="${user.email}">_EMAIL_</span> </a>
                </div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-earphone"></i>
                </div>
                <div th:text="#{user.phone}">_phone</div>
                <div class="sidebar__value" id="user-phone" th:text="${user.phoneNumber}">_123-456-7890_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-stats"></i>
                </div>
                <div th:text="#{users.role}">_phone</div>
                <div class="sidebar__value" id="user-role" th:text="${systemRole}">_ROLE_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-off"></i>
                </div>
                <div th:text="#{user.enabled}">_phone</div>
                <div class="sidebar__value">
                  <i class="glyphicon glyphicon-ok" th:if="${user.enabled}"></i>
                  <i class="glyphicon glyphicon-remove" th:if="not ${user.enabled}"></i>
                </div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div th:text="#{user.created}">_phone</div>
                <div class="sidebar__value" id="user-created"
                th:text="${#calendars.format(user.createdDate, 'dd MMM yyyy')}">_DATE_CREATED_</div>
              </div>

              <div class="sidebar__item">
                <div class="sidebar__icon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div th:text="#{user.modified}">_phone</div>
                <div class="sidebar__value" id="user-modified"
                th:text="${#calendars.format(user.modifiedDate, 'dd MMM yyyy')}">_DATE_MODIFIED_</div>
              </div>
					</div>
				</div>
			</div>

			<!-- User project table -->
			<div class="col-md-6 ">
				<div class="panel panel-info">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left" th:text="#{user.projects.title}">_Projects_</h3>
					</div>

					<div class="panel-body">
						<table id="projectsTable" class="table table-striped table-hover" th:unless="${#lists.isEmpty(projects)}">
							<thead>
							<tr>
								<th th:text="#{user.projects.id}">_ID_</th>
								<th th:text="#{user.projects.name}">_NAME_</th>
								<th th:text="#{user.projects.role}">_ROLE_</th>
								<th th:text="#{user.projects.dateAdded}">_DATE_</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="project : ${projects}">
								<td class="user-project-id" th:text="${project.id}">_PROJECT_ID_</td>
								<td class="user-project-name"><a th:href="@{'/projects/'+${project.id}}"><span
										th:text="${project.name}">_PROJECT_NAME_</span></a></td>
								<td class="user-project-role">
									<span class="project-role-icon glyphicon"
									      th:classappend="${project.isManager} ? 'glyphicon-tower' : 'glyphicon-user'"></span>&nbsp;
									<span class="project-role-name" th:text="${project.role}">_PROJECT_ROLE_</span>
								</td>
								<td class="user-project-date"
								    th:text="${#calendars.format(project.date, 'dd MMM yyyy')}">_DATE ADDED_
								</td>
							</tr>
							</tbody>
						</table>
            <span th:if="${#lists.isEmpty(projects)}" th:text="#{user.projects.noProjects}">_No projects_</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>
<th:block layout:fragment="page-scripts" th:inline="javascript">
	<script type="text/ng-template" id="reset-modal.html">
		<div class="modal-header">
			<h3 class="modal-title" id="lbx-title" th:text="#{user.passwordReset}">_Reset Password_</h3>
		</div>
		<div class="modal-body">
			<strong th:text="#{user.passwordReset.modial(${user.label})}">_Reset user's password?_</strong>
		</div>
		<div class="panel-footer clearfix">
			<div class="btn-group-sm pull-right">
				<button class="btn btn-default" ng-click="reset.close()" th:text="#{user.passwordReset.cancel}">_Cancel_
				</button>
				<button id="resetPasswordButton" ng-click="reset.reset()" class="btn btn-primary"
				        th:text="#{user.passwordReset.confirm}">_Confirm_
				</button>
			</div>
		</div>
	</script>

	<script th:inline="javascript">

		var pwd = angular.module('PasswordRest', []);

		pwd.service('ResetService', ['Restangular', 'notifications', function (Restangular, notifications) {
			var base = Restangular.all('password_reset/ajax/create/' + angular.element("#userId").val()),
					svc = this;

			svc.resetPassword = function () {
				return base.get("").then(function (data) {
					if(data.success){
						notifications.show({type: 'success', msg: data.message, title: data.title});
					}else{
						notifications.show({type: 'error', msg: data.message, title: data.title});
					}
					return data;
				});
			}
		}]);

		pwd.controller('DetailsCtrl', ['$modal', function ($modal) {
			"use strict";

			var vm = this;

			vm.resetPrompt = function () {
				$modal.open({
					templateUrl: 'reset-modal.html',
					controller: 'ResetCtrl as reset',
					size: 'sm'
				});
			};
		}]);

		pwd.controller('ResetCtrl', ['$rootScope', '$modalInstance', 'ResetService', function ($rootScope, $modalInstance, ResetService) {
			"use strict";
			var vm = this;

			vm.close = function () {
				$modalInstance.close();
			};

			vm.reset = function () {
				ResetService.resetPassword().then(function () {
					vm.close();
				});
			};
		}]);
	</script>
</th:block>
</body>
</html>
