html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word; }

.dandelion_text_filter {
  font-weight: normal;
  font-size: 12px; }

@-webkit-keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
@-moz-keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
@keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
/*
  Subtle fade in effect that move the element up 20px and fades it into view
*/
.fade-in {
  transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  opacity: 1;
  top: 0; }

.fade-in.ng-hide {
  top: 20px;
  opacity: 0; }

.fade-in.ng-hide-add {
  display: none; }

.fade-in.ng-hide-remove-active {
  display: block !important; }

.breadcrumbs {
  background-color: #133B54; }

.breadcrumbs + .container {
  margin-top: 0.9375rem; }

.breadcrumbs .container {
  padding: 0 !important;
  margin-bottom: 0 !important; }

.breadcrumbs ol {
  font-size: 16px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0; }

.breadcrumbs li {
  float: left; }

.breadcrumbs li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0 5px 55px;
  position: relative;
  display: block;
  float: left; }

.breadcrumbs li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #133B54;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2; }

.breadcrumbs li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 0px;
  left: 100%;
  z-index: 1; }

.breadcrumbs li:first-child a {
  padding-left: 2em; }

.breadcrumbs li:nth-child(2) a {
  background-color: #184a69; }

.breadcrumbs li:nth-child(2) a:after {
  border-left-color: #184a69; }

.breadcrumbs li:nth-child(3) a {
  background-color: #1c587e; }

.breadcrumbs li:nth-child(3) a:after {
  border-left-color: #1c587e; }

.breadcrumbs li:nth-child(4) a {
  background-color: #216792; }

.breadcrumbs li:nth-child(4) a:after {
  border-left-color: #216792; }

.breadcrumbs li:nth-child(5) a {
  background-color: #2675a7; }

.breadcrumbs li:nth-child(5) a:after {
  border-left-color: #2675a7; }

.breadcrumbs li:last-child a {
  pointer-events: none;
  color: #222;
  cursor: default;
  background-color: #ffffff;
  border-color: #ffffff; }

.breadcrumbs li:last-child a:after {
  border: 0;
  border-left-color: #ffffff !important; }

.breadcrumbs li a:hover {
  background: #133B54; }

.breadcrumbs li a:hover:after {
  border-left-color: #133B54 !important; }

.btn-xs.glyphicon {
  font-size: 10px;
  padding: 3px 6px; }

.btn-xl {
  padding: 20px 35px !important;
  font-size: 5rem !important;
  line-height: 3; }

.btn-action {
  border: 1rem solid #dfdfdf !important; }

.btn-affixed {
  width: 100%;
  white-space: normal !important; }

.btn-icon {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent; }

.st-container,
.st-pusher,
.st-content {
  height: 100%; }

.st-content {
  overflow-y: scroll; }

.st-content,
.st-content-inner {
  position: relative; }

.st-container {
  position: relative;
  overflow: hidden; }

.st-pusher {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

.cart {
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
  visibility: hidden;
  width: 400px;
  background: #f3f3f3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden; }

.cart-open .st-pusher {
  -webkit-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0); }

.cart {
  visibility: visible;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.cart-open .cart {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cart::after {
  display: none; }

.cart-control-buttons {
  margin-bottom: 10px; }

.remove-icon {
  color: #dfdfdf;
  cursor: pointer; }

.btn-icon:hover .remove-icon {
  color: #939393; }

.cart-search {
  margin-bottom: 1rem; }

.cart-project-header {
  cursor: pointer; }
  .cart-project-header > div {
    vertical-align: top;
    display: inline-block; }

.cart-item__label {
  max-width: 70%; }
.cart-item__btns {
  width: 50px; }

.cart-control-bottom .btn {
  width: 120px;
  white-space: normal !important; }

.input-full {
  width: 100%; }

.form-group .alert {
  padding: 3px 6px;
  font-weight: bold;
  margin-bottom: 0; }

.form-group-detail {
  padding-left: 22px; }

input {
  font-size: 16px !important; }

.input-group input, .input-group button.btn-default {
  border-color: #cccccc !important; }

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.navbar {
  margin-bottom: 0 !important; }
  .navbar + .container {
    margin-top: 0.9375rem; }
  .navbar ul {
    font-size: 16px; }

.navbar-nav > li > .dropdown-menu {
  z-index: 10000; }

.navbar.subnav {
  z-index: 500;
  margin-bottom: 0.9375rem !important; }

.irida-notifications {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  padding: 1rem; }

.irida-notification__item {
  opacity: .9;
  background-color: #3092d0;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  transition: all 500ms linear; }
  .irida-notification__item .progress, .irida-notification__item .progress-bar {
    height: 10px;
    margin-bottom: 0; }
  .irida-notification__item p {
    color: #222;
    font-size: .8em; }
  .irida-notification__item:hover {
    opacity: 1;
    cursor: pointer; }
  .irida-notification__item.error {
    background-color: #F04124; }
    .irida-notification__item.error p {
      color: #fff; }
  .irida-notification__item.success {
    background-color: #43AC6A; }
  .irida-notification__item.remove {
    opacity: 0; }

.project-details li {
  border-bottom: 1px solid #f3f3f3;
  line-height: 2em; }
.project-details i.glyphicon {
  color: #939393;
  margin-right: .5em; }
.project-details em {
  font-style: normal; }
.project-details span {
  float: right; }

.panel.associated-projects div.panel-body {
  padding: 0 !important; }
.panel.associated-projects .list-group-item {
  border-radius: 0 !important; }

.sidebar {
  background-color: #FFFFFF;
  border: 1px solid #dfdfdf;
  border-bottom-color: #939393;
  border-radius: 4px;
  margin-bottom: 1rem; }

.sidebar__heading {
  padding: 1rem; }
  .sidebar__heading h2 {
    font-weight: 300;
    margin: 0;
    padding: 0; }

.sidebar__body {
  position: relative; }
  .sidebar__body .form-group {
    border-top: 1px solid #f3f3f3;
    padding: 4px 8px; }
  .sidebar__body label {
    font-weight: 300; }
  .sidebar__body input[type="text"].form-control {
    border: 1px solid #939393;
    border-right: none; }
  .sidebar__body .input-group-btn button {
    border: 1px solid #939393 !important;
    border-left: none;
    color: #939393; }

.sidebar__item {
  border-top: 1px solid #f3f3f3;
  padding: .3em 0.5em;
  display: flex;
  align-items: center; }
  .sidebar__item > div {
    padding: 0 .3em; }

.sidebar__icon {
  width: 2.6rem;
  color: #939393; }

.sidebar__value {
  color: #232323;
  text-align: right;
  flex-grow: 2; }

.sidenav {
  height: 100%;
  background-color: #ffffff;
  margin-right: 1rem;
  padding: .5rem; }
  @media screen and (max-width: 960px) {
    .sidenav {
      width: 100%; } }

@media screen and (min-width: 960px) {
  .sidenav__inner--fixed {
    z-index: 200;
    width: 290px;
    position: fixed;
    top: 70px; } }

.sidenav__label {
  color: #939393;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
  padding: 0; }

.td_icon {
  width: 50px;
  text-align: center; }

.td_info--value {
  line-height: 1.8rem; }
.td_info--desc {
  line-height: 1rem;
  padding: .2rem 0 0 0;
  font-size: 1.3rem;
  color: #939393; }

.description {
  color: #939393;
  font-size: 1.6875rem;
  font-weight: 300; }
  .description a {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 0.125rem 0.375rem;
    transition: all 0.3s ease-in;
    text-decoration: none; }
    .description a:hover {
      border-color: #133B54;
      background-color: #133B54;
      color: #ffffff; }

.description-detail {
  color: #232323; }

.width-truncate-100 {
  text-align: right;
  width: 100px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0; }

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0; }

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0; }

.form-popup {
  position: relative;
  background: #ffffff;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 4px; }
  .form-popup .modal-header {
    background-color: #133B54;
    color: #ffffff;
    border-radius: 4px 4px 0 0; }
  .form-popup .mfp-close {
    color: #ffffff; }

.noty_message h2 {
  margin-top: 5px;
  font-size: 1.4em; }

iframe.remote-api-frame {
  border: none;
  width: 100%;
  height: 450px; }

.nav-gravatar {
  padding: 11px 5px !important; }

img.gravatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 auto; }

.navbar-notification .angular-notifications-icon {
  background-color: #3092d0;
  border-radius: 10px;
  top: 3px;
  right: -3px;
  height: 20px;
  width: 20px !important;
  padding: 0 !important;
  font-size: 1.3rem;
  line-height: 2rem; }

body {
  padding-bottom: 50px; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.clickable {
  display: block;
  cursor: pointer; }
  .clickable span {
    display: inline-block; }

.form-group .alert {
  font-weight: normal; }

.nav-tabs li {
  cursor: pointer; }

input[type="search"] {
  box-sizing: inherit !important; }

#table-filter {
  padding: 0; }
  #table-filter > div {
    padding: 20px; }
  #table-filter .filter-btns > button {
    margin-top: 33px; }

.selected__counts {
  color: white !important;
  border-radius: 4px;
  padding: 4px 8px 6px 8px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.4); }
