.ngs-button,
.ngs-button--quiet,
.ngs-button--large,
.ngs-button--large--quiet,
.ngs-button--cta,
.ngs-button--large--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.16rem;
  font-size: 12px;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
  vertical-align: top;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.36);
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .ngs-button.expanded,
  .ngs-button--quiet.expanded,
  .ngs-button--large.expanded,
  .ngs-button--large--quiet.expanded,
  .ngs-button--cta.expanded,
  .ngs-button--large--cta.expanded {
    width: 100%; }

.ngs-button:disabled,
.ngs-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none; }

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto; }

.ac-container label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.16rem;
  font-size: 1em;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
  vertical-align: top;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.36);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%; }
  .ac-container label i {
    float: right;
    font-size: 1.2em;
    margin-top: 7px; }

.ac-container label:hover {
  opacity: 0.9;
  cursor: pointer; }

.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png); }

.ac-container input {
  display: none; }

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear; }

.ac-container input:checked ~ article {
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3); }

.ac-container article p {
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }

.ac-container input:checked ~ article.ac-small {
  height: 140px; }

.ac-container input:checked ~ article.ac-medium {
  height: 180px; }

.ac-container input:checked ~ article.ac-large {
  height: 230px; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.1.0");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.1.0") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.1.0") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

.icon-chevron-sign-left:before {
  content: "\f137"; }

.icon-chevron-sign-right:before {
  content: "\f138"; }

.icon-chevron-sign-up:before {
  content: "\f139"; }

.icon-chevron-sign-down:before {
  content: "\f13a"; }

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4 {
  font-weight: 600; }

body {
  height: 100%;
  width: 100%;
  background-color: #494d4e; }

.top-bar {
  margin-bottom: 0; }
  .top-bar .top-bar-section ul {
    background-color: transparent; }

.login__outer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #494d4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494d4e), color-stop(100%, #303334));
  background-image: -webkit-linear-gradient(#494d4e, #303334);
  background-image: linear-gradient(#494d4e, #303334); }

.login__inner {
  height: 300px;
  padding: 1em;
  width: 400px;
  background-color: white;
  border-radius: 3px; }

.main-content {
  height: 100%;
  width: 100%;
  background-color: #494d4e;
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

.no-flexbox body {
  display: -webit-box;
  display: -moz-box;
  display: -ms-flexbox; }

.sidebar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  padding-top: 55px;
  width: 15em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  background-color: #494d4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494d4e), color-stop(100%, #303334));
  background-image: -webkit-linear-gradient(#494d4e, #303334);
  background-image: linear-gradient(#494d4e, #303334);
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  transition: all 2s ease-in; }
  .sidebar h2 {
    margin-left: 1em;
    color: #dfe2e2;
    font-size: 1em;
    font-weight: 600; }

.sidebar__body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto; }
  .sidebar__body li {
    display: block;
    padding: .2em .8em;
    color: #dfe2e2;
    cursor: pointer;
    text-shadow: 0px 1px 0px black; }
    .sidebar__body li:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-right: 0.4em solid #008dde; }

.detailed-content {
  height: 100%;
  width: 100%;
  padding-top: 55px;
  background-color: white;
  box-shadow: -3px 0px 10px rgba(50, 50, 50, 0.75);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #dfe2e2;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1; }
  .detailed-content h3 {
    margin-top: 0; }
