<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{visualization.phylogenomics.title(${submission.label})}">Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/visualizations-phylogenetics.bundle.css}">
    <script th:inline="javascript">
        var PAGE = {
          urls: {
            metadata: /*[[@{/analysis/ajax/{id}/metadata(id=${submissionId})}]]*/ ''
          }
        };
    </script>
</head>
<body>
<div layout:fragment="page">
    <app-component></app-component>
</div>
<th:block layout:fragment="scripts">
    <!-- This is the main App -->
    <!-- Script: resources/js/pages/visualizations/phylogenetics/components/app/app.component.js -->
    <script type="text/ng-template" id="app-component.tmpl.html">
        <h1 th:text="#{visualization.phylogenomics.title(${submission.label})}"></h1>
        <div class="form-inline spaced-bottom" ng-hide="$ctrl.loading || $ctrl.treeError || $ctrl.templateError">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        <metadata-button></metadata-button>
                    </div>
                    <div class="form-group">
                        <template-component
                                data:templatesurl="@{/analysis/ajax/{id}/metadata-templates(id=${submissionId})}"
                                data:fieldsurl="@{/analysis/ajax/{id}/metadata-template-fields(id=${submissionId})}">
                        </template-component>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 clearfix">
                    <div class="btn-group pull-right">
                        <export-svg-component></export-svg-component>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div th:replace="templates/analysis_result_warning"></div>
            <div ng-show="$ctrl.metadataError &amp;&amp; !$ctrl.templateError" class="alert alert-danger">NO METADATA WARNING</div>
            <div ng-show="$ctrl.treeError" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                <th:block th:text="#{visualization.phylogenomics.missing-newick}"/>
            </div>
            <div ng-show="$ctrl.showEmptyMetadataWarning" class="alert alert-warning">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                <th:block th:text="#{visualization.phylogenomics.missing-metadata}"/><br/>
                <button class="close" aria-label="Close" ng-click="$ctrl.closeEmptyMetadataWarning()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-show="$ctrl.templateError" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                <th:block th:text="#{visualization.phylogenomics.error.missing-samples}" />
            </div>
            <div class="alert alert-info" ng-show="$ctrl.loading">
                <i class="fas fa-spinner fa-spin fa-fw"></i>
                <th:block th:text="#{visualization.phylogenomics.loading}"/>
            </div>
        </section>
        <section ng-hide="$ctrl.loading || $ctrl.treeError || $ctrl.templateError">
            <phylocanvas-component
                    data:newickurl="@{/analysis/ajax/{id}/newick(id=${submissionId})}">
            </phylocanvas-component>
        </section>
    </script>

    <!-- Phylocanvas Component.  Loaded by app-component. -->
    <!-- Script: resources/js/pages/visualizations/phylogenetics/components/phylocanvas/phylocanvas.module.js -->
    <script type="text/ng-template" id="phylocanvas.tmpl.html">
        <div class="spaced-bottom" id="phylocanvas"></div>
    </script>
    <script type="text/ng-template" id="metadata-component.tmpl.html">
        <div class="spaced-bottom"
             ng-repeat="term in $ctrl.terms">
            <input type="checkbox"
                   bs-switch=""
                   ng-model="term.selected"
                   switch-label="{{term.term}}"
                   switch-label-width="200"
                   ng-change="$ctrl.onSelectionChange(term)"/>
        </div>
    </script>

    <!-- Template for metadata template dropdown -->
    <!-- Script: /resources/js/pages/visualizations/phylogenetics/components/templates/template.module.js -->
    <script type="text/ng-template" id="template-component.tmpl.html">
        <label aria-label="template-select" th:text="#{visualization.phylogenomics.select-template.label}">
            _Select a Template_</label>
        <select name="template-select" id="template-select"
                class="form-control"
                ng-model="$ctrl.selectedTemplate"
                ng-change="$ctrl.templateChange()">
            <option value="" th:text="#{visualization.phylogenomics.select-template.all-field}">
                _ALL_FIELDS_
            </option>
            <option ng-repeat="template in $ctrl.templates"
                    value="{{ template.id }}">{{ template.label }}
            </option>
        </select>
    </script>

    <!-- Template for metadata button -->
    <!-- Script: resources/js/pages/visualizations/phylogenetics/components/metadata/metadata.button.component.js  -->
    <script type="text/ng-template" id="metadataButton.tmpl.html">
        <button class="btn btn-default" ng-disabled="$ctrl.terms.length === 0"
                ng-click="$ctrl.openMetadataAside()">
            <i class="fa fa-toggle-on fa-fw"></i>&nbsp;
            <th:block th:text="#{visualization.phylogenomics.toggle-metadata}" />
        </button>
    </script>

    <!-- Template for the aside where you can toggle metadata terms.  Loaded through the metadata-button -->
    <!-- Script: resources/js/pages/visualizations/phylogenetics/components/metadata/metadata.component.js -->
    <script type="text/ng-template" id="metadataAside.tmpl.html">
        <aside class="metadata-aside">
            <div class="metadata-aside__btns text-right">
                <button class="btn btn-default"
                ng-click="$ctrl.close()">Close</button>
            </div>
            <div class="metadata-aside__switches">
                <metadata-component
                        terms="$ctrl.terms"
                        on-selection-change="$ctrl.termSelectionChange(term)">
                </metadata-component>
            </div>
        </aside>
    </script>

    <!-- Template for the export to svg button -->
    <!-- Script: resources/js/pages/visualizations/phylogenetics/components/svgExport/svg-export.module.js -->
    <script type="text/ng-template" id="export-svg-component.tmpl.html">
        <button class="btn btn-default"
                ng-click="$ctrl.exportSVG()">
            <i class="far fa-fw fa-file-code"></i>
            <th:block th:text="#{visualization.button.export.svg}"/>
        </button>
    </script>

    <script th:src="@{/dist/js/visualizations-phylogenetics.bundle.js}"></script>
</th:block>
</body>
</html>
