<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="template/page">
<head>
    <title>Title</title>
    <style>
        canvas {
            border: 1px solid rgb(176, 190, 197);
            border-radius: .5rem;
        }
    </style>
</head>
<body>
<div layout:fragment="page">
    <phylocanvas-component
            data:newickurl="@{/analysis/ajax/{id}/newick(id=${submissionId})}">
    </phylocanvas-component>
    <template-component
            data:templatesurl="@{/analysis/ajax/{id}/metadata-templates(id=${submissionId})}"
            data:fieldsurl="@{/analysis/ajax/{id}/metadata-template-fields(id=${submissionId})}">
    </template-component>
    <metadata-component
            data:metadataurl="@{/analysis/ajax/{id}/metadata(id=${submissionId})}">
    </metadata-component>
</div>
<th:block layout:fragment="scripts">
    <script type="text/ng-template" id="phylocanvas.tmpl.html">
        <div class="spaced-bottom" id="phylocanvas"></div>
    </script>
    <script type="text/ng-template" id="metadata-component.tmpl.html">
        <div class="well">
            <div class="row">
                <div class="chechbox col-md-4 col-sm-1" ng-repeat="term in $ctrl.terms">
                    <label>
                        <input type="checkbox"
                               ng-value="term.term"
                               ng-model="term.selected"
                               ng-model-options="{ 'updateOn': 'default ', 'debounce': { 'default': 200 } }"
                               ng-change="$ctrl.getUpdateMetadata()"/>
                        <span ng-bind="term.term"></span>
                    </label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="template-component.tmpl.html">
        <div class="row spaced-bottom">
            <div class="col-md-12">
                <label for="template-select">_Select a Template_</label>
                <select name="template-select" id="template-select"
                        class="form-control"
                        ng-model="$ctrl.selectedTemplate"
                        ng-change="$ctrl.templateChange()">
                    <option value="">_NONE_</option>
                    <option ng-repeat="template in $ctrl.templates"
                        value="{{ template.id }}">{{ template.label }}</option>
                </select>
            </div>
        </div>
    </script>
    <script src="/resources/js/build/visualizations-phylogenetics.bundle.js"
            th:src="@{/resources/js/build/visualizations-phylogenetics.bundle.js}"></script>
</th:block>
</body>
</html>