<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template/page">
<head>
<title th:text="${group.label}">_IRIDA Group_</title>

<script th:inline="javascript">
	var PAGE = {
		urls : {
			addMember : /*[[@{/groups/{id}/members(id=${group.getId()})}]]*/'/groups/1/members',
			table : /*[[@{/groups/{id}/ajax/list(id=${group.id})}]]*/'/groups/1/ajax/list',
			usersLink : /*[[@{/users/}]]*/'/users'
		},
		i18n : {
			'GROUP_OWNER' : /*[[#{group.users.role.GROUP_OWNER}]]*/'_Group owner_',
			'GROUP_MEMBER' : /*[[#{group.users.role.GROUP_MEMBER}]]*/'_Group member_'
		}
	};
	
	window.dependencies = ["irida.group.members"]
</script>
</head>
<body>
	<main layout:fragment="page" ddl:bundle-includes="group-members"
		ddl:asset-css-excludes="jquery.datatables" ng-controller="MembersController as membersCtrl">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1 id="wb-cont" class="group-details-title" property="name"
					th:text="${group.label}">__IRIDA Group__</h1>
				<div class="btn-toolbar" style="margin-bottom: 1rem;" role="toolbar">
					<div class="btn-group">
						<button id="add-members-button" class="btn btn-default"
							th:if="${isAdmin} or ${isOwner}" href="#addMembersLink"
							th:text="#{group.users.add.button}"
							ng-click="membersCtrl.showAddMemberModal()">_Add
							Members_</button>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<table id="groupMembersTable" dt:table="true" dt:url="@{/groups/{id}/ajax/list(id=${group.id})}">
					<thead>
					<tr role="row">
						<th dt:property="subject.label" dt:searchable="true" th:text="#{group.users.username}" dt:renderFunction="group-members#groupMembersTable.userNameLinkRow"></th>
						<th dt:property="role" dt:searchable="true" dt:renderFunction="group-members#groupMembersTable.renderGroupRole" th:text="#{group.users.role}"></th>
						<th dt:property="createdDate" dt:renderFunction="datatables-utils#datatable.formatDate" th:text="#{group.users.date.added}"></th>
					</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
	<script type="text/ng-template" id="newMemberModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add User</h3>
        </div>
        <div class="modal-body">
            <form id="addUserForm" action="#">
                <div class="form-group">
                    <label class="control-label" for="add-user-username" th:text="#{group.users.add.user}">_Username_</label>
                    <input select2="" data:url="@{/groups/{id}/ajax/availablemembers(id=${group.getId()})}" th:placeholder="#{group.users.add.select-user}" type="text" ng-model="modalCtrl.user.userId" id="add-user-username" name="userId" class="form-control input-full"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="add-user-role" th:text="#{group.users.add.role}">_Group Role_</label>
                    <select ng-model="modalCtrl.user.groupRole" id="add-user-role" class="form-control input-full" name="groupRole">
                        <option th:each="role : ${groupRoles}"
                                th:value="${role}"
                                th:text="#{${'group.users.role.'+role}}">_Role_
                        </option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="modalCtrl.cancel()" th:text="#{group.users.add.cancel}">_Cancel_</button>
            <button id="submitAddMember" class="btn btn-primary" type="button" ng-click="modalCtrl.addMember()" th:text="#{group.users.add.ok}">_OK_</button>
        </div>
    </script> </main>
</body>
</html>
