<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{template/page}">
<head>
<title th:text="#{group.create.details}">_Create Group_</title>
</head>
<body>

<main layout:fragment="page">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form role="form" action="/groups/1/edit"
					th:action="@{/groups/{id}/edit(id=${group.id})}" method="post">
					<section class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" th:text="#{group.create.details}">_Create Group_</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="control-label" th:text="#{group.name}" for="name">_Group Name_</label> 
								<div th:if="${errors != null and #maps.containsKey(errors, 'name')}" th:text="${errors.name}" class="alert alert-warning">_Group Name Error_</div>
								<input type="text" id="name" name="name" class="form-control input-full" required="required" 
								th:placeholder="#{group.name}" th:value="${given_name}" />
							</div>
							<div class="form-group">
								<label class="control-label" th:text="#{group.description}" for="description">_Group Description_</label>
								<div th:if="${errors != null and #maps.containsKey(errors, 'description')}" th:text="${errors.description}" class="alert alert-warning">_Group Description Error_</div>
								<textarea class="form-control input-full" name="description" id="description"
                                  rows="3" th:text="${given_description}"></textarea>
							</div>
						</div>
                        <div class="panel-footer text-right">
                            <a type="reset" class="btn btn-default" href="#" th:href="@{/groups/{id}(id=${group.id})}">Cancel</a>
                            <button type="submit" class="btn btn-primary submit" th:text="#{group.edit.button.save}">Save</button>
                        </div>
					</section>
				</form>
			</div>
		</div>
	</main>
</body>
</html>