<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head>
    <title th:text="#{nav.main.groups-list}">_Groups_</title>
    <script th:inline="javascript">
        var PAGE = {
            urls: {
                link: /*[[@{/groups/}]]*/ '/groups'
            }
        };
    </script>
</head>
<body>
<div layout:fragment="page" ddl:bundle-includes="groups-list" ddl:asset-css-excludes="jquery.datatables">
    <main class="col-md-12">
        <h1 th:text="#{nav.main.groups-list}">_Groups_</h1>
        <a href="/groups/create" th:href="@{/groups/create}"
           class="btn btn-default mrgn-bttm-md" th:text="#{nav.main.add.group}">_Add Group_</a>
        <table id="groupsTable" dt:table="true" dt:url="@{/groups/ajax/list}">
            <thead>
            <tr role="row">
                <th dt:property="name" dt:searchable="true" th:text="#{group.name}" dt:renderFunction="groups-list#groupsTable.groupLinkRow"></th>
                <th dt:property="createdDate" dt:renderFunction="datatables-utils#datatable.formatDate" th:text="#{group.created}"></th>
                <th dt:property="modifiedDate" dt:renderFunction="datatables-utils#datatable.formatDate" th:text="#{group.modified}"></th>
            </tr>
            </thead>
        </table>
    </main>
</div>
</body>
</html>
