<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{nav.main.groups-list}">_Groups_</title>
    <link rel="stylesheet" th:href="@{/dist/css/groups-list.bundle.css}">
    <script th:inline="javascript">
        var PAGE = {
            urls: {
                link: /*[[@{/groups/}]]*/ '/groups',
                deleteGroup: /*[[@{/groups/}]]*/ '/groups/',
                deleteModal: /*[[@{/groups/deleteConfirmModal}]]*/ '/groups/deleteConfirmModal'
            },
            i18n: {
            	unexpectedRemoveError: /*[[#{group.remove.notification.failure}]]*/ '_An error occured when removing your group. Try again._',
            	remove: /*[[#{group.remove.button.tooltip}]]*/ '_Remove group_'
            }
        };
    </script>
</head>
<body>
<div layout:fragment="page">
    <main class="col-md-12">
        <h1 th:text="#{nav.main.groups-list}">_Groups_</h1>

        <table id="groupsTable" class="table table-striped" cellspacing="0" width="100%" data:url="@{/groups/ajax/list}">
            <thead>
            <tr role="row">
                <th data:data="name" th:text="#{group.name}"></th>
                <th data:data="description" th:text="#{group.description}"></th>
                <th class="dt-date" data:data="createdDate" th:text="#{group.created}"></th>
                <th class="dt-date" data:data="modifiedDate" th:text="#{group.modified}"></th>
                <th width="30px" data-orderable="false"></th>
            </tr>
            </thead>
        </table>
        <div class="modal fade" id="removeGroupModal" role="dialog" aria-labelledby="#deleteConfirmTitle">
			
		</div>
    </main>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/groups-list.bundle.js}"></script>
</th:block>
</body>
</html>
