<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="removeUserModalGen" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="deleteConfirmTitle" th:text="#{group.users.remove.modal.title}">_Remove Group Member_</h4>
			</div>
			<div class="modal-body">
				<p th:utext="#{group.users.remove.modal.confirm(${user.label})}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{form.btn.close}">_Close_</button>
				<button type="button" class="btn btn-danger" id="remove-user-button" th:text="#{group.users.remove.modal.button.remove}">_Remove User_</button>
			</div>
		</div>
	</div>
</html>