<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <sec:http create-session="stateless" authentication-manager-ref="authenticationManager">
        <sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY"/>
        <sec:http-basic entry-point-ref="authenticationEntryPoint"/>
        <sec:remember-me user-service-ref="userService" key="YGg5uw382TVLdutPZbWsg94Fnjni3feZ6MsNSvW30z5K3nwcLkih9nbAoZQTzSPa" />
    </sec:http>


    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider user-service-ref="userService">
            <sec:password-encoder ref="passwordEncoder"/>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <bean id="authenticationEntryPoint"
          class="ca.corefacility.bioinformatics.irida.web.spring.authentication.BasicAuthenticationEntryPoint"/>

</beans>
