<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <sec:http create-session="stateless" authentication-manager-ref="authenticationManager"
              entry-point-ref="authenticationEntryPoint">
        <sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_REMEMBERED"/>
        <!-- we're using our own BASIC_AUTH_FILTER because we want to enable rememberMeServices -->
        <sec:custom-filter ref="basicAuthenticationFilter" position="BASIC_AUTH_FILTER"/>
        <sec:remember-me services-ref="rememberMeServices"/>
    </sec:http>


    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider user-service-ref="userService">
            <sec:password-encoder ref="passwordEncoder"/>
        </sec:authentication-provider>
        <sec:authentication-provider ref="rememberMeAuthenticationProvider"/>
    </sec:authentication-manager>

    <!--
    we need a custom authentication entry point that does not set the WWW-Authenticate header,
    so that the browser will not prompt the user for login credentials.
     -->
    <bean id="authenticationEntryPoint"
          class="ca.corefacility.bioinformatics.irida.web.spring.authentication.BasicAuthenticationEntryPoint"/>

    <!-- use the standard basic authentication filter, but enable the remember-me services -->
    <bean id="basicAuthenticationFilter"
          class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <constructor-arg ref="authenticationManager"/>
        <constructor-arg ref="authenticationEntryPoint"/>
        <property name="rememberMeServices" ref="rememberMeServices"/>
    </bean>
    <bean id="rememberMeServices"
          class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
        <constructor-arg value="YGg5uw382TVLdutPZbWsg94Fnjni3feZ6MsNSvW30z5K3nwcLkih9nbAoZQTzSPa"/>
        <constructor-arg ref="userService"/>
        <property name="alwaysRemember" value="true"/>
    </bean>
    <bean id="rememberMeAuthenticationProvider"
          class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg value="YGg5uw382TVLdutPZbWsg94Fnjni3feZ6MsNSvW30z5K3nwcLkih9nbAoZQTzSPa"/>
    </bean>
</beans>
