.cell-width-200 {
  text-align: left;
  width: 200px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px; }

.filter-row {
  margin-bottom: 5px; }

.datatables-active-filters {
  margin-bottom: 10px; }
  .datatables-active-filters .label {
    cursor: pointer; }
    .datatables-active-filters .label:after {
      content: ' \f00d';
      font-family: 'FontAwesome'; }

table th {
  vertical-align: top !important; }

table td {
  padding: 5px 18px !important; }
