.metadata-open .modal-content,
.metadata-open .modal-dialog {
  overflow: hidden !important;
  padding: 0 !important;
}

.metadata-aside {
  height: 100%;
  padding: 57px 0 0 0;
  position: relative;
  overflow: hidden;
}

.metadata-aside__btns {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
  padding: 0 1rem;
  background-color: rgba(53, 59, 67, 1);
}

.metadata-aside__switches {
  height: 100%;
  padding-left: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
