.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile.blocked + label {
  display: block;
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 1.25em;
  font-weight: 700;
  color: #222222;
  background-color: #fefefe;
  display: inline-block;
  border-radius: 4px;
  border: 2px dashed rgb(2, 117, 216);
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(236, 239, 241);
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
