h1 {
  margin-top: 0 !important;
}

.description {
  color: #929292;
  font-size: 24px;
  font-weight: 300;

  a {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 0.125rem 0.375rem;
    transition: all 0.3s ease-in;
    text-decoration: none;
    &:hover {
      border-color: #133b54;
      background-color: #133b54;
      color: #ffffff;
    }
  }
}

.description-detail {
  color: #232323;
}
.width-truncate-100 {
  text-align: right;
  width: 100px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
