<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="analysis/details/details">
<body>
<th:block layout:fragment="provenance">
	<h3 th:text="${file.filename}">__FILENAME__</h3>
	<div style="margin-left: 2rem;" th:each="tool : ${file.tools}">
		<h3 th:text="${tool.getLabel()}"></h3>
		<ul th:each="parameter : ${tool.parameters}">
			<li><b th:text="${parameter.key}"></b> <i th:text="${parameter.value}"></i></li>
		</ul>
		<!--<accordion>-->
		<!--<accordion-group>-->
		<!--<accordion-heading><i class="fa fa-fw fa-wrench"></i>&nbsp;-->
		<!--<span th:text="${tool.label}"></span>-->
		<!--</accordion-heading>-->
		<!--<table class="table table-striped">-->
		<!--<tr th:each="parameter : ${tool.parameters}">-->
		<!--<td th:text="${parameter.key}"></td>-->
		<!--<td th:text="${parameter.value}"></td>-->
		<!--</tr>-->
		<!--</table>-->
		<!--</accordion-group>-->
		<!--</accordion>-->
	</div>
</th:block>
</body>
</html>