<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="analysis/details/_base">

<head lang="en">
  <meta charset="UTF-8" />
  <title th:text="#{samples.title(${sample.label})}">THIS IS SOMETHING WRONG</title>
</head>

<body>
  <main layout:fragment="main">
    <div class="row">
      <div class="col-md-10">
        <h1 role="heading">__TITLE__</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">_Description_</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <b class="panel-title">_Preview_</b>
          </div>
          <div class="panel-body" th:replace="analysis/details/tree">


          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
