<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="analysis/details/_base">

<head lang="en">
	<meta charset="UTF-8"/>
	<title th:text="#{analysis.details.title(${analysisSubmission.label})}">_Analysis_</title>
	<link rel="stylesheet" href="/resources/css/pages/analyses.css" th:href="@{/resources/css/pages/analyses.css}"/>
</head>

<body>
<main layout:fragment="main">
	<div class="row">
		<div class="col-md-12">
			<h1 style="margin-top: 0" role="heading">
				<span th:text="${analysisSubmission.name}">__TITLE__</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 ng-cloak">
			<tabset>
				<tab heading="__FILES">
					<div th:each="file : ${files}">
						<h3 th:text="${file.filename}">__FILENAME__</h3>
						<div style="margin-left: 2rem;">
							<accordion>
								<accordion-group th:each="tool : ${file.tools}">
									<accordion-heading><i class="fa fa-fw fa-wrench"></i>&nbsp;
										<span th:text="${tool.label}"></span>
									</accordion-heading>
									<table class="table table-striped">
										<tr th:each="parameter : ${tool.parameters}">
											<td th:text="${parameter.key}"></td>
											<td th:text="${parameter.value}"></td>
										</tr>
									</table>
								</accordion-group>
							</accordion>
						</div>
					</div>
				</tab>

				<tab heading="PREVIEW__">
					<div th:if="${preview}" layout:fragment="previewContent"></div>
				</tab>
			</tabset>
			<div th:unless="${preview}" layout:fragment="noPreview">__NO_PREVIEW__</div>
		</div>
	</div>
</main>
</body>

</html>
