<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{analysis/details/details}">

<head>
	<title th:text="#{analysis.page.title} + ' - '+ ${analysisSubmission.getId()} + ' - ' + ${workflowName}">dsf</title>
</head>
<body>
<div layout:fragment="previewContent">
	<a href="#" id="saveBtn" class="btn btn-default pull-right" uib-tooltip-placement="bottom"
	   th:attr="uib-tooltip=#{form.save.image}" >
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
		<span class="sr-only" th:text="#{form.save.image}">Save Image</span>
	</a>
</div>

<th:block th:if="${preview}" layout:fragment="previewScripts">
</th:block>
</body>

</html>
