.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
!gradle-wrapper.properties
.gradletasknamecache
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### MAC OS ###
.DS_Store/

### Docs ###
doc/_site
doc/.jekyll-cache/Jekyll/Cache/
doc/developer/apidocs
doc/swagger-ui/open-api.json
doc/Gemfile.lock
.vendor/

### Frontend ###
src/main/webapp/node
src/main/webapp/node_modules
/src/main/webapp/dist
/src/main/webapp/pages/templates/i18n/*.html

### YARN ###
/src/main/webapp/.pnp.*
/src/main/webapp/.yarn/*
!/src/main/webapp/.yarn/patches
!/src/main/webapp/.yarn/plugins
!/src/main/webapp/.yarn/releases
!/src/main/webapp/.yarn/sdks
!/src/main/webapp/.yarn/versions
/yarn.lock

### MISC ###
/.theia/launch.json
*.swp