/target/

/node_modules/

/src/main/webapp/bower_components/

/.sass-cache/

/src/main/webapp/static/

/.tmp/

.classpath
.project
.settings

/coverage/

/src/main/webapp/config.codekit

/src/main/webapp/resources/bower_components/

/src/main/webapp/resources/css/main.css.map
/target/
