target/
.idea/*
.classpath
.project
.settings
.checkstyle
build/
.DS_Store/
/src/main/webapp/resources/bower_components/
irida.iml
phantomjsdriver.log
node_modules
.sass-cache
/src/main/java/a
doc/_site
*.swp
/.idea/
src/main/webapp/resources/css
src/main/webapp/node
/src/main/webapp/dist
