<section>
    <p class="title" data-section-title=""><a href="#">Edit</a></p>
    <div class="content" data-section-content="">
        <form name="editUserForm">
            <div class="row" novalidated="true">
                <div class="large-12 columns" data-ng-class="{error: errors.username || userForm.username.$dirty &amp;&amp; userForm.username.$invalid}">
                    <label class="control-label" for="username" th:text="#{user.username}">Username</label>
                    <input name="username" data-ng-model="user.username" type="text" required="required"/>
                    <small data-ng-show="errors.username" data-ng-bind-html-unsafe="errors.username"></small>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns" data-ng-class="{error: errors.firstName || userForm.firstName.$dirty &amp;&amp; userForm.firstName.$invalid}">
                    <label class="control-label" for="firstName" th:text="#{user.firstName}">First Name</label>
                    <input name="firstName" data-ng-model="user.firstName" type="text" required="required"/>
                    <small data-ng-show="errors.firstName" data-ng-bind-html-unsafe="errors.firstName"></small>
                </div>

                <div class="large-6 columns" data-ng-class="{error: errors.lastName || userForm.lastName.$dirty &amp;&amp; userForm.lastName.$invalid}">
                    <label class="control-label" for="lastName" th:text="#{user.lastName}">Last Name</label>
                    <input name="lastName" data-ng-model="user.lastName" type="text" required="required"/>
                    <small data-ng-show="errors.lastName" data-ng-bind-html-unsafe="errors.lastName"></small>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns" data-ng-class="{error: errors.email || userForm.email.$dirty &amp;&amp; userForm.email.$invalid}">
                    <label class="control-label" for="email" th:text="#{user.email}">Email</label>
                    <input name="email" data-ng-model="user.email" type="email" required="required"/>
                    <small data-ng-show="errors.email" data-ng-bind-html-unsafe="errors.email"></small>
                </div>

                <div class="large-6 columns" data-ng-class="{error: errors.phoneNumber || userForm.phoneNumber.$dirty &amp;&amp; userForm.phoneNumber.$invalid}">
                    <label class="control-label" for="phoneNumber" th:text="#{user.phoneNumber}">Phone
                        Number</label>
                    <input name="password" data-ng-model="user.phoneNumber" type="tel" required="required"/>
                    <small data-ng-show="errors.phoneNumber" data-ng-bind-html-unsafe="errors.phoneNumber"></small>
                </div>
            </div>
        <a class="button small radius" ng-click="patchUser()">Update User</a>
        <a class="button small alert radius" ng-click="deleteUser()">Delete User</a>
        </form>
    </div>
</section>