<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title th:text="#{irida.title}"></title>

    <link rel="stylesheet" href="/bower_components/onsenui/build/css/onsenui.css"/>
    <link rel="stylesheet" href="/bower_components/onsenui/build/css/topcoat-mobile-onsen-ios7.min.css"/>
    <style>
        .page {
            padding: 8px;
        }
        input, button {
            display: block;
            width: 100%;
        }
        button {
            margin: 8px 0 !important;
        }
    </style>
</head>
<body>

<div class="navigator-container">
    <div class="topcoat-navigation-bar navigator-toolbar relative">
        <div class="onsen_navigator-item onsen_navigator-title topcoat-navigation-bar__title topcoat-navigation-bar__line-height center animate-center">
            IRIDA Login
        </div>
    </div>
    <div class="relative navigator-content topcoat-page__bg">
        <div class="navigator-page page">
            <div class="page">
                <div class="panel-body" ng-controller="LoginCtrl">
                    <form name="loginForm" action="/login" method="post">
                        <label for="email" th:text="#{login.email}">Email Address</label>
                        <input id="email" class="topcoat-text-input" name="username" type="text" ng-model="email" th:placeholder="#{login.email}"/>
                        <label for="password">Password</label>
                        <input id="password" class="topcoat-text-input" name="password" type="password" ng-model="password" th:placeholder="#{login.password}"/>
                        <button type="submit" class="effeckt-button topcoat-button topcoat-button--cta-large" th:text="#{login.btn.signin}">Login</button>
                    </form>
                    <div ng-show="error" th:text="#{login.error}">Incorrect Email or
                        Password
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/bower_components/angular/angular.min.js"></script>
<script>
    angular.module('myApp', [])
            .controller('LoginCtrl', ['$scope', '$location', function ($scope, $location) {
                'use strict';

                $scope.error = false;
                if ($location.absUrl().search('error') > -1) {
                    $scope.error = true;
                }
            }]);
    window.onload = function () {
        var hash = unescape(self.document.location.hash.substring(1));
        document.loginForm.action = '/login#' + hash;
    }
</script>

</body>
</html>
