<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="/resources/wet-theme/css/wet-boew.min.css"/>
    <link rel="stylesheet" href="/resources/wet-theme/css/theme.min.css"/>
</head>
<body>
<footer th:fragment="footer" role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
    <div class="container">
        <nav role="navigation">
            <h2 th:text="#{wet.footer.site-info}">Site information</h2>
            <ul id="gc-tctr" class="list-inline">
                <li><a rel="license" href="http://wet-boew.github.io/wet-boew/License-en.html"
                       th:text="#{wet.footer.tc}">Terms and conditions</a></li>
                <li><a href="http://www.tbs-sct.gc.ca/tbs-sct/common/trans-eng.asp"
                       th:text="#{wet.footer.transparency}">Transparency</a></li>
            </ul>

            <div class="row">
                <section class="col-sm-3">
                    <h3 th:text="#{wet.footer.about}">About</h3>
                    <ul class="list-unstyled">
                        <li><a th:href="@{'/public/about/index-' + ${#locale} + '.html'}"
                               href="/public/about/index-en.html" th:text="#{wet.footer.about}">About the IRIDA
                            Platform</a></li>
                    </ul>
                </section>
                <section class="col-sm-3">
                    <h3 th:text="#{wet.footer.contact}">Contact us</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/wet-boew/wet-boew/issues/new" th:text="#{wet.footer.questions}">Questions
                            or comments?</a></li>
                    </ul>
                </section>
                <section class="col-sm-3">
                    <h3 th:text="#{wet.footer.news}">News</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/wet-boew/wet-boew/pulse" th:text="#{wet.footer.recent}">Recent
                            project activity</a></li>
                        <li><a href="https://github.com/wet-boew/wet-boew/graphs" th:text="#{wet.footer.stats}">Project
                            statistics</a></li>
                    </ul>
                </section>
                <section class="col-sm-3">
                    <h3 th:text="#{wet.footer.connected}">Stay connected</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/WebExpToolkit" th:text="#{wet.footer.twitter}">Twitter</a></li>
                    </ul>
                </section>

            </div>
        </nav>
    </div>
    <div id="gc-info">
        <div class="container">
            <nav role="navigation" th:switch="${#locale.language}">
                <ul class="list-inline" th:case="'en'">

                    <li><a href="http://healthycanadians.gc.ca"><span>Health</span>healthycanadians.gc.ca</a></li>
                    <li><a href="http://travel.gc.ca"><span>Travel</span>travel.gc.ca</a></li>
                    <li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span>servicecanada.gc.ca</a>
                    </li>
                    <li><a href="http://www.jobbank.gc.ca"><span>Jobs</span>jobbank.gc.ca</a></li>
                    <li><a href="http://actionplan.gc.ca/en"><span>Economy</span>actionplan.gc.ca</a></li>
                    <li id="canada-ca"><a href="http://www.canada.ca/en/index.html">Canada.ca</a></li>
                </ul>

                <ul class="list-inline" th:case="'fr'">

                    <li><a href="http://canadiensensante.gc.ca/"><span>Santé</span>canadiensensante.gc.ca</a></li>
                    <li><a href="http://voyage.gc.ca/"><span>Voyage</span>voyage.gc.ca</a></li>
                    <li><a href="http://www.servicecanada.gc.ca/fra/accueil.shtml"><span>Service Canada</span>servicecanada.gc.ca</a>
                    </li>
                    <li><a href="http://www.guichetemplois.gc.ca/accueil-fra.do?lang=fra"><span>Offres d'emploi</span>guichetemplois.gc.ca</a>
                    </li>
                    <li><a href="http://actionplan.gc.ca/fr"><span>Économie</span>actionplan.gc.ca</a></li>
                    <li id="canada-ca"><a href="http://www.canada.ca/fr/index.html">Canada.ca</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>