<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="no-js"
      lang="en">
<!--<![endif]-->
<head lang="en">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{global.title}">IRIDA Platform</title>
    <th:block th:include="themes/common/fragments :: meta"></th:block>

    <!--[if lte IE 8]
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');

    </script>
    <script src="/resources/bower_components/json2/json2.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/resources/bower_components/Font-Awesome/css/font-awesome.min.css}"
          href="/resources/bower_components/Font-Awesome/css/font-awesome.min.css"/>

    <style>
        .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body vocab="http://schema.org/" typeof="WebPage" id="ng-app" ng-app="irida">

<th:block layout:fragment="main-section">
    <!--/* This is where each pages content should be loaded. */-->
</th:block>

<!--/* Site Wide Scripts */-->
<!--[if lt IE 9]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9 | !IE ]><!-->
<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"
        src="/resources/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->
<script th:src="@{/resources/bower_components/lodash/dist/lodash.underscore.min.js}"
        src="/resources/bower_components/lodash/dist/lodash.underscore.min.js"></script>
<script th:src="@{/resources/bower_components/angular/angular.min.js}"
        src="/resources/bower_components/angular/angular.min.js"></script>
<script th:src="@{/resources/bower_components/angular-sanitize/angular-sanitize.min.js}"
        src="/resources/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script th:src="@{'/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'}"
        src="/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Need for IE8
    if (!Array.prototype.indexOf)
    {
        Array.prototype.indexOf = function(elt /*, from*/)
        {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                    ? Math.ceil(from)
                    : Math.floor(from);
            if (from < 0)
                from += len;

            for (; from < len; from++)
            {
                if (from in this &&
                        this[from] === elt)
                    return from;
            }
            return -1;
        };
    }
    window.dependencies = _.union(window.dependencies || [], ['ngSanitize', 'ui.bootstrap']);
    var app = angular.module('irida', window.dependencies)
            .value('BASE_URL', /*[[@{/}]]*/ '/')
            .directive('ngFocus', [function () {
                var FOCUS_CLASS = "ng-focused";
                return {
                    restrict: 'A',
                    require: 'ngModel',
                    link: function (scope, element, attrs, ctrl) {
                        ctrl.$focused = false;
                        element.bind('focus', function (evt) {
                            element.addClass(FOCUS_CLASS);
                            scope.$apply(function () {
                                ctrl.$focused = true;
                            });
                        }).bind('blur', function (evt) {
                            element.removeClass(FOCUS_CLASS);
                            scope.$apply(function () {
                                ctrl.$focused = false;
                            });
                        });
                    }
                }
            }]);
    ;
    /*]]>*/
</script>

<th:block layout:fragment="theme-scripts">
    <!--/* This is where the main for the theme template are loaded. */-->
</th:block>

<th:block layout:fragment="page-scripts">
    <!--/* This is where scripts specific for each page should be loaded. */-->
</th:block>
</body>
</html>