<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head lang="en">
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{global.title}">IRIDA Platform</title>
	<link rel="stylesheet" th:href="@{/resources/bower_components/Font-Awesome/css/font-awesome.min.css}"
	      href="/resources/bower_components/Font-Awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" th:href="@{/resources/bower_components/AngularJS-Toaster/toaster.css}"
	      href="/resources/bower_components/AngularJS-Toaster/toaster.css"/>

	<style>
		.ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body vocab="http://schema.org/" typeof="WebPage" id="ng-app" ng-app="irida">
<div toaster-container=""></div>
<div style="height: 100%;">
	<div style="height: 100%;" class="st-container" ng-class="{'cart-open':cart.show}">
		<div class="st-content">
			<div class="st-content-inner" layout:fragment="main-section"> </div>
		</div>
		<cart></cart>
	</div>
</div>

<script type="text/ng-template" id="/cart.html">
	<aside class="cart">
		<section ng-hide="cart.projects.length">
			<p class="lead" th:text="#{cart.empty-text}"></p>
			<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close</button>
		</section>
		<section ng-show="cart.projects.length > 0">
			<ul id="cart-project-list" class="list-group">
				<li class="list-group-item" ng-repeat="p in cart.projects" ng-init="cart.collapsed[p.id]=true" ng-click="cart.collapsed[p.id] = !cart.collapsed[p.id]">
					<span class="fa fa-fw" ng-class="cart.collapsed[p.id] ? 'fa-caret-right' : 'fa-caret-down'"></span>
					{{ p.label }}
					<span class="badge pull-right">{{ p.samples.length }}</span>
					<ul collapse="cart.collapsed[p.id]">
						<li ng-repeat="s in p.samples">{{ s.label }}</li>
					</ul>
				</li>
			</ul>
			<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close</button>
			<button class="btn btn-primary pull-right" th:text="#{cart.btn.run}">Run Pipeline</button>
		</section>
	</aside>
</script>

<script type="text/ng-template" id="/session-modal.html">
	<div>
		<div class="modal-header">
			<b class="modal-title"><span th:text="#{session.timeout-modal.header}"></span>&nbsp;{{timeleft | countdown}}</b>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="logout()" th:text="#{session.timeout-modal.logout}">Log me out</button>
			<button class="btn btn-primary" ng-click="poke()" th:text="#{session.timeout-modal.poke}">Keep me here</button>
		</div>
	</div>
</script>
<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"
		src="/resources/bower_components/jquery/dist/jquery.min.js"></script>

<th:block sec:authorize="isAuthenticated()">
	<script th:inline="javascript">
		var TL = {
			BASE_URL      : /*[[@{/}]]*/ '/',
			SESSION_LENGTH: /*[[${#httpSession.getAttribute('SESSION_TIMEOUT')}]]*/ 1800,
			lang          : {
				crumbs: {
					"projects": /*[[#{bc.projects}]]*/ "Projects",
					"samples" : /*[[#{bc.samples}]]*/ "Samples",
					"sequenceFiles": /*[[#{bc.sequenceFiles}]]*/ "Sequence Files"
				},
				page: {
					"first": /*[[#{table.first}]]*/ 'First',
					"prev" : /*[[#{table.previous}]]*/ 'Previous',
					"next" : /*[[#{table.next}]]*/ 'Next',
					"last" : /*[[#{table.last}]]*/ 'Last'
				}
			}
		};
	</script>

	<script th:src="@{/resources/bower_components/lodash/dist/lodash.min.js}"
	        src="/resources/bower_components/lodash/dist/lodash.min.js"></script>
	<script src="/resources/bower_components/moment/min/moment-with-langs.min.js" th:src="@{/resources/bower_components/moment/min/moment-with-langs.min.js}"></script>

	<script th:src="@{/resources/bower_components/angular/angular.min.js}"
	        src="/resources/bower_components/angular/angular.min.js"></script>
	<script src="/resources/bower_components/angular-aria/angular-aria.min.js"
			th:src="@{/resources/bower_components/angular-aria/angular-aria.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-animate/angular-animate.min.js}"
	        src="/resources/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/resources/bower_components/angular-messages/angular-messages.min.js"
	        th:src="@{/resources/bower_components/angular-messages/angular-messages.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-resource/angular-resource.min.js}"
	        src="/resources/bower_components/angular-resource/angular-resource.min.js"></script>
	<script th:src="@{'/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'}"
	        src="/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script th:src="@{/resources/bower_components/restangular/src/restangular.js}"
	        src="/resources/bower_components/restangular/src/restangular.js"></script>

	<script th:src="@{/resources/bower_components/AngularJS-Toaster/toaster.js}"
	        src="/resources/bower_components/AngularJS-Toaster/toaster.js"></script>
	<script th:src="@{/resources/js/services/notifications/irida-notifications.js}"
	        src="/resources/js/services/notifications/irida-notifications-min.js"></script>

	<script src="/resources/js/services/httpInterceptor.js" th:src="@{/resources/js/services/httpInterceptor.js}"></script>
	<script src="/resources/js/modules/utilities/irida.utilities.js" th:src="@{/resources/js/modules/utilities/irida.utilities.js}"></script>
	<script src="/resources/js/modules/cart/irida.cart.js" th:src="@{/resources/js/modules/cart/irida.cart.js}"></script>
	<script src="/resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
	<!-- Controllers -->
	<script src="/resources/js/controllers/breadcrumbs/breadcrumbController.js" th:src="@{/resources/js/controllers/breadcrumbs/breadcrumbController.js}"></script>
</th:block>
<th:block layout:fragment="theme-scripts">
	<!--/* This is where the main for the theme template are loaded. */-->
</th:block>

<th:block layout:fragment="page-scripts">
	<!--/* This is where scripts specific for each page should be loaded. */-->
</th:block>
</body>
</html>