<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="row">
    <h1>Users List Page</h1>

    <div class="row">
        <div class="large-12 columns">
            <a href="#" data-reveal-id="myModal" class="button right small-screen-expand"><i class="icon-plus"></i>&nbsp;<i
                    class="icon-user"></i></a>
        </div>
    </div>
    <div class="listTable">
        <div class="row" th:each="user : ${users}">
            <div class="large-1 small-2 columns"><input type="checkbox"/></div>
            <div class="large-2 small-10 columns" th:text="${user.username}"></div>
            <div class="large-2 small-6 columns" th:text="${user.firstName}"></div>
            <div class="large-2 small-6 columns" th:text="${user.lastName}"></div>
            <div class="large-3 columns" th:text="${user.email}"></div>
            <div class="large-2 columns" th:text="${user.phoneNumber}"></div>
        </div>
    </div>
    <!--<table class="large-12 columns">-->
    <!--<thead>-->
    <!--<th th:text="#{user.username}"></th>-->
    <!--<th th:text="#{user.firstName}"></th>-->
    <!--<th th:text="#{user.lastName}"></th>-->
    <!--<th th:text="#{user.email}"></th>-->
    <!--<th th:text="#{user.phoneNumber}"></th>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr data-bind="click: getUser" th:each="user : ${users}">-->
    <!--<td th:text="${user.username}"></td>-->
    <!--<td th:text="${user.firstName}"></td>-->
    <!--<td th:text="${user.lastName}"></td>-->
    <!--<td th:text="${user.email}"></td>-->
    <!--<td th:text="${user.phoneNumber}"></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
</div>
<div id="myModal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>

    <h2>Add New User</h2>

    <div>
        <div class="row">
            <div data-bind="css: checkError('username')" class="large-6 columns">
                <label th:text="#{user.username}"></label>
                <input type="text" data-bind="value: currUser.username, valueUpdate: 'afterkeydown'"/>
                <small class="error" data-bind="visible: newUserErrors.username.doesExist, text: newUserErrors.username.message"></small>
            </div>
            <div data-bind="css: checkError('password')" class="large-6 columns">
                <label th:text="#{user.password}"></label>
                <input type="password" data-bind="value: currUser.password, valueUpdate: 'afterkeydown'"/>
                <small class="error" data-bind="visible: newUserErrors.password.doesExist, text: newUserErrors.password.message"></small>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label th:text="#{user.firstName}"></label>
                <input type="text" data-bind="value: currUser.firstName"/>
            </div>
            <div class="large-6 columns">
                <label th:text="#{user.lastName}"></label>
                <input type="text" data-bind="value: currUser.lastName"/>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label th:text="#{user.email}"></label>
                <input type="text" data-bind="value: currUser.email"/>
            </div>
            <div class="large-6 columns">
                <label th:text="#{user.phoneNumber}"></label>
                <input type="text" data-bind="value: currUser.phoneNumber"/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button class="right" id="addUserBtn">Add User</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="error-template">
    <p></p>
</script>

<script src="/js/vendor/jquery-1.9.1.min.js" th:src="@{/js/vendor/jquery-1.9.1.min.js}"></script>
<script src="/js/vendor/foundation/foundation.js" th:src="@{/js/vendor/foundation/foundation.js}"></script>
<script src="/js/vendor/foundation/foundation.reveal.js"
        th:src="@{/js/vendor/foundation/foundation.reveal.js}"></script>
<script src="/js/vendor/knockout-2.2.1.js" th:src="@{/js/vendor/knockout-2.2.1.js}"></script>
<script src="/js/pages/users.js" th:src="@{/js/pages/users.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
