<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body data-ng-app="fwsApp">
<div class="row">
    <h1>Users List Page</h1>

    <div class="row">
        <div class="large-12 columns">
            <a href="#" data-reveal-id="myModal" class="button small-screen-expand"><i class="icon-plus"></i>&nbsp;<i
                    class="icon-user"></i></a>
        </div>
    </div>
    <table class="dataTable">
        <thead>
        <tr class="header">
            <th th:text="#{user.username}"></th>
            <th th:text="#{user.firstName}"></th>
            <th th:text="#{user.lastName}"></th>
            <th th:text="#{user.email}"></th>
            <th th:text="#{user.phoneNumber}"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: users">
        <tr data-bind="click: $parent.viewUser.bind($data, event)">
            <td data-bind="text: username"></td>
            <td data-bind="text: firstName"></td>
            <td data-bind="text:lastName"></td>
            <td data-bind="text:email"></td>
            <td data-bind="text:phoneNumber"></td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
    </ul>
</div>
<form name="newUserForm" id="myModal" class="reveal-modal" data-ng-controller="newUserModalCtrl"
      novalidate="novalidate">
    <a class="close-reveal-modal">&#215;</a>

    <h2>Add New User</h2>

    <div>
        <div class="row">
            <div data-bind="css: {error: errors.username()}" class="large-6 columns">
                <label th:text="#{user.username}"></label>
                <input name="username" type="text" data-bind="value: newUser.username, hasFocus: errors.username('')"
                       required="required"/>
                <small class="error" data-bind="visible: errors.username(), text: errors.username"></small>
            </div>
            <div data-bind="css: {error: errors.password()}" class="large-6 columns">
                <label th:text="#{user.password}"></label>
                <input name="password" type="password"
                       data-bind="value: newUser.password, hasFocus: errors.password('')" required="required"/>
                <small class="error" data-bind="visible: errors.password(), text: errors.password"></small>
            </div>
        </div>
        <div class="row">
            <div data-bind="css: {error: errors.firstName()}" class="large-6 columns">
                <label th:text="#{user.firstName}"></label>
                <input name="firstName" type="text" data-bind="value: newUser.firstName, hasFocus: errors.firstName('')"
                       required="required"/>
                <small class="error" data-bind="visible: errors.firstName(), text: errors.firstName"></small>
            </div>
            <div data-bind="css: {error: errors.lastName()}" class="large-6 columns">
                <label th:text="#{user.lastName}"></label>
                <input name="lastName" type="text" data-bind="value: newUser.lastName, hasFocus: errors.lastName('')"
                       required="required"/>
                <small class="error" data-bind="visible: errors.lastName(), text: errors.lastName"></small>
            </div>
        </div>
        <div class="row">
            <div data-bind="css: {error: errors.email()}" class="large-6 columns">
                <label th:text="#{user.email}"></label>
                <input name="email" type="email" data-bind="value: newUser.email, hasFocus: errors.email('')"
                       required="required"/>
                <small class="error" data-bind="visible: errors.email(), text: errors.email"></small>
            </div>
            <div data-bind="css: {error: errors.phoneNumber()}" class="large-6 columns">
                <label th:text="#{user.phoneNumber}"></label>
                <input name="phoneNumber" type="text"
                       data-bind="value: newUser.phoneNumber, hasFocus: errors.phoneNumber('')" required="required"/>
                <small class="error" data-bind="visible: errors.phoneNumber(), text: errors.phoneNumber"></small>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit" class="right" data-bind="click: postNewUser">Add User</button>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/vendor/jquery/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.reveal.js}"></script>
<script th:src="@{/js/vendor/knockout/knockout-v2.2.1.min.js}"></script>
<script th:src="@{/js/users.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
