<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body data-ng-app="">
<div class="row">
    <h1>Users List Page</h1>

    <div class="row">
        <div class="large-12 columns">
            <a href="#" data-reveal-id="myModal" class="button small-screen-expand"><i class="icon-plus"></i>&nbsp;<i
                    class="icon-user"></i></a>
        </div>
    </div>
    <div class="row">
    <table class="large-12 columns" data-ng-controller="usersListCtrl">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th th:text="#{user.username}"></th>
                <th th:text="#{user.firstName}"></th>
                <th th:text="#{user.lastName}"></th>
                <th th:text="#{user.email}"></th>
                <th th:text="#{user.phoneNumber}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}" data-ng-click="goToUser($event)">
                <td style="display: none" th:text="${user.id.href}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </tbody>
    </table>
        </div>
</div>
<form name="newUserForm" id="myModal" class="reveal-modal" data-ng-controller="newUserModalCtrl" novalidate="novalidate">
    <a class="close-reveal-modal">&#215;</a>

    <h2>Add New User</h2>

    <div>
        <div class="row">
            <div data-ng-class="{'error': newUserForm.username.$invalid &amp;&amp; newUserForm.username.$dirty}" class="large-6 columns">
                <label th:text="#{user.username}"></label>
                <input name="username" type="text" data-ng-model="currUser.username" required="required"/>
                <small class="error" data-ng-show="newUserForm.username.$invalid &amp;&amp; newUserForm.username.$dirty" ng-bind-html-unsafe="error.username"></small>
            </div>
            <div data-ng-class="{'error': newUserForm.password.$invalid &amp;&amp; newUserForm.password.$dirty}" class="large-6 columns">
                <label th:text="#{user.password}"></label>
                <input name="password" type="password" data-ng-model="currUser.password" required="required"/>
                <small class="error" data-ng-show="newUserForm.password.$invalid &amp;&amp; newUserForm.password.$dirty" ng-bind-html-unsafe="error.password"></small>
            </div>
        </div>
        <div class="row">
            <div data-ng-class="{'error': newUserForm.firstName.$invalid  &amp;&amp; newUserForm.firstName.$dirty}" class="large-6 columns">
                <label th:text="#{user.firstName}"></label>
                <input name="firstName" type="text" data-ng-model="currUser.firstName" required="required"/>
                <small class="error" data-ng-show="newUserForm.firstName.$invalid &amp;&amp; newUserForm.firstName.$dirty" ng-bind-html-unsafe="error.firstName"></small>
            </div>
            <div data-ng-class="{'error': newUserForm.lastName.$invalid &amp;&amp; newUserForm.lastName.$dirty}" class="large-6 columns">
                <label th:text="#{user.lastName}"></label>
                <input name="lastName" type="text" data-ng-model="currUser.lastName" required="required"/>
                <small class="error" data-ng-show="newUserForm.lastName.$invalid &amp;&amp; newUserForm.lastName.$dirty" ng-bind-html-unsafe="error.lastName"></small>
            </div>
        </div>
        <div class="row">
            <div data-ng-class="{'error': newUserForm.email.$invalid &amp;&amp; newUserForm.email.$dirty}" class="large-6 columns">
                <label th:text="#{user.email}"></label>
                <input name="email" type="email" data-ng-model="currUser.email" required="required"/>
                <small class="error" data-ng-show="newUserForm.email.$invalid &amp;&amp; newUserForm.email.$dirty" ng-bind-html-unsafe="error.email"></small>
            </div>
            <!-- TODO: (Josh) Need to set up proper email format checking -->
            <div data-ng-class="{'error': newUserForm.phoneNumber.$invalid &amp;&amp; newUserForm.phoneNumber.$dirty}" class="large-6 columns">
                <label th:text="#{user.phoneNumber}"></label>
                <input name="phoneNumber" type="text" data-ng-model="currUser.phoneNumber" required="required" />
                <small class="error" data-ng-show="newUserForm.phoneNumber.$invalid &amp;&amp; newUserForm.phoneNumber.$dirty" ng-bind-html-unsafe="error.phoneNumber"></small>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button class="right" data-ng-click="postNewUser()">Add User</button>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/vendor/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.reveal.js}"></script>
<script th:src="@{/js/vendor/angular/angular.js}"></script>
<script th:src="@{/js/vendor/angular/angular-resource.min.js}"></script>
<script th:src="@{/js/vendor/angular/angular-sanitize.min.js}"></script>
<script th:src="@{/js/controllers/users.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
