<!DOCTYPE html>
<html>
<head th:include="fragments/header" th:remove="tag"></head>
<body data-ng-app="irida">
<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag"></div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs left">
                <li><a href="/">Landing</a></li>
                <li><a href="/users">All Users</a></li>
                <li class="current"><a href="" th:text="${username}"></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="section-container tabs" data-section="tabs" data-ng-controller="UserCtrl" data-ng-init="init()">
                <section>
                    <p class="title" data-section-title=""><a href="#">Profile</a></p>

                    <div class="content" data-section-content="">
                        <h1 id="username" th:text="${username}"></h1>
                        <span>{{user.firstName}}</span>
                        <span>{{user.lastName}}</span>

                        <div class="projects">
                            <h3>Projects</h3>
                            <ul data-ng-repeat="project in projects">
                                <li><a data-ng-href="{{project.links[0].href}}">{{project.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title=""><a href="#">Edit</a></p>
                    <div class="content" data-section-content="">
                        <form name="newUserForm">
                            <div class="row" novalidated="true">
                                <div class="large-12 columns" data-ng-class="{error: errors.username || userForm.username.$dirty &amp;&amp; userForm.username.$invalid}">
                                    <label class="control-label" for="username" th:text="#{user.username}">Username</label>
                                    <input name="username" data-ng-model="user.username" type="text" required="required"/>
                                    <small data-ng-show="errors.username" data-ng-bind-html-unsafe="errors.username"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 columns" data-ng-class="{error: errors.firstName || userForm.firstName.$dirty &amp;&amp; userForm.firstName.$invalid}">
                                    <label class="control-label" for="firstName" th:text="#{user.firstName}">First Name</label>
                                    <input name="firstName" data-ng-model="user.firstName" type="text" required="required"/>
                                    <small data-ng-show="errors.firstName" data-ng-bind-html-unsafe="errors.firstName"></small>
                                </div>

                                <div class="large-6 columns" data-ng-class="{error: errors.lastName || userForm.lastName.$dirty &amp;&amp; userForm.lastName.$invalid}">
                                    <label class="control-label" for="lastName" th:text="#{user.lastName}">Last Name</label>
                                    <input name="lastName" data-ng-model="user.lastName" type="text" required="required"/>
                                    <small data-ng-show="errors.lastName" data-ng-bind-html-unsafe="errors.lastName"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 columns" data-ng-class="{error: errors.email || userForm.email.$dirty &amp;&amp; userForm.email.$invalid}">
                                    <label class="control-label" for="email" th:text="#{user.email}">Email</label>
                                    <input name="email" data-ng-model="user.email" type="email" required="required"/>
                                    <small data-ng-show="errors.email" data-ng-bind-html-unsafe="errors.email"></small>
                                </div>

                                <div class="large-6 columns" data-ng-class="{error: errors.phoneNumber || userForm.phoneNumber.$dirty &amp;&amp; userForm.phoneNumber.$invalid}">
                                    <label class="control-label" for="phoneNumber" th:text="#{user.phoneNumber}">Phone
                                        Number</label>
                                    <input name="password" data-ng-model="user.phoneNumber" type="tel" required="required"/>
                                    <small data-ng-show="errors.phoneNumber" data-ng-bind-html-unsafe="errors.phoneNumber"></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/angular/angular.min.js}"></script>
<script th:src="@{/js/vendor/angular/angular-resource.min.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.section.js}"></script>
<script th:src="@{/js/vendor/foundation/foundation.topbar.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/controllers/singleUserCtrl.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
