<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="#{analysis.page.admin.title}">THIS IS SOMETHING
        WRONG</title>
    <link href="/resources/wet-theme/css/wet-boew.min.css"/>
    <link href="/resources/wet-theme/css/theme.min.css"/>
    <link href="/resources/bower_components/Font-Awesome/css/font-awesome.min.css"/>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/resources/bower_components/angular-busy/angular-busy.css}"
              href="/resources/bower_components/angular-busy/angular-busy.css"/>
        <style>
            .ng-cloak {
                display: none !important;
            }
        </style>
    </th:block>
</head>
<body>
<div class="container" layout:fragment="content">
<div class="row">
    <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">MENU</div>
</div>
<div class="row">
<main class="col-md-12 ng-cloak" role="main"
      property="mainContentOfPage" ng-app="analysis">
<h1 th:text="#{analysis.page.admin.title}">HEY I'M A GLOBAL ANALYSIS PAGE</h1>

<div class="row" ng-controller="AnalysisTableCtrl as table">
<div class="col-md-12">
<div class="form-inline">
    <button id="filterBtn" class="btn btn-info"
            ng-click="table.filter.isCollapsed = !table.filter.isCollapsed"
            th:inline="text">
        <span class="fa fa-filter fa-fw"></span>
        [[#{analysis.btn.filter}]]
    </button>
    <div class="form-group">
        <select class="form-control" name="count" id="count" ng-model="table.filterCriteria.count"
                ng-change="table.filterResult()">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <label for="count" th:text="#{global.tables.select-page-size}">Select Page Size</label>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-md-2">
            <sort-by onsort="table.onSort" sortdir="table.filterCriteria.sortDir"
                     sortedby="table.filterCriteria.sortedBy"
                     sortValue="name" th:text="#{'analysis.table.name'}">Name
            </sort-by>
        </th>
        <th class="col-md-4">
            Analysis Type
        </th>
        <th class="col-md-2">
            <sort-by onsort="table.onSort" sortdir="table.filterCriteria.sortDir"
                     sortedby="table.filterCriteria.sortedBy"
                     sortValue="analysisState" th:text="#{'analysis.table.state'}">State
            </sort-by>
        </th>
        <th class="col-md-3">
            <sort-by onsort="table.onSort" sortdir="table.filterCriteria.sortDir"
                     sortedby="table.filterCriteria.sortedBy"
                     sortValue="createdDate" th:text="#{'analysis.table.date'}">Created
            </sort-by>
        </th>
        <th class="col-md-1"></th>
    </tr>
    <tr>
        <td>
            <div collapse="table.filter.isCollapsed">
                <input name="name-filter" type="text" class="form-control input-full"
                       ng-model="table.filterCriteria.name"/>
            </div>
        </td>
        <td>
            <div collapse="table.filter.isCollapsed">
                <p>Nothing HERE!</p>
            </div>
        </td>
        <td>
            <div collapse="table.filter.isCollapsed">
                <select name="state-filter" class="input-full form-control"
                        ng-model="table.filterCriteria.state"
                        ng-change="table.filterResult()"
                        ng-options="state.text for state in table.filter.states">
                    <option value="" th:text="#{analysis.select.all}">All</option>
                </select>
            </div>
        </td>
        <td>
            <div collapse="table.filter.isCollapsed">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" disabled="disabled" class="form-control"
                                   th:placeholder="#{form.placeholder.date.min}"
                                   th:attr="datepicker-popup=#{datepicker.short}"
                                   ng-model="table.filterCriteria.minDate"
                                   is-open="table.datepicker.min.opened"
                                   min-date="minDate" max-date="table.datepicker.maxDate"
                                   datepicker-options="dateOptions"
                                   ng-change="table.filterResult()"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="table.datepicker.min.open($event)"><span
                                            class="fa fa-calendar-o fa-fw"></span></button>
                                  </span>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-tp-sm">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" disabled="disabled" class="form-control"
                                   th:placeholder="#{form.placeholder.date.max}"
                                   placeholder="max"
                                   datepicker-popup="{{table.datepicker.format}}"
                                   ng-model="table.filterCriteria.maxDate"
                                   is-open="table.datepicker.max.opened"
                                   max-date="table.datepicker.maxDate"
                                   datepicker-options="dateOptions"
                                   ng-change="table.filterResult()"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="table.datepicker.max.open($event)"><span
                                            class="fa fa-calendar-o fa-fw"></span>
                                    </button>
                                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div collapse="table.filter.isCollapsed" class="text-right">
                <button id="clearFilterBtn" type="button" class="btn btn-default"
                        th:text="#{form.btn.clear}" ng-click="table.clearFilter()">Clear
                </button>
            </div>
        </td>
    </tr>
    </thead>
    <tbody cg-busy="filterPromise">
    <tr class="analysis-row" ng-repeat="a in table.analysis">
        <td>{{a.name}}</td>
        <td>{{a.type}}</td>
        <td>
            <div class="label {{a.status | stateToClass}}">
                {{a.status | stateToText}}
            </div>
        </td>
        <td th:inline="text">
            <span class="fa fa-calendar-o fa-fw"></span> {{a.createdDate |
            date:'[[#{datepicker.short}]]'}}&nbsp;&nbsp;
            <span class="fa fa-clock-o fa-fw"></span> {{a.createdDate | date:'shortTime'}}
        </td>
        <td class="text-right">
            <!-- TODO: Make as directive -->
            <div class="btn-group" ng-show="a.status == 'COMPLETED'"
                 ng-controller="FigtreeModalCtrl as figtree">
                <button class="btn btn-default btn-xs"
                        th:attr="tooltip=#{form.preview}"
                        ng-show="a.typeId =='1'"
                        ng-click="figtree.open(a)"><span
                        class="fa fa-eye fa-fw"></span>
                </button>
                <a class="btn btn-default btn-xs" ng-href="{{table.url}}/download/{{a.id}}" href="#"
                   th:attr="tooltip=#{form.download-files}">
                    <span class="fa fa-download fa-fw"></span>
                    <span class="sr-only" th:text="#{form.download-files}">Download Files</span>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <pagination ng-hide="table.paging.totalPages &lt; 2"
                items-per-page="table.filterCriteria.count"
                total-items="table.paging.totalAnalysis"
                ng-model="table.paging.page" first-text="&laquo;"
                last-text="&raquo;"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"></pagination>
</div>
<div id="phyloCanvas"></div>
<script type="text/ng-template" id="sort-by.html">
    <a class="clickable" ng-click="sort(sortValue)">
        <span ng-transclude=""></span>
                            <span class="pull-right" ng-show="sortedby == sortvalue">
                                <i class="fa fa-fw"
                                   ng-class="{true: 'fa-sort-asc', false: 'fa-sort-desc'}[sortdir == 'asc']"></i>
                            </span>
                            <span class="pull-right" ng-show="sortedby != sortvalue">
                                <i class="fa fa-sort fa-fw"></i>
                            </span>
    </a>
</script>
<script type="text/ng-template" id="download-analysis.html">
    <button class="btn btn-default" th:attr="tooltip=#{form.download-files}" ng-click="download()">
        <span class="fa fa-fw fa-download"></span>
        <span class="sr-only" th:text="#{form.download-files}">Download Files</span>
    </button>
</script>
<script type="text/ng-template" id="figtreeModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span
                aria-hidden="true">&times;</span><span
                class="sr-only" th:text="#{form.btn.close}">Close</span></button>
        <h3 class="modal-title">{{analysis.name}}</h3>
    </div>
    <div class="modal-body" cg-busy="loadingTree">
        <div class="btn-toolbar btn-xs pull-right">
            <div class="btn-group">
                <button class="btn btn-default" th:attr="tooltip=#{form.save.image}" ng-click="save()">
                    <span class="fa fa-fw fa-save"></span>
                    <span class="sr-only" th:text="#{form.save.image}">Save Image</span>
                </button>
                <a class="btn btn-default" ng-href="{{url}}download/{{analysis.id}}" href="#"
                   th:attr="tooltip=#{form.download-files}">
                    <span class="fa fa-download fa-fw"></span>
                    <span class="sr-only" th:text="#{form.download-files}">Download Files</span>
                </a>
            </div>
        </div>
        <div id="phyloSVG"></div>
    </div>
</script>
</div>
</div>
</main>
</div>
</div>
<th:block layout:fragment="scripts" th:inline="javascript">

<script th:src="@{'/resources/bower_components/lodash/dist/lodash.underscore.min.js'}"
        src="/resources/bower_components/lodash/dist/lodash.underscore.min.js"></script>
<script th:src="@{'/resources/bower_components/angular/angular.min.js'}"
        src="/resources/bower_components/angular/angular.min.js"></script>
<script th:src="@{'/resources/bower_components/restangular/dist/restangular.min.js'}"
        src="/resources/bower_components/restangular/dist/restangular.min.js"></script>
<script th:src="@{'/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'}"
        src="/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script th:src="@{/resources/bower_components/angular-busy/angular-busy.js}"
        src="/resources/bower_components/angular-busy/angular-busy.js"></script>
<script th:src="@{/resources/bower_components/raphael/raphael-min.js}"
        src="/resources/bower_components/raphael/raphael-min.js"></script>
<script th:src="@{/resources/js/jsphylosvg-min.js}" src="/resources/js/jsphylosvg-min.js"></script>

<script>
/*<![CDATA[*/

/*[- */
// These are the for submission states
// "class" is the css class for displaying the label (e.g. 'info' will be converted to 'label-info')
/* -]*/
var states = {
    'NEW': {
        class: 'info',
        text: /*[[#{analysis.state.new}]]*/'new'
    },
    'PREPARING': {
        class: 'info',
        text: /*[[#{analysis.state.preparing}]]*/ 'preparing'
    },
    'SUBMITTING': {
        class: 'info',
        text: /*[[#{analysis.state.submitted}]]*/ 'submitted'
    },
    'RUNNING': {
        class: 'primary',
        text: /*[[#{analysis.state.running}]]*/'running'
    },
    'FINISHED_RUNNING': {
        class: 'default',
        text: /*[[#{analysis.state.finished}]]*/ 'finished running'
    },
    'COMPLETED': {
        class: 'success',
        text: /*[[#{analysis.state.completed}]]*/ 'completed'
    },
    'ERROR': {
        class: 'danger',
        text: /*[[#{analysis.state.error}]]*/'error'
    }
};

var app = angular.module('analysis', ['cgBusy', 'restangular', 'ui.bootstrap'])
    /*[- */
    // Restangular (https://github.com/mgonto/restangular) is an AngularJS service that simplifies
    // common GET, POST, DELETE, and UPDATE requests with a minimum of client code. It's a perfect
    // fit for any WebApp that consumes data from a RESTful API.
    // Here we are setting the base url for all requests on this page.
    /* -]*/
        .config(function (RestangularProvider) {
            var url = /*[[@{'/analysis/ajax'}]]*/ '/analysis/ajax';
            RestangularProvider.setBaseUrl(url);
        })
    /*[- */
    // cgBusyDefaults (https://github.com/cgross/angular-busy) show busy/loading indicators on any
    // $http or $resource request, or on any promise
    /* -]*/
        .value('cgBusyDefaults', {
            message: /*[[#{analysis.table.filtering}]]*/ 'Loading Stuff',
            backdrop: false,
            templateUrl: /*[[@{/resources/bower_components/angular-busy/angular-busy.html}]]*/ 'my_custom_template.html',
            delay: 300,
            minDuration: 700
        })
        .value('baseUrl',
        /*[[@{/analysis/ajax/}]]*/ '/analysis/ajax'
)
        .factory('api', function (Restangular) {
            return {
                analysis: {
                    search: function search(query) {
                        return Restangular.all('all').customGET("", query);
                    }
                },
                figtree: function (query) {
                    return Restangular.all('figtree').customGET("", query);
                }
            }
        });
/*[- */
// Filters are used on ng-models.  The value of the model is passed throug the filter before being
// displayed.  (e.g. {{'NEW' | stateToClass}} returns 'label-info'
/* -]*/
app.filter('stateToClass', function () {
    'use strict';
    return function (state) {
        return 'label-' + states[state]['class'];
    }
}).filter('stateToText', function () {
    "use strict";
    return function (state) {
        return states[state]['text'];
    }
});

/*[- */
// Directive for sorting columns in the table.  This is responsible for adding the the direction arrows,
// And triggering the sort event for the server.
/* -]*/
app.directive('sortBy', function () {
    'use strict';
    return {
        templateUrl: 'sort-by.html',
        restrict: 'E',
        transclude: true,
        replace: true,
        scope: {
            sortdir: '=',
            sortedby: '=',
            sortvalue: '@',
            onsort: '='
        },
        link: function (scope, elements, attrs) {
            scope.sort = function () {
                if (scope.sortedby == scope.sortvalue) {
                    scope.sortdir = scope.sortdir == 'asc' ? 'desc' : 'asc';
                }
                else {
                    scope.sortedby = scope.sortvalue;
                    scope.sortdir = 'asc'
                }
                scope.onsort(scope.sortedby, scope.sortdir);
            }
        }
    };
});

app.controller('FigtreeModalCtrl', function ($scope, $modal, $log) {
    'use strict';
    var tree = this;

    tree.open = function (analysis) {
        var modalInstance = $modal.open({
            // TODO: (14-09-05 - Josh) Load this via ajax when called then cache.
            templateUrl: 'figtreeModal.html',
            controller: PhyloSVGCtrl,
            size: 'lg',
            resolve: {
                analysis: function () {
                    return analysis;
                }
            }
        });
    }
});

app.controller('AnalysisTableCtrl', function ($scope, $sce, api, baseUrl) {
    'use strict';
    var table = this;
    table.url = baseUrl;

    /*[- */
    // filter: used to control the filter section of the page.
    //  - isCollapsed = whether the filter is open on the screen (initially closed)
    //  - states = populates the states select.
    /* -]*/
    table.filter = {
        isCollapsed: true,
        states: _.map(states, function (v, k) {
            return {text: v.text, value: k};
        })
    };

    /*[- */
    // datepicker: used to handle information for the date pickers in the filter
    //  - min = minimum date to show results for
    //  - max = maximum date to show results for
    /* -]*/
    table.datepicker = {
        min: {
            open: function open($event) {
                $event.preventDefault();
                $event.stopPropagation();
                table.datepicker.min.opened = true;
            }
        },
        max: {
            open: function open($event) {
                $event.preventDefault();
                $event.stopPropagation();
                table.datepicker.max.opened = true;
            }
        },
        maxDate: new Date() // Max date should always be today!
    };

    /*[- */
    // paging: handle all things to do with the paging of the table.
    //  - page = the current page being displayed.
    //  - totalAnalysis = the total number of analysis available in the system
    //  - totalPages = the total number of pages (totalAnalysis / num per page)
    /* -]*/
    table.paging = {
        page: 1,
        totalAnalysis: 1,
        totalPages: 1
    };

    /*[- */
    // defaultCriteria: these are the defaults for creating the table
    /* -]*/
    var defaultCriteria = {
        page: 0,
        sortDir: 'desc',
        sortedBy: 'createdDate',
        count: 10
    };
    /*[- */
    // filterCriteria: this is passed to the server on each page request.
    //  - initially a copy of the defaultCriteria
    /* -]*/
    table.filterCriteria = _.clone(defaultCriteria);

    /*[- */
    // This uses Restangular to call the server with the filterCriteria.
    // When the ajax call is complete the table is recreated.
    /* -]*/
    table.fetchResult = function () {
        table.filterPromise = api.analysis.search(table.filterCriteria);

        return table.filterPromise.then(function (data) {
            if (data.hasOwnProperty('analysis')) {
                table.analysis = data.analysis;
                table.paging.totalAnalysis = data.totalAnalysis;
                table.paging.totalPages = data.totalPages;
            } else {
                // Normally will only hit on bad credentials.
                window.location = window.location;
            }
        }, function () {
            table.analysis = [];
        });
    };

    /*[- */
    // filterResult
    //  - Called when filtering data.
    /* -]*/
    table.filterResult = function () {
        table.filterCriteria.page = 0;
        table.fetchResult().then(function () {
            table.paging.page = 1;
        });
    };

    /*[- */
    // clearFilter
    //  Clears all the filters and closes the filter area.
    /* -]*/
    table.clearFilter = function () {
        table.filterCriteria = _.clone(defaultCriteria);
        table.filterResult();
        table.filter.isCollapsed = true;
    };

    /*[- */
    // onSort
    //
    /* -]*/
    table.onSort = function (sortedBy, sortDir) {
        table.filterCriteria.sortedBy = sortedBy;
        table.filterCriteria.sortDir = sortDir;
        table.filterCriteria.page = 1;
        table.fetchResult().then(function () {
            table.filterCriteria.page = 0;
        });
    };

    /*[- */
    // Watches watch for a change in the first parameter then call second parameter when they change
    /* -]*/

    /*[- */
    // This watch occurs when a different page is select.  Triggers a server call with the new page.
    /* -]*/
    $scope.$watch('table.paging.page', function () {
        table.filterCriteria.page = table.paging.page - 1;
        table.fetchResult();
    });

    /*[- */
    // This watch occurs when the name is filtered.
    //  'debounce' whats for the given time before calling.  This allows the user to enter
    //  multiple characters without triggering for each one.
    /* -]*/
    $scope.$watch("table.filterCriteria.name", _.debounce(function (n, o) {
        if (n != o) {
            table.fetchResult().then(function () {
                table.paging.page = 1;
            });
        }
    }, 500));
});

function PhyloSVGCtrl($scope, $modalInstance, $log, api, baseUrl, analysis) {
    'use strict';
    var phylo;

    $scope.url = baseUrl;
    $scope.analysis = analysis;
    $scope.close = function () {
        $modalInstance.close();
    };

    $modalInstance.opened.then(function () {
        $scope.loadingTree = api.figtree({'analysisId': analysis.id});

        return $scope.loadingTree.then(function (treeData) {
            phylo = new Smits.PhyloCanvas({'newick': treeData.data}, 'phyloSVG', 850, 700, 'circular');
        });
    });

    $scope.save = function () {
        var svgSource = phylo.getSvgSource();
        var a = document.createElement('a');
        a.download = analysis.name + ".svg";
        a.href = "data:image/svg+xml," + svgSource;
        a.click();
    };


    $modalInstance.result.then(function () {
        // This is called when the modal is closes
        $log.info("Hey I am here now.");
        phylo.clear();
    }, function () {
        // Called when modal is dismissed.
        $log.info('Modal dismissed at: ' + new Date());
    });
}
;
/*]]>*/
</script>
</th:block>
</body>
</html>