<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page"
      ddl:asset-css-excludes="jquery.datatables">
<head>
    <title th:text="#{analyses.user.page-title}">_Analyses_</title>
</head>
<body>
<div layout:fragment="page">
	<h1 th:text="#{${userList} ? 'analyses.user.page-title' : 'analyses.admin.page-title'}">_Analyses_</h1>
	<th:block th:replace="analysis/analysis-table :: analysis-table"/>
</div>
</body>
</html>
