<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page"
      ddl:bundle-includes="analyses-dev"
      ddl:asset-css-excludes="datatables">
<head>
    <title>_Analyses_</title>
</head>
<body>
<div layout:fragment="page">
    <h1 th:text="#{${userList} ? 'analyses.user.page-title' : 'analyses.admin.page-title'}">_Analyses_</h1>

    <div dt:conf="analysisTable">
      <div dt:confType="extrajs" dt:bundles="analysis-table" dt:placeholder="before_end_document_ready" />
      <div dt:confType="extrahtml" dt:uid="0">
				<div class="btn-toolbar pull-right" style="padding-left: 9px;">
          <button id="openFilterModal" class="btn btn-sm btn-default" data-toggle="modal" data-target="#filterModal" th:text="#{analysis.filter.title}">
            _Advanced Filter_
          </button>
					<button id="clearFilterBtn" class="btn btn-sm btn-inverse" th:text="#{form.btn.clear}">_Clear_</button>
				</div>
			</div>
      <div dt:confType="extrahtml" dt:uid="1">
				<div class="col-md-12 text-right">
					<span id="nameFilterClear" th:title="#{analysis.filter.remove}" class="label label-default hidden"><span th:text="#{analyses.analysis-name}">Name_</span>: <em id="nameFilterPreview"></em>&nbsp;</span>
          <span id="analysisStateFilterClear" th:title="#{analysis.filter.remove}" class="label label-default hidden"><span th:text="#{analyses.state}">_State_</span>: <em id="analysisStateFilterPreview"></em>&nbsp;</span>
          <span id="workflowIdFilterClear" th:title="#{analysis.filter.remove}" class="label label-default hidden"><span th:text="#{analyses.type}">_Workflow_</span>: <em id="workflowIdFilterPreview"></em>&nbsp;</span>
				</div>
			</div>
    </div>
    <table id="analysisTable" dt:table="true" dt:url="@{${ajaxURL}}" dt:filterPlaceholder="none">
        <thead>
        <tr>
            <th dt:property="analysisState" dt:renderFunction="analyses-dev#analysesTable.displayProgress" th:text="#{analyses.state}">_State_</th>
            <th dt:property="name" dt:renderFunction="analyses-dev#analysesTable.createLinkButton" th:text="#{analyses.analysis-name}">_Name_</th>
            <th dt:property="workflowId" th:text="#{analyses.type}">_Workflow_</th>
            <th dt:property="submitter.label" dt:sortable="false" th:text="#{analyses.submitter}">_Submitter_</th>
            <th dt:property="createdDate" width="150px" dt:sortType="natural"
                dt:renderFunction="datatables-utils#datatable.formatDate" th:text="#{analysis.date-created}">_Created Date_</th>
            <th dt:property="duration" dt:sortable="false" dt:renderFunction="analyses-dev#analysesTable.getHumanTime" th:text="#{analysis.duration}">_Duration_</th>
            <th width="40px" dt:sortable="false" dt:renderFunction="analyses-dev#analysesTable.downloadLink"></th>

        </tr>
        </thead>
    </table>
</div>


<th:block layout:fragment="page-scripts">
  <div class="modal fade" id="filterModal" role="dialog" aria-labelledby="#filterTitle">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="filterTitle" th:text="#{analysis.filter.title}">_Advanced Analysis Filters_</h4>
				</div>
				<div class="modal-body">
					<form id="filterForm" name="filterForm">
						<div class="form-group">
							<label th:text="#{analysis.filter.name}">_name_</label>
							<input autofocus="autofocus" type="text" id="nameFilter" name="name" class="form-control"/>
						</div>
						<div class="form-group">
							<label th:text="#{analysis.filter.state}">_Analysis State_</label>
							<select id="analysisStateFilter" name="analysisState" class="form-control">
                <option value="" th:text="#{analysis.filter.select.all}">_Select_</option>
                <option th:each="state : ${states}" th:value="${state}"
  							        th:text="#{'analysis.state.' + ${state}}"></option>
              </select>
						</div>
            <div class="form-group">
							<label th:text="#{analyses.type}">_Workflows_</label>
							<select id="workflowIdFilter" name="workflowId" class="form-control">
                <option value="" th:text="#{analysis.filter.select.all}">_Select_</option>
                <option th:each="workflow : ${analysisTypes}" th:value="${workflow}"
  							        th:text="#{'workflow.' + ${workflow} + '.title'}"></option>
              </select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button tabindex="-1" type="button" class="btn btn-default" data-dismiss="modal" th:text="#{form.btn.close}"></button>
					<button id="filterAnalysesBtn" type="submit" class="btn btn-primary" data-dismiss="modal" th:text="#{analysis.filter.button}">_Filter_</button>
				</div>
			</div>
		</div>
	</div>
  <script th:inline="javascript">
		var PAGE = {
			"URLS": {
				"download": /*[[@{/analysis/ajax/download/}]]*/ "/analysis/ajax/download/"
			}
		};
	</script>
</th:block>
</body>
</html>
