<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head lang="en">
	<meta charset="UTF-8"/>
	<title th:text="#{analyses.user.page-title}">My Title Goes Here</title>
	<link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}"/>
	<link rel="stylesheet" href="/resources/css/pages/analyses.css" th:href="@{/resources/css/pages/analyses.css}"/>
	<script>window.dependencies = ['irida.analysis.user'];</script>
</head>
<body>
<div layout:fragment="page">
	<div class="main-container">
		<aside class="sidenav" ng-controller="filterController as filter">
			<div class="sidenav__inner--fixed sidebar">
				<div class="sidebar__heading">
					<h2>
						<span th:text="#{form.filter}">Filter</span>
						<button id="filter-clear" class="pull-right btn btn-default btn-sm" ng-click="filter.clear()"
						        th:text="#{form.btn.clear}">Clear
						</button>
					</h2>
				</div>
				<div class="sidebar__body">
					<div class="form-group">
						<label class="sidenav__label" th:text="#{analysis.filter.name}">Name</label> <input
						id="filter-name"
						class="form-control input-full" type="search"
						ng-model="filter.search"
						ng-model-options="{ debounce: 350 }" ng-change="filter.doSearch()"/>
					</div>
					<div class="form-group">
						<label class="sidenav__label" th:text="#{analysis.filter.state}">State</label>
						<select class="form-control input-full" id="filter-state" ng-model="filter.state"
						        ng-change="filter.doState()">
							<option value="ALL" selected="selected" th:text="#{analysis.select.all}"></option>
							<option th:each="state : ${states}" th:value="${state}"
							        th:text="#{'analysis.state.' + ${state}}"></option>
						</select>
					</div>
					<div class="form-group">
						<label class="sidenav__label" th:text="#{analysis.filter.date-earliest}">Earliest Date</label>
						<div class="input-group">
							<input id="filter-date-early" type="text" class="form-control" th:attr="datepicker-popup=#{datepicker.short}, close-text=#{datepicker.close}, current-text=#{datepicker.current}, clear=#{datepicker.clear}"
							       ng-model="filter.minDate" is-open="filter.opened.minDate"
							       max-date="filter.max" ng-change="filter.doDateFilter('minDate')"/>
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="filter.open($event, 'minDate')"><i
				                class="fa fa-calendar-o fa-lg"></i></button>
			              </span>
						</div>
						<label class="sidenav__label" th:text="#{analysis.filter.date-latest}">Latest Date</label>
						<div class="input-group">
							<input id="filter-date-late" type="text" class="form-control" th:attr="datepicker-popup=#{datepicker.short}"
							       ng-model="filter.maxDate" is-open="filter.opened.maxDate"
							       max-date="filter.max" close-text="Close" ng-change="filter.doDateFilter('maxDate')"/>
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="filter.open($event, 'maxDate')"><i
				                class="fa fa-calendar-o fa-lg"></i></button>
			              </span>
						</div>
					</div>
				</div>
			</div>
		</aside>
		<div class="content ng-cloak" ng-controller="analysisController as ctrl">
			<ul class="boards">
				<li class="board" ng-repeat="analysis in ctrl.analyses | analysesFilter | orderBy:'createdDate':true">
					<div class="button board_inner row">
						<div ng-class="'analysis__state--' + analysis.analysisState" class="analysis__state col-md-2">
							<div class="board_detail--value">{{::analysis.state}}</div>
							<div class="board_detail--desc" th:text="#{analyses.state}">State</div>
						</div>
						<div class="col-md-5">
							<div class="board_detail--value">{{analysis.label}}</div>
							<div class="board_detail--desc" th:text="#{analyses.analysis-name}">Analysis Name</div>
						</div>
						<div class="col-md-4">
							<div class="board_detail--value">{{::analysis.createdDate | date:'medium'}}</div>
							<div class="board_detail--desc" th:text="#{analysis.date-created}">Date Created</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<th:block layout:fragment="page-scripts">
	<script src="/resources/js/pages/analyses/analyses_user.js"
	        th:src="@{/resources/js/pages/analyses/analyses_user.js}"></script>
</th:block>
</body>
</html>