<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <h1 id="banner" th:text="#{login.title}">_Login to IRIDA REST API_</h1>  
        <form name="f" th:action="@{/api/login.do}" method="POST">
            <table>
                <tr>
                    <td th:text="#{login.username}">_User name:_</td>
                    <td><input type='text' name='username' /></td>
                </tr>
                <tr>
                    <td th:text="#{login.password}">_Password:_</td>
                    <td><input type='password' name='password'/></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan='2'>
                    	<input name="submit" type="submit" th:value="#{global.submit}" value="_Submit_"/> 
                    	<input name="reset" type="reset"  th:value="#{global.reset}" value="_Reset_"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>