<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template/page" ddl:bundle-includes="dashboard">

<head>
  <title th:text="#{dashboard.title}">THIS IS SOMETHING WRONG</title>
  <script>window.dependencies = ['irida.dashboard'];</script>
</head>

<body>
<div class="row" layout:fragment="page">
  <div th:if="${updates}" class="col-md-6 col-md-push-6 col-sm-12" ng-controller="updateController as updateCtrl">
    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 th:text="#{updates.title}">_UPDATES_</h4>
      </div>
      <div class="panel-body" ng-show="updateCtrl.content">
        <div class="updates-content" marked="updateCtrl.content"></div>
      </div>
    </section>
  </div>
  <div class="col-md-6 col-sm-12 col-md-pull-6">
    <section class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h4 class="pull-left" th:text="#{event.title}">_Recent Activities_</h4>

        <div class="btn-group pull-right">
          <a class="btn btn-primary btn-sm" th:href="@{/events/admin}" sec:authorize="hasRole('ROLE_ADMIN')"
             th:text="#{event.admin.link}">_All Projects_
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="size" th:text="#{event.size}">_Activities to show:_</label>
          <select style="width:100px;" id="size" class="form-control event-count">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div id="events"></div>
      </div>
    </section>
  </div>
</div>
  <th:block layout:fragment="page-scripts">
    <script th:inline="javascript">
      var PAGE = {
          urls: {
              events: /*[[@{/events/current_user}]]*/ '/events/current_user'
          },
          updates: /*[[${updates}]]*/ '## Nothing Here!'
      };
    </script>
  </th:block>
</body>

</html>
