<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>DASHBOARD</title>
    <script data-main="scripts/main.js" src="../bower_components/requirejs/require.js"></script>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <!-- endbuild -->
</head>
<body>
<div class="row">

    <div class="col-lg-12">
        <h1 id="title" th:text="#{dashboard.welcome}">Hello Jello</h1>
        <h2 th:text="${hello}">BOB</h2>
        <a id="logout_btn" class="btn" href="/logout">Logout</a>
    </div>
    <div ng-view=""></div>
</div>

</body>
</html>
