<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template/page">

<head>
  <title th:text="#{dashboard.title}">THIS IS SOMETHING WRONG</title>
  <script th:inline="javascript">
    var PAGE = {
      updates: /*[[${updates}]]*/ '## Nothing Here!'
    };
    window.dependencies = ['irida.dashboard'];
  </script>
</head>

<body>
<div class="row" layout:fragment="page" ddl:bundle-includes="dashboard">
  <div th:if="${updates}" class="col-md-5 col-md-push-7 col-sm-12" ng-controller="updateController as updateCtrl">
    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 th:text="#{updates.title}">_UPDATES_</h4>
      </div>
      <div class="panel-body" ng-show="updateCtrl.content">
        <div class="updates-content" marked="updateCtrl.content"></div>
      </div>
    </section>
  </div>
  <div th:attr="class=${updates} ? 'col-md-7 col-sm-12 col-md-pull-5' : ''" class="col-md-6 col-sm-12 col-md-pull-5">
    <section class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h4 class="pull-left" th:text="#{event.title}">_Recent Activities_</h4>

        <div class="btn-group pull-right">
          <a class="btn btn-primary btn-sm" th:href="@{/events/admin}" sec:authorize="hasRole('ROLE_ADMIN')"
             th:text="#{event.admin.link}">_All Projects_
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
            <events data:url="@{/events/current_user}"></events>
            </div>
      </div>
    </section>

  </div>
  <div th:attr="class=${updates} ? 'col-md-5 col-sm-12 col-md-pull-5 ' : ''" class="col-md-4 col-sm-12">
    <section class="panel panel-info">
      <div class="panel-heading clearfix">
        <h4 class="pull-left" th:text="#{announcement.title}">_New Announcements_</h4>
        <div class="btn-group pull-right">
          <a class="btn btn-info btn-sm" th:text="#{announcement.view_all}">_All Announcements_</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <events data:url="@{/announcements}"></events>
        </div>
      </div>
    </section>
  </div>
</div>
</body>

</html>
