<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="login.page.title">LOGIN</title>
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <!-- endbuild -->

    <style>
        .ng-cloak {
            display: none !important;
        }
        .btn {
            margin-bottom: 1em;
        }
    </style>
</head>
<body ng-app="irida.login">

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 panel panel-primary" ng-controller="LoginCtrl">
            <h1 id="title" th:text="#{irida.welcome}">HELLO JELLO</h1>

            <form class="form-signin" method="post" action="/login">
                <h3 class="muted form-signin-heading">Please sign in</h3>

                <div class="form-group" ng-class="{'has-error': ctrl.error}">
                    <label class="control-label" for="username">Email Address</label>
                    <input id="username" ng-model="username" type="text" class="form-control" placeholder="User name"
                           name="username"/>
                </div>
                <div class="form-group" ng-class="{'has-error': ctrl.error}">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" ng-model="password" type="password" class="form-control" placeholder="Password"
                           name="password"/></div>
                <button class="btn btn-success btn-block" type="submit">Sign in</button>
                <div class="ng-cloak alert alert-danger" ng-show="error">Incorrect Email or Password</div>
            </form>
        </div>
    </div>
</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script>
    angular.module('irida.login', [])
            .controller('LoginCtrl', ['$scope', '$location', function ($scope, $location) {
                'use strict';

                $scope.error = false;
                if ($location.absUrl().search('error') > -1) {
                    $scope.error = true;
                }
            }]);
</script>

</body>
</html>
