<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
  <head>
    <title th:text="#{login.title}">THIS IS SOMETHING WRONG</title>
    <script th:inline="javascript">
      window.PAGE = {
        BASE_URL: /*[[@{/}]]*/ "/",
        hasErrors: /*[[${error}]]*/ false,
        emailConfigured: /*[[${emailConfigured}]]*/ false
      };
    </script>
    <link rel="stylesheet" th:href="@{/dist/css/login.bundle.css}">
    <style>
      body {
        display: flex;
        height: 100vh;
        border: 10px solid chartreuse;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
  <div id="login-root" style="width: 100%;"></div>

  <script th:src="@{/dist/js/login.bundle.js}"></script>
  </body>
</html>
