<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="${project.label}">THIS IS SOMETHING WRONG</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">MENU</div>
    </div>
    <div class="row">
        <div class="col-md-12"><h1 id="wb-cont" property="name" th:text="${project.label}">__PROJECT_NAME__</h1>
        </div>
    </div>
    <div class="row">
        <main class="col-md-9 col-md-push-3" role="main" property="mainContentOfPage">
            <h3>This is where the project recent activities will go.</h3>
        </main>
        <div class="col-md-3 col-md-pull-9 visible-md visible-lg">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b class="panel-title" th:text="#{project.details}">Project Details</b>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked" th:inline="text">
                        <li th:if="${project.organism}"><span class="glyphicon glyphicon-leaf"></span>&nbsp;[[#{project.organism}]]<span
                                class="pull-right" id="project-organism"><i th:text="${project.organism}"></i></span>
                        </li>
                        <li><span class="glyphicon glyphicon-tower"></span>&nbsp;[[#{project.owner}]]<span
                                class="pull-right" id="project-owner"
                                th:text="${owner.label}">__DATE_CREATED__</span>
                        </li>
                        <li><span class="glyphicon glyphicon-calendar"></span>&nbsp;[[#{project.created}]]<span
                                class="pull-right" id="project-created"
                                th:text="${#calendars.format(project.timestamp, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                        </li>
                        <li><span class="glyphicon glyphicon-calendar"></span>&nbsp;[[#{project.modified}]]<span
                                class="pull-right" id="project-modified"
                                th:text="${#calendars.format(project.modifiedDate, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                        </li>
                        <li><span class="glyphicon glyphicon-user"></span>&nbsp;[[#{project.collaborators}]]<span
                                class="pull-right" id="project-users"
                                th:text="${users}">__USERS__</span>
                        </li>
                        <li><span class="glyphicon glyphicon-file"></span>&nbsp;[[#{project.samples}]]<span
                                class="pull-right" id="project-samples"
                                th:text="${samples}">__SAMPLES__</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b class="panel-title" th:text="#{project.associated.title}">Associated Projects</b>
                </div>
                <div class="panel-body">
                    <div layout:replace="partials/associated-projects :: list (projects=${associatedProjects})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts" th:inline="javascript">
    <script>
        $(function() {
            $(".glyphicon-eye-open").qtip({
                content: {
                    text: /*[[#{project.associated.rights}]]*/ 'You can view this project.'
                },
                style: {
                    classes: "qtip-green"
                }
            });
            $(".glyphicon-lock").qtip({
                content: {
                    text: /*[[#{project.associated.norights}]]*/ 'You do not have authorization to view this project.'
                },
                style: {
                    classes: "qtip-red"
                }
            });
        });
    </script>
</div>
</body>
</html>