<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="${project.label}">THIS IS SOMETHING WRONG</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">MENU</div>
    </div>
    <div class="row naved-content">
        <main class="col-md-9 col-md-push-3" role="main" property="mainContentOfPage">
            <div class="row">
                <div class="col-md-9">
                    <h1 id="wb-cont" property="name" th:text="${project.label}">__PROJECT_NAME__</h1>
                </div>
                <div class="col-md-3" th:inline="text">
                    <ul class="nav nav-pills nav-stacked">
                        <li th:if="${project.organism}"><span class="glyphicon glyphicon-leaf"></span>&nbsp;[[#{project.organism}]]<span
                                class="pull-right" id="project-organism"><i th:text="${project.organism}"></i></span>
                        </li>
                        <li th:if="${owner} != null"><span class="glyphicon glyphicon-tower"></span>&nbsp;[[#{project.owner}]]<span
                                class="pull-right" id="project-owner"
                                th:text="${owner.label}">__DATE_CREATED__</span>
                        </li>
                        <li th:if="${project.timestamp}"><span class="glyphicon glyphicon-calendar"></span>&nbsp;[[#{project.created}]]<span
                                class="pull-right" id="project-created"
                                th:text="${#calendars.format(project.timestamp, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                        </li>
                        <li th:if="${project.modifiedDate}"><span class="glyphicon glyphicon-calendar"></span>&nbsp;[[#{project.modified}]]<span
                                class="pull-right" id="project-modified"
                                th:text="${#calendars.format(project.modifiedDate, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                        </li>
                    </ul>
                </div>
            </div>
            <h3>This is where the project recent activities will go.</h3>
        </main>
        <div class="col-md-3 col-md-pull-9 visible-md visible-lg">
            <div class="list-group">
                <a class="list-group-item active" href="#">Project Dashboard</a>
                <a class="list-group-item" th:href="@{__${#httpServletRequest.requestURI}__/samples}"><span
                        class="badge" th:text="${samples}"></span>Samples</a>
                <a class="list-group-item" th:href="@{__${#httpServletRequest.requestURI}__/collaborators}"><span
                        class="badge" th:text="${users}"></span>Collaborators</a>
                <a class="list-group-item" th:href="@{__${#httpServletRequest.requestURI}__/analysis}">Analysis</a>
            </div>
            <div class="list-group">
                <span class="list-group-item active" th:text="#{project.associated.title}">Associated Projects</span>

                <div layout:replace="partials/associated-projects :: list (projects=${associatedProjects})"></div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts" th:inline="javascript">
    <script>
        $(function () {
            $(".authorized").qtip({
                content: {
                    text: /*[[#{project.associated.rights}]]*/ 'You can view this project.'
                },
                position: {
                    at: 'bottom left',
                    adjust: {
                        x: 20
                    }
                },
                style: {
                    classes: "qtip-green"
                }
            });
            $(".unauthorized").qtip({
                content: {
                    text: /*[[#{project.associated.norights}]]*/ 'You do not have authorization to view this project.'
                },
                position: {
                    at: 'bottom left',
                    adjust: {
                        x: 20
                    }
                },
                style: {
                    classes: "qtip-red"
                }
            });
        });
    </script>
</div>
</body>
</html>