<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="#{projects.title}">THIS IS SOMETHING WRONG</title>
</head>
<body>
<main layout:fragment="content" class="container main-container" role="main" property="mainContentOfPage">
    <h1>Projects Page</h1>
    <table id="projectsTable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th th:text="#{projects.table.id}">ID</th>
            <th th:text="#{projects.table.role}">Role</th>
            <th th:text="#{projects.table.name}">Name</th>
            <th th:text="#{projects.table.samples}">Samples</th>
            <th th:text="#{projects.table.collaborators}">Collaborators</th>
            <th th:text="#{projects.table.created}">Date Created</th>
            <th th:text="#{projects.table.modified}">Modified Date</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</main>
<div layout:fragment="scripts" th:inline="javascript">
    <script src="/resources/wet-theme/js/deps/jquery.dataTables.min.js"></script>
    <script>    /*<![CDATA[*/
    $(document).ready(function () {
        $('#projectsTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: '/projects/ajax/list',
            stateSave: true,
            stateDuration: -1,
            columnDefs: [
                {
                    'render': function (data, type, row) {
                        if(data === 'PROJECT_OWNER') {
                            return '<span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;' + [[#{project.role.owner}]];
                        }
                        else {
                            return '<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;' + [[#{project.role.collaborator}]];
                        }
                    },
                    'targets': 1
                },
                {
                    'render': function (data, type, row) {
                        return '<a href="' + [[@{/projects/}]] + row[0] + '">' + data + '</a>';
                    },
                    'targets': 2
                }
            ]
        });
    });
    /*]]>*/</script>
</div>
</body>
</html>