<aside layout:fragment="aside">
	<div class="sidebar" th:object="${project}">
		<div class="sidebar__heading">
			<h2 th:text="#{project.details}">Project Details</h2>
		</div>
		<div class="sidebar__body">
			<div class="sidebar__item">
				<div class="sidebar__icon"><fa:icon type="id" fixed="" /></div>
				<div th:text="#{project.id}"></div>
				<div class="sidebar__value" th:text="*{id}"></div>
			</div>
			<div class="sidebar__item" th:if="${project.organism} != null">
				<div class="sidebar__icon"><fa:icon type="organism" fixed="" /></div>
				<div th:text="#{project.organism}"></div>
				<div class="sidebar__value" id="project-organism"><i th:text="*{organism}"></i></div>
			</div>
			<div class="sidebar__item">
				<div class="sidebar__icon"><fa:icon type="date" fixed="" /></div>
				<div th:text="#{project.created}"></div>
				<div class="sidebar__value" id="project-created" th:text="${#calendars.format(project.createdDate, 'dd MMM yyyy')}">__DATE_CREATED__</div>
			</div>
			<div class="sidebar__item" th:if="${project.modifiedDate} != null">
				<div class="sidebar__icon"><fa:icon type="date" fixed="" /></div>
				<div th:text="#{project.modified}"></div>
				<div class="sidebar__value" id="project-modified" th:text="${#calendars.format(project.modifiedDate, 'dd MMM yyyy')}"></div>
			</div>
		</div>
	</div>
</aside>
