<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div class="btn-toolbar" th:fragment="toolbar">

	<!-- PROJECTS TO DISPLAY -->
	<button id="display-projects-btn" class="btn btn-default btn-sm" th:text="#{project.samples.display.title}"
	        ng-click="samplesCtrl.displayProjectsModal()"></button>

	<!-- SAMPLE ACTIONS -->
	<div class="btn-group btn-group-sm">
		<button id="mergeBtn" class="btn btn-default" ng-disabled="samplesCtrl.disabled.lessThanTwo || samplesCtrl.disabled.otherProjects" ng-click="samplesCtrl.merge()">
			<i class="fa fa-compress fa-fw" aria-hidden="true"></i>
			<span th:text="#{project.samples.nav.merge}">Merge</span>
		</button>
		<button id="copyBtn" class="btn btn-default" ng-disabled="samplesCtrl.disabled.lessThanOne" ng-click="samplesCtrl.copy()">
			<i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
			<span th:text="#{project.samples.nav.copy}">_COPY_</span>
		</button>
		<button id="moveBtn" class="btn btn-default" ng-disabled="samplesCtrl.disabled.lessThanOne" ng-click="samplesCtrl.move()">
			<i class="fa fa-truck fa-fw" aria-hidden="true"></i>
			<span th:text="#{project.samples.nav.move}"></span>
		</button>
		<button id="removeBtn" class="btn btn-default" ng-disabled="samplesCtrl.disabled.lessThanOne || samplesCtrl.disabled.otherProjects" ng-click="samplesCtrl.delete()">
			<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
			<span th:text="#{project.samples.nav.remove}"></span>
		</button>
	</div>
	<div id="linker"></div>
	<!-- SAMPLE EXPORT -->
<!--	<div class="btn-group btn-group-sm" uib-dropdown="">-->
<!--		<button id="export-btn" class="btn btn-default" uib-dropdown-toggle=""-->
<!--		        ng-disabled="samplesCtrl.disabled.lessThanOne">-->
<!--			<span th:text="#{project.samples.export.label}">Export</span>-->
<!--			<i class="fa fa-caret-down" aria-hidden="true"></i>-->
<!--		</button>-->
<!--		<ul class="ng-cloak" uib-dropdown-menu="" role="menu" aria-labelledby="export-btn">-->
<!--			<li role="menuitem">-->
<!--				<a id="exportDownloadBtn" href="#">-->
<!--					<i class="fa fa-download fa-fw" aria-hidden="true"></i>-->
<!--					<span th:text="#{form.download}">_Download</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			&lt;!&ndash;TODO: Fix tooltip&ndash;&gt;-->
<!--			<li role="menuitem" th:if="${linkerAvailable}" ng-class="{disabled: ! subnav.localSelected}"-->
<!--			    ng-attr-uib-tooltip="{{subnav.showuib-tooltip()}}" uib-tooltip-append-to-body="true"-->
<!--			    uib-tooltip-placement="right">-->
<!--				<span id="linker"></span>-->
<!--&lt;!&ndash;				<a id="exportLinkerBtn" href="#" ng-click="subnav.export.linker()">&ndash;&gt;-->
<!--&lt;!&ndash;					<i class="fa fa-terminal fa-fw" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;					<span th:text="#{project.samples.export.linker}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;				</a>&ndash;&gt;-->
<!--			</li>-->
<!--			<li role="menuitem">-->
<!--				<a id="exportNcbiButton" href="#" ng-click="subnav.export.ncbi()">-->
<!--					<i class="fa fa-upload fa-fw" aria-hidden="true"></i>-->
<!--					<span th:text="#{project.samples.export.ncbi}">_Upload to NCBI_</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li role="menuitem" th:if="${galaxyCallback}">-->
<!--				<a href="#" ng-click="subnav.export.galaxy(); cart.show=false">-->
<!--					<i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i>-->
<!--					<span th:text="#{project.samples.export.galaxy}"></span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li role="separator" class="divider"></li>-->
<!--			<li role="menuitem">-->
<!--				<a href="">Excel</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--	</div>-->

	<!-- CART ACTIONS -->
	<div class="btn-group btn-group-sm">
		<button id="cart-add-btn"
		        class="btn btn-primary" ng-disabled="samplesCtrl.disabled.lessThanOne"
		        ng-click="samplesCtrl.addToCart()">
			<i class="fa fa-cart-plus fa-fw" aria-hidden="true"></i>
			<span th:text="#{project.samples.nav.add-to-cart}">Add to Cart></span>
		</button>
	</div>
</div>

<span th:fragment="filterButtons" class="btn-toolbar pull-right" style="padding-left: 9px;">
	<div class="btn-group btn-group-sm">
		<button id="filterByPropertyBtn" class="btn btn-default" ng-click="samplesCtrl.openFilter()"
		        th:text="#{projects.filter.btn}">
			Advanced Filter
		</button>
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-caret-down" aria-hidden="true"></i>
			 <span class="sr-only" th:text="#{sr.nav.toggle}">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
            <li><a href="#" th:text="#{project.sample.filterByFile}" ng-click="samplesCtrl.openFilterByFile()">Filter by File</a></li>
        </ul>
	</div>
	<button id="clearFilterBtn" class="btn btn-sm btn-inverse" th:text="#{projects.filter.clear}" ng-click="samplesCtrl.clearFilter()">Clear</button>
</span>
</body>
</html>