<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        ">

	<!-- Enable method-level security -->
	<sec:global-method-security
		pre-post-annotations="enabled">
		<sec:expression-handler ref="expressionHandler" />
	</sec:global-method-security>

	<!-- Passwords should be encoded using the BCrypt algorithm -->
	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider
			user-service-ref="userService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<!-- custom expression handler that uses our own permission evaluator -->
	<bean id="expressionHandler"
		class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<property name="permissionEvaluator" ref="permissionEvaluator" />
		<property name="roleHierarchy">
			<bean
				class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
				<property name="hierarchy">
					<value>
						ROLE_ADMIN > ROLE_USER
						ROLE_USER > ROLE_CLIENT
					</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="permissionEvaluator"
		class="ca.corefacility.bioinformatics.irida.security.permissions.evaluators.IridaPermissionEvaluator"
		init-method="init">
		<constructor-arg>
			<list>
				<bean
					class="ca.corefacility.bioinformatics.irida.security.permissions.evaluators.UpdateUserPermission" />
				<bean
					class="ca.corefacility.bioinformatics.irida.security.permissions.evaluators.ReadProjectPermission" />
			</list>
		</constructor-arg>
	</bean>
</beans>