<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <import resource="repositoriesContext.xml"/>
    
    <bean id="userService" class="ca.corefacility.bioinformatics.irida.service.impl.UserServiceImpl">
        <constructor-arg ref="userRepository" />
        <constructor-arg ref="validator" />
    </bean>
    
    <bean id="projectService" class="ca.corefacility.bioinformatics.irida.service.impl.ProjectServiceImpl">
        <constructor-arg ref="projectRepository" />
        <constructor-arg ref="userRepository" />
        <constructor-arg ref="sampleRepository" />
        <constructor-arg ref="validator" />
    </bean>
    
    <bean id="sampleService" class="ca.corefacility.bioinformatics.irida.service.impl.CRUDServiceImpl">
        <constructor-arg ref="sampleRepository" />
        <constructor-arg ref="validator" />
        <constructor-arg>            
            <value type="java.lang.Class">ca.corefacility.bioinformatics.irida.model.Sample</value>
        </constructor-arg>
    </bean>
    
    <bean id="sequenceFileService" class="ca.corefacility.bioinformatics.irida.service.impl.SequenceFileServiceImpl">
        <constructor-arg ref="sequenceFileRepository" />
        <constructor-arg ref="sequenceFileFilesystemRepository" />
        <constructor-arg ref="validator" />
    </bean>
    
    <bean id="linkService" class="ca.corefacility.bioinformatics.irida.service.impl.LinkServiceImpl">
        <constructor-arg ref="linksRepository" />
    </bean>
    
    <!-- validator beans -->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="validationBundleLocator"/>
    </bean>
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>
    
    <bean id="validationBundleLocator" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="ca.corefacility.bioinformatics.irida.validation.ValidationMessages" />
    </bean>
     
</beans>
