.global-search {
  width: 300px;
  margin-right: 15px;
  background-color: transparent;
}

.light-theme .global-search {
  color: var(--grey-1);
}

.dark-theme .global-search {
  color: var(--grey-11);
}

.global-search .ant-input-prefix svg,
.global-search .anticon-close-circle svg {
  color: var(--grey-6);
  font-size: 14px;
}
