<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div id="biohansel-table">

<div ng-hide="bioHanselCtrl.parse_results_error">
    <h2 th:text="#{analysis.details.bio_hansel.technician.summary}">Bio_Hansel Results Overview</h2>
    <table class="table table-striped" cellspacing="0" width="100%" id="tech_results_table"
    data:url="@{/analysis/ajax/bio_hansel/{id}(id=${analysisSubmission.getId()})}">
        <thead>
        <tr>
            <th data-data="sample">Sample</th>
            <th data-data="subtype">Subtype</th>
            <th data-data="qc_status">QC Status</th>
            <th data-data="qc_message">QC Message</th>
        </tr>
        </thead>
    </table>
</div></div>
</body>
</html>