<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="modal (title, parameters)" type="text/ng-template" id="/parameters.html">
	<form name="parameters">
		<div class="modal-header">
			<h2 class="modal-title">{{paras.selectedParameters.label}} <span class="label label-warning pull-right" ng-show="paras.parametersModified" th:text="#{workflow.parameters.modal.header.modified}">___MODIFIED___</span></h2>
		</div>
		<div class="modal-body">
			<div class="form-group" ng-repeat="parameter in paras.selectedParameters.parameters">
				<label ng-bind="parameter.label" for="{{parameter.name}}"></label>
				<div class="input-group">
					<input tabIndex="{{$index+1}}" id="{{parameter.name}}" class="form-control para-input" type="text" ng-model="parameter.value" ng-change="paras.valueChanged()" />
					<span class="input-group-btn">
						<button tabIndex="-1" class="btn btn-default set-default-btn" type="button" ng-click="paras.reset($index)" th:text="#{pipeline.parameters.use-default}">Use Default</button>
					</span>
				</div>
			</div>
			<div class="form-group">
				<input id="saveParameters" type="checkbox" ng-model="paras.saveParameters" class="" />
				<label for="saveParameters" th:text="#{workflow.parameters.modal.checkbox.save}">___Save for later___</label>
			</div>
			<div class="form-group" ng-show="paras.saveParameters">
				<label for="parameterSetName" th:text="#{workflow.parameters.modal.label.save.name}">___PARAMETER SET NAME___</label>
				<div class="input-group" style="width: 100%">
					<input class="form-control para-input" type="text" id="parameterSetName" ng-model="paras.parameterSetName" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<button id="para-cancel-btn" class="btn btn-default" th:text="#{pipeline.parameters.modal-button-cancel}" ng-click="paras.close()">Cancel</button>
				<button id="para-update-btn" class="btn btn-primary" th:text="#{pipeline.parameters.modal-button-good}" ng-click="paras.update()">These work for me!</button>
			</div>
		</div>
	</form>
</script>
</body>
</html>