@import "../helpers/variables";

$breadcrumb-color: $irida-colour-primary;
.breadcrumbs {
  background-color: $breadcrumb-color;
}

.breadcrumbs + .container {
  margin-top: $irida-global-spacing;
}

.breadcrumbs .container {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.breadcrumbs ol {
  font-size: 16px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0 5px 55px;
  position: relative;
  display: block;
  float: left;
}
.breadcrumbs li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid $breadcrumb-color;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.breadcrumbs li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 0px;
  left: 100%;
  z-index: 1;
}
.breadcrumbs li:first-child a {
  padding-left: 2em;
}

$loop-color: $breadcrumb-color;
@for $i from 2 to 10 {
  $loop-color: lighten($loop-color, 5%);
  .breadcrumbs li:nth-child(#{$i}) a {
    background-color: $loop-color;
  }
  .breadcrumbs li:nth-child(#{$i}) a:after {
    border-left-color: $loop-color;
  }
}

.breadcrumbs li:last-child a {
  pointer-events: none;
  color: $irida-colour-font-body;
  cursor: default;
  background-color: #ffffff;
  border-color: #ffffff;
}

.breadcrumbs li:last-child a:after {
  border: 0;
  border-left-color: #ffffff !important;
}
.breadcrumbs li a:hover {
  background: $color-primary;
}
.breadcrumbs li a:hover:after {
  border-left-color: $color-primary !important;
}
