@import "../helpers/variables";

.project-details {
  li {
    border-bottom: 1px solid $irida-colour-grey-light;
    line-height: 2em;
  }
  i.glyphicon {
    color: $irida-colour-grey-dark;
    margin-right: 0.5em;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
  }
}

.panel.associated-projects {
  div.panel-body {
    padding: 0 !important;
  }
  .list-group-item {
    border-radius: 0 !important;
  }
}

.sidebar {
  background-color: #ffffff;
  border: 1px solid $irida-colour-grey;
  border-bottom-color: $irida-colour-grey-dark;
  border-radius: $irida-global-radius;
  margin-bottom: $irida-global-padding;
}

.sidebar__heading {
  padding: $irida-global-padding;
  h2 {
    font-weight: $irida-font-weight-normal;
    margin: 0;
    padding: 0;
  }
}

.sidebar__body {
  position: relative;

  .form-group {
    border-top: 1px solid $irida-colour-grey-light;
    padding: 4px 8px;
  }
  label {
    font-weight: $irida-font-weight-normal;
  }
  input[type="text"].form-control {
    border: 1px solid $irida-colour-grey-dark;
    border-right: none;
  }
  .input-group-btn button {
    border: 1px solid $irida-colour-grey-dark !important;
    border-left: none;
    color: $irida-colour-grey-dark;
  }
}

.sidebar__item {
  border-top: 1px solid $irida-colour-grey-light;
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;

  > div {
    padding: 0 0.3em;
  }
}

.sidebar__icon {
  width: 2.6rem;
  color: $irida-colour-grey-dark;
}

.sidebar__value {
  color: $irida-colour-dark;
  text-align: right;
  flex-grow: 2;
}
