@import "../helpers/variables";
@import "../helpers/mixins";

h1 {
  margin-top: 0 !important;
}

.description {
  color: $irida-colour-grey-dark;
  font-size: $irida-font-h3-size;
  font-weight: 300;

  a {
    border: 1px solid $irida-colour-grey;
    border-radius: $irida-global-radius;
    padding: rem-calc(2) rem-calc(6);
    transition: all 0.3s ease-in;
    text-decoration: none;
    &:hover {
      border-color: $irida-colour-primary;
      background-color: $irida-colour-primary;
      color: #ffffff;
    }
  }
}

.description-detail {
  color: $irida-colour-dark;
}
.width-truncate-100 {
  text-align: right;
  width: 100px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
