@import "../helpers/variables";

// Inputs
.input-full {
  width: 100%;
}

// Notifications
//  This is for showing a server error notification to the user
.form-group .alert {
  padding: 3px 6px;
  font-weight: $irida-font-weight-bold;
  margin-bottom: 0;
}

.form-group-detail {
  padding-left: 22px;
}

// Input Overrides
input {
  // TODO: This can be removed after fixing REM sizing issue with bootstraps _scaffold.scss
  font-size: $irida-rem-base !important;
}

.input-group input,
.input-group button.btn-default {
  border-color: #cccccc !important;
}

// Change the color of the text on checkboxes that are disabled.
input[type="checkbox"]:disabled + span {
  color: #cdcdcd;
  cursor: not-allowed;
}
