<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{dashboard.page.title}">IRIDA Platform | Dashbaord</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <!-- endbuild -->
</head>
<body>
<div class="row">

    <div class="col-lg-12">
        <h1 id="title" th:text="#{dashboard.welcome}">Hello There</h1>
        <h2 th:text="${name}">__USERNAME__</h2>
        <a href="#/projects">Projects</a>
        <a id="logout_btn" class="btn" href="/logout" th:text="#{global.logout}">Logout</a>
    </div>
    <div ng-view=""></div>
</div>

<script data-main="/scripts/bootstrap.js" th:src="@{/bower_components/requirejs/require.js}"></script>
</body>
</html>
