<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{login.page.title}">IRIDA Platform | Login</title>
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-css/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <!-- endbuild -->

    <style>
        .ng-cloak {
            display: none !important;
        }

        .btn {
            margin-bottom: 1em;
        }
    </style>
</head>
<body ng-app="irida.login">

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 panel panel-primary" ng-controller="LoginCtrl">
            <h1 id="title" th:text="#{login.welcome}">Welcome to the IRIDA Platform!</h1>

            <form name="loginForm" class="form-signin" method="post" action="/login">
                <h3 class="muted form-signin-heading" th:text="#{login.signin-message}">Please sign in</h3>

                <div class="form-group" ng-class="{'has-error': ctrl.error}">
                    <label class="control-label" for="username" th:text="#{login.email}">Email Address</label>
                    <input id="username" ng-model="email" type="text" class="form-control"
                           th:placeholder="#{login.email}"
                           name="username"/>
                </div>
                <div class="form-group" ng-class="{'has-error': ctrl.error}">
                    <label class="control-label" for="password" th:text="#{login.password}">Password</label>
                    <input id="password" ng-model="password" type="password" class="form-control"
                           th:placeholder="#{login.password}"
                           name="password"/></div>
                <button class="btn btn-success btn-block" type="submit" th:text="#{login.btn.signin}">Sign in</button>
                <div class="ng-cloak alert alert-danger" ng-show="error" th:text="#{login.error}">Incorrect Email or
                    Password
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/bower_components/angular/angular.min.js}"></script>
<script>
    angular.module('irida.login', [])
            .controller('LoginCtrl', ['$scope', '$location', function ($scope, $location) {
                'use strict';

                $scope.error = false;
                if ($location.absUrl().search('error') > -1) {
                    $scope.error = true;
                }
            }]);

    window.onload = function () {
        var hash = unescape(self.document.location.hash.substring(1));
        document.loginForm.action = '/login#' + hash;
    }
</script>

</body>
</html>
