<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Language selection - IRIDA Platform</title>

    <!-- META DATA -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description" content=""/>
    <meta name="dcterms.title"
          content="Language Selection Page - No search, language toggle, site menu or breadcrumb trail - Sélection de la langue page - Pas de recherche, langue bascule, menu du site ou fil d'Ariane - Plate-forme IRIDA"/>
    <meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu"/>
    <meta name="dcterms.issued" title="W3CDTF"
          content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)"/>
    <meta name="dcterms.modified" title="W3CDTF"
          content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)"/>
    <meta name="dcterms.subject" title="scheme" content="French subject terms / Termes de sujet en français"/>
    <meta name="dcterms.language" title="ISO639-2" content="eng"/>
    <!-- END META -->

    <!--[if gte IE 9 | !IE ]><!-->
    <link th:href="@{/resources/assets/favicon.ico}" href="/resources/assets/favicon.ico" rel="icon"
          type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/resources/css/wet-boew.css}" href="/resources/css/wet-boew.css"/>
    <!--<![endif]-->
    <link rel="stylesheet" th:href="@{/resources/css/theme-sp-pe.min.css}" href="/resources/css/theme-sp-pe.min.css"/>

    <!--[if lt IE 9]>
    <link th:href="@{/resources/assets/favicon.ico}" href="/resources/assets/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" th:href="@{/resources/css/ie8-wet-boew.min.css}" href="/resources/css/ie8-wet-boew.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script th:href="@{/resources/js/wet-boew/ie8-wet-boew.min.js}" src="/resources/js/wet-boew/ie8-wet-boew.min.js"></script>
    <![endif]-->

    <noscript>
        <link rel="stylesheet" th:href="@{/resources/css/noscript.min.css}" href="/resources/css/noscript.min.css"/>
    </noscript>


</head>
<body vocab="http://schema.org/" typeof="WebPage">
<header role="banner">
    <div id="wb-bnr" class="container">
        <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img"
                th:data="@{/resources/assets/sig-alt-en.svg}"
                data="/resources/assets/sig-alt-en.svg" aria-label="Government of Canada"></object>
    </div>
</header>
<main role="main" property="mainContentOfPage" class="container">
    <div class="col-md-12">

        <h1>Welcome / <span lang="fr">Bienvenue</span></h1>
        <section class="col-md-6">
            <h2>IRIDA Platform</h2>
            <a class="btn btn-lg btn-primary btn-block" th:href="@{/login?lang=en}" href="/login?lang=en">English</a>
            <a class="btn btn-lg btn-default btn-block" th:href="@{/public/license/index-en.html}" href="/public/license/index-en.html"
               rel="license">Terms and conditions of use</a>
        </section>

        <section class="col-md-6" lang="fr">
            <h2>Plate-forme IRIDA</h2>
            <a class="btn btn-lg btn-primary btn-block" th:href="@{/login?lang=fr}"
               href="/login?lang=fr">Fran&#231;ais</a>
            <a class="btn btn-lg btn-default btn-block" th:href="@{/public/license/index-fr.html}" href="/public/license/index-fr.html"
               rel="license">Conditions r&#233;gissant l'utilisation</a>
        </section>

    </div>
</main>
<footer role="contentinfo" class="container">
    <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" th:data="@{/resources/assets/wmms-alt.svg}"
            data="/resources/assets/wmms-alt.svg" aria-label="Symbol of the Government of Canada"></object>
</footer>
</body>
</html>
