<!DOCTYPE html>
<html>
<head th:include="fragments/header" th:remove="tag"></head>
<body>
<div class="row" data-ng-app="" data-ng-controller="LoginCtrl">
    <p th:if="${loginError}">Wrong username or password</p>

    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ng-model="username"/> <br/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/> <br/>
        <input class="button" type="submit" value="Log in" ng-model="password"/>
    </form>
</div>
<script src="/js/lib/angular/angular.min.js"></script>
<script>
    function LoginCtrl($scope) {
        $scope.username = "";
        $scope.password = "";
    }
</script>
</body>
</html>