.main-navigation {
  display: flex;
  align-content: center;
}

.global-search .ant-input-affix-wrapper {
  border: none;
  border-radius: 0;
}

.global-search input {
  background-color: transparent;
}

.dark-theme.main-navigation {
  background-color: #001529;
}

.light-theme.main-navigation {
  background-color: #ffffff;
}

.main-navigation .ant-menu.ant-menu-root {
  display: inline-block;
  border-bottom: none;
}

.main-navigation .accessory-menu {
  margin-left: 30px;
}

.dark-theme .global-search .ant-input-affix-wrapper {
  background-color: #262626;
}

.dark-theme .global-search input {
  color: #f0f0f0;
}

.light-theme .global-search .ant-input-affix-wrapper {
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
}
