<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="IRIDAConfig">
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="%d{DATE} %5p %C:%L - %m%n"/>
    </Appender>
  </Appenders>
 
  <Loggers>
    <Logger name="ca.corefacility.bioinformatics.irida" level="debug" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="ca.corefacility.bioinformatics.irida.web.filter.UnauthenticatedAnonymousAuthenticationFilter" level="error" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="org.pf4j.AbstractPluginManager" level="info" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="org.pf4j.CompoundPluginDescriptorFinder" level="off" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
 
    <Root level="error">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
 
</Configuration>
