.ngs-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.16rem;
  font-size: 12px;
  line-height: 2rem;
  letter-spacing: 1px;
  @include ngs-light-text ();
  vertical-align: top;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.12);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  &:active {
    background-color: lighten(#595b5b, 10);
  }
  &.expanded {
    width: 100%;
  }
}

.ngs-button:disabled,
.ngs-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}