.project__name {
  display: inline-block;
}

.project__samples {
	margin-left: 1em;
}

.project__sample {
	// Box (display, float, position, left, top, height, width)
	display: inline-block;
	margin: 0 1em 0.4em 0.4em;
	
	// Border
	border: 1px solid $color-phac-dark-blue;
	// Background
	
	// Text (font-family, font-size, text-transform, letter-spacing)
	
	// Other
	padding: 0.4em;
	span {
		float: right;
	}

	i {
		font-size: 3em;
	}
}