.sidebar {
  // @extends

  // Positioning (z-index, top, etc...)
  display: block;
  float: left;
  font-family: arial, sans-serif;
  height: 949px;
  margin-top: 0px;
  min-height: 1px;
  position: relative;
  width: 176px;

  // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
  padding-top: 1rem;

  // Other (colors, fonts, align)
  box-shadow: inset -5px 0 15px -2px rgba(0,0,0,.3);

  // @includes
  //@include box(vertical, start, stretch);
  background-color: #ffffff;

  h2 {
    margin-left: 1em;
    @include ngs-light-text();
    font-size: 1em;
    font-weight: 600;
  }
}

input.sidebar__search {
  //vertical-align: top;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 10px 3px;
  height: 2.2rem;
  font: inherit;
  font-weight: 200;
  outline: none;
  border: 1px solid rgba(0,0,0,0.36);
  background-color: #595b5b;
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
  color: #c6c8c8;
  -webkit-appearance: none;
  padding: 0 0 0 1.7em;
  border-radius: 30px;
  background-image: url("/css/img/search_light.svg");
  background-position: 1em center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  width: 95%;
  &:focus {
    background-color: lighten(#595b5b, 3);
    background-image: url("/css/img/search_light.svg");
    background-position: 1em center;
    background-repeat: no-repeat;
    -webkit-background-size: 16px;
    -moz-background-size: 16px;
    background-size: 16px;
    //color: var-color-focus;
  }
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    margin-right: 5px;
  }
  &:focus::-webkit-input-placeholder,
  &:focus::-webkit-input-placeholder {
    color: #c6c8c8;
  }
}


.sidebar__body {
  //@include box-flex(1);
  overflow-x: hidden;
  overflow-y: auto;

  // Nested
  li {
    // Positioning (z-index, top, etc...)

    // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
    display: block;
    width: 100%;

    border-right: 0.3em solid transparent;
    padding: .2em .8em;

    // Other (colors, fonts, align)
    color: $color-light-gray;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
    white-space: nowrap;
    @include transition(all .5s ease-out);

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-right: 0.7em solid $color-hightlight;
      @include transition(all .25s ease-in);
    }
  }
}