.sidebar {
  // @extends

  // Positioning (z-index, top, etc...)
  position: relative;

  // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
  height: 100%;
  width: $width-sidebar;

  // Other (colors, fonts, align)
  box-shadow: inset -5px 0 15px -2px rgba(0,0,0,.3);

  // @includes
  @include box(vertical, start, stretch);
  @include linear-gradient($color-hightlight, $color-phac-dark-blue);

  a.ngs-button {
    margin-left: 5px;
    margin-top: 6px;
    background-color: $color-slate-gray;
    font-size: 1.2em;
    &:active {
      background-color: lighten($color-slate-gray, 5);
    }
  }

  h2 {
    margin-left: 1em;
    @include ngs-light-text();
    font-size: 1em;
    font-weight: 600;
  }
  @include transition(width .5s ease-in);
}

.sidebar__button {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.sidebar--is-collapsed {

}

.sidebar__body {
  @include box-flex(1);
  overflow-x: hidden;
  overflow-y: auto;
  //margin-top: 55px;

  // Nested
  li {
    // Positioning (z-index, top, etc...)

    // Dispay & Box Model (display, overflow, box-sizing, w, h, border, margin)
    display: block;

    border-right: 0.3em solid transparent;
    padding: .2em .8em;

    // Other (colors, fonts, align)
    color: $color-light-gray;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
    white-space: nowrap;
    @include transition(all .5s ease-out);

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-right: 0.7em solid $color-hightlight;
      @include transition(all .25s ease-in);
    }
  }

  @media only screen and (min-width: 768px) {
    margin-top: 2.4em;
  }
}

.sidebar__rotated {
  //@include box-flex(1);
  @include transform(rotate(90deg));
  display: none;
  font-size: 2.3em;
  @include ngs-light-text();
  position: absolute;
  top: 100px;
  left: -29px;
}