// FOUNDATION MODIFICATIONS
// Topbar
$topbar-height: 24px;

$font: 'Source Sans Pro', sans-serif;

$color-body: #e3e4e5;
$color-phac-dark-blue: #133B54;
$color-white: rgba(236, 240, 241,1.0);
$color-light-gray: #DFE2E2;
$color-slate-gray: #494d4e;
$color-red: #f00;
$color-highlight: lighten($color-phac-dark-blue, 10);

$color-sidebar: $color-phac-dark-blue; //#222222;

$color-body-font: #222222;
$color-header: rgba(0, 0, 0, .1);

$width-sidebar: 10rem;
$width-sidebar-collapsed: 3em;
$height-header: 3em;

$default-border-radius: 3px;
