$font: 'Source Sans Pro', sans-serif;

$color-white: #ffffff;
$color-light-gray: #DFE2E2;
$color-slate-gray: #494d4e;
$color-hightlight: #008dde;

$color-body-font: #222222;
$color-header: rgba(0, 0, 0, .1);

$width-sidebar: 15em;
$width-sidebar-collapsed: 3em;
$height-header: 3em;

$default-border-radius: 3px;