<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.w3.org/1999/xhtml"
      layout:decorator="template/page">

<head>
    <title th:text="#{announcement.admin_menu}">THIS IS SOMETHING WRONG</title>
</head>

<body>
<div class="row" layout:fragment="page" ddl:includes="events">
    <section class="panel panel-primary">
        <div class="panel-heading">
            <h3 th:text="#{announcement.admin_menu}"></h3>

        </div>
        <div class="panel-body">
            <ul class="list-group" th:each="ann : ${announcements}">
                <li class="list-group-item">
                    <span th:text="${ann.getMessage()}">_Announcement Content_</span>
                    <div class="event-date" th:with="dateFormat=#{locale.date.long}" >
                        <div uib-tooltip-placement="top"
                          data:uib-tooltip="${#dates.format(ann.getCreatedDate(), dateFormat)}"
                          data:livestamp="${ann.createdDate}"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>