<div id="announcements">
    <div class="form-group" ng-controller="AnnouncementItemCtrl as aCtrl">
        <ul class="list-group" id="announcement-list">
            <li class="list-group-item announcement-item" th:each="ann : ${announcements}">
                <div class="announcement-content pull-left">
                    <marked th:inline="text">[[${ann.getMessage()}]]</marked>
                </div>
                <div class="announcement-info">
                    <div class="announcement-date" th:with="dateFormat=#{locale.date.long}"
                         th:text="${#dates.format(ann.getCreatedDate(), dateFormat)}">
                    </div>
                    <div class='btn-group pull-right announcement-markread'>
                    <button class="btn btn-default btn-xs"
                          data:uib-tooltip="#{announcement.markRead}"
                          tooltip-placement="top"
                          th:attr="ng-click='markRead(\'' + ${ann.getId()} + '\', $event);'">
                        <i class="fas fa-check"></i>
                    </button>
                    </div>
                </div>
            </li>
            <li class="list-group-item" th:if="${#lists.isEmpty(announcements)}" th:text="#{announcement.no-new}"></li>
        </ul>
        <ul class="list-group" id="no-new-announcements" style="display: none;">
            <li class="list-group-item" th:text="#{announcement.no-new}"></li>
        </ul>
    </div>
</div>