<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.w3.org/1999/xhtml"
      layout:decorator="template/page">

<head>
    <title th:text="#{announcement.admin-menu}">THIS IS SOMETHING WRONG</title>
</head>

<body>
<div class="row" layout:fragment="page" ddl:includes="announcement" ddl:asset-css-excludes="jquery.datatables">
    <section class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-title" th:text="#{announcement.admin-menu}"></span>
            <a class="btn btn-primary btn-sm pull-right" th:text="#{announcement.create.title}"
               th:href="@{create}">_Create NEW_</a>
        </div>
        <div class="panel-body">
            <table id="announcement-table" dt:table="true" dt:serverside="true"
                   dt:url="@{/announcements/control/ajax/list}">
                <thead>
                    <tr role="row">
                        <th dt:property="announcement.message" dt:searchable="true" th:text="#{announcement.control.message}"></th>
                        <th width="150px" dt:property="announcement.user.username" dt:searchable="true" th:text="#{announcement.control.createdBy}"></th>
                        <th width="150px" dt:property="announcement.createdDate" dt:renderFunction="datatables-utils#datatable.formatDate" th:text="#{announcement.control.createdDate}"></th>
                        <th width="50px" dt:sortable="false" dt:filterable="false" dt:renderFunction="announcement#announcementTable.detailsButton"></th>
                    </tr>
                </thead>

            </table>
        </div>
    </section>
</div>
</body>
</html>