<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{announcement.admin-menu}">_Announcement_</title>
    <link
      rel="stylesheet"
      th:href="@{/dist/css/announcement-admin.bundle.css}"
    />
    <script th:inline="javascript">
      var PAGE = {
        urls: {
          link: /*[[@{/announcements/}]]*/ "/announcements",
          user: /*[[@{/users/}]]*/ "/users/"
        }
      };
    </script>
  </head>
  <body>
    <div id="announcement-root" style="height: 100%" layout:fragment="page">
      <!-- React component root found: src/main/webapp/resources/js/pages/announcement/AnnouncementAdminPage.jsx -->
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/announcement-admin.bundle.js}"></script>
    </th:block>
  </body>
</html>
