<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">

<head>
    <title th:text="#{announcement.admin-menu}">THIS IS SOMETHING WRONG</title>
</head>

<body>
<div class="row" layout:fragment="page">
    <div class="col-md-8 col-md-offset-2">
        <form name="new_announcement"
              th:action="@{/announcements/create}" method="post">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="#{announcement.create.title}">_Create a New Announcement_</h2>
                </div>
                <div class="panel-body">
                    <textarea class="form-control input-full announcement-input" id="message" name="message"
                           required="required" placeholder="Required" minlength="15"
                           th:placeholder="#{announcement.create.form.placeholder}"></textarea>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" th:href="${#httpServletRequest.getHeader('referer')}"
                       th:text="#{announcement.create.form.cancel}">__Cancel__</a>
                    <button id="submitBtn" type="submit" class="btn btn-primary">
                        <span th:text="#{announcement.create.form.create}">__Create Announcement__</span>
                        <span class="fa fa-fw fa-chevron-right"></span>
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>
</body>
</html>