<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{template/page}">

<head>
    <title th:text="#{announcement.admin-menu}">THIS IS SOMETHING WRONG</title>
    <link rel="stylesheet" th:href="@{/dist/css/announcement-users.bundle.css}">
    <script th:inline="javascript">
        var PAGE = {
          urls: {
            user: /*[[@{/users/}]]*/ '/users/'
          },
            i18n: {
                markRead: /*[[#{announcement.markRead}]]*/ 'Mark_as_Read',
                markUnread: /*[[#{announcement.markUnread}]]*/ 'Mark_as_Unread'
            }
        };
    </script>
</head>

<body>
<div layout:fragment="page">
    <div class="col-md-8 col-md-offset-2 mrgn-tp-lg">
        <form name="update_announcement" class="ng-cloak"
              th:action="@{/announcements/{aID}/details(aID=${announcement.getId()})}"
              method="post" role="form"
              novalidate="novalidate">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="#{announcement.control.details.edit}"></h2>
                </div>
                <div class="panel-body">
                    <textarea class="form-control input-full announcement-input" type="text" id="message" name="message"
                              required="required"
                              placeholder="Required"
                              th:text="${announcement.getMessage()}"
                              th:placeholder="#{announcement.create.form.placeholder}"></textarea>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" id="cancelBtn" th:href="${#httpServletRequest.getHeader('referer')}"
                       th:text="#{announcement.control.details.cancel}">__Cancel__</a>
                    <button id="submitBtn" type="submit" class="btn btn-primary">
                        <span th:text="#{announcement.control.details.save}">__Save__</span>
                    </button>
                    <a class="btn btn-danger" id="deleteBtn" th:text="#{announcement.control.details.delete}"
                        th:href="@{/announcements/{aID}/delete(aID=${announcement.getId()})}">__Delete__</a>
                </div>
            </section>
        </form>
    </div>

    <div class="col-md-8 col-md-offset-2 mrgn-tp-lg">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" th:text="#{announcement.control.details.title}"></h2>
            </div>
            <div class="panel-body">
                <div class="hidden">
                    <div id="read-counts"><p><span th:text="#{announcement.details.numusers}"></span>: <span
                        th:text="${numReads}"></span>/<span th:text="${numTotal}"></span></p></div>
                </div>
                <table id="announcementUsersTable"
                       class="table table-striped" cellspacing="0" width="100%"
                       data:url="@{/announcements/{id}/details/ajax/list(id=${announcement.getId()})}">
                    <thead>
                    <tr role="row">
                        <th data-data="username" th:text="#{announcement.control.details.username}"></th>
                        <th width="45px" data-data="status" data-orderable="false">Status</th>
                        <th width="100px" data-data="dateRead"
                            data-orderable="false" th:text="#{announcement.control.details.dateRead}"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>

</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/announcement-users.bundle.js}"></script>
</th:block>
</body>
</html>
