<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.w3.org/1999/xhtml"
      layout:decorator="template/page">

<head>
    <title th:text="#{announcement.admin-menu}">THIS IS SOMETHING WRONG</title>
    <script th:inline="javascript">
        var PAGE = {
            i18n: {
                markRead: /*[[#{announcement.markRead}]]*/ 'Mark_as_Read',
                markUnread: /*[[#{announcement.markUnread}]]*/ 'Mark_as_Unread'
            }
        };
    </script>
    <style>
        .dataTables_paginate {
            text-align: center!important;
        }
    </style>
</head>

<body>
<div layout:fragment="page" ddl:bundle-includes="announcement" ddl:asset-css-excludes="jquery.datatables">
    <form name="update_announcement" class="ng-cloak"
          th:action="@{/announcements/{aID}/details(aID=${announcement.getId()})}"
          method="post" role="form"
          novalidate="novalidate">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" th:text="#{announcement.control.details.edit}"></h2>
            </div>
            <div class="panel-body">
                <textarea class="form-control input-full" type="text" id="message" name="message"
                          required="required"
                          placeholder="Required"
                          th:text="${announcement.getMessage()}"
                          th:placeholder="#{announcement.create.form.placeholder}"/>


            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-default" th:href="${#httpServletRequest.getHeader('referer')}"
                   th:text="#{announcement.control.details.cancel}">__Cancel__</a>
                <button id="submitBtn" type="submit" class="btn btn-primary">
                    <span th:text="#{announcement.control.details.save}">__Save__</span>
                </button>
                <a class="btn btn-danger" th:text="#{announcement.control.details.delete}"
                    th:href="@{/announcements/{aID}/delete(aID=${announcement.getId()})}">__Delete__</a>
            </div>
        </section>
    </form>

    <h1 th:text="#{announcement.control.details.title}"></h1>
    <table id="announcementUserTable" dt:table="true" dt:url="@{/announcements/__${announcement.getId()}__/details/ajax/list}">
        <thead>
        <tr role="row">
            <th dt:property="username" dt:searchable="true" th:text="#{announcement.control.details.username}"></th>
            <th width="125px" dt:property="createdDate" dt:renderFunction="announcement#announcementTable.renderDateAndStatus"
                dt:sortInitDirection="desc" th:text="#{announcement.control.details.dateRead}"></th>
            <th width="50px" dt:sortable="false" dt:searchable="false" dt:filterable="false"
                dt:renderFunction="announcement#announcementTable.renderToggleStatusButtons"/>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>