<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{template/page}">

<head>
    <title th:text="#{announcement.read}">_Viewing read announcements_</title>
    <link rel="stylesheet" th:href="@{/dist/css/announcements.bundle.css}">
</head>

<body>
<div class="row" layout:fragment="page">
    <div class="col-md-12" ng-app="irida.announcements">
        <section class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="pull-left" th:text="#{announcement.read}">_Read Announcements_</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item"
                         th:each="ann : ${readAnnouncements}">
                        <div class="row announcement-item" style="display: none;"
                             data:message="${ann.getSubject().getMessage()}"
                             data:createdDate="${ann.getSubject().getCreatedDate()}"
                             data:readon="${ann.createdDate}">
                            <div class="col-md-9 announcement-content">
                                <div class="markdown"></div>
                            </div>
                            <div class="col-md-3" th:with="dateFormat=#{locale.date.long}">
                                <div class="announcement-date">
                                    <p>
                                        <span th:text="#{announcement.user.created}">Created </span>
                                        <time class="created-date" uib-tooltip-placement="right"
                                              data:uib-tooltip="${#dates.format(ann.getSubject().getCreatedDate(), dateFormat)}"></time>
                                    </p>
                                </div>
                                <div class="announcement-date">
                                    <p>
                                        <span th:text="#{announcement.user.readon}">Read by you </span>
                                        <span class="readon" uib-tooltip-placement="right"
                                              data:uib-tooltip="${#dates.format(ann.getCreatedDate(), dateFormat)}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item" th:if="${#lists.isEmpty(readAnnouncements)}"
                        th:text="#{announcement.no-read}"></li>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/announcements.bundle.js}"></script>
</th:block>
</body>
</html>