<nav class="top-bar" th:fragment="bodyHeader">
    <ul class="title-area">
        <li class="name"><h1><a href="/">FWS</a></h1></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li th:class="${projects} ? 'active'"><a th:href="@{/projects}">Projects</a></li>
            <li class="divider"></li>
            <li th:class="${users} ? 'active'"><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </section>
</nav>