<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>IRIDA</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <link href='http://fonts.googleapis.com/css?family=Cuprum:700|Junge' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css" th:href="@{/css/foundation.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>