<div class="reveal-modal medium loginModal">
    <h2>Login Required</h2>
    <form name="loginForm" novalidated="true">
        <p>
            <label for="username"> Your email or username </label>
            <input id="username" name="username" required="required" type="text"
                   placeholder="myusername or mymail@mail.com" ng-model="lm.username"/>
        </p>

        <p>
            <label for="password"> Your password </label>
            <input required="required" type="password" ng-model="lm.password"
                   placeholder="eg. X8df!90EO"/>
        </p>
        <div ng-show="showError" class="error">Invalid login credentials.</div>
        <button data-ng-class="{disabled: !loginForm.$valid}" ng-click="login()">Login</button>
    </form>
</div>