<div class="modal-header">
    <h1>Create New User</h1>
</div>
<div class="modal-body">
    <form name="newUserForm">
        <div class="controls controls-row" data-ng-submit="submitNewUser()" novalidated="true">
            <div class="control-group span4" data-ng-class="{error: errors.username}">
                <label class="control-label" for="username" th:text="#{user.username}">Username</label>
                <input name="username" data-ng-model="newUser.username" type="text" required="required"/>
                <span class="help-inline">{{errors.username}}</span>
            </div>

            <div class="control-group span4" data-ng-class="{error: errors.password}">
                <label class="control-label" for="password" th:text="#{user.password}">Passowrd</label>
                <input name="password" data-ng-model="newUser.password" type="password"/>
                <span class="help-inline">{{errors.password}}</span>
            </div>
            <div class="control-group span4" data-ng-class="{error: errors.firstName}">
                <label class="control-label" for="firstName" th:text="#{user.firstName}">First Name</label>
                <input name="firstName" data-ng-model="newUser.firstName" type="text"/>
                <span class="help-inline">{{errors.firstName}}</span>
            </div>

            <div class="control-group span4" data-ng-class="{error: errors.lastName}">
                <label class="control-label" for="firstName" th:text="#{user.lastName}">Last Name</label>
                <input name="lastName" data-ng-model="newUser.lastName" type="text"/>
                <span class="help-inline">{{errors.lastName}}</span>
            </div>
            <div class="control-group span4" data-ng-class="{error: errors.email}">
                <label class="control-label" for="email" th:text="#{user.email}">Email</label>
                <input name="email" data-ng-model="newUser.email" type="email"/>
                <span class="help-inline">{{errors.email}}</span>
            </div>

            <div class="control-group span4" data-ng-class="{error: errors.phoneNumber}">
                <label class="control-label" for="phoneNumber" th:text="#{user.phoneNumber}">Phone Number</label>
                <input name="password" data-ng-model="newUser.phoneNumber" type="tel"/>
                <span class="help-inline">{{errors.phoneNumber}}</span>
            </div>
        </div>
        <hr/>
        <div class="pull-right">
            <button class="btn" data-ng-click="closeNewUsersModal()">Cancel</button>
            <button type="submit"  class="btn btn-primary" data-ng-click="submitNewUser()">Create User</button>
        </div>
    </form>
</div>