.boards {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $irida-colour-grey-light;
}

.board {
  border-bottom: 1px solid $irida-colour-grey-light;
}

.board_inner {
  margin: .5rem;
  padding: .5rem;
}

.board_paired:first-child {
  padding-bottom: 1rem;
}

.board_detail--value {
  line-height: 1.8rem;
}

.board_detail--desc {
  line-height: 1rem;
  padding: .2rem 0 0 0;
  font-size: 1.3rem;
  color: $irida-colour-grey-dark;
}