@import "../helpers/variables";
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

.st-content {
  overflow-y: scroll;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.cart {
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
  visibility: hidden;
  width: 300px;
  background: $irida-colour-grey-light;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cart-open .st-pusher {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.cart {
  visibility: visible;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.cart-open .cart {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cart::after {
  display: none;
}

.cart-control-buttons {
  margin-bottom: 10px;
}

.remove-icon {
  color: $irida-colour-grey-dark;
  cursor: pointer;
}

.cart-project-header{
  cursor: pointer;
}