.dataTables_filter input[type='search'] {
  background-color: $color-grey-lighter;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  color: #555;
  padding: 5px;
  font-weight: normal;
  outline: none;
  &:focus {
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    @include transition(background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow ease-in-out .5s);
  }
}

table.dataTable {
  > thead {
    i {
      float: right;
      margin: 0 5px;
      &:before {
        content: "\e150";
      }
    }
    th.sorting_asc > i.glyphicon:before {
      content: "\e155";
    }
    th.sorting_desc > i.glyphicon:before {
      content: "\e156";
    }
  }

  > tbody {
    tr.has-files td:not(:first-child) {
      cursor: pointer;
    }

    tr.odd.details + tr, tr.even.details + tr {
      > td {
        background-color: white;
        border-left: 5px solid $color-info;
        padding: 5px 15px;
      }
      table {
        background-color: white;
        width: 100%;
        tr {
          background-color: transparent;
        }
        td.files{
          &-check {
           padding: 0 5px;
          }
          &-created {
            text-align: right;
          }
        }
      }
    }

    code {
      color: $color-grey-dark;
      background-color: transparent;
    }
  }
}