.modal-content {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

.modal-header {
  background-color: $color-primary;
  h2 {
    color: #ffffff;
  }
  small {
    color: $color-grey-lighter;
  }
}

.modal-footer {
  margin-top: 0;
  padding: 20px;
}