@import "../helpers/variables";

.navbar {
  margin-bottom: 0 !important;

  & + .container {
    margin-top: $irida-global-spacing;
  }

  ul {
    font-size: 16px;
  }
}

// Update z-index for submenu
.navbar-nav>li>.dropdown-menu {
  z-index: 10000;
}

.navbar.subnav {
  z-index: 500;
  margin-bottom: $irida-global-spacing !important;
}

.nav-tabs.subnav {
  margin-bottom: 1rem;
  li:not(.active) a {
    background-color: #eeeeee;
    color: #222222;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #BBBBBB;
    }
  }
}