.project-details {
  li {
    border-bottom: 1px solid $color-grey-lighter;
    line-height: 2em;
  }
  i.glyphicon {
    color: $color-grey-light;
    margin-right: .5em;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
  }
}

.panel.associated-projects {
  div.panel-body {
    padding: 0 !important;
  }
  .list-group-item {
    border-radius: 0 !important;
  }
}