// This mimics a panel by giving a list-group a heading.
b.list-group-item {
  background-color: $color-grey-lighter;
}

.panel {
  .details {
    li {
      border-bottom: 1px solid $color-grey-lighter;
      line-height: 2em;
    }
    i.glyphicon {
      color: $color-grey-light;
      margin-right: .5em;
    }
    em {
      font-style: normal;
    }
    span {
      float: right;
    }
  }
}