@import "../helpers/variables";

.sidenav {
  height: 100%;
  margin-right: 1rem;
  padding: .5rem;
  @media screen and (max-width: 920px) {
    width: 100%;
  }
}

.sidenav__inner--fixed {
  position: fixed;
  top: 60px;
  width: 290px;
  z-index: 500;
  @media screen and (max-width: 1200px) {
    width: 240px;
  }
  @media screen and (max-width: 1000px) {
    width: 180px;
  }
  @media screen and (max-width: 830px) {
    position: static;
    width: 100%;
  }
}

@media screen and (max-width: $screen-md) {
  .sidenav__inner--fixed {
    top: 110px;
  }
}

.sidenav__label {
  color: $irida-colour-grey-dark;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}