@import "../helpers/variables";

.sidenav {
  width: 290px;
  margin-right: 1rem;
  padding: .5rem;
}

.sidenav__inner--fixed {
  position: fixed;
  top: 60px;
  width: 290px;
  z-index: 1000;
}

.sidenav__label {
  color: $irida-colour-grey-dark;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}