.td_icon {
  width: 50px;
  text-align: center;
}

.td_info {
  &--value {
    line-height: 1.8rem;
  }
  &--desc {
    line-height: 1rem;
    padding: .2rem 0 0 0;
    font-size: 1.3rem;
    color: $irida-colour-grey-dark;
  }
}