@import "../helpers/variables";
@import "../helpers/mixins";

.description {
  color: $irida-colour-grey-dark;
  font-size: rem-calc(32);
  font-weight: 300;

  a {
    border: 1px solid $irida-colour-grey;
    border-radius: $irida-global-radius;
    padding: rem-calc(2) rem-calc(6);
    transition: all 0.3s ease-in;
    text-decoration: none;
    &:hover {
      border-color: $irida-colour-primary;
      background-color: $irida-colour-primary;
      color: #ffffff;
    }
  }
}

.description-detail {
  color: $irida-colour-dark;
}