.cell-width-200 {
  text-align: left;
  width: 200px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.filter-row {
  margin-bottom: 5px!important;
}

.table-selectable tbody tr {
  cursor: pointer;
}

.datatables-active-filters {
  margin-bottom: 10px;
  .label {
    cursor: pointer;
    &:after {
      content: ' \f00d';
      font-family: 'FontAwesome';
      margin-left: 3px;
    }
  }
}

.dataTables_paginate {
  display: flex;
  justify-content: center;
}

.table-wrapper {
  overflow: auto;
}

.dataTables_scroll, .table-wrapper {
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dataTables_scroll table.table {
  margin-top: 0!important;
}

.dataTable {
  thead, th, tbody, td {
    white-space: nowrap;
  }

  th {
    vertical-align: top !important;
  }

  td {
    padding: 5px 18px !important;
  }

  tr a {
    background-color: transparent !important;
  }

  tr {
    background-color: white;
    transition: all 0.3s ease;
  }
}


table.selectable tbody tr:hover {
  cursor: pointer;
}


table.selectable tbody tr.selected td {
  background-color: #d9edf7!important;
}

.dataTables_wrapper .selected-counts {
  height: 2em;
  line-height: 2em;
}

// Prevents table from overflowing the panel box that wraps it.
//.dataTables_wrapper {
//  .panel {
//    overflow: hidden;
//  }
//}

//@media (max-width: 1200px) {
//  .dataTables_wrapper .table-wrapper {
//    overflow: auto;
//  }
//}

