.cell-width-200 {
  text-align: left;
  width: 200px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.filter-row {
  margin-bottom: 5px!important;
}

.table-selectable tbody tr {
  cursor: pointer;
}

.datatables-active-filters {
  margin-bottom: 10px;
  .label {
    cursor: pointer;
    &:after {
      content: ' \f00d';
      font-family: 'FontAwesome';
      margin-left: 3px;
    }
  }
}

.dataTables_paginate {
  display: flex;
  justify-content: center;
}

.dataTable {
  th {
    vertical-align: top !important;
  }

  td {
    padding: 5px 18px !important;
  }

  tr a {
    background-color: transparent !important;
  }

  tr {
    background-color: white;
    transition: all 0.3s ease;
  }
}


table.selectable tbody tr:hover {
  cursor: pointer;
}


table.selectable tbody tr.selected td {
  background-color: #d9edf7!important;
}

.dataTables_wrapper .selected-counts {
  height: 2em;
  line-height: 2em;
}

// Prevents table from overflowing the panel box that wraps it.
.table-wrapper {
  overflow-x: auto;
}
