$color-heather: rgb(176, 190, 197);
.dropzone {
  border-radius: 4px !important;
  border: 2px dashed rgb(176, 190, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: lighten($color-heather, 20%);
  }
}

.dz-message {
  &:before {
    content: '\f1c3';
    font-family: FontAwesome;
    color: $color-heather;
    font-size: 4rem;
    position: absolute;
    top: -2rem;
    left:-4rem;
  }
  position: relative;
  line-height:1.4;
  font-size: 1.6rem!important;
  font-family: "Helvetica Neue"!important;
}