.steps {
  color: darkslategrey;
  display: flex;
  border-bottom: 1px solid #eeeeff;
  background-color: #efefef;
  align-content: stretch;
}

.step {
  padding: 0.625em 1em;
  display: inline-block;
  flex-grow: 1;
  min-width: 25%;
}

.step-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.step-label {
  font-size: 1.3em;
  color: #9d9d9d;
}