/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Print view
 */
%theme-gcwu-fegc-print-display-none-important {
	display: none !important;
}

#wb-srch {
	@extend %theme-gcwu-fegc-print-display-none-important;
}

#wb-sec {
	@extend %theme-gcwu-fegc-print-display-none-important;
}

#wb-info {
	@extend %theme-gcwu-fegc-print-display-none-important;
}

#wb-sm {
	@extend %theme-gcwu-fegc-print-display-none-important;
}

#wmms {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
}
