/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only) for IE8
 */

 body {
	background: {
		image: url(../assets/header-bg-ie.jpg);
		repeat: repeat-x;
	}
}

#wb-bnr {
	min-height: 165px;
}
