/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only)
 */

%page-background {
	background-color:#FFF;
	border: {
		left: 1px solid $screen-md-page-border-color;
		right: 1px solid $screen-md-page-border-color;
	}
}

%submenu-colors {
	background-color: $screen-md-submenu-background-color;
	color: $screen-md-submenu-text-color;
}

%search-controls-overrides {
	border-radius: 2px;
	height: 26px;
}

%brand-height {
	height: 2em;
}

%float-left {
	float: left;
}

%float-right {
	float: right;
}

%medium-view-navigation-links {
	@include navigation-links;
}

body {
	background: {
		image: url(../assets/header-leaf.jpg), url(../assets/header-bg.jpg);
		repeat: no-repeat, repeat-x;
		position: center 2.7em;
	}
}

#gcwu-sig {
	position: absolute;
	margin-left: 15px;
}

#wmms {
	@extend %brand-height;
	@extend %float-right;
	margin-top: 2.3em;
	margin-right: 15px;
}

#wb-bar {
	line-height: 1;
}

#gc-bar {
	@extend %float-right;
	@extend %medium-view-navigation-links;
	margin: 15px 10px;

	li {
		padding:0;
	}

	a {
		border-left: 1px solid $gc-header-footer-divider-color;
		padding: 0 0.5em;
	}

	> {

		li {
			&:first-child {
				a {
					border-left: 0;
				}
			}
		}
	}

	ul {
		li {
			&:last-child {
			a {
				border-right: 0;
			}
			}
		}
	}
}

#wb-bnr {
	> {
		.container {
			position: relative;
		}
	}
}

#wb-sttl {
	margin: {
		top: 5px;
		bottom: 5px;
	}
	display: table-row;

	a {
		font-size: 1.9em;
		text-shadow: 1px 1px 1px $screen-md-banner-text-shadow-color;
		display: table-cell;
		vertical-align: middle;
		height: 3.6em;
	}
}

#wb-srch {
	@extend %float-right;
	background: #146094;
	border: {
		left: 1px solid $screen-md-menubar-side-border-color;
		right: 1px solid $screen-md-menubar-side-border-color;
		top: 1px solid $screen-md-menubar-top-border-color;
	}
	padding: 11px 15px 6px 15px;
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 2;

	input {
		@extend %search-controls-overrides;
		padding: 2px 0;
	}

	.btn {
		@extend %search-controls-overrides;
		@include linear-background ($screen-md-search-button-gradient-start, $screen-md-search-button-gradient-end);
		padding: 2px 6px;
		line-height: 1;
	}
}

%gcwu-theme-wb-sm-wb-navcurr {
	background: #0F315B;
	color: #fff;
}
#wb-sm {
	margin-top: -1px;
	.nvbar {
		@include linear-background ($screen-md-menubar-gradient-start, $screen-md-menubar-gradient-end, 1);
		border: {
			top: 1px solid $screen-md-menubar-top-border-color;
			bottom: 4px solid $screen-md-menubar-bottom-border-color;
		}

		ul {
			&.menu {
				margin-bottom: 0;
				> {
					li {
						padding: 0;
						border-right: 1px solid $screen-md-menuitem-left-border-color;

						> {
							a {
								&.wb-navcurr {
									@extend %gcwu-theme-wb-sm-wb-navcurr;
								}

								// :focus not needed since already covered by the &.active state
								&:hover {
									@extend %submenu-colors;
								}
							}
						}

						&.active {
							border-right-color: $screen-md-menuitem-hover-border-color;
						}
					}
				}
			}
		}
	}

	.active {
		a, summary {
			@extend %submenu-colors;
		}
	}

	a, summary {
		display: block;
		color: $screen-md-menubar-text-color;
		font-weight: 700;
		padding: 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		@extend %medium-view-navigation-links;
		border: {
			bottom: 4px solid $screen-md-submenu-bottom-border-color;
			radius: 0 0 3px 3px;
		}

		a, summary {
			@extend %submenu-colors;
			font-weight: 400;

			// TODO: Implement %navigation-links when libsass gets better placeholder support
			&:link {
				text-decoration: none;
			}

			&.wb-navcurr {
				@extend %gcwu-theme-wb-sm-wb-navcurr;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		.slflnk {
			background: #bbb;
		}
	}
}

#wb-bc {
	.container {
		@extend %page-background;
	}
}

body {
	> {
		main {
			@extend %page-background;
		}

		header + .container {
			@extend %page-background;
		}
	}
}

#wb-cont {
	margin-top: 20px;
}

%secmenu-wet-theme-menuitem-curr-hover-focus {
	background: darken($clrWhite, 50%);
	color: lighten($clrDark, 75%);
}

#wb-sec {
	margin-top: 20px;
	padding-bottom: 2em;
	h3 {
		padding: 15px;
		margin: 0;
		border: 1px solid #ddd;
		border-bottom: 3px solid #666;
		font-size: 1em;

		a {
			color: #333;
			text-decoration: none;
		}
	}
	.list-group {
		margin-bottom: 0;

		a {
			&.list-group-item {
				background: $clrWhite;
				color: $clrDark;
				border-radius: 0;
				margin-top: -1px;
				text-decoration: none;

				&.wb-navcurr {
					@extend %secmenu-wet-theme-menuitem-curr-hover-focus;
				}

				&[href] {
					&:hover, &:focus {
						@extend %secmenu-wet-theme-menuitem-curr-hover-focus;
					}
				}
			}
		}

		.list-group {
			.list-group-item {
				background: darken($clrWhite, 10%);
				color: darken($clrDark, 50%);
				padding-left: 1.8em;
			}
		}
	}
}

#wb-info {
	> {
		.container {
			> {
				:before {
					@extend %page-background;
					background: transparent;
					content: " ";
					margin: {
						left: -15px;
						right: -15px;
					}
					display: block;
					height: 25px;
				}
			}
		}
	}
}

#gc-info {
	background-color: $gc-header-footer-background-color;
	margin-top: 10px;

	ul {
		margin: 0;
	}

	li {
		margin: 12px 0 13px 40px;
		line-height: normal;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $gc-header-footer-text-color;

		span {
			font-weight: 700;
			text-transform: uppercase;

			&:after {
				content:"\a";
				white-space: pre;
			}
		}
	}
}

#canada-ca {
	@extend %float-right;
	margin: 1em 0 !important;
	padding-right: 0;

	a {
		border-left: 1px solid $screen-md-canadaca-divider-color;
		padding-left: 44px;
		display: inline-block;
		vertical-align: middle;
		font-size: 160%
	}
}

[dir=rtl] {
	#wb-sttl {
		@extend %float-right;
	}

	#wmms {
		@extend %float-left;
		margin-left: 15px;
	}

	#gcwu-sig {
		margin-right: 15px;
	}

	#gc-bar {
		@extend %float-left;

		a {
			border: {
				left: 0;
				right: 1px solid $gc-header-footer-divider-color;
			}
		}

		> {
			&:first-child {

				a {
					border-right: 0;
				}
			}
		}

		ul {
			padding: 0;

			li {
				a {
					border-right: 1px solid $gc-header-footer-divider-color;
				}
			}
		}
	}

	#wb-srch {
		left: 0;
		right: auto;
	}

	#gc-info {
		ul {
			padding-right: 0;
		}

		li {
			margin: 12px 40px 13px 0;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	#canada-ca {
		@extend %float-left;
		padding-right: 0;
		padding-left: 5px;

		a {
			border: {
				left: 0;
				right: 1px solid $screen-md-canadaca-divider-color;
			}
			padding: {
				left: 0;
				right: 44px;
			}
		}
	}
}
