/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */

%fip-height {
	height: 1.5em;
}

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

%all-view-navigation-links {
	@include navigation-links;
}

.wb-slc {
	a {
		color: #FFF;
	}
}

#wb-bar {
	background: $gc-header-footer-background-color;
	min-height: 2.6em;

	a {
		color: $gc-header-footer-text-color;
	}
}

#gcwu-sig {
	@extend %fip-height;
	margin: 10px 0;
}

#wmms {
	@extend %fip-height;
}

#wb-sttl {
	@extend %all-view-navigation-links;
	a {
		color: #FFFFFF !important;

		span {
			line-height: normal;
		}
	}
}

#wb-bc {
	.breadcrumb {
		margin-bottom: 0;
		background: transparent;
	}

	li {
		&:before, &:after {
			font: {
				family: "Glyphicons Halflings";
				size: 0.7em;
			}
			color: #333;
		}
		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
}

#wb-info {
	li {
		margin-bottom: 0.75em;
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				@extend %no-breadcrumb-icon;
			}
			&:after {
				content: "\e091";
				padding: 0 5px;
			}
			&:first-child {
				&:after {
					@extend %no-breadcrumb-icon;
				}
			}
		}
	}

	#wb-dtmd {
		float: left;
	}
}