<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="${themePath + '_page'}">
<head lang="en">
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="page">
    <nav class="navbar navbar-default navbar-sm" role="navigation">
        <ul class="nav navbar-nav" th:inline="text" th:with="baseLink=${'/sequenceFiles/' + file.getId()}">
            <li th:class="${activeNav} == 'dashboard' ? 'active'"><a th:href="@{${baseLink}}"><span
                    class="glyphicon glyphicon-home"></span></a></li>
            <li th:class="${activeNav} == 'overrepresented' ? 'active'"><a
                    th:href="@{${baseLink} + '/overrepresented'}">Overrepresented
                Sequences<span class="badge" th:text="${fastQC.overrepresentedSequences.size()}"></span></a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <button id="fileDownload" class="btn btn-default btn-xs mrgn-rght-sm"><span
                        class="glyphicon glyphicon-download-alt"></span>&nbsp;<span
                        th:text="#{form.download}">Download</span>
                </button>
            </div>
        </div>
    </nav>

    <main class="col-md-8 col-md-push-4" layout:fragment="main">
        <!--/*/
        This is where the main content of every project page will go.
        /*/-->
    </main>

    <aside class="col-md-4 col-md-pull-8 visible-md visible-lg mrgn-tp-md" th:object="${fastQC}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b class="panel-title" th:text="#{sf.sidebar.details}">__FILE_DETAILS__</b>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked details">
                    <li>
                        <i class="glyphicon glyphicon-barcode"></i>
                        <em th:text="#{sf.sidebar.file-id}"></em>
                        <span id="file-id" th:text="${file.getId()}"></span></li>
                    <li>
                        <i class="glyphicon glyphicon-calendar"></i>
                        <em th:text="#{sf.sidebar.created}"></em>
                        <span id="file-created" th:title="${created}" th:text="${created}"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-qrcode"></i>
                        <em th:text="#{sf.encoding}">_ENCODING_</em>
                        <span id="file-encoding" th:text="*{encoding}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title" th:text="#{sf.sidebar.sequences}">__SEQUENCE_DETAILS__</b>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked details">
                    <li><em th:text="#{sf.totalSequences}">_TOTAL_SEQUENCES_</em><span id="totalSequences"
                                                                                       class="pull-right"
                                                                                       th:text="*{totalSequences}"></span>
                    </li>
                    <li><em th:text="#{sf.totalBases}">_TOTAL_BASES+</em><span id="totalBases" class="pull-right"
                                                                               th:text="*{totalBases}"></span></li>
                    <li><em th:text="#{sf.minLength}">_MIN_LENGHT_</em><span id="minLength" class="pull-right"
                                                                             th:text="*{minLength}"></span></li>
                    <li><em th:text="#{sf.maxLength}">_MIN_LENGHT_</em><span id="maxLength" class="pull-right"
                                                                             th:text="*{maxLength}"></span></li>
                    <li><em th:text="#{sf.gcContent}">_MIN_LENGHT_</em><span id="gcContent" class="pull-right"
                                                                             th:text="*{gcContent}"></span></li>
                </ul>
            </div>
        </div>
        <iframe id="invisible" style="display:none;"></iframe>
    </aside>
</div>

<th:block layout:fragment="baseScripts">
    <script th:src="@{/resources/wet-theme/js/deps/jquery.magnific-popup.min.js}"
            src="/resources/wet-theme/js/deps/jquery.magnific-popup.min.js"></script>
    <script th:src="@{/resources/wet-theme/js/deps/jquery.dataTables.min.js}"
            src="/resources/wet-theme/js/deps/jquery.dataTables.min.js"></script>
    <script>
        $("#fileDownload").on('click', function () {
            var iframe = document.getElementById('invisible');
            iframe.src = /*[[@{'/sequenceFiles/download/' + ${file.getId()}}]]*/ '/sequenceFiles/download/11';
        });
    </script>

    <th:block layout:fragment="pageScripts"></th:block>
</th:block>
</body>
</html>