<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{sequenceFiles/_base}">
<head>
    <title th:text="${file.getLabel()}"></title>
</head>
<body>

<main layout:fragment="main">
    <section class="sequenceFile">
        <h2 th:text="#{sf.quality-charts}">__Quality_Charts__</h2>

        <p class="lead" th:text="#{fastqc.file.processor.analysis.description(${fastQC.fastqcVersion})}">...</p>

        <img th:src="@{/sequenceFiles/img/{objectId}/file/{id}/perbase(objectId=${sequencingObject.getId()},id=${file.getId()})}"
             th:alt="#{sf.img.perbase}">
        <img th:src="@{/sequenceFiles/img/{objectId}/file/{id}/persequence(objectId=${sequencingObject.getId()},id=${file.getId()})}"
             th:alt="#{sf.img.persequence}">
        <img th:src="@{/sequenceFiles/img/{objectId}/file/{id}/duplicationlevel(objectId=${sequencingObject.getId()},id=${file.getId()})}"
             th:alt="#{sf.img.dublicationlevel}">

    </section>
</main>
</body>
</html>
