<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{sequenceFiles/_base}">
<head>
    <title th:text="${file.getLabel()}">THIS IS SOMETHING WRONG</title>
    <link rel="stylesheet" th:href="@{/resources/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
</head>
<body>
<div layout:fragment="main">
    <h2 th:text="#{sf.overrepresentedSequences}">__Overrepresented_Sequences__</h2>
    <p class="text-info" th:text="${fastQC.description}">...</p>

    <table id="orTable" class="dataTable table table-striped">
        <thead>
        <tr>
            <th th:text="#{sf.overrepresentedSequences.sequence}">Sequence</th>
            <th th:text="#{sf.overrepresentedSequences.percentage}">Percentage</th>
            <th th:text="#{sf.overrepresentedSequences.count}">Count</th>
            <th th:text="#{sf.overrepresentedSequences.source}">Possible Source</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seq : ${fastQC.overrepresentedSequences}">
            <td><code th:text="${seq.sequence}"></code></td>
            <td th:text="${#numbers.formatInteger(seq.percentage,0) + '%'}"></td>
            <td th:text="${seq.overrepresentedSequenceCount}"></td>
            <td th:text="${seq.possibleSource}"></td>
        </tr>
        </tbody>
    </table>
</div>
<aside th:replace="sequenceFiles/file_base :: sidebar"></aside>

<th:block layout:fragment="pageScripts" th:inline="javascript">
    <script th:src="@{/resources/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script>
        /*<![CDATA[*/
        $("#orTable").dataTable({
            dom: "<'top'il>rt<'bottom'p><'clear'>",
            "bFilter": false,
            "bSort": false
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>
