<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<aside th:fragment="sidebar" class="col-md-4 col-md-pull-8 visible-md visible-lg mrgn-tp-md" th:object="${fastQC}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b class="panel-title" th:text="#{sf.sidebar.details}">__FILE_DETAILS__</b>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked details">
                <li>
                    <i class="glyphicon glyphicon-barcode"></i>
                    <em th:text="#{sf.sidebar.file-id}"></em>
                    <span th:text="*{id}"></span></li>
                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <em th:text="#{sf.sidebar.created}"></em>
                    <span th:title="*{createdDate}" th:text="${created}"></span>
                </li>
                <li>
                    <i class="glyphicon glyphicon-qrcode"></i>
                    <em th:text="#{sf.encoding}">_ENCODING_</em>
                    <span th:text="*{encoding}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title" th:text="#{sf.sidebar.sequences}">__SEQUENCE_DETAILS__</b>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked details">
                <li><em th:text="#{sf.totalSequences}">_TOTAL_SEQUENCES_</em><span class="pull-right" th:text="*{totalSequences}"></span></li>
                <li><em th:text="#{sf.totalBases}">_TOTAL_BASES+</em><span class="pull-right"
                                                                           th:text="*{totalBases}"></span></li>
                <li><em th:text="#{sf.minLength}">_MIN_LENGHT_</em><span class="pull-right"
                                                                         th:text="*{minLength}"></span></li>
                <li><em th:text="#{sf.maxLength}">_MIN_LENGHT_</em><span class="pull-right"
                                                                         th:text="*{maxLength}"></span></li>
                <li><em th:text="#{sf.gcContent}">_MIN_LENGHT_</em><span class="pull-right"
                                                                         th:text="*{gcContent}"></span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title" th:text="#{sf.overrepresentedSequences}">__OVERREPRESENTED_SEQUENCES__</b>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li th:each="over : ${fastQC.overrepresentedSequences}">
                    <ul>
                        <li th:text="${over.percentage}"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>
<div th:fragment="scripts">
    <script src="/resources/wet-theme/js/deps/jquery.magnific-popup.min.js"></script>
</div>
</body>
</html>