<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="sequenceFiles/_base">
<head>
    <title th:text="${file.getLabel()}">THIS IS SOMETHING WRONG</title>
</head>
<body>
<main layout:fragment="main">
    <h1 id="wb-cont" role="heading" th:text="${file.getLabel()}"></h1>

    <p class="lead" th:text="${fastQC.description}">...</p>

    <h2 th:text="#{sf.overrepresentedSequences}">__Overrepresented_Sequences__</h2>

    <table id="orTable" class="dataTable table table-striped">
        <thead>
        <tr>
            <th th:text="#{sf.overrepresentedSequences.sequence}">Sequence</th>
            <th th:text="#{sf.overrepresentedSequences.percentage}">Percentage</th>
            <th th:text="#{sf.overrepresentedSequences.count}">Count</th>
            <th th:text="#{sf.overrepresentedSequences.source}">Possible Source</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seq : ${fastQC.overrepresentedSequences}">
            <td><code th:text="${seq.sequence}"></code></td>
            <td th:text="${#numbers.formatInteger(seq.percentage,0) + '%'}"></td>
            <td th:text="${seq.overrepresentedSequenceCount}"></td>
            <td th:text="${seq.possibleSource}"></td>
        </tr>
        </tbody>
    </table>
</main>
<aside th:replace="sequenceFiles/file_base :: sidebar"></aside>

<th:block layout:fragment="pageScripts" th:inline="javascript">
    <script>
        /*<![CDATA[*/
        $("#orTable").dataTable({
            dom: "<'top'il>rt<'bottom'p><'clear'>",
            "bFilter": false,
            "bSort": false
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>