/* line 1, ../../../styles/modules/events.scss */
.event-item, .event-icon, .event-content, .event-date, .event-time {
  display: flex;
  align-items: center;
}

/* line 5, ../../../styles/modules/events.scss */
.event-content {
  align-items: center;
}

/* line 8, ../../../styles/modules/events.scss */
.event-icon {
  display: flex;
  justify-content: center;
  flex: 0 0 35px;
  margin-right: 10px;
}

/* line 14, ../../../styles/modules/events.scss */
.event-icon .fa {
  font-size: 1.6em;
}

/* line 17, ../../../styles/modules/events.scss */
.event-date {
  justify-content: flex-end;
  flex: 0 0 90px;
  color: #666;
  font-size: .7em;
  text-align: right;
}

/* line 24, ../../../styles/modules/events.scss */
.event-time {
  line-height: 28px;
}

/* line 27, ../../../styles/modules/events.scss */
.event-content {
  flex-grow: 1;
  line-height: 28px;
}
