.phylogenomics {
  background-color: #1eaaf1 !important;
  color: #222 !important; }

.assembly-annotation {
  background-color: #cdda49 !important;
  color: #222 !important; }

.assembly-annotation-collection {
  background-color: #fdc02f !important;
  color: #222 !important; }
