<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="/resources/wet-theme/css/wet-boew.min.css"/>
    <link rel="stylesheet" href="/resources/wet-theme/css/theme.min.css"/>
</head>
<body>
<header th:fragment="header" role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">

                    <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img"
                            th:data="@{/resources/assets/sig-en.svg}" data="/resources/assets/sig-en.svg"
                            aria-label="Government of Canada"></object>
                    <ul id="gc-bar" class="list-inline">

                        <li><a href="http://www.canada.ca/en/index.html" rel="external"
                               th:text="#{wet.header.canadaUrl}">Canada.ca</a></li>
                        <li><a href="http://www.canada.ca/en/services/index.html" rel="external"
                               th:text="#{wet.header.services}">Services</a></li>
                        <li><a href="http://www.canada.ca/en/gov/dept/index.html" rel="external"
                               th:text="#{wet.header.departments}">Departments</a></li>
                        <li><a th:href="'?lang=' + ((${#locale.language} == 'en') ? 'fr' : 'en')"
                               th:text="( (${#locale.language} eq 'en')? 'Français' : 'English')">Fran&#231;ais</a></li>`
                        <li th:if="${name}"><a th:href="@{/logout}" href="/logout" th:text="${name}">USERNAME</a></li>
                    </ul>

                    <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                        <h2>Menu</h2>
                        <ul class="pnl-btn list-inline text-right">
                            <li><a href="#mb-pnl" title="Menu" aria-controls="mb-pnl"
                                   class="overlay-lnk btn btn-xs btn-default" role="button"><span
                                    class="glyphicon glyphicon-th-list"><span class="wb-inv"
                                                                              th:text="#{wet.header.menu}">Menu</span></span></a>
                            </li>
                        </ul>
                        <div id="mb-pnl"></div>

                    </section>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div id="wb-sttl" class="col-md-5">
                    <a th:href="@{/}" href="/">
                        <span th:text="#{global.title}">IRIDA Platform</span>
                    </a>

                </div>
                <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="/resources/assets/wmms.svg"
                        th:data="@{/resources/assets/wmms.svg}"
                        aria-label="Symbol of the Government of Canada"></object>


            </div>
        </div>
    </div>

    <span data-trgt="mb-pnl" class="wb-menu hide"></span>
</header>
</body>
</html>