<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" role="banner">
    <div id="wb-bnr">
        <div class="container">
            <div class="row mrgn-tp-lg mrgn-bttm-lg">
                <section class="col-md-8">
                    <object type="image/svg+xml" tabindex="-1" role="img" th:data="@{/assets/sig-alt-en.svg}" aria-label="Web Experience Toolkit"></object>
                </section>
            </div>
        </div>
    </div>
</header>
</body>
</html>