@import "../helpers/variables";

@keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0, -65px, 0px);
  }
}

@-webkit-keyframes glow {
  from { background-color: $irida-colour-info;}
  50% { background-color: lighten($irida-colour-info, 20);}
  to { background-color: $irida-colour-info;}
}

.glow {
  animation: glow .5s .2s 1;
}