<div id="events">
    <div th:if="${#lists.size(events)>0}" class="form-group">
        <label th:text="#{event.size}"></label><br/>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="eventsCtrl.size" uib-btn-radio="10">10</label>
            <label class="btn btn-default" ng-model="eventsCtrl.size" uib-btn-radio="20">20</label>
            <label class="btn btn-default" ng-model="eventsCtrl.size" uib-btn-radio="50">50</label>
            <label class="btn btn-default" ng-model="eventsCtrl.size" uib-btn-radio="100">100</label>
        </div>
    </div>
    <ul class="list-group">
    <li class="list-group-item event-item" th:each="event : ${events}">
        <th:block th:replace="events/fragments/event :: ${event.name} (${event.event})"></th:block>
        <div class="event-date" data-toggle="tooltip"
             th:text="${#dates.format(event.event.createdDate, dateFormat)}"
             th:with="dateFormat=#{locale.date.long}">
        </div>
    </li>
    <li class="list-group-item" th:if="${#lists.isEmpty(events)}" th:text="#{event.no_activities}">
    </li>
</ul>
</div>
