<div class="row">
    <div class="large-12 columns page-info">
        <ul class="breadcrumbs left hide-for-small">
            <li><a href="/">Landing</a></li>
            <li class="current"><a ng-href="{{links.self}}">All Projects</a></li>
        </ul>

        <ul class="button-group radius right">
            <li><a class="button" data-ng-disabled="!links.prev"
                   data-ng-click="loadProjects(links.prev)"><i class="icon-angle-left"></i></a></li>
            <li><a class="button" data-ng-disabled="!links.next"
                   data-ng-click="loadProjects(links.next)"><i class="icon-angle-right"></i></a></li>
        </ul>
        <button class="button radius" data-reveal-id="newProjectModal"><i class="icon-plus"></i>&nbsp;Project
        </button>
    </div>
</div>