<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<body>
<div class="col-md-12 col-lg-10 col-lg-offset-1" layout:fragment="page">

    <div class="row">
        <header>
            <div class="col-md-10">
                <h1 class="t-title" th:text="#{samples.title(${sample.getLabel()})}">__TITLE__</h1>
            </div>
            <div class="col-md-2" th:if="${canManageSample}">
                <a id="edit-sample" class="btn btn-default btn-sm pull-right ng-cloak"
                   href="edit" th:text="#{form.btn.edit}">__EDIT__</a>
            </div>
        </header>
        <nav class="col-md-12"
             th:with="baseLink=@{'/samples/' + ${sample.getId()}}">
            <ul class="nav nav-tabs">
                <li th:class="${activeNav} == 'details' ? 'active'"><a href="details"
                                                                       th:text="#{samples.nav.details}">Details</a>
                </li>
                <li th:class="${activeNav} == 'files' ? 'active'"><a href="sequenceFiles"
                                                                     th:text="#{samples.nav.files}">Files</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <main class="col-md-8 col-md-push-4" layout:fragment="main">
        </main>

        <div class="col-md-4 col-md-pull-8">
            <aside class="sidebar">
                <div class="sidebar__heading">
                    <h2 class="text-wrap" id="sample-name" th:text="${sample.getLabel()}">__NAME__</h2>
                </div>
                <div class="sidebar__body">
                    <div class="sidebar__item">
                        <div class="sidebar__item">
                            <i class="fa fa-barcode fa-fw" aria-hidden="true"></i>
                        </div>
                        <div th:text="#{samples.details.id}">ID</div>
                        <div id="sb-id" class="sidebar__value" th:text="${sample.getId()}"></div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon">
                            <i class="fa fa-leaf fa-fw" aria-hidden="true"></i>
                        </div>
                        <div th:text="#{samples.details.organism}">Organism</div>
                        <div class="sidebar__value"><i
                                th:text="${sample.getOrganism()} != null ? ${sample.getOrganism()} : #{organism.unknown}"></i>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                        </div>
                        <div th:text="#{samples.details.created}">Createdr</div>
                        <div id="sb-created" class="sidebar__value"
                             th:text="${#calendars.format(sample.getCreatedDate(), 'dd MMM yyyy')}"></div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                        </div>
                        <div th:text="#{samples.details.modified}">Modified</div>
                        <div class="sidebar__value" id="sb-modified"
                             th:text="${#calendars.format(sample.getModifiedDate(), 'dd MMM yyyy')}"></div>
                    </div>
                    <div th:if="${sample.isRemote()}" th:with="status=${sample.getRemoteStatus()}">
                        <div class="sidebar__item">
                            <div class="sidebar__icon">
                                <i class="fa fa-exchange fa-fw" aria-hidden="true"></i>
                            </div>
                            <div th:text="#{sample.sync.source}">_Source_</div>
                            <div class="sidebar__value">
                                <a href="#" th:href="@{/remote_api/{id}(id=${status.getApi().getId()})}"
                                   th:text="${status.getApi().getLabel()}">_api_</a>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__icon">
                                <i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>
                            </div>
                            <div th:text="#{project.sync.status}">_Status_</div>
                            <div class="sidebar__value" th:text="#{'project.sync.status.'+${status.getSyncStatus()}}">
                                _status_
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <th:block layout:fragment="sidebar"/>
        </div>
    </div>
</div>
<th:block layout:fragment="page-scripts">
    <th:block layout:fragment="scripts"></th:block>
</th:block>
</body>
</html>
