<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{samples/_base}">
<head>
	<title th:text="#{samples.files.title(${sample.label})}">THIS IS SOMETHING WRONG</title>
	<link rel="stylesheet" th:href="@{/resources/dist/css/sample-files.bundle.css}">
	<script th:inline="javascript">
		var PAGE = {
			sample: {
				id: /*[[${sample.getId()}]]*/ '1'
			},
			i18n: {
				leaving: /*[[#{project.samples.files.upload.page-leave}]]*/ "Leaving the page will cause your file upload to be cancelled."
			},
		  	URLS: {
			  upload: /*[[@{/samples/{id}/sequenceFiles/upload(id=${sample.getId()})}]]*/ ''
			}
		};
	</script>
</head>
<body>

<div th:if="${canManageSample}" th:with="url=${#httpServletRequest.requestURI}" class="panel panel-default panel-file-upload" ng-controller="FileUploadController as fileUploadCtrl" layout:fragment="sidebar">
	<div class="panel-body" ng-hide="fileUploadCtrl.uploading || fileUploadCtrl.processing">
		<div class="fileUpload btn btn-default btn-sm btn-block">
			<th:block th:text="#{samples.files.upload.btn}"></th:block>
			&nbsp;
			<i class="fa fa-upload fa-fw" aria-hidden="true"></i>
			<input type="file" id="file-upload-btn" class="upload" name="files"
				   ngf-change="fileUploadCtrl.uploadFiles($files, $event, $rejectedFiles)"
				   ngf-select=""
				   multiple="true"/>
		</div>
		<small class="text-muted" th:text="#{samples.files.empty.message-paired}"></small>
	</div>
	<div class="ng-cloak panel-body" ng-show="fileUploadCtrl.uploading || fileUploadCtrl.processing || fileUploadCtrl.errorMessage">
		<h3 th:text="#{samples.files.upload.progress.title}">_Uploading Files</h3>

		<div class="file-upload-progress"
			 ng-class="{fadeIn: fileUploadCtrl.uploading, fadeOut: !fileUploadCtrl.uploading}">
			<uib-progressbar class="progress-striped active" style="margin-right: 1em;" value="fileUploadCtrl.progress">{{ fileUploadCtrl.progress
				}}%
			</uib-progressbar>
			<button class="btn btn-default btn-xs" ng-click="fileUploadCtrl.cancel()">
				<i class="fa fa-times fa-fw" aria-hidden="true"></i>
			</button>
		</div>
		<div class="alert alert-info file-upload-crunching"
			ng-class="{fadeIn: fileUploadCtrl.processing, fadeOut: !fileUploadCtrl.processing}">
			<i class="fa fa-circle-notch fa-spin fa-fw"></i>
				&nbsp;<th:block th:text="#{samples.files.upload.progress.processing}"></th:block>
		</div>
		<div class="alert alert-danger file-upload-error"
			 ng-class="{fadeIn: fileUploadCtrl.errorMessage, fadeOut: !fileUploadCtrl.errorMessage}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fileUploadCtrl.errorMessage=''"><span aria-hidden="true">&times;</span></button>
			<strong th:text="#{project.samples.files.upload.error.title}">__UPLOAD_ERROR__</strong>
			<p>{{ fileUploadCtrl.errorMessage }}</p></div>
	</div>
	<div class="panel-body" th:if="${not #lists.isEmpty(single_end) or not #lists.isEmpty(paired_end)}">
		<a href="concatenate" class="btn btn-default btn-sm btn-block">
			<th:block th:text="#{samples.files.concatenate.btn}"></th:block>
			&nbsp;
			<i class="fa fa-plus-square" aria-hidden="true"></i>
			</a>
	</div>
</div>

<div layout:fragment="main">
	<div>
		<div>
			<div id="file-deleted-success" th:if="${fileDeletedMessage}" class="alert alert-success"
			     role="alert">
				<strong th:text="${fileDeletedMessage}"></strong>
			</div>
			<div th:if="${fileDeletedError}" class="alert alert-error" role="alert">
				<strong th:text="${fileDeletedError}"></strong>
			</div>
		</div>
	</div>
	<div class="panel panel-info" th:if="${#lists.isEmpty(single_end) and #lists.isEmpty(paired_end)}">
		<div class="panel-body">
			<div class="media">
				<div class="media-left">
					<i class="far fa-file media-object" style="font-size: 10rem;"></i>
				</div>
				<div class="media-body">
					<h4 class="media-heading" th:text="#{samples.files.empty.title}"></h4>
					<p class="lead" th:text="#{samples.files.empty.message}"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table"
				th:with="dateFormat=#{locale.date.short}, url=@{${#httpServletRequest.requestURI}}"
				ng-controller="FileController as fileCtrl">
				<th:block th:each="pair : ${paired_end}">
					<tr class="paired_end paired_end__forward sequence-file-row"
						th:with="file=${pair.getForwardSequenceFile()}">
						<td
							th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${file},icon='forward',relative='true')"></td>
						<td>
							<div class="btn-group-sm pull-right" role="group">
								<button th:if="${canManageSample}"
									class="btn btn-default remove-pair"
									th:with="fId=${file.id + ', &#39;'' + file.getLabel() + ''&#39;'}"
									data:ng-click="${'fileCtrl.deleteFile(' + pair.id + ', &#39;'' + pair.getLabel() +'&#39;')'}">
									<span class="fa fa-fw fa-trash"></span>
								</button>
								<a class="btn btn-default btn-sm"
									th:attr="download=${file.getLabel()}"
									th:href="@{/sequenceFiles/download/{objectId}/file/{fileId}(objectId=${pair.id}, fileId=${file.getId()})}">
									<span class="fa fa-fw fa-download"></span>
								</a>
							</div>
						</td>
					</tr>
					<tr class="paired_end paired_end__reverse sequence-file-row"
						th:with="file=${pair.getReverseSequenceFile()}">
						<td
							th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${file},icon='reverse',relative='true')"></td>
						<td>
							<div class="btn-group btn-group-sm pull-right" role="group">
								<a class="btn btn-default btn-sm"
									th:attr="download=${file.getLabel()}"
									th:href="@{/sequenceFiles/download/{objectId}/file/{fileId}(objectId=${pair.id}, fileId=${file.getId()})}">
									<span class="fa fa-fw fa-download"></span>
								</a>
							</div>
						</td>
					</tr>
					<tr class="paired_end paired_end__assembly"
						th:if="${pair.getAutomatedAssembly()}">
						<td class="td_icon"><i
							data:uib-tooltip="#{sf.tooltip.assembly}"
							class="fa fa-align-right" /></td>
						<td><a href="#"
							th:href="@{/analysis/{id}(id=${pair.getAutomatedAssembly().getId()})}"
							class="btn btn-default btn-sm file-name"
							th:text="#{samples.files.assembly}">_Assembly_</a></td>
						<td colspan="3"><span
							th:text="#{samples.files.assembly.status}">_Status_</span> <span
							th:text="#{'analysis.state.' + ${pair.getAutomatedAssembly().getAnalysisState()}}"></span>
						</td>
					</tr>
					<tr class="paired_end paired_end__sistr_typing"
						th:if="${pair.getSistrTyping()}">
						<td class="td_icon"><i data:uib-tooltip="#{sf.tooltip.sistr}"
							class="fa fa-align-right" /></td>
						<td><a href="#"
							th:href="@{/analysis/{id}(id=${pair.getSistrTyping().getId()})}"
							class="btn btn-default btn-sm file-name"
							th:text="#{samples.files.sistr}">_SISTR_</a></td>
						<td colspan="3"><span th:text="#{samples.files.sistr.status}">_Status_</span>
							<span
							th:text="#{'analysis.state.' + ${pair.getSistrTyping().getAnalysisState()}}"></span>
						</td>
					</tr>
					<th:block th:if="${not #lists.isEmpty(pair.getQcEntries())}">
						<tr class="paired_end file__qc"
							th:each="qc : ${pair.getQcEntries()}">
							<td class="td_icon qc_icon"><i
								data:uib-tooltip="#{sf.tooltip.qc}" class="far fa-chart-bar"></i>
							</td>
							<td colspan="4">
								<ul class="list-group qc_list">
									<li class="qc-item list-group-item"
										th:each="qc : ${pair.getQcEntries()}"
										th:if="${qc.getStatus().value != 'UNAVAILABLE'}"
										th:classappend="${qc.getStatus().value == 'POSITIVE'} ? list-group-item-success : list-group-item-danger">
										<span
										th:text="#{'sample.files.qc.'+${qc.getType()} (${qc.getMessage()})}"></span>
									</li>
								</ul>
							</td>
						</tr>
					</th:block>
					<tr>
						<td colspan="5" class="sequence_spacer"></td>
					</tr>
				</th:block>
				<th:block th:each="join : ${single_end}"
					th:with="file=${join.getObject()}">
					<tr class="single_end sequence-file-row">
						<td
							th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${file},file=${file.getSequenceFile()},icon='single',relative='true')"></td>
						<td>
							<div class="btn-group-sm pull-right" role="group">
								<button th:if="${canManageSample}"
									class="btn btn-default remove-file"
									th:with="fId=${file.id + ', &#39;'' + file.getLabel() + ''&#39;'}"
									data:ng-click="${'fileCtrl.deleteFile(' + fId + ')'}">
									<span class="fa fa-fw fa-trash"></span>
								</button>

								<a class="btn btn-default btn-sm"
									th:attr="download=${file.getLabel()}"
									th:href="@{/sequenceFiles/download/{objectId}/file/{fileId}(objectId=${file.getId()}, fileId=${file.getSequenceFile().getId()})}">
									<span class="fa fa-fw fa-download"></span>
								</a>

							</div>
						</td>
					</tr>
					<th:block th:if="${not #lists.isEmpty(file.getQcEntries())}">
						<tr class="single_end file__qc">
							<td class="td_icon qc_icon"><i
								data:uib-tooltip="#{sf.tooltip.qc}" class="far fa-chart-bar"></i>
							</td>
							<td colspan="4">
								<ul class="list-group qc_list">
									<li class="qc-item list-group-item"
										th:each="qc : ${file.getQcEntries()}"
										th:if="${qc.getStatus().value != 'UNAVAILABLE'}"
										th:classappend="${qc.getStatus().value == 'POSITIVE'} ? list-group-item-success : list-group-item-danger">
										<span
										th:text="#{'sample.files.qc.'+${qc.getType()} (${qc.getMessage()})}"></span>
									</li>
								</ul>
							</td>
						</tr>
					</th:block>
					<tr>
						<td colspan="5" class="sequence_spacer"></td>
					</tr>
				</th:block>
			</table>
		</div>
	</div>
	
	<div th:if="${not #lists.isEmpty(assemblies)}">
		<div class="row">
			<div class="col-md-12">
				<h2 id="sample-page-subtitle"
					th:text="#{samples.files.assembly.title}"></h2>
			</div>
		</div>
	</div>

	<div class="row" th:if="${not #lists.isEmpty(assemblies)}">
		<div class="col-md-12">
			<table class="table assembly_sample_info"
				th:with="dateFormat=#{locale.date.short}, url=@{${#httpServletRequest.requestURI}}"
				ng-controller="AssemblyFileController as fileCtrl">
				<tr class="assembly_row" th:each="assembly : ${assemblies}" th:with="dateFormat=#{locale.date.short}">
					<td class="td_icon assembly_sample_icon"><i
						data:uib-tooltip="#{sf.tooltip.assembly}" class="far fa-file-alt"></i></td>
					<td th:switch="${assembly instanceof T(ca.corefacility.bioinformatics.irida.model.assembly.GenomeAssemblyFromAnalysis)}">
						<a class="btn btn-default btn-sm file-name" href="#"
							th:case="true"
							th:href="@{/analysis/{sId}(sId=${assembly.analysisSubmission.id})}"
							th:text="${assembly.label}"></a>
						<a class="btn btn-default btn-sm file-name" href="#"
							th:case="false"
							th:text="${assembly.label}"></a>
					</td>
					<td>
						<div class="td_info">
							<div class="td_info--value"
								th:text="${assembly.getReadableFileSize()}"></div>
							<div class="small text-muted td_info--desc"
								th:text="#{samples.files.fileSize}">File Size</div>
						</div>
					</td>
					<td>
						<div class="td_info pull-right">
							<div class="td_info--value"
								th:text="${#dates.format(assembly.getCreatedDate(), dateFormat)}"></div>
							<div class="small text-muted pull-right td_info--desc"
								th:text="#{samples.files.createdDate}">Created Date</div>
						</div>
					</td>
					<td>
						<div class="btn-group-sm pull-right" role="group">
							<button th:if="${canManageSample}"
								class="btn btn-default remove-assembly"
								th:with="aId=${assembly.id + ', &#39;'' + assembly.getLabel() + ''&#39;'}"
								data:ng-click="${'fileCtrl.deleteFile(' + aId + ')'}">
								<span class="fa fa-fw fa-trash"></span>
							</button>

							<a class="btn btn-default btn-sm"
									th:attr="download=${assembly.label}"
									th:href="@{/samples/download/{sampleId}/assembly/{assemblyId}(sampleId=${sample.id}, assemblyId=${assembly.id})}">
								<span class="fa fa-fw fa-download"></span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>
<th:block layout:fragment="scripts" th:inline="javascript">
	<script type="text/ng-template" id="/upload-error.html">
		<div class="modal-header">
			<h4 class="modal-title">
				<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
				&nbsp;
				<th:block th:text="#{project.samples.files.error.title}"/>
			</h4>
		</div>
		<div class="modal-body">
			<p>
				<ng-pluralize count="rejectModalCtrl.rejects.length"
							  th:attr="when='{\'1\' : \'' + #{project.samples.files.error.bad-files.single} + '\', \'other\': \'' + #{project.samples.files.error.bad-files.plural} + '\'}'">
				</ng-pluralize>
			</p>
			<alert type="danger">
				<div ng-repeat="file in rejectModalCtrl.rejects">
					<strong class="bad-file-name">{{file.name}}</strong>
					<div class="pull-right">{{ file.size | humanReadableBytes }}</div>
				</div>
			</alert>
			<div ng-if="rejectModalCtrl.good.length">
				<h3>
					<ng-pluralize count="rejectModalCtrl.good.length"
								  th:attr="when='{\'1\' : \'' + #{project.samples.files.error.good-files.single} + '\', \'other\': \'' + #{project.samples.files.error.good-files.plural} + '\'}'">
					</ng-pluralize>
				</h3>
				<alert type="success">
					<label ng-repeat="file in rejectModalCtrl.good"><input type="checkbox" ng-init="file.selected=true" ng-model="file.selected"/>&nbsp;&nbsp;
						<strong>{{file.name}}</strong>

						<div class="pull-right">{{ file.size | humanReadableBytes }}</div>
					</label>
				</alert>
			</div>
		</div>
		<div class="modal-footer" ng-if="rejectModalCtrl.good.length">
			<button class="btn btn-default" ng-click="rejectModalCtrl.cancel()"
					th:text="#{samples.files.upload.modal.cancel}">_NO, Cancel Upload
			</button>
			<button class="btn btn-primary" ng-click="rejectModalCtrl.finish()"
					th:text="#{samples.files.upload.modal.finish}">_Yes, Upload Selected files
			</button>
		</div>
		<div class="modal-footer" ng-if="rejectModalCtrl.good.length === 0">
			<button class="btn btn-default btn-primary" ng-click="rejectModalCtrl.cancel()"
					th:text="#{samples.files.upload.modal.try-again}">_Ok, try again
			</button>
		</div>
	</script>
	<script type="text/ng-template" id="/confirm.html">
		<form method="post" th:action="@{/samples/{sId}/files/delete(sId=${sampleId})}">
			<div class="modal-header">
			<h3 class="modal-title" th:text="#{samples.files.remove.confirmation}"></h3>
		</div>
		<div class="modal-body">
			<h4>{{ ::deleteCtrl.label }}</h4>
			<input type="hidden" name="fileId" value="{{ deleteCtrl.fileId }}"/>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="deleteCtrl.cancel()" th:text="#{form.btn.cancel}">Cancel</button>
			<button id="remove-file-confirm" type="submit" class="btn btn-warning remove-file-confirm" th:text="#{form.btn.remove}">OK</button>
		</div>
		</form>
	</script>
	<script type="text/ng-template" id="/confirm_qc.html">
		<form method="post" th:action="@{/samples/{sId}/qc/delete(sId=${sampleId})}">
			<div class="modal-header">
			<h3 class="modal-title" th:text="#{sample.files.qc.remove.confirmation}"></h3>
		</div>
		<div class="modal-body">
			<h4>{{ ::deleteCtrl.label }}</h4>
			<input type="hidden" name="qcId" value="{{ deleteCtrl.fileId }}"/>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="deleteCtrl.cancel()" th:text="#{form.btn.cancel}">Cancel</button>
			<button id="remove-file-confirm" type="submit" class="btn btn-warning remove-file-confirm" th:text="#{form.btn.remove}">OK</button>
		</div>
		</form>
	</script>
		<script type="text/ng-template" id="/confirm_assembly.html">
		<form method="post" th:action="@{/samples/{sId}/files/assembly/delete(sId=${sampleId})}">
			<div class="modal-header">
			<h3 class="modal-title" th:text="#{samples.files.assembly.remove.confirmation}"></h3>
		</div>
		<div class="modal-body">
			<h4>{{ ::deleteCtrl.label }}</h4>
			<input type="hidden" name="assemblyId" value="{{ deleteCtrl.fileId }}"/>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="deleteCtrl.cancel()" th:text="#{form.btn.cancel}">Cancel</button>
			<button id="remove-file-confirm" type="submit" class="btn btn-warning remove-file-confirm" th:text="#{form.btn.remove}">OK</button>
		</div>
		</form>
	</script>

	<script th:src="@{/resources/dist/js/sample-files.bundle.js}"></script>
</th:block>
</body>
</html>
