<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="samples/_base">
<head lang="en">
	<meta charset="UTF-8"/>
	<title th:text="#{samples.files.title(${sample.label})}">THIS IS SOMETHING WRONG</title>
	<link rel="stylesheet" href="/resources/css/pages/sample_files.css"
	      th:href="@{/resources/css/pages/sample_files.css}"/>
	<script>window.dependencies = ['irida.sample.files'];</script>
</head>
<body>
<main layout:fragment="main">
	<div class="row">
		<div class="col-md-12">
			<h1 id="page-title" role="heading" th:text="#{samples.files.page-title(${sample.getLabel()})}">
				__TITLE__</h1>
		</div>
	</div>
	<div class="row" th:if="${fileDeleted}">
		<div class="col-md-12 alert alert-success" role="alert">
			<strong th:text="${fileDeletedMessage}"></strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="boards" th:with="dateFormat=#{locale.date.short}, url=@{${#httpServletRequest.requestURI}}"
			    ng-controller="FileController as fileCtrl">
				<li class="board" th:each="pair : ${pairs}">
					<div class="row paired_end">
						<div class="col-md-6">
							<a href="#"
							   th:href="${#strings.contains(url, 'projects')} ? ${'sequenceFiles/' + file.getId() + '/summary'} : @{/sequenceFiles/{id}/summary(id=${file.id})}"
							   class="board-name btn btn-default btn-sm" th:each="file : ${pair.files}"
							   th:text="${file.getLabel()}"></a>
						</div>
						<div class="col-md-3">
							<div th:text="${#dates.format(pair.createdDate, dateFormat)}"></div>
							<div class="small text-muted">Created Date</div>
						</div>
						<div class="col-md-3">
							<div th:each="file : ${pair.files}">
								<div class="btn-group btn-group-sm" role="group">
									<button class="btn btn-default"
									        data:ng-click="${'fileCtrl.download(' + file.getId() + ')'}">
										<span class="fa fa-fw fa-download"></span>
									</button>
									<button th:if="${canManageSample}" class="btn btn-default remove-file" th:with="fId=${file.getId() + ', &#39;'' + file.getLabel() + ''&#39;'}"
									        data:ng-click="${'fileCtrl.deleteFile(' + fId + ')'}">
										<span class="fa fa-fw fa-trash"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="board" th:each="file : ${files}">
					<div class="row single_end">
						<div class="col-md-6">
							<a href="#"
							   th:href="${#strings.contains(url, 'projects')} ? ${'sequenceFiles/' + file.id + '/summary'} : @{/sequenceFiles/{id}/summary(id=${file.id})}"
							   class="board-name btn btn-default btn-sm" th:text="${file.label}"></a>
						</div>
						<div class="col-md-3">
							<div th:text="${#dates.format(file.createdDate, dateFormat)}"></div>
							<div class="small text-muted">Created Date</div>
						</div>
						<div class="col-md-3">
							<div class="btn-group btn-group-sm" role="group">
								<button class="btn btn-default"
								        data:ng-click="${'fileCtrl.download(' + file.id + ')'}">
									<span class="fa fa-fw fa-download"></span>
								</button>
								<button th:if="${canManageSample}" class="btn btn-default remove-file" th:with="fId=${file.id + ', &#39;'' + file.label + ''&#39;'}"
								        data:ng-click="${'fileCtrl.deleteFile(' + fId + ')'}">
									<span class="fa fa-fw fa-trash"></span>
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

</main>
<th:block layout:fragment="page-scripts" th:inline="javascript">
	<script type="text/ng-template" id="/confirm.html">
		<div class="modal-header">
			<h3 class="modal-title" th:text="#{samples.files.remove.confirmation}"></h3>
		</div>
		<div class="modal-body">
			<h4>{{ ::deleteCtrl.label }}</h4>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="deleteCtrl.cancel()">Cancel</button>
			<button class="btn btn-primary remove-file-confirm" ng-click="deleteCtrl.deleteFile()">OK</button>
		</div>
	</script>
	<script th:inline="javascript">
		var URLS = {
			base: /*[[@{${#httpServletRequest.requestURI}}]]*/ '/sequenceFiles',
			download: /*[[@{/sequenceFiles/download/}]]*/ 'sequenceFiles/download',
			deleteFile: /*[[@{/samples/ajax/{sId}/files/(sId=${sampleId})}]]*/ '/samples/ajax/1/files/1'
		};
	</script>
	<script>
		(function () {
			"use strict";

			function FileService($http, notifications) {
				var svc = this;

				svc.download = function (id) {
					var iframe = document.createElement("iframe");
					iframe.src = URLS.download + id;
					iframe.style.display = "none";
					document.body.appendChild(iframe);
				};

				svc.deleteFile = function (id, label) {
					$http.delete(URLS.deleteFile + id)
						.success(function () {
							window.location = URLS.base + "?deletedFileName=" + encodeURIComponent(label);
						})
						.error(function (data) {
							notifications.show({msg: data.error, type: 'error'});
						});
				};
			}

			function FileDeletionController($modalInstance, label) {
				var vm = this;
				vm.label = label;

				vm.deleteFile = function () {
				    $modalInstance.close();
				};

				vm.cancel = function () {
				    $modalInstance.dismiss();
				};
			}

			function FileController(fileService, $modal) {
				var vm = this;

				vm.download = function (id) {
					fileService.download(id);
				};

				vm.deleteFile = function(id, label){
					var modal = $modal.open({
						templateUrl: '/confirm.html',
						controller: 'FileDeletionController as deleteCtrl',
						resolve: {
							label: function() {
								return label;
							}
						}
					});

					modal.result.then(function() {
						fileService.deleteFile(id, label);
					});
				};


			}

			angular.module('irida.sample.files', [])
				.controller('FileController', ['FileService', '$modal', FileController])
				.controller('FileDeletionController', ['$modalInstance', 'label', FileDeletionController])
				.service('FileService', ['$http', 'notifications', FileService])
			;
		})();
	</script>
	<!--<script>-->		<!--/*<![CDATA[*/-->		<!--$(document).ready(function () {-->
	<!--'use strict';-->			<!--var table = $("#filesTable").DataTable();-->

	<!--$("button.remove-file").on("click", function () {-->				<!--var that = $(this);-->
	<!--var fileId = that.data("file-id");-->				<!--var sampleId = /*[[${sample.id}]]*/ 0;-->

	<!--showRemoveFile(fileId, sampleId, $("#file-row-" + fileId), table);-->			<!--});-->

	<!--$("button.download-file").on("click", function () {-->				<!--var that = $(this);-->
	<!--var fileId = that.data("file-id");-->
	<!--var url = /*[[@{/sequenceFiles/download/}]]*/ '/sequenceFiles/download/';-->
	<!--var iframe = document.createElement("iframe");-->				<!--iframe.src = url + fileId;-->
	<!--iframe.style.display = "none";-->				<!--document.body.appendChild(iframe);-->			<!--});-->
	<!--});-->

	<!--function showRemoveFile(fileId, sampleId, fileRow, table) {-->
	<!--var urlBase = /*[[@{/samples/ajax/}]]*/ "/samples/ajax/";-->
	<!--var removeURL = urlBase + sampleId + "/files/" + fileId;-->

	<!--noty({-->				<!--layout : "center",-->				<!--type   : "confirmation",-->
	<!--text   : /*[[#{samples.files.remove.confirmation}]]*/ "_Remove sequence file from sample?_",-->
	<!--modal  : true,-->				<!--buttons: [-->					<!--{-->
	<!--addClass: 'btn btn-primary btn-sm remove-file-confirm',-->
	<!--text    : [[#{form.btn.confim}]],-->						<!--onClick : function ($noty) {-->
	<!--$noty.close();-->							<!--$.ajax({-->
	<!--url    : removeURL,-->								<!--method : "DELETE",-->
	<!--success: function () {-->									<!--noty({-->
	<!--text   : /*[[#{samples.files.remove.complete}]]*/ '_File removed_',-->
	<!--layout : "topCenter",-->										<!--type   : "success",-->
	<!--timeout: 5000-->									<!--});-->
	<!--table.row(fileRow).remove().draw();-->								<!--},-->
	<!--error  : function () {-->
	<!--text: /*[[#{samples.files.remove.error}]]*/ '',-->										<!--noty({-->
	<!--layout : "topCenter",-->											<!--type   : "error",-->
	<!--timeout: 10000-->										<!--})-->								<!--}-->
	<!--});-->						<!--}-->					<!--},-->					<!--{-->
	<!--addClass: 'btn btn-danger btn-sm', text: [[#{form.btn.cancel}]], onClick: function ($noty) {-->
	<!--$noty.close();-->					<!--}-->					<!--}-->				<!--]-->
	<!--});-->		<!--}-->		<!--/*]]>*/-->	<!--</script>-->
</th:block>
</body>
</html>