<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{samples/_base}">
<head>
    <title th:text="#{samples.edit.title(${sample.label})}">THIS IS SOMETHING WRONG</title>
    <link rel="stylesheet" th:href="@{/dist/css/sample-edit.bundle.css}">
</head>
<body>
<div layout:fragment="main">
    <div class="row">
        <div class="col-md-12">
            <form id="edit-form" role="form" action="edit" method="post">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <b class="panel-title" th:text="#{samples.edit.page-title(${sample.getLabel()})}">__TITLE__</b>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <legend th:text="#{samples.details.basic-info}">Basic Info</legend>
                            <div class="form-group" th:class="#{#maps.containsKey(errors, 'sampleName')}">
                                <label for="sampleName" th:text="#{samples.details.sampleName}">Sample Name</label>
                                <input type="text" id="sampleName" name="sampleName" class="form-control input-full"
                                       th:value="${sampleName} != null ? ${sampleName} : ${sample.getSampleName()}"/>
                                <span id="sampleName-error" th:if="${#maps.containsKey(errors, 'sampleName')}"
                                      class="help-block" th:text="${errors.sampleName}"></span>
                            </div>
                            <div class="form-group" th:class="#{#maps.containsKey(errors, 'description')}">
                                <label for="description" th:text="#{samples.details.description}">Description</label>
                                <textarea type="text" id="description" name="description"
                                          class="form-control input-full" th:text="${description} != null ? ${description} : ${sample.getDescription()}"></textarea>
                                <span id="description-error" th:if="${#maps.containsKey(errors, 'description')}"
                                      class="help-block" th:text="${errors.description}"></span>
                            </div>
                        </fieldset>
                        <fieldset class="mrgn-tp-md">
                            <legend th:text="#{samples.details.section.organism-title}"></legend>
                            <div class="form-group" th:class="${#maps.containsKey(errors, 'organism')} ? has-error">
                                <label for="organism" th:text="#{samples.details.organism}">Organism</label>
                                <input type="text" class="form-control input-full" id="organism" name="organism"
                                       th:value="${organism} != null ? ${organism} : ${sample.getOrganism()}"/>
                                <span id="organism-error" th:if="${#maps.containsKey(errors, 'organism')}"
                                      class="help-block" th:text="${errors.organism}"></span>

                            </div>
                            <div class="form-group" th:class="${#maps.containsKey(errors, 'isolate')} ? has-error">
                                <label for="isolate" th:text="#{samples.details.isolate}">Organism</label>
                                <input type="text" class="form-control input-full" id="isolate" name="isolate"
                                       th:value="${isolate} != null ? ${isolate} : ${sample.getIsolate()}"/>
                                <span id="isolate-error" th:if="${#maps.containsKey(errors, 'isolate')}"
                                      class="help-block" th:text="${errors.isolate}"></span>
                            </div>
                            <div class="form-group" th:class="${#maps.containsKey(errors, 'strain')} ? has-error">
                                <label for="strain" th:text="#{samples.details.strain}">Organism</label>
                                <input type="text" class="form-control input-full" id="strain" name="strain"
                                       th:value="${strain} != null ? ${strain} : ${sample.getStrain()}"/>
                                <span id="strain-error" th:if="${#maps.containsKey(errors, 'strain')}"
                                      class="help-block" th:text="${errors.strain}"></span>
                            </div>
                        </fieldset>
                        <fieldset class="mrgn-tp-md">
                            <legend th:text="#{samples.collection.title}"></legend>
                            <div class="form-group" th:class="${#maps.containsKey(errors, 'collectedBy')} ? has-error">
                                <label for="collectedBy" th:text="#{samples.collected-by}">Collected By</label>
                                <input type="text" class="form-control input-full" id="collectedBy" name="collectedBy"
                                       th:value="${collectedBy} != null ? ${collectedBy} : ${sample.getCollectedBy()}"/>
                                <span id="collectedBy-error" th:if="${#maps.containsKey(errors, 'collectedBy')}"
                                      class="help-block" th:text="${errors.collectedBy}"></span>
                            </div>
                            <div class="form-group"
                                 th:class="${#maps.containsKey(errors, 'collectionDate')} ? has-error">
                                <label for="collectionDate" th:text="#{samples.collection-date.title}">Date
                                    Collected</label>
                                <input type="date" class="form-control input-full" id="collectionDate"
                                       name="collectionDate"
                                       th:value="${collectionDate} != null ? ${collectionDate} : ${sample.getCollectionDate()}"/>
                                <span id="collectionDate-error" th:if="${#maps.containsKey(errors, 'collectionDate')}"
                                      class="help-block" th:text="${errors.collectionDate}"></span>
                            </div>
                            <div class="form-group"
                                 th:class="${#maps.containsKey(errors, 'isolationSource')} ? has-error">
                                <label for="isolationSource" th:text="#{samples.isolation-source.title}">Source</label>
                                <input type="text" class="form-control input-full" id="isolationSource"
                                       name="isolationSource"
                                       th:value="${isolationSource} != null ? ${isolationSource} : ${sample.getIsolationSource()}"/>
                                <span id="isolationSource-error" th:if="${#maps.containsKey(errors, 'isolationSource')}"
                                      class="help-block" th:text="${errors.isolationSource}"></span>
                            </div>
                            <div class="form-group"
                                 th:class="${#maps.containsKey(errors, 'geographicLocationName')} ? has-error">
                                <label for="geographicLocationName" th:text="#{location.geographic.title}">Geographic
                                    Location</label>
                                <input type="text" class="form-control input-full" id="geographicLocationName"
                                       name="geographicLocationName"
                                       th:value="${geographicLocationName} != null ? ${geographicLocationName} : ${sample.getGeographicLocationName()}"/>
                                <span id="geographicLocationName-error"
                                      th:if="${#maps.containsKey(errors, 'geographicLocationName')}" class="help-block"
                                      th:text="${errors.geographicLocationName}"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"
                                         th:class="${#maps.containsKey(errors, 'latitude')} ? has-error">
                                        <label for="latitude" th:text="#{location.latitude}">Latitude</label>
                                        <input type="text" class="form-control input-full" id="latitude"
                                               name="latitude"
                                               th:value="${latitude} != null ? ${latitude} : ${sample.getLatitude()}"/>
                                        <span id="latitude-error" th:if="${#maps.containsKey(errors, 'latitude')}"
                                              class="help-block" th:text="${errors.latitude}"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"
                                         th:class="${#maps.containsKey(errors, 'longitude')} ? has-error">
                                        <label for="longitude" th:text="#{location.longitude}">Longitude</label>
                                        <input type="text" class="form-control input-full" id="longitude"
                                               name="longitude"
                                               th:value="${longitude} != null ? ${longitude} : ${sample.getLongitude()}"/>
                                        <span id="longitude-error" th:if="${#maps.containsKey(errors, 'longitude')}"
                                              class="help-block" th:text="${errors.longitude}"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset id="other-metadata">
                            <legend th:text="#{sample.metadata.other}">_Other Metadata_</legend>
                            <div class="row" id="metadata-fields">
                                <div th:unless="${#maps.isEmpty(sample.getMetadata())}">
                                    <div th:each="entry : ${sample.getMetadata()}"  class="col-md-6 metadata-entry">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="metadata-key form-control" required="required" th:value="${entry.key}"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default delete-metadata" type="button">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <input type="text" class="metadata-value form-control" th:value="${entry.value.value}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="add-metadata">
                                        <i class="fa fa-plus" aria-hidden="true"></i> <span th:text="#{sample.metadata.new}">_Add new term_</span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                        
                        <input class="hidden" type="text" id="metadata" name="metadata"/>
                    </div>
                    <div class="panel-footer text-right">
                        <a href="details" class="btn btn-default" th:text="#{form.btn.cancel}">Cancel</a>
                        <button id="submitBtn" class="btn btn-primary" th:text="#{form.btn.update}">Update</button>
                    </div>
                </div>
            </form>
            <div class="hidden">
                <div id="metadata-template" class="col-md-6 metadata-entry">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="metadata-key form-control" required="required"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default delete-metadata" type="button">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </span>
                        </div>
                        <input type="text" class="metadata-value form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/sample-edit.bundle.js}"></script>
</th:block>
</body>
</html>
