<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head lang="en">
	<title th:text="${title}">Pipelines - Launch</title>
	<link rel="stylesheet" href="/resources/css/pages/sample_files.css"
	      th:href="@{/resources/css/pages/sample_files.css}"/>
	<style>
	</style>
	<script>window.dependencies = ['irida.pipelines'];</script>
</head>
<body>
<div layout:fragment="page" ng-app="irida.pipelines">
	<form class="form-horizontal" method="post" ng-controller="PipelineController as pipeline">
		<div id="no-ref-warning" class="row" th:if="${referenceRequired} and ${#lists.size(referenceFiles)} == 0">
			<h1 th:text="${mainTitle}"></h1>

			<div class="alert alert-danger col-md-12">
				<b th:text="#{pipeline.error.no-reference-heading}">Reference File Required</b><br/><br/>
				<th:block th:if="${#lists.size(addRefProjects) > 0}">
					<p id="has-rights" th:text="#{pipeline.error.no-reference.link-heading}">Projects You can Upload a
						Reference File to:</p>
					<ul class="nav nav-pills nav-stacked col-md-3">
						<li th:each="project : ${addRefProjects}">
							<a class="add-ref-file" th:href="@{/projects/{id}/referenceFiles(id=${project.id})}"
							   href="#" th:text="${project.name}"></a>
						</li>
					</ul>
				</th:block>
				<th:block th:if="${#lists.size(addRefProjects)} == 0">
					<p id="has-no-rights" th:text="#{pipeline.error.no-reference.no-permissions}">You do not have
						permission to upload a reference file to these projects. Please contact a project manager to add
						a reference file.</p>
				</th:block>
			</div>
		</div>
		<div class="row" id="pipeline-creation" th:if="${#lists.size(referenceFiles) != 0} or ${!referenceRequired}">
			<div class="col-md-10">
				<h1 th:text="${mainTitle}"></h1>

				<div class="alert alert-info">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pipeline-name"
						       th:text="#{workflow.label.name}">Name</label>

						<div class="col-md-10" th:with="dateFormat=#{date.iso-8601}">
							<input id="pipeline-name" class="form-control" type="text"
							       th:value="${name + '_' + #calendars.format(#dates.createToday(), dateFormat)}"/>

							<div ng-show="pipeline.error" class="label label-danger ng-cloak">{{pipeline.error}}</div>
						</div>
					</div>
					<div th:if="${referenceRequired}" class="form-group">
						<label for="referenceFiles" class="col-sm-2 control-label"
						       th:text="#{workflow.label.reference-file}">Reference File</label>

						<div class="col-sm-10">
							<select class="form-control" name="referenceFiles" id="referenceFiles">
								<option th:each="ref : ${referenceFiles}" th:value="${ref.file.getId()}"
								        data:project="${ref.project.id}"
								        th:text="${ref.file.getLabel() + ' (' + ref.project.getLabel() + ')'}"></option>
							</select>
						</div>
					</div>
					<div class="form-group"
					     th:if="${parameters} and ${#lists.size(parameters)} != 0">
						<label for="named-parameters" class="col-sm-2 control-label"
						       th:text="#{workflow.parameters.select.label}">___Parameters___</label>

						<div class="col-sm-10">
							<div class="row">
								<div class="col-md-9">
									<select id="named-parameters" name="named-parameters"
								        class="form-control"
								        ng-model="pipeline.selectedParameters"
								        ng-change="pipeline.parameterSelected()"
								        ng-options="item.currentSettings.label for item in pipeline.parameters">

									</select>
								</div>
								<div class="col-md-3">
									<button id="pipeline-parameters-btn"
								        ng-controller="ParameterModalController as modal"
								        class="btn btn-default btn-block"
								        ng-click="modal.openModal()">
									<i class="fa fa-cogs"></i>
									<span th:text="#{workflow.parameters.section-button}">___Customize___</span>
								</button></div>
							</div>
						</div>
						<div ng-show="pipeline.paramError"
						     class="alert alert-danger sidebar-content ng-cloak">
							<strong class="fa fa-3x fa-fw fa-hand-o-up alert-icon-motion"></strong>
							{{pipeline.paramError}}
						</div>
					</div>
					<th:block th:unless="${parameters}">
						<div class="alert alert-info sidebar-content"
						     th:text="${noParameters}"></div>
					</th:block>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{workflow.label.files}">Files</label>

					<div class="col-sm-10" th:with="dateFormat=#{locale.date.short}">
						<th:block th:each="project : ${projects}">

							<div th:id="${'sample-' + sample.id}" class="sample-container" th:each="sample : ${project.samples}">
								<h3>
									<a href="#" th:href="@{/projects/{id}/samples(id=${project.id})}"
									   th:text="${project.name + ' / ' + sample.name}"></a>
									<button type="button"
									        class="btn btn-xs btn-default pull-right remove remove-sample-button"
									        th:text="#{form.btn.remove}"
									        th:attr="ng-click=${'pipeline.removeSample('+project.id+','+sample.id+')'}">
										Remove
									</button>
								</h3>

								<!--/* (15-03-26 )
								Check to see if there are paired end or single end files that need to be displayed.
								 - Must have the proper key in the files hash and have items within the set.
								*/-->
								<th:block
									th:with="hasPaired=${#maps.containsKey(sample.files, 'paired_end') and #sets.size(sample.files.paired_end) &gt; 0},
								hasSingles=${#maps.containsKey(sample.files, 'single_end') and #sets.size(sample.files.single_end) &gt; 0}">
									<table class="table" th:if="${hasPaired or hasSingles}">

										<!--/* (15-03-26 ) PAIRED END DATA */-->
										<th:block th:if="${hasPaired}"
										          th:with="pairs=${sample.files.paired_end}">
											<th:block th:each="pair : ${pairs}">
												<tr class="paired_end paired_end__forward">
													<td class="td_radio" rowspan="2">
														<!--/* (15-03-26 ) Checked only if it is the first pair in the set. */-->
														<input type="radio" data-type="paired_end" th:value="${pair.getId()}"
														       th:checked="${pairStat.first}" th:name="${sample.id}"/>
													</td>
													<td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (file=${pair.getForwardSequenceFile()},icon='forward')"></td>
												</tr>
												<tr class="paired_end paired_end__reverse">
													<td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (file=${pair.getReverseSequenceFile()},icon='reverse')"></td>
												</tr>
											</th:block>
										</th:block>

										<!--/* (15-03-26 ) SINGLE END DATA */-->
										<th:block th:if="${hasSingles}" th:with="files=${sample.files.single_end}">
											<tr class="single_end" th:each="join : ${files}" th:with="file=${join.getObject()}">
											<td>
												<!--/* (15-03-26 ) Checked only if there are no pairs and it is the first one in the file set */-->
												<input type="radio" data-type="single_end" th:value="${file.getId()}" th:name="${sample.id}" th:checked="${!hasPaired and fileStat.first}"/>
											</td>
											<td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (file=${file},icon='single')"></td>
										</tr>
										</th:block>
									</table>

									<!--/* (15-03-26 ) If there are no files available in this sample to run on the selected pipeline show a warning with no files. */-->
									<div th:unless="${hasPaired or hasSingles}" class="alert alert-warning">
										<strong
											class="fa fa-fw fa-ban"></strong>
										<th:block th:text="#{workflow.files.files-not-appropriate}"></th:block>
									</div>
								</th:block>

							</div>
						</th:block>
                        
                        <th:block>
                            <div th:id="${'remote-sample-' + sample.id}" class="sample-container" th:each="sample : ${remoteSamples}">
                                <h3>
                                    <span th:text="#{workflow.samples.remote(${sample.name})}">_Remote Samples_</span>
                                    <button type="button"
                                            class="btn btn-xs btn-default pull-right remove remove-sample-button"
                                            th:text="#{form.btn.remove}">
                                        _Remove_
                                    </button>
                                </h3>
                                <th:block
									th:with="hasPaired=${#maps.containsKey(sample.files, 'paired_end') and #sets.size(sample.files.paired_end) &gt; 0},
								    hasSingles=${#maps.containsKey(sample.files, 'single_end') and #sets.size(sample.files.single_end) &gt; 0}">
									<table class="table" th:if="${hasPaired or hasSingles}">

										<!--/* (15-03-26 ) PAIRED END DATA */-->
										<th:block th:if="${hasPaired}"
										          th:with="pairs=${sample.files.paired_end}">
											<th:block th:each="pair : ${pairs}">
												<tr class="paired_end paired_end__forward">
													<td class="td_radio" rowspan="2">
														<!--/* (15-03-26 ) Checked only if it is the first pair in the set. */-->
														<input type="radio" data-type="paired_end" th:value="${pair.getSelfHref()}"
														       th:checked="${pairStat.first}" th:name="${sample.id}"/>
													</td>
													<td th:replace="templates/_sequenceFile :: remoteSequenceFileTableLayout (file=${pair.getForwardSequenceFile()},icon='forward')"></td>
												</tr>
												<tr class="paired_end paired_end__reverse">
													<td th:replace="templates/_sequenceFile :: remoteSequenceFileTableLayout (file=${pair.getReverseSequenceFile()},icon='reverse')"></td>
												</tr>
											</th:block>
										</th:block>

										<!--/* (15-03-26 ) SINGLE END DATA */-->
										<th:block th:if="${hasSingles}" th:with="files=${sample.files.single_end}">
											<tr class="single_end" th:each="join : ${files}" th:with="file=${join.getObject()}">
											<td>
												<!--/* (15-03-26 ) Checked only if there are no pairs and it is the first one in the file set */-->
												<input type="radio" data-type="single_end" th:value="${file.getId()}" th:name="${sample.id}" th:checked="${!hasPaired and fileStat.first}"/>
											</td>
											<td th:replace="templates/_sequenceFile :: remoteSequenceFileTableLayout (file=${file},icon='single')"></td>
										</tr>
										</th:block>
									</table>

									<!--/* (15-03-26 ) If there are no files available in this sample to run on the selected pipeline show a warning with no files. */-->
									<div th:unless="${hasPaired or hasSingles}" class="alert alert-warning">
										<strong
											class="fa fa-fw fa-ban"></strong>
										<th:block th:text="#{workflow.files.files-not-appropriate}"></th:block>
									</div>
								</th:block>
                            </div>
                        </th:block>
					</div>
				</div>
			</div>
			<div class="col-md-2" ng-switch="pipeline.loading">
				<div data-spy="affix" style="width: 200px;">
					<div ng-switch-when="false" class="ng-cloak text-center">
						<h2 th:text="#{workflow.launch.btn}">Ready to Launch?</h2>

						<div>
							<button id="btn-launch" class="btn btn-xl btn-danger btn-action"
							        th:title="#{workflow.launch.btn.title}"
							        ng-click="pipeline.launch()">
								<span class="fa fa-rocket"></span>
							</button>
						</div>
					</div>
					<div id="pipeline-submitted" class="ng-cloak" ng-switch-when="true">
						<div ng-hide="pipeline.success" class="alert alert-info">
							<strong class="fa fa-2x fa-fw fa-coffee"></strong>&nbsp;
							<span th:text="#{workflow.pipeline-kickoff-message}"></span>
						</div>
						<div id="pipeline-submitted-success" ng-show="pipeline.success" class="alert alert-success">
							<strong class="fa fa-2x fa-smile-o text-center"></strong>&nbsp;
							<span th:text="#{workflow.submitted-success}">You must be awesome!  All your files looked good and the pipeline has been launched and the pedal should hit the metal soon.</span>
							<br/><br/>
							<a id="btn-see-pipeline" class="btn btn-success btn-affixed" href="#"
							   th:href="@{/analysis/list}"
							   th:text="#{workflow.submitted-view-btn}">Let's see how this pipeline is doing.
							</a>
							<br/><br/>
							<button id="btn-clear-pipeline" class="btn btn-warning btn-affixed"
							        ng-click="pipeline.clearAndRedirect()"
							        th:text="#{workflow.submitted-clear-btn}">Clear the cart and start over!
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block layout:fragment="page-scripts">
	<th:block th:if="${parameters} and ${#lists.size(parameters)} != 0"
	          th:replace="pipelines/templates/parameters :: modal (${parameterModalTitle}, ${parameters})"></th:block>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var PIPELINE = {
			url       : /*[[@{/pipelines/ajax/start/{id}(id=${pipelineId})}]]*/ '/ajax/pipelines/ccca532d-b0be-4f2c-bd6d-9886aa722571',
			required  : /*[[#{workflow.no-name-provided}]]*/ 'Name Required',
			parameters: /*[[${parameters}]]*/ [],
			saveParametersUrl : /*[[@{/pipelines/ajax/parameters}]]*/ '/ajax/pipeline/parameters',
			pipelineId : /*[[${pipelineId}]]*/ 'pipelineId'
		};

		var projectsPage = /*[[@{/projects}]]*/ '/projects';
		/*]]>*/
	</script>
	<script src="/resources/bower_components/bootstrap/js/affix.js"
	        th:src="@{/resources/bower_components/bootstrap/js/affix.js}"></script>
	<script src="/resources/js/pages/pipelines/pipeline.launch.js"
	        th:src="@{/resources/js/pages/pipelines/pipeline.launch.js}"></script>
</th:block>
</body>
</html>