<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="${title}">Pipelines - Launch</title>
    <link rel="stylesheet" th:href="@{/dist/css/sample-files.bundle.css}">
    <script th:inline="javascript">
      /*<![CDATA[*/
      window.PAGE = {
        urls: {
          upload: /*[[@{/referenceFiles/new}]]*/ "/referenceFiles/new",
          startUrl: /*[[@{/pipelines/ajax/start}]]*/ "/pipelines/ajax/start",
          saveParametersUrl: /*[[@{/pipelines/ajax/parameters}]]*/ "/ajax/pipeline/parameters",
          projectsPage: /*[[@{/projects}]]*/ "/projects"
        },
        i18n: {
          required: /*[[#{workflow.no-name-provided}]]*/ "Name Required",
          launchButtonTitleArmed: /*[[#{workflow.launch.btn.title}]]*/ "Button Armed",
          launchButtonTitleDisarmed: /*[[#{workflow.launch.btn.title-disarmed}]]*/ "Button Disarmed"
        },
        pipeline: {
          parameters: /*[[${parameters}]]*/ [],
          pipelineId: /*[[${pipelineId}]]*/ "pipelineId",
          dynamicSources: /*[[${dynamicSources}]]*/ [],
          paramsWithChoices: /*[[${paramsWithChoices}]]*/ [],
          automatedProjectId: /*[[${automatedProjectId}]]*/ 0
        }
      };
      /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="page" class="col-md-12 col-lg-10 col-lg-offset-1" ng-app="irida.pipelines">
    <form class="form-horizontal" method="post" ng-controller="PipelineController as pipeline">
        <div id="pipeline-creation">

            <div class="col-sm-9 col-lg-9">
                <h1 th:text="${mainTitle}"></h1>

                <!-- INPUTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <!-- MAIN FORM -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="pipeline-name"
                                       th:text="#{workflow.label.name}">Name</label>

                                <div class="col-md-10">
                                    <input id="pipeline-name" class="form-control" type="text"
                                           th:value="${name}"/>

                                    <div ng-show="pipeline.error" class="label label-danger ng-cloak">{{pipeline.error}}
                                    </div>
                                </div>
                            </div>
                            <div th:if="${referenceRequired}" class="form-group">
                                <label for="referenceFiles" class="col-sm-2 control-label"
                                       th:text="#{workflow.label.reference-file}">Reference File</label>

                                <div class="col-sm-10" ng-controller="FileUploadCtrl as uploadCtrl">
                                    <div class="row ng-cloak">
                                        <div class="col-md-9"
                                             ng-show="!uploadCtrl.uploaded &amp;&amp; !uploadCtrl.uploadError">
                                            <select class="form-control" name="referenceFiles" id="referenceFiles"
                                                    th:if="${#lists.size(referenceFiles)} != 0"
                                                    ng-disabled="uploadCtrl.referenceUploadStarted">
                                                <option th:each="ref : ${referenceFiles}" th:value="${ref.file.getId()}"
                                                        data:project="${ref.project.id}"
                                                        th:text="${ref.file.getLabel() + ' (' + ref.project.getLabel() + ')'}"></option>
                                            </select>
                                            <div id="no-ref-warning" class="uploaded-file-name control-label"
                                                 th:text="#{workflow.no.reference.file.for.selection}"
                                                 th:if="${#lists.size(referenceFiles)} == 0">__No reference files in
                                                projects__
                                            </div>
                                        </div>
                                        <div class="col-md-9 control-label" ng-show="uploadCtrl.uploaded">
                                            <div id="uploaded-file-name" class="uploaded-file-name"
                                                 ng-bind="uploadCtrl.uploaded.name"></div>
                                        </div>
                                        <div class="col-md-9 control-label" ng-show="uploadCtrl.uploadError">
                                            <div id="uploaded-file-error" class="uploaded-file-name alert alert-danger"
                                                 ng-bind="uploadCtrl.uploadError"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="fileUpload btn btn-default btn-block"
                                                 ng-show="!uploadCtrl.referenceUploadStarted">
                                                <i class="fa fa-upload fa-fw" aria-hidden="true"></i>
                                                &nbsp;
                                                <th:block th:text="#{workflow.upload.new.reference.file}"></th:block>
                                                <input type="file" id="file-upload-button" class="upload " name="files"
                                                       ngf-change="uploadCtrl.upload($files)" ngf-accept="'*.fasta'"
                                                       ngf-select=""/>

                                            </div>
                                            <div class="file-upload-progress"
                                                 ng-class="{fadeIn: uploadCtrl.referenceUploadStarted, fadeOut: !uploadCtrl.referenceUploadStarted}">
                                                <uib-progressbar class="progress-striped active"
                                                                 value="uploadCtrl.progress">{{ uploadCtrl.progress }}%
                                                </uib-progressbar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${dynamicSourceRequired}" class="form-group"
                                 ng-repeat="dynamicSource in pipeline.dynamicSources.availableSettings">
                                <label class="col-sm-2 control-label">{{dynamicSource.label}}</label>
                                <div class="col-sm-10">
                                    <select id="{{dynamicSource.id}}" name="{{dynamicSource.label}}"
                                            class="form-control"
                                            ng-model="pipeline.selectedDynamicSource"
                                            ng-change="pipeline.dynamicSourceValueSelected('{{dynamicSource.id}}')"
                                            ng-options="item.label for item in dynamicSource.parameters">
                                        <option value="" th:text="#{form.select.please-select}">__Please select__
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div th:if="${paramsWithChoices.size() > 0}" class="form-group"
                                 ng-repeat="(pname, p) in pipeline.paramsWithChoices">
                                <label class="col-sm-2 control-label">{{p.label}}</label>
                                <div class="col-sm-10">
                                    <select id="{{p.name}}" name="{{p.name}}"
                                            class="form-control"
                                            ng-model="pipeline.selectedChoiceParam[p.name]"
                                            ng-change="pipeline.choiceParamChanged('{{p.name}}')"
                                            ng-options="c.name for c in p.choices">
                                        <option value="" th:text="#{form.select.please-select}">__Please select__
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"
                                 th:if="${parameters} and ${#lists.size(parameters)} != 0 and
							        ${#lists.size(parameters.?[id == 'default'][0].parameters)} != 0">
                                <label for="named-parameters" class="col-sm-2 control-label"
                                       th:text="#{workflow.parameters.select.label}">___Parameters___</label>

                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <select id="named-parameters" name="named-parameters"
                                                    class="form-control"
                                                    ng-model="pipeline.selectedParameters"
                                                    ng-change="pipeline.parameterSelected()"
                                                    ng-options="item.currentSettings.label for item in pipeline.parameters">

                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <button id="pipeline-parameters-btn"
                                                    ng-controller="ParameterModalController as modal"
                                                    class="btn btn-default btn-block"
                                                    ng-click="modal.openModal()">
                                                <i class="fa fa-cogs"></i>
                                                <span th:text="#{workflow.parameters.section-button}">___Customize___</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="pipeline.paramError"
                                     class="alert alert-danger sidebar-content ng-cloak">
                                    <strong class="fa fa-3x fa-fw fa-hand-o-up alert-icon-motion"></strong>
                                    {{pipeline.paramError}}
                                </div>
                            </div>
                            <th:block th:unless="${parameters}">
                                <div class="alert alert-info sidebar-content"
                                     th:text="${noParameters}"></div>
                            </th:block>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="analysis-description"
                                       th:text="#{workflow.description.name}">___Description___</label>
                                <div class="col-sm-10">
							<textarea name="analysis-description" id="analysis-description" class="form-control"
                                      th:placeholder="#{workflow.description.placeholder}"></textarea>
                                </div>
                            </div>
                            <div class="form-group" th:if="${canUpdateSamples}">
                                <label class="col-sm-2 control-label"
                                       th:text="#{workflow.label.share-analysis-samples}">_Write results to
                                    samples_</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-6 checkbox">
                                            <label>
                                                <input id="share-results-samples" type="checkbox"/>
                                                <span th:text="#{'workflow.label.share-analysis-samples.'+${analysisType}}">_Share to Samples_</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{workflow.label.share}">_Share results
                                    with
                                    project_</label>
                                <div class="col-sm-10" th:if="${automatedProject == null}">
                                    <div class="row">
                                        <div class="col-md-6 checkbox" th:each="project : ${projects}">
                                            <label>
                                                <input type="checkbox" class="share-project" th:value="${project.id}"
                                                       th:id="${'share-project' + project.id}"/>
                                                <span th:text="${project.name}"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10" th:if="${automatedProject != null}">
                                    <div class="row">
                                        <span th:text="#{workflow.automated.project-share(${automatedProject.name})}">_Analysis results will be automatically shared with Project 1_</span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" th:if="${emailConfigured}">
                                <label class="col-sm-2 control-label" th:text="#{'workflow.label.email'}">_Email Results_</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-6 checkbox">
                                            <label>
                                                <input id="email-pipeline-result" type="checkbox"/>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SAMPLES -->
                <div class="row" th:if="${automatedProject == null}">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label" th:text="#{workflow.label.files}">Files</label>

                        <div class="col-md-10 col-sm-12" th:with="dateFormat=#{locale.date.short}">
                            <th:block th:each="project : ${projects}">

                                <div th:id="${'sample-' + sample.id}" class="sample-container"
                                     th:each="sample : ${project.samples}">
                                    <h3>
                                        <a href="#" th:href="@{/projects/{id}/samples(id=${project.id})}"
                                           th:text="${project.name + ' / ' + sample.name}"></a>
                                        <button type="button"
                                                class="btn btn-xs btn-default pull-right remove remove-sample-button"
                                                th:text="#{form.btn.remove}"
                                                th:attr="ng-click=${'pipeline.removeSample('+project.id+','+sample.id+')'}">
                                            Remove
                                        </button>
                                    </h3>

                                    <!--/* (15-03-26 )
                                    Check to see if there are paired end or single end files that need to be displayed.
                                     - Must have the proper key in the files hash and have items within the set.
                                    */-->
                                    <th:block
                                            th:with="hasPaired=${#maps.containsKey(sample.files, 'paired_end') and #sets.size(sample.files.paired_end) &gt; 0},
								hasSingles=${#maps.containsKey(sample.files, 'single_end') and #sets.size(sample.files.single_end) &gt; 0}">
                                        <table class="table" th:if="${hasPaired or hasSingles}">

                                            <!--/* (15-03-26 ) PAIRED END DATA */-->
                                            <th:block th:if="${hasPaired}"
                                                      th:with="pairs=${sample.files.paired_end}">
                                                <th:block th:each="pair : ${pairs}">
                                                    <tr class="paired_end paired_end__forward">
                                                        <td class="td_radio" rowspan="2">
                                                            <!--/* (15-03-26 ) Checked only if it is the first pair in the set. */-->
                                                            <input type="radio" data-type="paired_end"
                                                                   th:value="${pair.getId()}"
                                                                   th:checked="${pairStat.first}"
                                                                   th:name="${sample.id}"/>
                                                        </td>
                                                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getForwardSequenceFile()},icon='forward',relative='false')"></td>
                                                    </tr>
                                                    <tr class="paired_end paired_end__reverse">
                                                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getReverseSequenceFile()},icon='reverse',relative='false')"></td>
                                                    </tr>
                                                </th:block>
                                            </th:block>

                                            <!--/* (15-03-26 ) SINGLE END DATA */-->
                                            <th:block th:if="${hasSingles}" th:with="files=${sample.files.single_end}">
                                                <tr class="single_end" th:each="join : ${files}"
                                                    th:with="file=${join.getObject()}">
                                                    <td>
                                                        <!--/* (15-03-26 ) Checked only if there are no pairs and it is the first one in the file set */-->
                                                        <input type="radio" data-type="single_end"
                                                               th:value="${file.getId()}" th:name="${sample.id}"
                                                               th:checked="${!hasPaired and fileStat.first}"/>
                                                    </td>
                                                    <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${file},icon='single',relative='false')"></td>
                                                </tr>
                                            </th:block>
                                        </table>

                                        <!--/* (15-03-26 ) If there are no files available in this sample to run on the selected pipeline show a warning with no files. */-->
                                        <div th:unless="${hasPaired or hasSingles}" class="alert alert-warning">
                                            <strong
                                                    class="fa fa-fw fa-ban"></strong>
                                            <th:block th:text="#{workflow.files.files-not-appropriate}"></th:block>
                                        </div>
                                    </th:block>

                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${automatedProject != null}">
                    <div class="col-md-12">
                        <span class="lead" th:text="#{workflow.automated.file-message(${automatedProject.name})}">_This pipeline will be run automatically for any files uploaded to project XXXX_</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3" ng-switch="pipeline.loading">
                <!-- BUTTONS ON THE SIDE -->
                <div ng-switch-when="false" class="ng-cloak text-center">
                    <h2 th:if="${automatedProject == null}" th:text="#{workflow.launch.btn}">Ready to Launch?</h2>
                    <h2 th:if="${automatedProject != null}" th:text="#{workflow.automated.launch.btn}">Ready to Launch?</h2>

                    <div data-toggle="tooltip" data-placement="bottom" onmouseenter="$(this).tooltip('show')"
                         data-original-title="{{ pipeline.launchButtonTitle() }}">
                        <button id="btn-launch" class="btn btn-xl btn-danger btn-action"
                                ng-disabled="pipeline.shouldDisableLaunch()"
                                ng-click="pipeline.launch()">
                            <span th:if="${automatedProject == null}" class="fas fa-rocket"></span>
                            <span th:if="${automatedProject != null}" class="fas fa-save"></span>
                        </button>
                    </div>
                </div>
                <div id="pipeline-submitted" class="ng-cloak" ng-switch-when="true">
                    <div ng-hide="pipeline.success" class="alert alert-info">
                        <strong class="fa fa-2x fa-fw fa-coffee"></strong>&nbsp;
                        <span th:text="#{workflow.pipeline-kickoff-message}"></span>
                    </div>
                    <div id="pipeline-submitted-success" ng-show="pipeline.success" class="alert alert-success">
                        <i class="far fa-smile-wink fa-2x"></i>&nbsp;
                        <th:block th:if="${automatedProject == null}">
                            <span th:text="#{workflow.submitted-success}">You must be awesome!  All your files looked good and the pipeline has been launched and the pedal should hit the metal soon.</span>
                            <br/><br/>
                            <a id="btn-see-pipeline" class="btn btn-success btn-affixed" href="#"
                            th:href="@{/analysis}"
                            th:text="#{workflow.submitted-view-btn}">Let's see how this pipeline is doing.
                            </a>
                            <br/></br/>
                            <button id="btn-clear-pipeline" class="btn btn-warning btn-affixed"
                                    ng-click="pipeline.clearAndRedirect()"
                                    th:text="#{workflow.submitted-clear-btn}">Clear the cart and start over!
                            </button>
                        </th:block>
                        <th:block th:if="${automatedProject != null}">
                            <span th:text="#{workflow.submitted-template-success}">_Template created_</span>
                            <br/><br/>
                            <a id="btn-see-pipeline" class="btn btn-success btn-affixed" href="#" 
                                th:href="@{/projects/{pid}/settings(pid=${automatedProjectId})}" 
                                th:text="#{workflow.submitted-project-settings}">_Project settings_</a>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<th:block layout:fragment="scripts">
    <div th:replace="templates/_file.utils :: upload-progress"></div>
    <div th:replace="templates/_file.utils :: upload-error"></div>
    <th:block th:if="${parameters} and ${#lists.size(parameters)} != 0"
              th:replace="pipelines/templates/parameters :: modal (${parameterModalTitle}, ${parameters})"></th:block>
    <script th:src="@{/dist/js/pipeline-launch.bundle.js}"></script>
</th:block>
</body>
</html>
