<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head lang="en">
	<title th:text="#{pipeline.phylogenomics.page-title}">Pipelines - Launch</title>
	<link rel="stylesheet" href="/resources/css/pages/pipelines.css" th:href="@{/resources/css/pages/pipelines.css}"/>
	<style>
		.affix-top {
			position: fixed;
			top: 50px;
		}
	</style>
	<script>window.dependencies = ['irida.pipelines.phylogenomics'];</script>
</head>
<body>
<div layout:fragment="page" ng-app="irida.pipelines.phylogenomics">
	<form class="form-horizontal" method="post" ng-controller="PhylogenomicsController as phylCtrl">
		<div id="no-ref-warning" class="row" th:if="${#lists.size(referenceFiles)} == 0">
			<h1 th:text="#{workflow.phylogenomics.title}"></h1>

			<div class="alert alert-danger col-md-12">
				<b th:text="#{pipeline.phylogenomics.no-reference-heading}">The Phylogenomics Pipeline Requires a reference file to run.</b><br/><br/>
				<th:block th:if="${#lists.size(addRefProjects) > 0}">
					<p id="has-rights" th:text="#{pipeline.phylogenomics.no-reference.link-heading}">Projects You can Upload a Reference File to:</p>
					<ul class="nav nav-pills nav-stacked col-md-3">
						<li th:each="project : ${addRefProjects}">
							<a class="add-ref-file" th:href="@{/projects/{id}/referenceFiles(id=${project.id})}" href="#" th:text="${project.name}"></a></li>
					</ul>
				</th:block>
				<th:block th:if="${#lists.size(addRefProjects)} == 0">
					<p id="has-no-rights" th:text="#{pipeline.phylogenomics.no-reference.no-permissions}">You do not have permission to upload a reference file to these projects.  Please contact a project manager to add a reference file.</p>
				</th:block>
			</div>
		</div>
		<div class="row" th:if="${#lists.size(referenceFiles)} &gt; 0">
			<div class="col-md-10">
				<h1 th:text="#{workflow.phylogenomics.title}"></h1>
				<div class="form-group alert alert-info">
					<label for="referenceFiles" class="col-sm-2 control-label" th:text="#{workflow.label.reference-file}">Reference File</label>

					<div class="col-sm-10">
						<select class="form-control" name="referenceFiles" id="referenceFiles">
							<option th:each="ref : ${referenceFiles}" th:value="${ref.file.getId()}" data:project="${ref.project.id}"
							        th:text="${ref.file.getLabel() + ' (' + ref.project.getLabel() + ')'}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{workflow.label.files}">Files</label>

					<div class="col-sm-10">
						<div th:each="project : ${files}">
							<div class="sample-container" th:each="sample : ${project.samples}">
								<h3>
									<a href="#" th:href="@{/projects/{id}/samples(id=${project.id})}" th:text="${project.name + ' / ' + sample.name}"></a>
									<button type="button" class="btn btn-xs btn-default pull-right remove" th:text="#{form.btn.remove}">Remove</button>
								</h3>
								<table class="table">
									<tr th:if="${#lists.size(sample.pairs)} > 0">
										<td><h4 th:text="#{samples.files.paired-end-data}">Paired End Data</h4></td>
									</tr>
									<tr th:each="sample : ${sample.pairs}">
										<td>
											<div class="layout-flex">
												<div class="file_checkbox paired_end"><input type="checkbox" th:value="${sample.id}"/></div>
												<div class="file_names">
													<div data:file="${file.id}" th:each="file : ${sample.files}" th:text="${file.label}"></div>
												</div>
												<div class="file_date">
													<div th:text="${#dates.format(sample.createdDate)}"></div>
												</div>
											</div>
										</td>
									</tr>
									<tr th:if="${#lists.size(sample.singles)} > 0">
										<td><h4 th:text="#{samples.files.single-end-data}">Single End Data</h4></td>
									</tr>
									<tr class="single-file" th:each="file : ${sample.singles}">
										<td>
											<div class="layout-flex">
												<div class="file_checkbox single_end"><input type="checkbox" th:value="${file.id}"/></div>
												<div class="file_names">
													<div th:text="${file.getLabel()}"></div>
												</div>
												<div class="file_date">
													<div th:text="${#dates.format(file.getCreatedDate())}"></div>
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="text-center" data-spy="affix">
					<h2 th:text="#{workflow.launch.btn}">Ready to Launch?</h2>
					<button class="btn btn-xl btn-danger round" ng-click="phylCtrl.launch()"><span class="fa fa-rocket"></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block layout:fragment="page-scripts">
	<script src="/resources/bower_components/bootstrap/js/affix.js"
	        th:src="@{/resources/bower_components/bootstrap/js/affix.js}"></script>
	<script src="/resources/js/pages/pipelines/phylogenomics.js"
	        th:src="@{/resources/js/pages/pipelines/phylogenomics.js}"></script>
</th:block>
</body>
</html>