<!DOCTYPE HTML>
<html>
    <head>
        <title th:text="#{global.title}">_Demo OAuth2 Web Client_</title>
    </head>
    <body>
        <h1 th:text="#{global.title}">_Demo OAuth2 Web Client_</h1>
        <form th:action="@{/choose}">
            <p>
                Service URI: <input type="text" name="serviceURI"/>
            </p>
            <p>
                Client ID: <input type="text" name="clientId"/>
            </p>
            <p>
                Client Secret: <input type="text" name="clientSecret"/>
            </p>
            <input type="submit"/>
        </form>
    </body>
</html>
