<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" th:text="#{project.sample.filter-title}">Filter Samples</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="js-name" th:text="#{project.sample.filter-name}">Sample NAME</label>
                <input type="text" class="form-control t-name-filter" id="js-name" th:value="${filter.getName()}"/>
            </div>
            <div class="form-group" th:if="${!project.isMasterProject}">
                <label for="js-description" th:text="#{project.sample.filter-description}">Sample Description</label>
                <input type="text" class="form-control t-description-filter" id="js-description" th:value="${filter.getDescription()}"/>
            </div>
            <div class="form-group" th:if="${!project.isMasterProject}">
                <label for="js-collectedby" th:text="#{project.sample.filter-collectedby}">Sample CollectedBy</label>
                <input type="text" class="form-control t-collectedby-filter" id="js-collectedby" th:value="${filter.getCollectedBy()}"/>
            </div>
            <div class="form-group" th:if="${!project.isMasterProject}">
                <label for="js-strain" th:text="#{project.sample.filter-strain}">Sample Strain</label>
                <input type="text" class="form-control t-strain-filter" id="js-strain" th:value="${filter.getStrain()}"/>
            </div>
            <div class="form-group">
                <label for="daterange" th:text="#{project.sample.filter-date.label}">Date One</label>
                <input type="hidden" name="startDate" th:value="${filter.getStartDate()}" />
                <input type="hidden" name="endDate" th:value="${filter.getEndDate()}" />
                <input type="text" class="form-control t-daterange-filter" id="js-daterange"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="js-cancel-filter" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="js-do-filter" class="btn btn-primary t-apply-filter-btn" data-dismiss="modal" th:text="#{project.sample.filter.apply}">Save changes</button>
        </div>
    </div>
</div>