<div id="merge-samples-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<span class="fa fa-fw fa-cloud"></span>
			<span th:utext="#{galaxy.title}">__LINKER</span>
		</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="email" th:text="#{galaxy.label.email}"></label>
			<input id="email" class="form-control" type="email" th:attr="ng-init='gCtrl.setEmail(\'' + ${email} + '\')'" ng-model="gCtrl.email"/>
		</div>
		<div class="form-group">
			<label for="name" th:text="#{galaxy.label.library}"></label>
			<input id="name" type="text" class="form-control" th:attr="ng-init='gCtrl.setName(\'' + ${name} + '\');'"  ng-model="gCtrl.name"/>
			<div id="galaxy-error" ng-show="gCtrl.errors" class="alert alert-danger" role="alert">{{gCtrl.errors}}</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="gCtrl.close()" th:text="#{form.btn.close}">Close</button>
		<button ng-disabled="gCtrl.submitted" class="btn btn-primary" ng-click="gCtrl.upload()">
			<span ng-show="gCtrl.uploading" class="fa fa-spinner fa-spin fa-fw"></span>
			<span ng-hide="gCtrl.uploading" class="fa fa-fw fa-cloud-upload"></span>
			&nbsp;<span th:text="#{galaxy.btn.upload}"></span>
		</button>
	</div>
</div>