<div id="linker-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<i class="fa fa-terminal fa-fw" aria-hidden="true"></i>&nbsp;
			<span th:utext="#{ngs.linker.title}">__LINKER</span>
		</h3>
	</div>
	<div class="modal-body">
		<p th:text="#{ngs.linker.details}"></p>
		<div class="input-group">
			<input id="linker-cmd" class="form-control" type="text" th:value="${cmd}"/>
			<span class="input-group-btn">
		        <button class="btn btn-default clipboard-btn"
		                type="button"
		                data-clipboard-target="#linker-cmd"
		                data:uib-tooltip="#{form.clipboard}"
		                tooltip-placement="bottom">
			        <i class="fa fa-clipboard fa-fw" aria-hidden="true"></i>
		        </button>
		      </span>
		</div>
	</div>
	<div class="modal-footer">
		<button id="linkerCloseBtn" class="btn btn-primary" ng-click="lCtrl.close()" th:text="#{form.btn.close}">Close</button>
	</div>
</div>
