<div id="linker-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<irida:icon type="terminal"></irida:icon>&nbsp;
			<span th:utext="#{ngs.linker.title}">__LINKER</span>
		</h3>
	</div>
	<div class="modal-body">
		<p th:text="#{ngs.linker.details}"></p>
		<pre id="linkerCmd"><span th:text="${scriptName}"></span> -p {{lCtrl.projectId}} <span ng-if="!lCtrl.areAllSelected()"><span ng-repeat="s in lCtrl.samples"> -s {{s.id}}</span></span></pre>
	</div>
	<div class="modal-footer">
		<button id="linkerCloseBtn" class="btn btn-primary" ng-click="lCtrl.close()" th:text="#{form.btn.close}">Close</button>
	</div>
</div>
