<div id="merge-samples-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<span th:text="#{project.samples.modal.merge.title}">__COMBINE_SAMPLES__</span>
		</h3>
	</div>
	<div class="modal-body">
		<h4>
			<span th:text="#{project.samples.modal.merge.intro}">The following samples will be merged:</span>
		</h4>
		<ul>
			<li ng-repeat="s in mergeCtrl.samples">{{s.name}}</li>
		</ul>
		<div class="form-group">
			<label>
				<input id="new-merge-name" type="checkbox" ng-model="mergeCtrl.createNew"/> <span
					th:text="#{project.sample.combine.create-new}">Create new Sample</span>
			</label>
		</div>

		<div ng-switch="mergeCtrl.createNew">
			<div ng-switch-default="" class="form-group">
				<label th:text="#{project.samples.combine.select-title}"></label>
				<select class="input-full form-control" name="mergeName" id="mergeSelect" ng-model="mergeCtrl.selected" ng-options="s.name for s in mergeCtrl.samples">
				</select>
			</div>
			<div ng-switch-when="true" class="form-group">
				<label th:text="#{project.samples.combine.new-sample-name}"></label>
				<input id="new-merge-name-input" class="form-control input-full" type="text"
				       ng-model="mergeCtrl.newName"/>
			</div>
		</div>
		<div ng-if="mergeCtrl.error" class="alert alert-danger" role="alert">
			<strong th:utext="#{form.alert.error}"></strong>&nbsp;{{mergeCtrl.error}}
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" th:text="#{form.btn.cancel}" ng-click="mergeCtrl.close()"></button>
		<button id="confirmMergeBtn" class="btn btn-primary"
		        ng-disabled="(!mergeCtrl.createNew &amp;&amp; mergeCtrl.selected==undefined)||(mergeCtrl.createNew &amp;&amp; 2 &gt; mergeCtrl.newName.length)"
		        th:text="#{project.samples.combine.button}" ng-click="mergeCtrl.go()">Fred
		</button>
	</div>
</div>