<div id="merge-samples-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<span th:text="#{project.samples.modal.merge.title}">__COMBINE_SAMPLES__</span>
		</h3>
	</div>
	<div class="modal-body">
		<h4>
			<span th:utext="#{project.samples.modal.merge.intro}">You are about to merge 4 samples.</span>
		</h4>
		<ul>
			<li ng-repeat="s in mergeCtrl.samples">{{s.name}}</li>
		</ul>
		<div class="alert alert-warning">
			<h4 th:utext="#{alert.warning.title}">Warning!</h4>

			<p>All samples will be merged into a single sample. Currently only the metadata from the sample selected will
				retain its metadata.</p>
		</div>

		<div class="form-group"><label th:text="#{project.samples.modal.merge.select-label}"></label>
			<ui-select ng-model="mergeCtrl.selected"
			           theme="bootstrap"
			           ng-disabled="disabled"
			           reset-search-input="false"
			           style="width: 100%;">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="sample in mergeCtrl.samples track by $index"
				                   refresh-delay="0">
					<div ng-bind-html="sample.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
			<label th:text="#{project.samples.modal.merge.name-label}"></label>
			<input class="form-control" type="text" placeholder="{{mergeCtrl.selected.name}}" ng-model="mergeCtrl.name"/>
			<div ng-hide="mergeCtrl.hasError!=true" class="alert alert-danger" th:text="#{project.samples.modal.error}">Name must be at least 5 characters long.</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" th:text="#{form.btn.cancel}" ng-click="mergeCtrl.close()"></button>
		<button id="confirmMergeBtn" class="btn btn-primary" ng-disabled="mergeCtrl.hasError"
		        th:utext="#{project.samples.modal.merge.complete}" ng-click="mergeCtrl.merge()">Complete Merge
		</button>
	</div>
</div>