<div id="merge-samples-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">
					<i class="fa fa-compress fa-fw" aria-hidden="true"></i>&nbsp;
					<th:block th:text="#{project.samples.modal.merge.title}"/>
				</h4>
			</div>
			<form id="mergeForm" name="mergeForm"
				  th:action="@{/projects/{id}/ajax/samples/merge(id=${project.getId()})}">
				<div class="modal-body"
					 th:unless="${#lists.size(locked) > 0}">
					<h4 th:text="#{project.samples.modal.merge.intro(${#lists.size(samples)})}"/>
					<div class="alert alert-warning">
						<strong><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i></strong>
						<th:block th:text="#{project.samples.modal.merge.warning}"/>
					</div>
					<div class="radio" th:each="sample,iterStat : ${samples}">
						<label>
							<input type="hidden" th:value="${sample.identifier}" name="sampleIds[]" />
							<input name="mergeSampleId" th:value="${sample.identifier}"
								   type="radio" th:checked="${iterStat.index == 0}"/>
							&nbsp;
							<th:block th:text="${sample.sampleName}"/>
						</label>
					</div>
					<div class="form-group">
						<label for="sampleName" th:text="#{project.samples.modal.merge.name-label}"></label>
						<small class="text-muted pull-right"
							   th:utext="#{project.samples.modal.merge.name.info}"></small>
						<input id="sampleName" name="sampleName" class="form-control" type="text"
							   data:validate-url="@{/projects/{projectId}/validate-sample-name(projectId=${project.getId()})}"
							   th:placeholder="#{project.samples.modal.merge.name.placeholder}"
							   data:msg-remote="#{project.samples.new.form.name.error.label-exists}"
							   data:msg-checkallowedchars="#{project.samples.new.form.name.error.special}"
							   data:msg-minLengthIfPresent="#{project.samples.new.form.name.error.minlength}"/>
					</div>
				</div>
				<div class="modal-body" th:if="${#lists.size(locked) > 0}">
					<div class="alert alert-warning">
						<strong><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i></strong>
						<span th:text="#{project.samples.modal.locked}">_Cannot merge samples as the following samples are locked in this project:_</span>
						<ol class="start">
							<li th:each="sample : ${locked}" th:text="${sample.sampleName}"></li>
						</ol>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" th:text="#{form.btn.cancel}" data-dismiss="modal"></button>
					<button type="submit" id="confirmMergeBtn" class="btn btn-primary"
							th:unless="${#lists.size(locked) > 0}"
							th:text="#{project.samples.modal.merge.complete}">Complete Merge
					</button>
				</div>
			</form>
		</div>
	</div>
</div>