<div id="merge-samples-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<i class="fa fa-compress fa-fw" aria-hidden="true"></i>
			&nbsp;
			<span th:utext="#{project.samples.modal.merge.title}">__COMBINE_SAMPLES__</span>
		</h3>
	</div>
	<div class="modal-body">
		<form name="mergeForm" th:unless="${#lists.size(locked) > 0}">
			<h4 th:text="#{project.samples.modal.merge.intro(${#lists.size(samples)})}"/>
			<div class="alert alert-warning">
				<strong><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i></strong>
				<th:block th:text="#{project.samples.modal.merge.warning}" />
			</div>
			<div class="radio" th:each="sample : ${samples}">
				<label>
					<input name="mergeSample" ng-model="mergeCtrl.selected" th:value="${sample.identifier}"
						type="radio"/>
					&nbsp;
					<th:block th:text="${sample.sampleName}"></th:block>
				</label>
			</div>
			<div class="form-group">
				<label th:text="#{project.samples.modal.merge.name-label}">_Rename Sample_</label>
				<input id="newName" name="newName" class="form-control" type="text"
					ng-model="mergeCtrl.name"
					ng-minlength="5"
					ng-pattern="mergeCtrl.validNameRE"/>
				<div ng-messages="mergeForm.newName.$dirty &amp;&amp; mergeForm.newName.$error">
					<div class="alert alert-warning" ng-message="minlength"
						th:text="#{project.samples.modal.error-length}">Your field is too short
					</div>
					<div class="alert alert-warning" ng-message="pattern"
						th:text="#{project.samples.modal.error-format}">This is some messed up stuff!
					</div>
				</div>
			</div>
		</form>
		<div th:if="${#lists.size(locked) > 0}">
			<div class="alert alert-warning">
				<strong><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i></strong>
				<span th:text="#{project.samples.modal.locked}">_Cannot merge samples as the following samples are locked in this project:_</span>
				<ol class="start">
					<li th:each="sample : ${locked}" th:text="${sample.sampleName}"></li>
				</ol>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" th:text="#{form.btn.cancel}" ng-click="mergeCtrl.cancel()"></button>
		<button id="confirmMergeBtn" class="btn btn-primary" th:unless="${#lists.size(locked) > 0}"
		        ng-disabled="!mergeForm.$valid &amp;&amp; (mergeForm.newName.$dirty &amp;&amp; mergeForm.newName.$error)"
		        th:text="#{project.samples.modal.merge.complete}" ng-click="mergeCtrl.doMerge()">Complete Merge
		</button>
	</div>
</div>
