<div id="copy-samples-modal" th:with="total=${#lists.size(samples) + #lists.size(extraSamples)}">
	<div class="modal-header">
		<h3 class="modal-title">
			<i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
			&nbsp;
			<th:block th:if="${total == 1}" th:text="#{project.samples.modal.move.title-singular}"/>
			<th:block th:if="${total > 1}" th:text="#{project.samples.modal.move.title-plural}"/>
		</h3>
	</div>
	<div class="modal-body" th:with="extraCount=${#lists.size(extraSamples)}">
		<h4 th:if="${total>1}" th:text="#{project.samples.modal.move.intro-plural(${total})}"/>
		<h4 th:if="${total==1}" th:text="#{project.samples.modal.move.intro-singular(${samples[0].sampleName})}"></h4>
		<th:block th:if="${total>1}">
			<ol class="start">
				<li th:each="sample : ${samples}" th:text="${sample.sampleName}"></li>
				<th:block th:if="${extraCount &lt; 5}">
					<li th:each="sample : ${extraSamples}" th:text="${sample.sampleName}"></li>
				</th:block>
			</ol>
			<button class="btn btn-link" th:if="${extraCount &gt; 4}" th:text="#{project.samples.modal.extra-btn(${extraCount})}"
			        uib-popover-template="'extraSamples.tmpl'" popover-placement="right"/>
			<script th:if="${extraCount > 4}" type="text/ng-template" id="extraSamples.tmpl">
				<div>
					<ol class="continue">
						<li th:each="sample : ${extraSamples}" th:text="${sample.sampleName}"></li>
					</ol>
				</div>
			</script>
		</th:block>
		<div class="alert alert-warning" th:if="${#lists.size(lockedSamples) > 0}">
			<span th:text="#{project.samples.modal.copy.locked}">_The following samples will be read only as this project does not have modification access_</span>
			<input type="hidden" value="false" id="giveOwner" ng-model="copyModalCtrl.giveOwner"/>
		</div>
		<div class="form-group" th:if="${#lists.size(lockedSamples) == 0}">
			<div class="checkbox">
  				<label>
					  <input type="checkbox" value="true" id="giveOwner" ng-model="copyModalCtrl.giveOwner"/>
					  <span th:text="#{project.samples.modal.copy.lock-copied}">_Allow modification in new project_</span>
				</label>
			</div>
		</div>
		<div class="form-group">
			<label th:if="${total==1}" th:text="#{project.samples.modal.move.select-label-singular}"/>
			<label th:if="${total>1}" th:text="#{project.samples.modal.move.select-label-plural}"/>
			<input select2="" select2-fn="copyModalCtrl.generateSelect2()" data:url="@{/projects/{id}/ajax/samples/available_projects(id=${projectId})}" id="projectsSelect" class="form-control" ng-model="copyModalCtrl.project" />
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" th:text="#{form.btn.cancel}" ng-click="copyModalCtrl.cancel()"></button>
		<button id="confirm-copy-samples" class="btn btn-primary" ng-disabled="copyModalCtrl.project===undefined" th:text="#{project.samples.modal.move.complete}" ng-click="copyModalCtrl.doCopy()">
			__MOVE_OR_COPY__
		</button>
	</div>
</div>
