<div id="js-remove-modal" th:with="countSingle=${#lists.size(samplesThatAreInOne)},countMultiple=${#lists.size(samplesThatAreInMultiple)}">
    <div class="modal-dialog t-remove-modal" role="document">
        <form class="js-remove-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"
                        th:with="total=${countSingle + countMultiple}">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                        <th:block th:text="${total > 1} ? #{project.samples.modal.remove.title-multiple(${total})} : #{project.samples.modal.remove.title-singular}"/>
                    </h3>
                </div>

                <div class="modal-body">
                    <div class="row panel-equal-container">
                        <div class="col-sm-12" th:if="${countMultiple > 0}"
                             th:class="${countSingle > 0} ? 'col-md-6' : 'col-md-12'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <th:block th:text="${countMultiple == 1} ? #{project.samples.modal.remove.samplesThatAreInMultiple.description-singular} : #{project.samples.modal.remove.samplesThatAreInMultiple.description-multiple(${countMultiple})}"/>
                                </div>
                                <div class="panel-body panel-body__scroll">
                                    <ol>
                                        <li th:each="sample : ${samplesThatAreInMultiple}">
                                            <input type="hidden" th:value="${sample.getId()}" name="sampleIds[]"/>
                                            <th:block th:text="${sample.sampleName}"/>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" th:if="${countSingle > 0}"
                             th:class="${countMultiple > 0} ? 'col-md-6' : 'col-md-12'">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <th:block th:if="${countSingle == 1}"
                                              th:utext="#{project.samples.modal.remove.samplesThatAreInOne.description-singular}"/>
                                    <th:block th:if="${countSingle > 1}"
                                              th:utext="#{project.samples.modal.remove.samplesThatAreInOne.description-multiple(${countSingle})}"/>
                                </div>
                                <div class="panel-body panel-body__scroll">
                                    <ol>
                                        <li th:each="sample : ${samplesThatAreInOne}">
                                            <input type="hidden" th:value="${sample.getId()}" name="sampleIds[]"/>
                                            <th:block th:text="${sample.sampleName}"/>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" th:text="#{form.btn.cancel}" data-dismiss="modal"></button>
                    <button id="js-submit" class="btn btn-primary t-submit-remove" th:text="#{project.samples.modal.remove.button}"
                            data:url="@{/projects/{projectId}/ajax/samples/remove(projectId=${project.getId()})}">_Remove_
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
