<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="roles" class="hidden" id="role-template-wrapper">
    <th:block th:if="${isAdmin} or ${manageMembers}">
        <select class="form-control input-full project-role-select">
            <option value="PROJECT_VIEWER" th:text="#{projectRole.PROJECT_VIEWER}"></option>
            <option value="PROJECT_USER" th:text="#{projectRole.PROJECT_USER}"></option>
            <option value="PROJECT_OWNER" th:text="#{projectRole.PROJECT_OWNER}"></option>
        </select>
    </th:block>
    <th:block th:unless="${isAdmin} or ${manageMembers}">
        <span class="PROJECT_VIEWER" th:text="#{projectRole.PROJECT_VIEWER}"></span>
        <span class="PROJECT_USER" th:text="#{projectRole.PROJECT_USER}"></span>
        <span class="PROJECT_OWNER" th:text="#{projectRole.PROJECT_OWNER}"></span>
    </th:block>
</div>
</body>
</html>