<div id="samples-filter-modal">
    <div class="modal-header">
        <h3 class="modal-title" th:text="#{project.sample.filter-title}">[Filter Samples]</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name" th:text="#{project.sample.filter-name}">Name</label>
            <input type="text" class="form-control" id="name" ng-model="filterCtrl.filter.name"/>
        </div>
        <div class="form-group">
            <label th:text="#{project.sample.filter-organism}">Organism</label>
            <select name="organism" id="organism"
                    select-input=""
                    class="form-control"
                    ng-model="filterCtrl.filter.organism">
                <option th:each="organism : ${organisms}" th:value="${organism}" th:text="${organism}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="daterange" th:text="#{project.sample.filter-date}">Date</label>
            <input id="daterange" type="text" date-range-picker="" class="form-control date-picker" options="filterCtrl.options" ng-model="filterCtrl.filter.date"/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="filterCtrl.cancel()" th:text="#{form.btn.cancel}">Cancel</button>
        <button id="doFilterBtn" class="btn btn-primary" ng-click="filterCtrl.doFilter()" th:text="#{table.filter.openBtn}">Filter</button>
    </div>
</div>