<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head lang="en">
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{global.title}">IRIDA Platform</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/resources/css/main.css" th:href="@{/resources/css/main.css}"/>
	<link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}"/>
	<th:block th:if="${analyticsGoogleId != null and !#strings.isEmpty(analyticsGoogleId)}">
		<div th:replace="template/analytics :: #google"></div>
	</th:block>
</head>
<body vocab="http://schema.org/" typeof="WebPage" ng-app="irida">
<th:block th:if="${analyticsPiwikUrl != null and !#strings.isEmpty(analyticsPiwikUrl)}">
	<div th:replace="template/analytics :: #piwik"></div>
</th:block>
<th:block layout:fragment="content">
</th:block>
</body>
</html>