<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav id="topnav" class="navbar navbar-inverse navbar-static-top top-navigation" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapsed-region" aria-expanded="false">
                <span class="sr-only" th:text="#{sr.nav.toggle}">Toggle navigation</span>
                <i class="fa fa-bars navbar-collapse-icon" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" th:href="@{/}">
                <img class="navbar-logo" src="/resources/img/irida_logo_dark.svg" th:src="@{/resources/img/irida_logo_dark.svg}"
                     th:alt="#{global.title}"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar-collapsed-region" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <th:block th:text="#{nav.main.project}"/>
                        <i class="fa fa-angle-down spaced-left__sm" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/projects}"
                               th:text="#{nav.main.project-list}">List Projects
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a th:href="@{/projects/all}"
                               th:text="#{nav.main.project-list-all}">One more separated link
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a th:href="@{/projects/new}" th:text="#{nav.main.project-create}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/projects/synchronize}" th:text="#{nav.main.project-sync}">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <th:block th:text="#{nav.main.analysis}"/>
                        <i class="fa fa-angle-down spaced-left__sm" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/analysis}" th:text="#{nav.main.analysis-admin-user}">Your
                                Analysis</a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a th:href="@{/analysis/all}"
                               th:text="#{nav.main.analysis-admin-all}">List All Analysis
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a th:href="@{/analysis/user/analysis-outputs}"
                               th:text="#{analysis.sidebar.output-files}">
                                User analysis outputs
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="nav navbar-nav navbar-right">
                <form id="global-search" class="navbar-form navbar-left" th:action="@{/search}" method="GET"
                      role="search">
                    <div class="form-group">
                        <div class="search-wrapper">
                            <span class="icon"><i class="fa fa-fw fa-search"></i></span>
                            <input id="global-search-input" type="search" name="query"
                                   class="form-control"
                                   th:placeholder="#{nav.main.search}"
                                   th:value="${searchQuery}"/>
                            <div class="input-group-btn search-dd" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                <button type="button" id="admin-search-toggle" class="btn dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" id="search-admin-link" th:text="#{nav.main.search.admin}">_Search
                                        all
                                        projects/samples_</a></li>
                                </ul>
                            </div>
                        </div>
                        <input id="admin-global-search" type="hidden" name="global" value="false"/></div>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <th:block th:text="#{nav.main.help}"/>
                            <i class="fa fa-angle-down spaced-left__sm" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:text="#{nav.main.userguide}"
                                   href="https://irida.corefacility.ca/documentation/user/user" target="_blank">__User
                                    Guide__
                                </a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:text="#{nav.main.adminguide}"
                                   href="https://irida.corefacility.ca/documentation/user/administrator"
                                   target="_blank">
                                    __Admin Guide__
                                </a>
                            </li>
                            <li th:if="#{help.page.title} and #{help.page.url}">
                                <a href="" th:text="#{help.page.title}" th:href="#{help.page.url}"
                                   target="_blank">
                                    __IRIDA Hub__
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li th:if="#{help.contact.email}">
                                <a th:href="'mailto:' + #{help.contact.email}">
                                    <i class="fa fa-envelope-o fa-fw spaced-right__sm" aria-hidden="true"></i>
                                    <th:block th:text="#{generic.irida.contact}"/>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.irida.ca" target="_blank">
                                    <i class="fas fa-external-link-alt spaced-right__sm"></i>
                                    <th:block th:text="#{generic.irida.website}"/>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header" th:text="#{irida.version}"></li>
                        </ul>
                    </li>
                    <li th:with="url=${#strings.isEmpty(session.galaxyClientID) ? '/cart/pipelines' : '/cart/galaxy'}">
                        <a th:href="@{${url}}" id="cart-show-btn" class="nav-icon-wrapper">
                            <i class="fa fa-fw fa-shopping-cart nav-icon"></i>
                            <span style="display: none;" class="js-cart-count t-cart-count btn__badge"></span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-icon-wrapper" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
                            <i class="fa fa-angle-down spaced-left__sm" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                                <li>
                                    <a th:href="@{/users}" th:text="#{nav.main.users-list}">
                                        List Users
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/users/create}" th:text="#{nav.main.add.user}">
                                    </a>
                                </li>
                                <li role="seperator" class="divider"></li>
                            </th:block>

                            <li>
                                <a th:href="@{/groups}" th:text="#{nav.main.groups-list}">
                                    List Groups
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/groups/create}" th:text="#{nav.main.add.group}">
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>

                            <li>
                                <a th:href="@{/remote_api}" th:text="#{nav.main.remoteapis}">_Remote IRIDA
                                    Connections_</a>
                            </li>

                            <th:block sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TECHNICIAN')">
                                <li role="seperator" class="divider"></li>

                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a href="#" th:href="@{/clients}" th:text="#{nav.main.clients}">
                                        _Clients_
                                    </a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/sequencingRuns}" th:text="#{nav.main.sequencingruns}">
                                        _Sequencing Runs_
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/export/ncbi}" th:text="#{nav.main.ncbi-uploads}">
                                        _NCBI Exports_
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/announcements/admin}" th:text="#{nav.main.announcement}">_Announcements_</a>
                                </li>

                            </th:block>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-gravatar-wrapper" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img class="nav-gravatar" th:src="${session.gravatar}" alt="User Icon"/>
                            <i class="fa fa-angle-down spaced-left__sm" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/users/current}">
                                    <i class="fa fa-user spaced-right__sm" aria-hidden="true"></i>
                                    <th:block th:text="#{nav.main.account}"/>
                                </a>
                            </li>
                            </li>
                            <li>
                                <a th:href="@{/logout}">
                                   <i class="fas fa-sign-out-alt spaced-right__sm"></i>
                                    <th:block th:text="#{nav.main.logout}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </span>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</body>
</html>
