<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{template/base}">
<head>
	<link rel="stylesheet" th:href="@{/resources/dist/css/app.bundle.css}">
	<style>
		.ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body>
<th:block layout:fragment="content">
	<div style="height: 100%;">
		<div style="height: 100%;" class="st-container" ng-class="{'cart-open':cart.show}">
			<div class="st-content">
				<div class="st-content-inner">
					<nav th:replace="template/main-navigation.html :: #topnav"></nav>
					<div th:if="${crumbs != null and #lists.size(crumbs) > 1}" class="breadcrumbs">
						<div class="container-fluid">
							<ol>
								<li th:each="crumb : ${crumbs} ">
									<a th:href="${crumb.url}" th:text="${crumb.text}"></a>
								</li>
							</ol>
						</div>
					</div>
					<th:block layout:fragment="subnav"></th:block>
					<div class="container-fluid body-content">
						<div class="row" layout:fragment="page"></div>
					</div>
				</div>
			</div>
			<cart></cart>
		</div>
	</div>
	<script type="text/ng-template" id="/cart.html">
		<aside class="cart">
			<section ng-hide="cart.count">
				<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close</button>
				<p class="lead" th:text="#{cart.empty-text}"></p>
			</section>
			<section ng-show="cart.count > 0" ng-controller="CartSliderController as cartCtrl">
				<div class="cart-control-buttons">
					<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close
					</button>
					<button id="clear-cart-btn" class="btn btn-warning pull-right" ng-click="cartCtrl.clear()"
					        th:text="#{cart.btn.clear}">
						_Clear_
					</button>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input class="form-control cart-search" type="search" ng-model="cart.term" th:placeholder="#{cart.placeholder.search}" ng-model-options="{ debounce: {'default': 500, 'blur': 0} }"/>
					</div>
				</div>
				<ul id="cart-project-list" class="list-group">
					<li class="list-group-item local-project" ng-repeat="p in cart.projects | cartFilter:cart.term" ng-attr-id="{{'cart-project-'+p.id}}">
						<div class="cart-project-header" ng-click="cart.collapsed[p.id] = !cart.collapsed[p.id]">
							<div><i class="fa fa-fw"  ng-class="cart.collapsed[p.id] ? 'fa-caret-right' : 'fa-caret-down'"></i></div>
							<div class="cart-item__label">
								{{:: p.label }}
							</div>
							<div class="cart_item__btns pull-right">
								<button class="btn-icon" ng-click="cartCtrl.removeProject(p.id)"
								        ng-attr-id="{{'remove-project-'+p.id}}"
								        th:title="#{cart.tooltip.removeProject}">
                                    <i class="fas fa-times remove-icon"></i>
								</button>
							</div>
						</div>
						<ul uib-collapse="cart.collapsed[p.id]">
							<li ng-repeat="s in p.filteredSamples = (p.samples | cartFilter:cart.term)">
								<span>{{ s.label }}</span>
								<button class="btn-icon pull-right remove-sample-btn"
								        ng-click="cartCtrl.removeSample(p.id,s.id)"
								        th:title="#{cart.tooltip.removeSample}">
                                    <i class="fas fa-times remove-icon"></i>
								</button>
							</li>
						</ul>
					</li>
				</ul>
				<div class="cart-control-bottom btn-toolbar">
					<div class="btn-group pull-right">
						<a id="go-to-pipeline-btn" href="#" th:href="@{/pipelines}" class="btn btn-primary cart-action" ng-cloak="" th:text="#{cart.btn.run}">Run Pipeline</a>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-chevron-down" aria-hidden="true"></i>
  						</button>
						<ul class="dropdown-menu">
    						<li><a href="/projects/new?cart=true" th:href="@{/projects/new?cart=true}" th:text="#{cart.btn.create-project}">_Create project from samples_</a></li>
						</ul>
					</div>
					
					<a th:if="${galaxyCallback}" id="go-to-galaxy-export-btn" href="#" ng-click="cartCtrl.exportToGalaxy(); cart.show=false"
					        class="btn btn-primary pull-right cart-action" th:text="#{cart.btn.export}">Export to Galaxy</a>
				</div>
			</section>
		</aside>
	</script>

	<script type="text/ng-template" id="/session-modal.html">
		<div>
			<div class="modal-header">
				<b class="modal-title">
					<span th:text="#{session.timeout-modal.header}"></span>
					&nbsp;{{timeleft | countdown}}</b>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default" th:href="@{/logout}" th:text="#{session.timeout-modal.logout}">Log me out
				</a>
				<button class="btn btn-primary" ng-click="poke()" th:text="#{session.timeout-modal.poke}">Keep me here
				</button>
			</div>
		</div>
	</script>

	<script th:inline="javascript">
		var TL = {
			BASE_URL      : /*[[@{/}]]*/ '/',
		  	URLS: {
			  cart: {
			    add: /*[[@{/cart/add/samples}]]*/ "/cart/add/samples"
			  }
			},
			SESSION_LENGTH: /*[[${#httpSession.getAttribute('SESSION_TIMEOUT')}]]*/ 1800,
			lang          : {
				page  : {
					"first": /*[[#{table.first}]]*/ 'First',
					"prev" : /*[[#{table.previous}]]*/ 'Previous',
					"next" : /*[[#{table.next}]]*/ 'Next',
					"last" : /*[[#{table.last}]]*/ 'Last'
				}
			},
			date: {
				moment: {
					short: /*[[#{moment.short}]]*/ 'Do MMM YYYY',
					full: /*[[#{moment.full}]]*/ 'MMM D, YYYY h:mm:ss a'
				}
			},
			galaxyCallback: /*[[${#httpSession.getAttribute('galaxyExportToolCallbackURL')}!= null]]*/ false,
			galaxyClientID: /*[[${#httpSession.getAttribute('galaxyExportToolClientID')}]]*/ ""
		};
	</script>

	<script th:src="@{/resources/dist/js/vendor.bundle.js}"></script>
	<script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/bower_components/moment/moment.js}"></script>
	<script th:src="@{/resources/bower_components/angular/angular.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-aria/angular-aria.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
	<script th:src="@{/resources/dist/js/app.bundle.js}"></script>

	<th:block layout:fragment="scripts">
		<!--/* optional script tags */-->
	</th:block>
</th:block>
</body>
</html>
