<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/base">
<head lang="en">
	<link rel="stylesheet" th:href="@{/resources/bower_components/AngularJS-Toaster/toaster.css}"
	      href="/resources/bower_components/AngularJS-Toaster/toaster.css"/>
	<style>
		.ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body>
<th:block layout:fragment="content">
	<div style="height: 100%;" ddl:bundle-includes="app">
		<div style="height: 100%;" class="st-container" ng-class="{'cart-open':cart.show}"
		     ng-controller="UIGalaxyController as uiGalaxyCtrl">
			<div class="st-content">
				<div class="st-content-inner">
					<nav th:replace="template/bootstrap :: #topnav"></nav>
					<div th:if="${crumbs != null and #lists.size(crumbs) > 1}" class="breadcrumbs">
						<div class="container">
							<ol>
								<li th:each="crumb : ${crumbs} ">
									<a th:href="${crumb.url}" th:text="${crumb.text}"></a>
								</li>
							</ol>
						</div>
					</div>
					<th:block layout:fragment="subnav"></th:block>
					<div class="container">
						<div class="row" layout:fragment="page"></div>
					</div>
				</div>
			</div>
			<cart></cart>
		</div>
	</div>

	<div toaster-container=""></div>
	<script type="text/ng-template" id="/cart.html">
		<aside class="cart">
			<section ng-hide="cart.count">
				<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close</button>
				<p class="lead" th:text="#{cart.empty-text}"></p>
			</section>
			<section ng-show="cart.count > 0" ng-controller="CartSliderController as cartCtrl">
				<div class="cart-control-buttons">
					<button class="btn btn-default" ng-click="cart.show=false" th:text="#{cart.btn.close}">Close
					</button>
					<button id="clear-cart-btn" class="btn btn-warning pull-right" ng-click="cartCtrl.clear()"
					        th:text="#{cart.btn.clear}">
						_Clear_
					</button>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input class="form-control cart-search" type="search" ng-model="cart.term" th:placeholder="#{cart.placeholder.search}" ng-model-options="{ debounce: {'default': 500, 'blur': 0} }"/>
					</div>
				</div>
				<ul id="cart-project-list" class="list-group">
					<li class="list-group-item local-project" ng-repeat="p in cart.projects | cartFilter:cart.term" ng-attr-id="{{'cart-project-'+p.id}}">
						<div class="cart-project-header" ng-click="cart.collapsed[p.id] = !cart.collapsed[p.id]">
							<div><i class="fa fa-fw"  ng-class="cart.collapsed[p.id] ? 'fa-caret-right' : 'fa-caret-down'"></i></div>
							<div class="cart-item__label">
								{{:: p.label }}
							</div>
							<div class="cart_item__btns pull-right">
								<span class="label label-info">{{p.filteredSamples.length}} / {{ p.samples.length }}</span>
								<button class="btn-icon" ng-click="cartCtrl.removeProject(p.id)"
								        ng-attr-id="{{'remove-project-'+p.id}}"
								        th:title="#{cart.tooltip.removeProject}">
									<i class="fa fa-remove remove-icon"></i>
								</button>
							</div>
						</div>
						<ul collapse="cart.collapsed[p.id]">
							<li ng-repeat="s in p.filteredSamples = (p.samples | cartFilter:cart.term)">
								<span>{{ s.label }}</span>
								<button class="btn-icon pull-right remove-sample-btn"
								        ng-click="cartCtrl.removeSample(p.id,s.id)"
								        th:title="#{cart.tooltip.removeSample}">
									<i class="fa fa-remove remove-icon"></i>
								</button>
							</li>
						</ul>
					</li>
                    <li class="list-group-item remote-samples" ng-show="r.filteredSamples.length > 0">
                        <div class="cart-project-header" ng-click="cart.collapsed['remote'] = !cart.collapsed['remote' ]">
                            <span class="fa fa-fw"
                                      ng-class="cart.collapsed['remote'] ? 'fa-caret-right' : 'fa-caret-down'"></span>
                            <span th:text="#{cart.remoteSamples.title}">_REMOTE_</span>
                            <div class="pull-right">
                                <span class="label label-info">{{r.filteredSamples.length}} / {{ cart.getRemoteCount() }}</span>
                                <button class="btn-icon" ng-click="cartCtrl.removeRemoteSamples()"
                                    id="remove-remote"
                                    th:title="#{cart.tooltip.remoteRemote}">
                                    <i class="fa fa-remove remove-icon"></i>
                                </button>
                            </div>
                        </div>
                        <ul collapse="cart.collapsed['remote']">
                            <li ng-repeat="(id,s) in r.filteredSamples = (cart.remote | cartFilter:cart.term)">
                                <span>{{ s.label }}</span>
                                <button class="btn-icon pull-right remove-sample-btn"
                                    ng-click="cartCtrl.removeRemoteSample(id)"
                                    th:title="#{cart.tooltip.removeSample}">
                                    <i class="fa fa-remove remove-icon"></i>
                                </button>
                                </li>
                        </ul>
                    </li>
				</ul>
				<div class="cart-control-bottom">
					<a id="go-to-pipeline-btn" href="#" th:href="@{/pipelines}" class="btn btn-primary pull-right"
					        ng-hide="uiGalaxyCtrl.inGalaxy" ng-cloak="" th:text="#{cart.btn.run}">Run Pipeline
					</a>
					<a id="go-to-galaxy-export-btn" href="#" ng-click="cartCtrl.exportToGalaxy(); cart.show=false"
					        class="btn btn-primary pull-right"
					        ng-show="uiGalaxyCtrl.inGalaxy" th:text="#{cart.btn.export}">Export to Galaxy
					</a>
				</div>
			</section>
		</aside>
	</script>

	<script type="text/ng-template" id="/session-modal.html">
		<div>
			<div class="modal-header">
				<b class="modal-title">
					<span th:text="#{session.timeout-modal.header}"></span>
					&nbsp;{{timeleft | countdown}}</b>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click="logout()" th:text="#{session.timeout-modal.logout}">Log me out
				</button>
				<button class="btn btn-primary" ng-click="poke()" th:text="#{session.timeout-modal.poke}">Keep me here
				</button>
			</div>
		</div>
	</script>

	<script th:inline="javascript">
		var TL = {
			BASE_URL      : /*[[@{/}]]*/ '/',
			SESSION_LENGTH: /*[[${#httpSession.getAttribute('SESSION_TIMEOUT')}]]*/ 1800,
			lang          : {
				page  : {
					"first": /*[[#{table.first}]]*/ 'First',
					"prev" : /*[[#{table.previous}]]*/ 'Previous',
					"next" : /*[[#{table.next}]]*/ 'Next',
					"last" : /*[[#{table.last}]]*/ 'Last'
				}
			},
			date: {
				moment: {
					short: /*[[#{moment.short}]]*/ 'Do MMM YYYY'
				}
			},
			galaxyCallback: /*[[${#httpSession.getAttribute('galaxyExportToolCallbackURL')}!= null]]*/ false,
			galaxyClientID: /*[[${#httpSession.getAttribute('galaxyExportToolClientID')}]]*/ ""
		};
	</script>

	<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"
	        src="/resources/bower_components/jquery/dist/jquery.min.js"></script>
	<script th:src="@{/resources/bower_components/lodash/dist/lodash.min.js}"
	        src="/resources/bower_components/lodash/dist/lodash.min.js"></script>
	<script src="/resources/bower_components/moment/min/moment-with-langs.min.js"
	        th:src="@{/resources/bower_components/moment/min/moment-with-langs.min.js}"></script>

	<script th:src="@{/resources/bower_components/angular/angular.min.js}"
	        src="/resources/bower_components/angular/angular.min.js"></script>
	<script src="/resources/bower_components/angular-aria/angular-aria.min.js"
	        th:src="@{/resources/bower_components/angular-aria/angular-aria.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-animate/angular-animate.min.js}"
	        src="/resources/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/resources/bower_components/angular-messages/angular-messages.min.js"
	        th:src="@{/resources/bower_components/angular-messages/angular-messages.min.js}"></script>
	<script th:src="@{/resources/bower_components/angular-resource/angular-resource.min.js}"
	        src="/resources/bower_components/angular-resource/angular-resource.min.js"></script>
	<script th:src="@{'/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'}"
	        src="/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script th:src="@{/resources/bower_components/restangular/src/restangular.js}"
	        src="/resources/bower_components/restangular/src/restangular.js"></script>

	<script th:src="@{/resources/bower_components/AngularJS-Toaster/toaster.js}"
	        src="/resources/bower_components/AngularJS-Toaster/toaster.js"></script>
	<script th:src="@{/resources/js/services/notifications/irida-notifications.js}"
	        src="/resources/js/services/notifications/irida-notifications-min.js"></script>

	<script src="/resources/js/services/httpInterceptor.js"
	        th:src="@{/resources/js/services/httpInterceptor.js}"></script>
	<script src="/resources/js/modules/utilities/irida.utilities.js"
	        th:src="@{/resources/js/modules/utilities/irida.utilities.js}"></script>
	<script src="/resources/js/modules/cart/irida.cart.js"
	        th:src="@{/resources/js/modules/cart/irida.cart.js}"></script>
	<script src="/resources/js/app.js" th:src="@{/resources/js/app.js}"></script>

	<th:block layout:fragment="theme-scripts">
		<!--/* This is where the main for the theme template are loaded. */-->
	</th:block>

	<th:block layout:fragment="page-scripts">
		<!--/* This is where scripts specific for each page should be loaded. */-->
	</th:block>
</th:block>
</body>
</html>
