.progress-bar,
.progress {
  height: 2px !important;
  margin-bottom: 0 !important;
  line-height: 2px !important;
}
.js-close-popover {
  cursor: pointer;
}
.js-close-popover:hover {
  font-weight: bolder;
}
