@import "../helpers/variables";

h1 {
  margin: 0;
}

$states: (
  "new": $irida-colour-info,
  "preparing": darken($irida-colour-info, 10),
  "prepared": darken($irida-colour-info, 20),
  "submitting": darken($irida-colour-info, 30),
  "running": $irida-colour-primary,
  "finished_running": $irida-colour-success,
  "completing": lighten($irida-colour-success, 10),
  "completed": #66cd00,
  "error": $irida-colour-warning
);

.analysis__state {
  border-left: 1rem solid transparent;
}

@each $state, $bColor in $states {
  .analysis__state--#{$state} {
    border-color: $bColor;
  }
}

@each $state, $bColor in $states {
  .analysis__alert--#{$state} {
    border-top: 6px solid $bColor;
  }
}

.image-preview {
  text-align: center;
}

.nav-tabs {
  margin-top: 1rem;
}
.tab-pane {
  padding: 1rem;
  border: 1px solid rgba(221, 221, 221, 1);
  border-top: none;
}
.parameters {
  margin-left: 2rem;
  border: 1px solid rgba(221, 221, 221, 1);
  border-top: none;
  border-radius: 4px;
}
table {
  table-layout: fixed !important;
  margin-bottom: 0 !important;
  table-layout: fixed;
  width: 100%;
}
tr {
  td {
    vertical-align: middle !important;
  }
}
td.para-key {
  word-wrap: break-word;
}
td.para-value {
  text-align: right;
}
table.sistr-report th {
  width: 30%;
}
table.sistr-report td {
  word-wrap: break-word;
}

.pad5 {
  padding: 5px;
}
.border-1-gray {
  border: 1px solid #ddd;
}
