.phylogenomics {
  background-color: rgba(30, 170, 241, 1) !important;
  color: #222 !important;
}
.assembly-annotation {
  background-color: rgba(205, 218, 73, 1) !important;
  color: #222 !important;
}
.assembly-annotation-collection {
  background-color: rgba(253, 192, 47, 1) !important;
  color: #222 !important;
}
.sistr-typing {
  background-color: rgba(239, 101, 72, 1) !important;
  color: #222 !important;
}
.refseq_masher {
  background-color: #eb93ff !important;
  color: #222 !important;
}

.mlst-mentalist {
  background-color: rgba(154, 159, 226, 1) !important;
  color: #222 !important;
}

.bio_hansel {
  background-color: rgba(250, 159, 181, 1) !important;
}

.pipeline-panel {
  .panel-heading {
    height: 60px;
  }
  .panel-body {
    height: 200px;
    overflow-y: auto;
  }
}
