input.metadata-key.form-control {
  border-radius: 4px 0 0 0 !important;
  border-bottom: none !important;
  font-weight: bold;
}
input.metadata-value.form-control {
  border-radius: 0 0 4px 4px !important;
  border-top: none !important;
}

button.btn.delete-metadata {
  border-bottom-right-radius: 0 !important;
  border-left: 1px solid #eeeeff !important;
  border-bottom: 1px solid #eeeeff !important;
  &:hover {
    background-color: lighten(#f04124, 10) !important;
    border-bottom: lighten(#f04124, 10) !important;
    color: #ffffff !important;
  }
}
