$color-danger: #d9d34f;
$color-warning: #f0ad4e;
$color-primary: #428bca;
$color-background: rgba(255, 255, 255, 1.0);
$color-borders:rgba(204, 204, 204, 1.0);
$color-grey-lighter: lighten(#000, 93.5);
$color-grey-light: lighten(#000, 47.6);
$color-grey: lighten(#000, 33.5);
$color-grey-dark: lighten(#000, 20);
$color-grey-darker: lighten(#000, 13.5);
$color-text: $color-grey-dark;