@import "variables";

// MAIN NAV
// This allows for the setting tab to be displayed on the right
// and still have its dropdown menu appear within the correct area.
.menu {
  z-index: 600;
  > .pull-right ul {
    position: absolute;
    right: 0;
  }
}

.subnav {
  z-index: 500;
}

.main-area {
  background-color: $color-background;
  border-left: 1px solid $color-borders;
  border-right: 1px solid $color-borders;
  padding-top: 1em;
}

// Label is not set to red on an error state
.has-error label {
  color: $color-danger;
}

span.wb-date-wrap {
  label + & {
    display: block;
    width: 100%;
  }
  .input-full {
    width: auto;
    display: inline-block;

  }
}

label {
  margin-top: 5px;
}
