@import "helpers/variables";
@import "helpers/mixins";

// LAYOUTS
@import "layouts/all";

// ANIMATIONS
@import "animations/animations";

// COMPONENTS
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cart";
@import "components/forms";
@import "components/modals";
@import "components/navbar";
@import "components/notifications";
@import "components/panels";
@import "components/sidenav";
@import "components/tables";
@import "components/typography";

// Frameworks used on all pages.
@import "components/noty";

// TODO: these should only be loaded on their pages - add through dandelion
@import "pages/remoteApi";

// Gravatar
.nav-gravatar {
  padding: 11px 5px!important;
}
img.gravatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 auto;
}

// Notifications
.navbar-notification .angular-notifications-icon {
  background-color: $color-info;
  border-radius: 10px;
  top: 3px;
  right: -3px;
  height: 20px;
  width: 20px!important;
  padding: 0!important;
  font-size: 1.3rem;
  line-height: 2rem;
}

// Bootstrap override
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.clickable {
  display: block;
  cursor: pointer;
  span {
    display: inline-block;
  }
}

.form-group .alert {
  font-weight: normal;
}

.nav-tabs li {
  cursor: pointer;
}

// Material overide, conflicts with bootstrap.
input[type="search"] {
  box-sizing: inherit!important;
}

// TODO: Clean these up.
#table-filter {
  padding: 0;
  &>div {
    padding: 20px;
  }
  .filter-btns > button {
    margin-top: 33px;
  }
}

.selected__counts {
  color: white !important;
  border-radius: 4px;
  padding: 4px 8px 6px 8px;
  margin: 5px;
  background-color: rgba(0, 0, 0, .5);
  border-top: 1px solid rgba(0, 0, 0, .4);
}


.crop {
  max-width: 250px!important;
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}

.wrap-cell {
  max-width: 250px!important;
  white-space: normal;
  word-wrap:break-word;
  text-align: left!important;
}

// Defaults spacing for the bottom of elements.
.spaced-bottom {
  margin-bottom: 1rem;
}

// Use for ordered lists that require continued numbering.

ol.start {
  counter-reset: mycounter;
}
ol.start li, ol.continue li {
  list-style: none;
}
ol.start li:before, ol.continue li:before {
  content: counter(mycounter) ". ";
  counter-increment: mycounter;
}

.remote-hint {
  font-size: 1.4em;
  padding-bottom: 10px;
}

// Display a number next above and to the right
// of a button. Ex. Cart icon in navbar.
.btn__badge {
  background-color: RGB(54, 147, 206);
  border-radius: 2px;
  color: white;

  padding: 1px 5px;
  font-size: 0.8em;
  position: absolute;
  top: 5px;
  right: 0;
}
