@import "bootstrap/bootstrap";

@import "helpers/variables";
@import "helpers/mixins";

// LAYOUTS
@import "layouts/all";

// ANIMATIONS
@import "animations/animations";

// COMPONENTS
@import "components/breadcrumbs";
@import "components/card";
@import "components/cart";
@import "components/forms";
@import "components/modals";
@import "components/navbar";
@import "components/notifications";
@import "components/sidenav";
@import "components/tables";
@import "components/typography";

// Bootstrap override
.form-group .alert {
  font-weight: normal;
}

.container {
  width: 1300px!important;
}

// Material overide, conflicts with bootstrap.
input[type="search"] {
  box-sizing: inherit!important;
}