@import "bootstrap/bootstrap";

@import "helpers/variables";
@import "helpers/mixins";

// LAYOUTS
@import "layouts/all";

// ANIMATIONS
@import "animations/animations";

// COMPONENTS
@import "components/breadcrumbs";
@import "components/card";
@import "components/cart";
@import "components/forms";
@import "components/modals";
@import "components/navbar";
@import "components/notifications";
@import "components/sidenav";
@import "components/tables";
@import "components/typography";

// Bootstrap override
.form-group .alert {
  font-weight: normal;
}

.container {
  width: 1300px!important;
}

// Material overide, conflicts with bootstrap.
input[type="search"] {
  box-sizing: inherit!important;
}

button.md-button > span, a.md-button > span {
  padding: 0 6px !important;
}

.md-button > .crop {
  display: block;
  max-width: 200px!important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


td .md-button, td md-checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

td a.md-button[disabled], td .md-button[disabled] {
  color: #42A5F5;
  cursor: default!important;
}