@import "compass";
// Helpers
@import "helpers/variables";
@import "base/wet-overrides";
// Components
@import "components/buttons";
@import "components/datatables";
@import "components/forms";
@import "components/magnific-popup";
@import "components/noty";
@import "components/panels";
@import "components/subnav";
// Layout
@import "layout";
// Pages
@import "pages/project";
@import "pages/sequenceFile";

.clickable {
  display: block;
  cursor: pointer;
  span {
    display: inline-block;
  }
}