@import "compass";
// Helpers
@import "helpers/variables";
// Components
@import "components/buttons";
@import "components/datatables"; // TODO: remove this once datatables are officially gone
@import "components/tables";
@import "components/magnific-popup";
@import "components/noty";
@import "components/panels";

// Pages
@import "pages/sequenceFile";
@import "pages/remoteApi";

.login__links {
  a {
    margin-top: 10px;
    display: block;
  }
}

.clickable {
  display: block;
  cursor: pointer;
  span {
    display: inline-block;
  }
}

.nav-tabs li {
  cursor: pointer;
}

// Sortable Table
#table-filter {
  padding: 0;
  &>div {
    padding: 20px;
  }
  .filter-btns > button {
    margin-top: 33px;
  }
}

.selected__counts {
  color: white !important;
  border-radius: 4px;
  padding: 4px 8px 6px 8px;
  margin: 5px;
  background-color: rgba(0, 0, 0, .5);
  border-top: 1px solid rgba(0, 0, 0, .4);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.sample-row, .sample-type-selector {
  border-left: 1rem solid transparent;
}
.local-sample {
  border-color: #133b54;
}
.associated-sample {
  border-color: #43ac6a;
}
.remote-sample {
  border-color: #a3a300;
}
