//
//#associated-projects {
//  a.disabled {
//    color: $color-text;
//    border-top: lightgray 1px solid;
//    text-decoration: none;
//    cursor: not-allowed;
//  }
//  .glyphicon-lock {
//    color: $color-danger;
//  }
//  .glyphicon-eye-open {
//    color: $color-success;
//  }
//}
