.sequenceFile {
  main > div {
    margin-top: 10px;
  }
  .col-md-8 h2 {
    font-size: 18px;
    margin: 0;
  }
  a img {
    border: 4px solid rgba(217, 237, 247, 1.0);
    border-radius: 4px;
  }
  .col-md-4 img {
    width: 100%;
  }
}

