@import "../helpers/variables";

$states: (
        'new': $irida-colour-info,
        'preparing': darken($irida-colour-info, 10),
        'prepared': darken($irida-colour-info, 20),
        'submitting': darken($irida-colour-info, 30),
        'running': $irida-colour-primary,
        'finished_running': $irida-colour-success,
        'completing': lighten($irida-colour-success, 10),
        'completed': #00FF00,
        'error': $irida-colour-alert
);

.analysis__state {
  border-left: 1rem solid transparent;
}

@each $state, $bColor in $states {
  .analysis__state--#{$state} {
    border-color: $bColor;
  }
}