ul[dnd-list] {
  list-style: none;
  padding-left: 0;
}

ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

ul[dnd-list] > li {
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[draggable='true'] {
  cursor: move;
}

[draggable='true'] .field-label {
  display: flex;
  align-items: center;
}

[draggable='true'] .field-label:before {
    display: inline-block;
    content: ' ';
    height: 20px;
    width: 10px;
    margin-left: -5px;
    margin-right: 5px;
    background-image: url("/resources/img/drag.svg");
}

ul[dnd-list] .dndDraggingSource {
  display: none;
}

ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: rgba(217, 237, 247, 1.00);
  min-height: 40px;
}
