@import "../helpers/variables";

.file_checkbox {
  border-left: 1rem solid;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single_end {
  border-color: $irida-colour-info;
}

.paired_end {
  border-color: $irida-colour-primary;
}

.file_names {
  flex-grow: 2;
}

.file_date {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
}