.form-group {
  margin-bottom: 0 !important;
}

ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

ul[dnd-list] > li {
  border-left: 5px solid #eee;
}

ul[dnd-list] .dndDraggingSource {
  display: none;
}

ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 42px;
}

ul[dnd-list] {
  padding-left: 0;
}

.list-group-item {
  padding-left: 25px !important;

  &:before {
    position: absolute;
    top: 13px;
    left: 5px;
    content: ':::';
    font-size: 1.8rem;
    color: lightgray;
    cursor: move!important;
  }
}

