.sample-row, .sample-type-selector {
  border-left: 1rem solid transparent;
}
.local-sample {
  border-color: #133b54;
}
.associated-sample {
  border-color: #43ac6a;
}
.remote-sample {
  border-color: #a3a300;
}