
.btn input[type=checkbox] {
  margin: 0!important;
}
.selection-heading {
  width: 40px!important;
}
.counts {
  line-height: 2rem;
  height: 2rem;
}
tbody {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
td input[type="checkbox"] {
  margin-left: 11px;
}
.project-checkboxes {
  .checkbox {
    display: inline-block;
    width: 33.333333%;
    white-space: nowrap;
    overflow: hidden;
  }
}
