.metadata-open .modal-content {
  padding: 1rem !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.scroll-col {
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 0 !important;
}