@import "../helpers/variables";
@import "../animations/animations";

.paired_end, .single_end {
  background-color: $color-grey-light;
  td {
    border: none !important;
  }
}

.paired_end {
  .td_radio {
    border: 2px solid $colour-paired-end !important;
    vertical-align: middle;
    text-align: center;
  }
  .td_icon {
    background-color: $colour-paired-end;
    color: $color-grey-light;
    vertical-align: middle;
    text-align: center;
  }
}

.paired_end__forward {
  border: 2px solid $colour-paired-end;
  border-bottom: none;
}

.paired_end__reverse {
  border: 2px solid $colour-paired-end;
  border-top: none;
}

.single_end {
  border: 2px solid $colour-single-end;
  .td_icon {
    background-color: $colour-single-end;
  }
}

.sidebar-content {
  width: 130px;
  white-space: normal;
  margin: 1rem auto 0 auto;
}

.alert-icon-motion {
  animation: move-up-down 2s infinite;
}

