.announcement-info {
  text-align: right;
  line-height: 40px;
}

.announcement-icon .fa {
  font-size: 1.6em;
}
.announcement-date {
  display: inline-block;
  color: #666;
  font-size: 0.7em;
  text-align: right;
}
.announcement-time {
  line-height: 28px;
}
.announcement-content {
  line-height: 28px;
  h1 {
    font-size: 1.6rem;
    font-weight: bolder;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: bolder;
  }
}
.announcement-markread {
  margin-left: 5px;
}
textarea.announcement-input {
  height: 20em;
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
}
