<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="upload-progress" type="text/ng-template" id="/files-upload-progress.html">
	<div class="row md-whiteframe-z1" layout-padding="" ng-show="uploading" style="margin-bottom: 1rem;">
		<div class="col-md-12 clear-fix">
			<h3 class="pull-left" style="margin: 0;"><fa:icon type="upload" fixed=""/>
				<ng-pluralize count="count" data:when="'{\'1\': \'' + #{files.upload.message.singular} + '\', \'other\': \'' + #{files.upload.message.plural} + '\'}'"></ng-pluralize>
			</h3>
			<button ng-click="closeProgress()" class="btn btn-default btn-sm pull-right" th:text="#{form.btn.close}">Close</button>
		</div>
		<md-list>
			<md-list-item class="md-2-line" ng-repeat="file in files">
				<div class="md-list-item-text">
					<h4><th:block th:text="#{form.lable.uploading}"></th:block> {{ file.filename }} [{{file.progress}}%]</h4>
					<md-progress-linear md-mode="determinate" ng-value="file.progress"></md-progress-linear>
				</div>
			</md-list-item>
		</md-list>
	</div>
</script>

<script th:fragment="upload-error" type="text/ng-template" id="/upload-error.html">
	<div class="alert alert-warning" ng-show="hasError">
		<strong th:text="#{project.samples.files.upload.error.title}">__UPLOAD_ERROR__</strong>

		<p th:text="#{project.samples.files.upload.error.body}">__Upload_error_message__</p>
	</div>
</script>
</body>
</html>