<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>

<th:block th:fragment="sequenceFileTableLayout" th:with="url=@{${#httpServletRequest.requestURI}},dateFormat=#{locale.date.short}">
	<td class="td_icon" th:switch="${icon}">
		<i th:case="'forward'" class="fa fa-fw fa-arrow-right" data:tooltip="#{sf.tooltip.forward}"></i>
		<i th:case="'reverse'" class="fa fa-fw fa-arrow-left" data:tooltip="#{sf.tooltip.reverse}"></i>
		<i th:case="'single'" class="fa fa-fw fa-minus" data:tooltip="#{sf.tooltip.single}"></i>
	</td>
	<td>
		<a href="#"
		   th:href="${#strings.contains(url, 'projects')} ? ${'sequenceFiles/' + file.id + '/summary'} : @{/sequenceFiles/{id}/summary(id=${file.getId()})}"
		   class="btn btn-default btn-sm file-name"
		   th:text="${file.getLabel()}"></a>
	</td>
	<td>
		<div class="td_info">
			<div class="td_info--value" th:text="${file.getFileSize()}"></div>
			<div class="small text-muted td_info--desc"
			     th:text="#{samples.files.fileSize}">File Size
			</div>
		</div>
	</td>
	<td>
		<div class="td_info pull-right">
			<div class="td_info--value"
			     th:text="${#dates.format(file.getCreatedDate(), dateFormat)}"></div>
			<div class="small text-muted pull-right td_info--desc"
			     th:text="#{samples.files.createdDate}">Created Date
			</div>
		</div>
	</td>
</th:block>
</body>
</html>