<div id="galaxy-modal" class="form">
	<div class="modal-header">
		<h3 class="modal-title">
			<span class="fa fa-fw fa-cloud"></span>
			<span th:utext="#{galaxy.title}">__LINKER</span>
			<button type="button" class="close" ng-click="gCtrl.close()"><i class="fa fa-times"></i></button>
		</h3>
	</div>
	<div class="modal-body" ng-show="gCtrl.showEmailLibInput">
		<div class="form-group">
			<label for="email" th:text="#{galaxy.label.email}"></label>
			<input id="email" class="form-control" type="email" th:attr="ng-init='gCtrl.setEmail(\'' + ${email} + '\')'" ng-model="gCtrl.email"/>
			<div id="email-error" ng-show="gCtrl.validation.email" class="alert alert-danger" role="alert" th:text="#{galaxy.errors.email}">_No email_</div>
		</div>
		<div class="form-group">
			<label for="name" th:text="#{galaxy.label.library}"></label>
			<input id="name" type="text" class="form-control" th:attr="ng-init='gCtrl.setName(\'' + ${name}+ '\'' + ',\'' + ${orgName} + '\');'"  ng-model="gCtrl.name"/>
			<div id="galaxy-error" ng-show="gCtrl.errors" class="alert alert-danger" role="alert">{{gCtrl.errors}}</div>
			<div id="name-error" ng-show="gCtrl.validation.name" class="alert alert-danger" role="alert" th:text="#{galaxy.errors.name}">_No name_</div>
		</div>
		<div class="form-group">
			<label for="addtohistory">
			<input id="addtohistory" type="checkbox" ng-model="gCtrl.addtohistory"/>&nbsp;
				<th:block th:text="#{galaxy.label.addtohistory}"></th:block>
			</label>
			<br />
			<div class="form-group-detail">
				<label for="makepairedcollection" ng-show="gCtrl.addtohistory">
				<input id="makepairedcollection" type="checkbox" ng-show="gCtrl.addtohistory" ng-model="gCtrl.makepairedcollection"/>&nbsp;
					<th:block th:text="#{galaxy.label.makepairedcollection}"></th:block>
					<span class="btn btn-link btn-xs btn-default pull-right" popover-trigger="mouseenter" data:uib-popover="#{galaxy.help-popup}" data:popover-title="#{galaxy.help-popup-title}">
						<i class="fa fa-question-circle fa-fw" aria-hidden="true"></i>
					</span>
				</label>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-show="gCtrl.showOauthIframe">
		<iframe name="oauth2Iframe" ng-src="{{gCtrl.iframeSrc}}" style="zoom:0.60" width="99.6%" height="800" frameborder="0"></iframe>
	</div>
	<div class="modal-footer" ng-hide="gCtrl.showOauthIframe">
		<button class="btn btn-default" ng-click="gCtrl.close()" th:text="#{form.btn.close}">Close</button>
		<button ng-disabled="gCtrl.uploading" class="btn btn-primary" ng-click="gCtrl.upload()">
			<span class="fa fa-fw" ng-class="gCtrl.uploading ? 'fa-spinner fa-spin' : 'fa-cloud-upload-alt'"></span>
			&nbsp;<span th:text="#{galaxy.btn.upload}"></span>
		</button>
	</div>
	<form name="galSubFrmNm" id="galSubFrm" th:action="${#httpSession.getAttribute('galaxyExportToolCallbackURL')}" method="post">
		<input type="hidden" name="{{sampleFormEntity.name}}" ng-repeat="sampleFormEntity in gCtrl.sampleFormEntities" value="{{sampleFormEntity.value}}"/>
	</form>

</div>
