<div style="border-radius: 4px">
  <div
    class="modal-header"
    style="background-color: hsl(52, 96%, 53%); border-top-left-radius: 4px; border-top-right-radius: 4px;"
  >
      <h4 class="modal-title" id="myModalLabel" th:text="#{galaxy.modal.title}">DEPRICATED</h4>
  </div>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert">
            <strong th:text="#{galaxy.modal.alert.header}" style="display: block"/>
            <p th:text="#{galaxy.modal.alert.body}"></p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="js-goToCart" th:text="#{galaxy.modal.btn}">Go to cart</button>
    </div>
    <script>
      var btn = document.querySelector("#js-goToCart");
      btn.addEventListener("click", function () {
        var cartBtn = document.querySelector("#cart-add-btn");
        if (cartBtn !== null) {
          cartBtn.click();
          window.location = window.TL.BASE_URL + "cart/galaxy";
        }
      });
    </script>
</div>
