<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="passwordInputs">
	<div class="password js-password-wrapper" th:style="${hidden} ? 'display: hidden;' : 'display: block;'">
		<div class="form-group">
			<label for="password" th:text="#{user.password}">_Password_</label>
			<div th:if="${#maps.containsKey(errors, 'password')}"
				 th:text="${errors.password}"
				 class="alert alert-danger">_Password Error_</div>
			<div>
				<small class="text-muted" th:utext="#{user.password.requirements.info}"></small>
			</div>
			<input id="password" type="password" name="password" 
				   class="form-control input-full password js-password-input"
				   autocomplete="new-password"
				   th:required="${required} ? 'required'"
				   th:placeholder="#{user.password}"
				   data:msg-minlength="#{user.password.required.minlength}"
				   data:msg-hasLowercaseLetter="#{user.password.required.lowercase}"
				   data:msg-hasUppercaseLetter="#{user.password.required.uppercase}"
				   data:msg-hasNumber="#{user.password.required.number}"
				   data:msg-hasSpecialChar="#{user.password.required.special}" />
		</div>
		<div class="form-group">
			<label for="confirmPassword" th:text="#{user.confirmPassword}">_Confirm Password_</label>
			<input id="confirmPassword"  type="password" name="confirmPassword"
				   autocomplete="new-password"
				   class="form-control input-full password js-password-input"
				   th:required="${required} ? 'required'"
				   th:placeholder="#{user.confirmPassword}" />
		</div>
	</div>
</th:block>
</body>
</html>
