<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<body>
    <div th:fragment="pw-requirements" id="passwordRequirements">
        <div id="password-minlength" class="alert alert-danger">
            <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>
            <span th:text="#{user.password.required.minlength}">__Minimum Length__</span>
        </div>
        <div id="password-uppercase" class="alert alert-danger">
            <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>
            <span th:text="#{user.password.required.uppercase}">__Uppercase__</span>
        </div>
        <div id="password-lowercase" class="alert alert-danger">
            <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>
            <span  th:text="#{user.password.required.lowercase}">__Lowercase__</span>
        </div>
        <div id="password-number" class="alert alert-danger">
            <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>
            <span  th:text="#{user.password.required.number}">__Number__</span>
        </div>
        <div id="passwords-match" class="alert alert-danger">
            <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>
            <span th:text="#{user.password.required.matching}">__Passwords Match__</span>
        </div>
    </div>
</body>
</html>