<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="pw-requirements" id="passwordRequirements" class="alert alert-warning">
        <p id="password-minlength" th:text="#{user.password.required.minlength}" style="display: block">__Minimum Length__</p>
        <p id="password-uppercase" th:text="#{user.password.required.uppercase}" style="display: block">__Uppercase__</p>
        <p id="password-lowercase" th:text="#{user.password.required.lowercase}" style="display: block">__Lowercase__</p>
        <p id="password-number" th:text="#{user.password.required.number}" style="display: block">__Number__</p>
    </div>
</body>
</html>