<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<script th:fragment="main" type="text/ng-template" id="joberrors.html">

    <div ng-show="jobErrorsCtrl.hasNoJobErrorInfoAvailable()"
         class="it-has-job-error">
        <h2 th:text="#{analysis.details.joberror.unavailable}">_unavailable_</h2>
    </div>
    <div ng-show="jobErrorsCtrl.isLoading()"
         class="it-has-job-error">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-show="jobErrorsCtrl.has_job_errors">
        <div ng-repeat="job_error in jobErrorsCtrl.job_errors" class="it-has-job-error">
            <h3>[[ #{analysis.joberror} ]] - {{ job_error.toolName }} ({{ job_error.toolVersion}}) - [[ #{analysis.details.joberror.exitCode} ]] {{ job_error.exitCode }}</h3>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-md-3" th:text="#{analysis.details.joberror.attribute}"></th>
                    <th class="col-md-9" th:text="#{analysis.details.joberror.value}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th th:text="#{analysis.details.joberror.createdDate}">_createdDate_</th>
                    <td><p>{{ job_error.createdDate }}</p></td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.updatedDate}">_updatedDate_</th>
                    <td><p>{{ job_error.updatedDate }}</p></td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.commandLine}">_commandLine_</th>
                    <td><pre>{{ job_error.commandLine }}</pre></td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.exitCode}">_exitCode_</th>
                    <td>{{ job_error.exitCode }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.toolId}">_toolId_</th>
                    <td>{{ job_error.toolId }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.toolName}">_toolName_</th>
                    <td>{{ job_error.toolName }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.toolVersion}">_toolVersion_</th>
                    <td>{{ job_error.toolVersion }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.toolDescription}">_toolDescription_</th>
                    <td>{{ job_error.toolDescription }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.provenanceId}">_provenanceId_</th>
                    <td>{{ job_error.provenanceId }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.provenanceUUID}">_provenanceUUID_</th>
                    <td>{{ job_error.provenanceUUID }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.historyId}">_historyId_</th>
                    <td>{{ job_error.historyId }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.jobId}">_jobId_</th>
                    <td>{{ job_error.jobId }}</td>
                </tr>
                <tr>
                    <th th:text="#{analysis.details.joberror.identifier}">_identifier_</th>
                    <td>{{ job_error.identifier }}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="row">
                    <div class="col-md-11">
                        <h4 th:text="#{analysis.details.joberror.standardError}">_standardError_</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default btn-block"
                                data-toggle="tooltip" data-placement="left"
                                th:title="#{analysis.details.joberror.reverse-lines}"
                                ng-click="jobErrorsCtrl.reverseLines(job_error, 'standardError')">
                            <i class="fa fa-sort-amount-{{ job_error.reversed.standardError ? 'desc' : 'asc' }}"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <pre class="log--resizeable">{{ job_error.standardError }}</pre>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-11">
                        <h4 th:text="#{analysis.details.joberror.standardOutput}">_standardOutput_</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default btn-block"
                                data-toggle="tooltip" data-placement="left"
                                th:title="#{analysis.details.joberror.reverse-lines}"
                                ng-click="jobErrorsCtrl.reverseLines(job_error, 'standardOutput')">
                            <i class="fa fa-sort-amount-{{ job_error.reversed.standardOutput ? 'desc' : 'asc' }}"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <pre class="log--resizeable">{{ job_error.standardOutput }}</pre>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 th:text="#{analysis.details.joberror.parameters}">_parameters_</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <pre class="log--resizeable">{{ job_error.parameters|json }}</pre>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

</body>
</html>