<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>
<script th:fragment="modal (title, parameters)" type="text/ng-template" id="/parameters.html">
	<div class="modal-header">
		<h2 class="modal-title" th:text="${title}">Phylogenomics Pipeline Parameters</h2>
	</div>
	<div class="modal-body">
		<div class="form-group" th:each="parameter : ${parameters}">
			<div class="label label-info" th:text="${parameter.name}"></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" th:text="#{pipeline.phylogenomics.parameters.modal-button-cancel}">Cancel</button>
		<button class="btn btn-primary" th:text="#{pipeline.phylogenomics.parameters.modal-button-good}">These work for me!</button>
	</div>
</script>
</body>
</html>