<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/_base">
<head>
    <title th:text="#{project.associated.heading(${project.label})}"></title>
</head>
<body>

<main layout:fragment="main" th:object="${project}">
    <div class="row">
        <div class="col-md-10">
            <h1 role="heading" th:text="#{project.associated.heading(${project.label})}"></h1>
        </div>
    </div>
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a id="localTab" href="#local" role="tab" data-toggle="tab"
                              th:text="#{project.associated.local.tab}">__Local__</a>
        </li>
        <li>
            <a id="remoteTab" href="#remote" role="tab" data-toggle="tab" th:text="#{project.associated.remote.tab}">__Remote__</a>
        </li>
    </ul>

    <div class="tab-content mrgn-tp-md">
        <div class="tab-pane active" id="local">
            <div class="panel panel-info" id="associated-projects">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{project.associated.local.title}">_Associated Projects_</h3>
                </div>
                <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>_Project Name_</th>
                        <th>_Access_</th>
                    </tr>
                    <tr th:each="project : ${associatedProjects}">
                        <td>
                            <a th:text="${project.name}" th:href="${project.auth} == 'authorized' ? @{'/projects/' + ${project.id}} : '#'"></a>
                        </td>
                        <td>
                            <span th:if="${project.auth} == 'authorized'"
                                th:text="#{project.associatd.authorized}"
                                class="label label-success">_Authorized_</span>
                            <span th:if="${project.auth} != 'authorized'"
                                th:text="#{project.associatd.unauthorized}"
                                class="label label-danger">_Unauthorized_</span>
                        </td>
                    </tr>
                </table>
                </div>
                
            </div>
        </div>
        <div class="tab-pane" id="remote">
            <div class="panel panel-info" id="associated-projects">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{project.associated.remote.title}">_Associated Projects_</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <tr th:each="api : ${remoteProjectsByApi}">
                            <td>
                                <a th:text="${api.key.name}" th:href="@{/remote_api/{id}(id=${api.key.id})}"></a>
                            </td>
                            <td>
                                <span id="api-status-x" th:id="'api-status-'+${api.key.id}" class="api-status" th:attr="data-api-id=${api.key.id}">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </td>
                            <td>
                                <div class="pull-right">
                                <button class="oauth-connect-link btn btn-default btn-xs hidden" id="connect-button-x" th:id="'connect-button-' + ${api.key.id}"
                                    th:attr="data-api-id=${api.key.id}">_Connect_</button>
                                <span class="badge hidden" th:id="'remote-project-count-' + ${api.key.id}" th:text="${#lists.size(api.value)}"></span>
                                <i th:id="'api-expand-' + ${api.key.id}" class="glyphicon glyphicon-chevron-down hidden"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <iframe id="invisible" style="display:none;"></iframe>
</main>

<th:block layout:fragment="pageScripts">
    <script th:inline="javascript">
    $(document).ready(function () {
    	$(".api-status").each(function(){
    		var resultDiv = "#"+$(this).attr("id");
    		var apiId = $(this).data("api-id");
    		var connectButtonId = "#connect-button-"+apiId;
    		
    		getApiStatus(apiId,resultDiv,connectButtonId, function(){
    			$("#remote-project-count-"+apiId).removeClass("hidden");
    			$("#api-expand-"+apiId).removeClass("hidden");
    		});
    	});
    });
    
    </script>
</th:block>
</body>
</html>