<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{projects.create.heading}">THIS IS SOMETHING WRONG</title>
    <link rel="stylesheet" th:href="@{/dist/css/project-sync.bundle.css}" />
  </head>
  <body>
    <div
      style="background-color: hsl(116, 0%, 96%); height: 100%"
      layout:fragment="page"
    >
      <div id="root"></div>
    </div>
    <th:block layout:fragment="scripts" th:inline="javascript">
      <script th:src="@{/dist/js/project-sync.bundle.js}"></script>
    </th:block>
  </body>
</html>
