<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{projects/_base}">
<head>
	<link rel="stylesheet" th:href="@{/dist/css/project-metadata-edit.bundle.css}">
	<script th:inline="javascript">
		window.PAGE = {
			urls: {
				taxonomy: 	/*[[@{/projects/ajax/taxonomy/search}]]*/ '/projects/ajax/taxonomy/search'
			},
			i18n: {
				organism: /*[[#{projects.create.form.select-organism}]]*/ "Enter Organism"
			}
		};
	</script>
</head>
<body>

<main layout:fragment="main" th:object="${project}">
	<section>
		<form th:action="@{/projects/{projectId}/metadata/edit(projectId=${project.getId()})}" method="post" role="form"
		      class="panel panel-info" th:object="${project}">
			<div class="panel-heading">
				<h3 class="panel-title">Edit Project Metadata</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="name" th:text="#{projects.create.form.name}"></label>

					<div th:if="${#maps.containsKey(errors, 'name')}" class="alert alert-warning"
					     th:text="${errors.name}"></div>
					<input class="form-control input-full" type="text" name="name" id="name"
					       th:placeholder="*{name}"/>
				</div>
				<div class="form-group">
					<label for="projectDescription" th:text="#{projects.create.form.description}">Project Description</label>

					<div th:if="${#maps.containsKey(errors, 'description')}" class="alert alert-warning"
					     th:text="${errors.description}"></div>
                        <textarea class="form-control input-full" name="projectDescription"
                                  id="projectDescription"
                                  rows="3" th:placeholder="*{projectDescription}"></textarea>
				</div>
        <div class="form-group">
					<label for="projectOrganism" th:text="#{projects.create.form.organism}">Project Organism</label>

					<div th:if="${#maps.containsKey(errors, 'organism')}" class="alert alert-warning"
					     th:text="${errors.organism}"></div>

					<input type="text" id="projectOrganism" class="organism-select form-control input-full"
					       name="organism" th:placeholder="*{organism}"/>

				</div>
				<div class="form-group">
					<label for="projectWiki" th:text="#{projects.create.form.wiki}">Project Wiki URL</label>

					<div th:if="${#maps.containsKey(errors, 'remoteURL')}" class="alert alert-warning"
					     th:text="${errors.remoteURL}"></div>
					<input class="form-control input-full" name="remoteURL" type="url" id="projectWiki"
					       th:placeholder="*{remoteURL}"/>
				</div>
			</div>
			<div class="panel-footer text-right">
				<a class="btn btn-default" th:href="@{'/projects/' + *{id} + '/metadata'}"
				   th:text="#{form.btn.cancel}">Cancel</a>
				<button id="submit" type="submit" class="btn btn-primary"
				        th:text="#{form.btn.update}"></button>
			</div>
		</form>
	</section>
</main>
<th:block layout:fragment="scripts" th:inline="javascript">
	<script th:src="@{/dist/js/project-metadata-edit.bundle.js}"></script>
</th:block>
</body>
</html>
