<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{projects/_base}">
<head>
    <title th:text="#{linelist.page-title}">Title</title>
    <link rel="stylesheet" th:href="@{/resources/dist/css/project-linelist.bundle.css}">
    <script th:inline="javascript">
        window.PAGE = {
          i18n: {
            Loader: {
              message: /*[[#{linelist.Loader.message}]]*/ "__Loading Metadata__",
              description: /*[[#{linelist.Loader.description}]]*/ "__Checking for ...__"
            },
            agGrid: {
              loadingOoo: /*[[#{linelist.Table.loading}]]*/ "__Loading data... this might take a while!__"
            }
          }
        };
    </script>
</head>
<body>
<main layout:fragment="main">
<div id="root"></div>
</main>

<th:block layout:fragment="scripts">
    <script th:src="@{/resources/dist/js/project-linelist.bundle.js}"></script>
</th:block>
</body>
</html>
