<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="projects/_base">
<head>
    <title th:text="#{linelist.page-title}">Title</title>
    <!-- TODO: (Josh) Move this to external css file -->
    <style>
        .sidepanel {
            height: 100%;
            overflow-y: scroll;
            padding: 1rem;
            background: #3d72b4; /* fallback for old browsers */
            background: -webkit-linear-gradient(to top right, #525252, #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top right, #525252, #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
</head>
<body>
<main layout:fragment="main" ddl:bundle-includes="project-linelist">
    <div class="row spaced-bottom">
        <div class="col-md-12">
            <a class="btn btn-default"
               th:href="@{/projects/{id}/sample-metadata(id=${project.getId()})}"
               th:text="#{linelist.add-metadata.btn}">Upload new metadata</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 spaced-bottom">
            <div class="form-group">
                <label for="template-select"
                       th:text="#{linelist.template-select.label}">Select Metadata
                    Template</label>
                <div class="row">
                    <div class="col-md-9 col-sm-7">
                        <select class="form-control" id="template-select">
                            <option th:each="template : ${templates}" th:value="${template.id}"
                                    th:text="${#strings.capitalizeWords(template.label)}"
                                    th:selected="${template == currentTemplate}"></option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <a th:href="@{/projects/4/linelist/linelist-templates}"
                           class="btn btn-default btn-block"
                           th:text="#{linelist.template.create-new}">Create New Template</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="overflow: hidden;">
            <metadata-component></metadata-component>
            <table id="linelist" class="table table-bordered table-striped" style="width: 100%;"></table>
        </div>
    </div>

</main>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        var metadataList = /*[[${metadataList}]]*/ [];
        var headersList = /*[[${headers}]]*/ [];
    </script>
    <script type="text/ng-template" id="metadata.button.tmpl">
        <button class="btn btn-default" ng-click="$ctrl.showMetadataTemplator()">_Header Fields_</button>
    </script>
    <script type="text/ng-template" id="metadata.aside.tmpl">
        <div style="height: 100%;">
            <div style="background: #000; padding: 1rem;">
                <input type="text" class="form-control" placeholder="Search"/>
            </div>
            <div class="sidepanel">
                <button class="btn btn-default btn-block"
                        ng-repeat="field in $ctrl.fields"
                        uib-btn-checkbox=""
                        ng-model="field.selected"
                        ng-click="$ctrl.toggleField($event, field)">{{ field.text }}
                </button>
            </div>
        </div>
    </script>
    <script src="/resources/js/build/project-linelist.bundle.js"
        th:src="@{/resources/js/build/project-linelist.bundle.js}"></script>
</th:block>
</body>
</html>