<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default navbar-sm" role="navigation" th:fragment="nav">
    <ul class="nav navbar-nav" th:inline="text" th:with="baseLink=${'/projects/' + project.getId()}">
        <li th:class="${activeNav} == 'dashboard' ? 'active'"><a th:href="@{${baseLink}}"><span
                class="glyphicon glyphicon-home"></span></a></li>
        <li th:class="${activeNav} == 'metadata' ? 'active'"><a th:href="@{${baseLink} + '/metadata'}">[[#{project.nav.metadata}]]</a>
        </li>
        <li th:class="${activeNav} == 'samples' ? 'active'"><a th:href="@{${baseLink} + '/samples'}">[[#{project.nav.samples}]]<span
                class="badge"
                th:text="${samples}"></span>
        </a></li>
        <li th:class="${activeNav} == 'members' ? 'active'"><a th:href="@{${baseLink} + '/members'}">[[#{project.nav.members}]]<span
                class="badge"
                th:text="${users}"></span></a>
        </li>
        <li th:class="${activeNav} == 'analysis' ? 'active'"><a th:href="@{${baseLink} + '/analysis'}">[[#{project.nav.analysis}]]</a>
        </li>
    </ul>
</nav>

<aside th:fragment="sidebar" class="col-md-3 col-md-pull-9 visible-md visible-lg"
       th:object="${project}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b class="panel-title" th:text="#{project.details}">Project Details</b>
            <a th:if="${isOwner}" th:href="@{'/projects/' + *{id} + '/metadata/edit'}"
               class="btn btn-xs btn-default pull-right">Edit</a>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked details">
                <li><span class="glyphicon glyphicon-barcode"></span><em th:text="#{project.id}"></em><span
                        class="pull-right" th:text="${project.getId()}"></span></li>
                <li th:if="${project.organism} != null"><span class="glyphicon glyphicon-leaf"></span><em
                        th:text="#{project.organism}"></em><span
                        class="pull-right" id="project-organism"><i th:text="${project.organism}"></i></span>
                </li>
                <li th:if="${owner} != null"><span class="glyphicon glyphicon-tower"></span><em
                        th:text="#{project.owner}"></em><span
                        class="pull-right" id="project-owner"
                        th:text="${owner.label}">__DATE_CREATED__</span>
                </li>
                <li><span class="glyphicon glyphicon-calendar"></span><em th:text="#{project.created}"></em><span
                        class="pull-right" id="project-created"
                        th:text="${#calendars.format(project.timestamp, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                </li>
                <li th:if="${project.modifiedDate} != null"><span class="glyphicon glyphicon-calendar"></span><em
                        th:text="#{project.modified}"></em><span
                        class="pull-right" id="project-modified" data:livestamp="${project.modifiedDate}"
                        th:title="${#calendars.format(project.modifiedDate, 'dd MMM yyyy HH:mm')}">__DATE_CREATED__</span>
                </li>
            </ul>
        </div>
    </div>
    <div layout:replace="partials/associated-projects :: list (projects=${associatedProjects})"></div>
</aside>
</body>
</html>