<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="projects/_base">
<head>
    <title th:text="${project.label} + ' - ' + #{project.nav.samples}"></title>
    <script th:inline="javascript">
        var PAGE = {
            project: {
                id: /*[[${project.getId()}]]*/ '4'
            },
            ajaxParam: {date:{}},
            linker: /*[[${linker}]]*/'',
            urls: {
                associated: {
                    local: /*[[@{/projects/{id}/ajax/associated(id=${project.getId()})}]]*/ ''
                },
                modals: {
                    remove: /*[[@{/projects/templates/remove-modal}]]*/ '/projects/templates/remove-modal',
                    merge: /*[[@{/projects/{projectId}/templates/merge-modal(projectId=${project.getId()})}]]*/ '/projects/templates/merge-modal',
                    copy: /*[[@{/projects/templates/copy-modal(projectId=${project.getId()})}]]*/ '/projects/templates/copy-modal',
                    move: /*[[@{/projects/templates/move-modal(projectId=${project.getId()})}]]*/ '/projects/templates/move-modal',
                    galaxy: /*[[@{/cart/template/galaxy/project/{projectId}(projectId=${project.getId()})}]]*/ '/cart/template/galaxy/project/1',
                    filter: /*[[@{/projects/template/samples-filter-modal}]]*/ ''
                },
                projects: {
                  available: /*[[@{/projects/{id}/ajax/samples/available_projects(id=${project.getId()})}]]*/ ''
                },
                samples: {
                    project: /*[[@{/projects/{id}/ajax/samples(id=${project.getId()})}]]*/ '',
                    local: /*[[@{'/projects/{id}/ajax/samples'}]]*/ '',
                    remove: /*[[@{/projects/{id}/ajax/samples/delete(id=${project.getId()})}]]*/ '',
                    merge: /*[[@{/projects/{id}/ajax/samples/merge(id=${project.getId()})}]]*/ '',
                    copy: /*[[@{/projects/{id}/ajax/samples/copy(id=${project.getId()})}]]*/ '',
                    download: /*[[@{/projects/{id}/download/files(id=${project.getId()})}]]*/ '/projects/1/download/files',
                    ncbi: /*[[@{/projects/{id}/export/ncbi(id=${project.getId()})}]]*/ '/projects/1/export/ncbi',
                    linker: /*[[@{/projects/template/samples/linker}]]*/ '/projects/1/samples/linker',
                    export: /*[[@{/projects/{id}/samples/export(id=${project.getId()})}]]*/ 'projects/1/samples/export',
                    idList: /*[[@{/samples/idList}]]*/ "/samples/idList",
                    sampleIds: /*[[@{/projects/{id}/ajax/sampleIds(id=${project.getId()})}]]*/ '/projects/{projectId}/ajax/sampleIds'
                },
                fileMissingSamples: /*[[@{/projects/{id}/ajax/samples/missing(id=${project.getId()})}]]*/ "/projects/{projectId}/ajax/samples/missing"
            },
            i18n: {
                dateFilter: {
                    days30: /*[[#{project.sample.filter.date.days30}]]*/ "Last 30 Days",
                    days60: /*[[#{project.sample.filter.date.days60}]]*/ "Last 60 Days",
                    days120: /*[[#{project.sample.filter.date.days120}]]*/ "Last 120 Days"
                },
                selectedCounts: {
                    none: /*[[#{project.samples.counts.none}]]*/ "No samples selected",
                    one: /*[[#{project.samples.counts.one}]]*/ "1 sample selected",
                    other: /*[[#{project.samples.counts.more}]]*/ "{count} samples selected"
                }
            }
        };
    </script>
    <style>
        tbody {
            user-select: none;
        }
        tr.selected {
            background-color: rgba(91, 192, 222, 1.00) !important;
        }
    </style>
</head>
<body>
<main id="project-samples-main" layout:fragment="main">

    <table id="project-samples" class="table table-striped" cellspacing="0" width="100%"
           data:url="@{/projects/{id}/ajax/samples(id=${project.getId()})}">
        <thead>
        <tr>
            <th data-orderable="false"></th>
            <th data-data="sampleName" data-name="sample.sampleName" th:text="#{project.samples.table.name}"></th>
            <th data-data="organism" data-name="sample.organism" th:text="#{project.samples.table.organism}"></th>
            <th data-data="projectName" data-name="project.name" th:text="#{project.samples.table.project}"></th>
            <th class="dt-date" data-data="createdDate"  th:text="#{project.samples.table.created}"></th>
            <th class="dt-date" data-data="modifiedDate" data-name="sample.modifiedDate" th:text="#{project.samples.table.modified}"></th>
        </tr>
        </thead>
    </table>

    <!--<div class="hidden">-->
        <!--<filtered-tags id="filtered-tags"></filtered-tags>-->
        <!--<samples-filter id="filter-btns"></samples-filter>-->
        <!--<div id="toolbar">-->
            <!--<div role="toolbar" aria-label="Sample Table Tools">-->
                <!--<div style="display: inline-block;" th:if="${not #lists.isEmpty(associatedProjects)}" uib-dropdown=""-->
                     <!--auto-close="outsideClick"-->
                     <!--ng-controller="AssociatedProjectsController as apCtrl">-->
                    <!--<button id="associated-btn" class="btn btn-default btn-sm" uib-dropdown-toggle=""-->
                            <!--aria-haspopup="true">-->
                        <!--<th:block th:text="#{project.samples.nav.associated}"></th:block>-->
                        <!--&nbsp;-->
                        <!--<i class="fa fa-caret-down" aria-hidden="true"></i>-->
                    <!--</button>-->
                    <!--<ul id="associated-dropdown" class="dropdown-menu" uib-dropdown-menu="" role="menu"-->
                        <!--aria-labelledby="associated-btn">-->
                        <!--<li role="menuitemcheckbox">-->
                            <!--<a style="display: block;" href="#" ng-click="apCtrl.selectAllOrNone($event)">-->
                                <!--<div class="checkbox" style="display: block;">-->
                                    <!--<input id="select-all-cb" type="checkbox"/>&nbsp;-->
                                    <!--<th:block  th:text="#{project.samples.nav.associated-selectAll}" />-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li role="menuitemcheckbox" th:each="associated : ${associatedProjects}">-->
                            <!--<a class="associated-link" href="#" style="display: block;" data:id="${associated.getId()}"-->
                               <!--ng-click="apCtrl.toggleAssociatedProject($event)">-->
                                <!--<div class="checkbox" style="display: block;">-->
                                    <!--<label>-->
                                        <!--<input class="associated-cb" type="checkbox"/>-->
                                        <!--&nbsp;-->
                                        <!--<th:block th:text="${associated.getName()}"></th:block>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div style="display: inline-block;" ng-controller="ToolsController as toolsCtrl">-->
                    <!--<th:block th:if="${isOwner || isAdmin}">-->
                        <!--<div style="display: inline-block;" uib-dropdown="">-->
                            <!--<button id="sample-tools" class="btn btn-default btn-sm" uib-dropdown-toggle=""-->
                                    <!--type="button">-->
                                <!--<th:block th:text="#{project.samples.nav.sample-tools}"></th:block>&nbsp;-->
                                <!--<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>-->
                            <!--</button>-->
                            <!--<ul id="sample-tools-dropdown" class="dropdown-menu" uib-dropdown-menu="" role="menu">-->
                                <!--<li id="mergeBtn"-->
                                    <!--ng-class="{disabled: toolsCtrl.disabled.lessThanTwo || toolsCtrl.disabled.hasAssociated}"-->
                                    <!--tooltip-enable="toolsCtrl.disabled.lessThanTwo || toolsCtrl.disabled.hasAssociated"-->
                                    <!--uib-tooltip-template="'merge.msg.tmpl'">-->
                                    <!--<a href="#" ng-click="toolsCtrl.merge()">-->
                                        <!--<i class="fa fa-compress fa-fw" aria-hidden="true"></i> &nbsp;-->
                                        <!--<th:block th:text="#{project.samples.nav.merge}">Merge</th:block>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li id="copyBtn"-->
                                    <!--ng-class="{disabled: toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated}"-->
                                    <!--tooltip-enable="toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated"-->
                                    <!--uib-tooltip-template="'copy.msg.tmpl'">-->
                                    <!--<a href="#" ng-click="toolsCtrl.copy()">-->
                                        <!--<i class="fa fa-files-o fa-fw" aria-hidden="true"></i>&nbsp;-->
                                        <!--<th:block th:text="#{project.samples.nav.copy}">_COPY_</th:block>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li id="moveBtn"-->
                                    <!--ng-class="{disabled: toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated}"-->
                                    <!--tooltip-enable="toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated"-->
                                    <!--uib-tooltip-template="'move.msg.tmpl'">-->
                                    <!--<a href="#" ng-click="toolsCtrl.move()">-->
                                        <!--<i class="fa fa-truck fa-fw" aria-hidden="true"></i>&nbsp;-->
                                        <!--<th:block th:text="#{project.samples.nav.move}">_MOVE_</th:block>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li id="removeBtn"-->
                                    <!--ng-class="{disabled: toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated}"-->
                                    <!--tooltip-enable="toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated"-->
                                    <!--uib-tooltip-template="'remove.msg.tmpl'">-->
                                    <!--<a href="#" ng-click="toolsCtrl.remove()">-->
                                        <!--<i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;-->
                                        <!--<th:block th:text="#{project.samples.nav.remove}">_MOVE_</th:block>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li>-->
                                    <!--<a th:href="@{/projects/{id}/sample-metadata/upload(id=${project.getId()})}">-->
                                <!--<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;-->
                                <!--<th:block th:text="#{project.nav.samples.import-metadata}"/>-->
                            <!--</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li>-->
                            <!--<a th:href="@{/projects/{id}/samples/new(id=${project.getId()})}">-->
                                        <!--<i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;-->
                                        <!--<th:block th:text="#{project.samples.nav.new}"/>-->
                                    <!--</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</th:block>-->
                    <!--<div style="display: inline-block;" uib-dropdown="">-->
                        <!--<button id="export-samples-btn" class="btn btn-default btn-sm" uib-dropdown-toggle="">-->
                            <!--<th:block th:text="#{project.samples.export.label}" />&nbsp;-->
                            <!--<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="export-samples-btn">-->
                            <!--<li id="download-btn" role="menuitem"-->
                                <!--ng-class="{disabled: toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated}"-->
                                <!--tooltip-enable="toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated"-->
                                <!--uib-tooltip-template="'download.msg.tmpl'">-->
                                <!--<a href="#" ng-click="toolsCtrl.download()">-->
                                    <!--<i class="fa fa-download fa-fw" aria-hidden="true"></i>&nbsp;<th:block th:text="#{project.samples.export.download}"/>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li id="linker-btn" th:if="${linkerAvailable}" role="menuitem"-->
                                <!--ng-class="{disabled: toolsCtrl.disabled.hasAssociated}"-->
                                <!--tooltip-enable="toolsCtrl.disabled.hasAssociated"-->
                                <!--uib-tooltip-template="'linker.msg.tmpl'">-->
                                <!--<a href="#" ng-click="toolsCtrl.linker()">-->
                                    <!--<i class="fa fa-terminal fa-fw" aria-hidden="true"></i>&nbsp;<th:block th:text="#{project.samples.export.linker}"/>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li role="menuitem"-->
                                <!--th:if="${galaxyCallback}"-->
                                <!--ng-class="{disabled: toolsCtrl.disabled.hasAssociated}">-->
                                <!--<a href="#" ng-click="toolsCtrl.galaxy(); cart.show=false">-->
                                    <!--<i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i>-->
                                    <!--<span th:text="#{project.samples.export.galaxy}"></span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li id="ncbi-btn" role="menuitem"-->
                                <!--ng-class="{disabled: toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated}"-->
                                <!--tooltip-enable="toolsCtrl.disabled.lessThanOne || toolsCtrl.disabled.hasAssociated"-->
                                <!--uib-tooltip-template="'ncbi.msg.tmpl'">-->
                                <!--<a href="#" ng-click="toolsCtrl.ncbiExport()">-->
                                    <!--<i class="fa fa-upload fa-fw" aria-hidden="true"></i>&nbsp;<th:block th:text="#{project.samples.export.ncbi}"/>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li>-->
                                <!--<a href="#" ng-click="toolsCtrl.exportToFile('xlsx')">-->
                                    <!--<i class="fa fa-file-excel-o fa-fw" aria-hidden="true"></i>&nbsp;<th:block th:text="#{project.samples.export-to-excel}"/>-->
                                <!--</a></li>-->
                            <!--<li>-->
                                <!--<a href="#" ng-click="toolsCtrl.exportToFile('csv')">-->
                                    <!--<i class="fa fa-file-o fa-fw" aria-hidden="true"></i>&nbsp;<th:block th:text="#{project.samples.export-to-csv}"/>-->
                                <!--</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<button id="cart-add-btn" class="btn btn-primary btn-sm" ng-click="toolsCtrl.addToCart()">-->
                        <!--<i class="fa fa-cart-plus fa-fw" aria-hidden="true"></i>-->
                        <!--&nbsp;-->
                        <!--<th:block th:text="#{project.samples.nav.add-to-cart}">Add To Cart</th:block>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</main>
<th:block layout:fragment="scripts">
    <script th:src="@{/resources/js/build/project-samples.bundle.js}"></script>
</th:block>
</body>

<!--<th:block layout:fragment="scripts">-->
    <!--<script type="text/ng-template" id="filterButtons.html">-->
        <!--<div th:replace="projects/partials/samples.tmpl :: filterButtons"></div>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="samplesUpdate.html" th:inline="javascript">-->
        <!--<div>-->
            <!--<strong th:text="#{project.samples.display.notification.title}">Displaying:</strong><br/>-->
            <!--<ul>-->
                <!--<li ng-repeat='item in items' th:text="#{project.samples.display.notification.item}"></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="filter.html">-->
        <!--<div style="display: inline-block; margin-left: 3px;">-->
            <!--<div class="btn-group btn-group-sm">-->
                <!--<button id="filterByPropertyBtn" data:uib-tooltip="#{project.samples.filter.label}" type="button"-->
                        <!--class="btn btn-default" ng-click="filterCtrl.openFilterModal()">-->
                    <!--<span class="fa fa-filter"></span>-->
                <!--</button>-->
                <!--<label class="btn btn-default" for="filter-file-input" data:uib-tooltip="#{project.sample.filterByFile.modal.title}"-->
                       <!--tooltip-append-to-body="true">-->
                    <!--<input type="file" name="file" id="filter-file-input" class="inputfile" filter-by-file="filterCtrl.filterByFile($fileContent)"/>-->
                    <!--<i class="fa fa-file-o fa-fw" aria-hidden="true"></i>-->
                <!--</label>-->
            <!--</div>-->
            <!--<button id="clearFilterBtn" class="btn btn-sm" th:text="#{form.btn.clear}" ng-click="filterCtrl.clearAll()">Clear</button>-->
        <!--</div>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="filtered-tags.html">-->
        <!--<div class="text-right">-->
            <!--<span class="label label-default" ng-show="tags.file" th:text="#{project.sample.filter-by-file}" ng-click="tags.closeFile()"></span>-->
            <!--<span class="label label-default" ng-show="tags.date.min" ng-click="tags.close('min')"><th:block th:text="#{project.samples.filter.by-minDate}"/> : {{tags.date.min | date: 'mediumDate'}}</span>-->
            <!--<span class="label label-default" ng-show="tags.date.end" ng-click="tags.close('end')"><th:block th:text="#{project.samples.filter.by-endDate}"/> : {{tags.date.end | date: 'mediumDate'}}</span>-->
            <!--<span ng-repeat="(tag, value) in tags.tag"-->
                  <!--class="label label-default"-->
                  <!--ng-click="tags.close(tag)">-->
                <!--{{ tag }} : {{ value }}-->
            <!--</span>-->
        <!--</div>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="merge.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanTwo" th:text="#{project.samples.tooltip.merge.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="copy.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanOne" th:text="#{project.samples.tooltip.copy.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="move.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanOne" th:text="#{project.samples.tooltip.move.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="remove.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanOne" th:text="#{project.samples.tooltip.remove.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="download.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanOne" th:text="#{project.samples.tooltip.download.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="linker.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="ncbi.msg.tmpl">-->
        <!--<ul class="tooltip-ul">-->
            <!--<li ng-show="toolsCtrl.disabled.lessThanOne" th:text="#{project.samples.tooltip.ncbi.requires-more-than-one}">Needs to be more than one</li>-->
            <!--<li ng-show="toolsCtrl.disabled.hasAssociated" th:text="#{project.samples.only-for-project-tooltip}">Not with associated</li>-->
        <!--</ul>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="linker.tmpl.html" th:inline="javascript">-->
        <!--<div id="linker-modal" class="form">-->
            <!--<div class="modal-header">-->
                <!--<h3 class="modal-title">-->
                    <!--<i class="fa fa-terminal fa-fw" aria-hidden="true"></i>&nbsp;-->
                    <!--<span th:utext="#{ngs.linker.title}">__LINKER</span>-->
                <!--</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p th:text="#{ngs.linker.details}"></p>-->
                <!--<div class="input-group">-->
                    <!--<input id="linker-cmd" class="form-control" type="text" ng-model="lCtrl.cmd"/>-->
                    <!--<span class="input-group-btn">-->
		        <!--<button class="btn btn-default clipboard-btn"-->
                        <!--type="button"-->
                        <!--data-clipboard-target="#linker-cmd"-->
                        <!--data:uib-tooltip="#{form.clipboard}"-->
                        <!--tooltip-placement="bottom">-->
			        <!--<i class="fa fa-clipboard fa-fw" aria-hidden="true"></i>-->
		        <!--</button>-->
		      <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button id="linkerCloseBtn" class="btn btn-primary" ng-click="lCtrl.close()" th:text="#{form.btn.close}">Close</button>-->
            <!--</div>-->
        <!--</div>-->
<!--</script>-->
<!--</th:block>-->
</html>
