<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/_base">
<head>
    <title th:text="${project.label} + ' - ' + #{project.nav.members}"></title>
    <link rel="stylesheet" th:href="@{/resources/bower_components/select2/select2.css}"
          href="/resources/bower_components/select2/select2.css"/>
    <link rel="stylesheet" th:href="@{/resources/bower_components/select2/select2-bootstrap.css}"
          href="/resources/bower_components/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" th:src="@{/resources/bower_components/magnific-popup/dist/magnific-popup.css}"
          href="/resources/bower_components/magnific-popup/dist/magnific-popup.css"/>
    <link rel="stylesheet" th:href="@{/resources/bower_components/DataTables/media/css/jquery.dataTables.min.css}"
          href="/resources/bower_components/DataTables/media/css/jquery.dataTables.min.css"/>
</head>
<body>
<main layout:fragment="main">
    <div class="row">
        <div class="col-md-12">
            <h1 role="heading" th:text="#{project.members.members(${project.label})}">_Project Members_</h1>

            <div class="btn-toolbar mrgn-bttm-md" role="toolbar">
                <div class="btn-group">
                    <a id="add-members-button" class="btn btn-default btn-sm open-popup-link"
                       th:if="${isAdmin} or ${isOwner}" href="#addMembersLink"
                       th:text="#{project.members.edit.add}">_Add Members_</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="usersTable" class="table table-striped table-hover">
                <thead>
                <tr role="row" th:inline="text">
                    <th>[[#{project.table.collaborator.name}]]</th>
                    <th>[[#{project.table.collaborator.role}]]</th>
                    <th>[[#{project.table.collaborator.email}]]</th>
                    <th>[[#{project.table.collaborator.since}]]</th>
                    <th th:if="${isAdmin} or ${isOwner}"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>

<th:block layout:fragment="scripts">
<script th:src="@{/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js}"
        src="/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script th:src="@{/resources/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js}"
        src="/resources/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script th:src="@{/resources/bower_components/select2/select2.min.js}"
        src="/resources/bower_components/select2/select2.min.js"></script>
<script th:src="@{/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js}"
        src="/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<div class="hidden">
    <select id="template-roles" class="role-select form-control input-sm">
        <option th:each="role : ${projectRoles}"
                th:value="${role}"
                th:text="#{${'projectRole.'+role}}">_Role_
        </option>
    </select>
</div>

<section id="addMembersLink" class="modal-dialog modal-content overlay-def mfp-hide">
    <header class="modal-header">
        <h2 class="modal-title" id="lbx-title">Add User</h2>
    </header>

    <div class="modal-body">
        <form id="addUserForm" action="#">
            <div class="form-group">
                <label class="control-label" for="add-user-username" th:text="#{project.members.add.username}">_Username_</label>
                <input type="text" id="add-user-username" name="userId" class="form-control input-full"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="add-user-role" th:text="#{project.members.add.role}">_Project
                    Role_</label>
                <select id="add-user-role" class="form-control input-full" name="projectRole">
                    <option th:each="role : ${projectRoles}"
                            th:value="${role}"
                            th:text="#{${'projectRole.'+role}}">_Role_
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-default popup-modal-dismiss" th:text="#{project.members.add.cancel}">_Cancel_</button>
        <button id="submitAddMember" class="btn btn-primary" th:text="#{project.members.add.submit}">_Submit_</button>
    </div>
</section>

<script th:inline="javascript">
/*<![CDATA[*/
var DT = {
    isEditingRow: false,
    isFilesViewOpen: false,
    isAllRowsSelected: false,
    selectedRows: [],
    createEditBtn: function (userId) {
        var frag = document.createElement("div");
        var btn = document.createElement("button");
        frag.appendChild(btn);
        btn.className = "btn btn-default btn-xs edit";
        btn.innerHTML = "Edit";
        btn.setAttribute("data-userid", userId);
        btn.setAttribute("id", "edit-button-" + userId);

        return frag.innerHTML;
    },
    createCancelBtn: function (userId) {
        var frag = document.createElement("div");
        var btn = document.createElement("button");
        frag.appendChild(btn);
        btn.className = "btn btn-info btn-xs cancel";
        btn.setAttribute("data-userid", userId);
        btn.setAttribute("id", "cancel-button-" + userId);
        btn.innerHTML = "Cancel";
        return frag.innerHTML;
    },
    createEditForm: function (row) {
        row.find(".display-role").hide();
        row.find(".select-role").show();
    },
    cancelEditRow: function (userid) {
        if (this.isEditingRow) {
            var row = $("tr.editing"),
                    tdBtns = row.find(".edit-button-container");

            row.find(".display-role").show();
            row.find(".select-role").hide();

            tdBtns.html(DT.createEditBtn(userid));
            row.removeClass("editing");
            this.isEditingRow = false;
        }
    },
    createRemoveButton: function (row) {
        var pid = row.subject.id;
        var uid = row.object.id;
        var frag = document.createElement("div");
        var btn = document.createElement("button");
        frag.appendChild(btn);
        btn.className = "btn btn-danger btn-xs remove-button";
        btn.innerHTML = /*[[#{project.members.edit.remove}]]*/ 'Remove';
        btn.setAttribute("id", "remove-user-" + uid);
        return frag.innerHTML;
    },
    createButtonDiv: function s(data, row) {
        //create the button toolbar
        var toolbar = document.createElement("div");
        toolbar.className = "btn-toolbar pull-right";

        //create the remove button group
        var group1 = document.createElement("div");
        group1.className = "btn-group";
        group1.innerHTML = DT.createRemoveButton(row);

        //create the edit button group
        var group2 = document.createElement("div");
        group2.className = "btn-group edit-button-container";
        group2.innerHTML = DT.createEditBtn(row.object.id);

        //add the buttons to the toolbar
        toolbar.appendChild(group1);
        toolbar.appendChild(group2);

        //return the html
        var frag = document.createElement("div");
        frag.appendChild(toolbar);
        return frag.innerHTML;
    }

};

var showRole = true;

$(document).ready(function () {
    var table = $('#usersTable').DataTable({
        dom: "<'top'lf>rt<'bottom'ip><'clear'>",
        ajax: /*[[@{/projects/ajax/{id}/members(id=${project.getId()})}]]*/ '/projects/ajax/1/members',
        deferRender: true,
        order: [
            [0, "asc"]
        ],
        rowCallback: function (row, data) {
            var uid = data.object.id;
            var pid = data.subject.id;
            var userLabel = data.object.label;

            var removeUrl = /*[[@{/projects/{pid}/members/remove(pid=${project.getId()})}]]*/ '/projects/1/members/remove';

            var id = "#remove-user-" + uid;

            $("#usersTable").off("click", id);

            $("#usersTable").on("click", id, function () {
                showRemoveUser(userLabel, removeUrl, uid, table);
            });
        },
        columns: [
            {
                "data": "object",
                "render": function (data) {
                    return '<a class="col-names" href="' +
                        /*[[@{'/users/'}]]*/ ''
                    + data.id + '">' + data.label + '</a>';
                }
            },
            {
                "data": "projectRole",
                "render": function (data, type, row) {
                    var span;
                    if (data === 'PROJECT_OWNER') {
                        span = '<span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;' + [[#{project.role.owner}]];
                    }
                    else {
                        span = '<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;' + [[#{project.role.collaborator}]];
                    }

                    var roleSelect = $("#template-roles").clone();
                    var userid = row.object.id;
                    var newId = userid + "-role-select";
                    roleSelect.attr("id", newId);
                    roleSelect.attr("data-user", userid);
                    roleSelect.find("option").each(function () {
                        if ($(this).val() == data) {
                            $(this).attr("selected", true);
                        }
                    });

                    var select = roleSelect.wrap("<div/>").parent().html();

                    var html = '<div class="display-role" id="display-role-' + userid + '">' + span + '</div><div class="select-role">' + select + '</div>';

                    return html;
                }
            },
            {
                "data": "object.email",
                "render": function (data) {
                    return '<a href="mailto:' + data + '">' + data + '</a>';
                }
            },
            {
                "data": "modifiedDate",
                "render": function (data) {
                    return '<span data-livestamp="' + new Date(parseInt(data)) + '"></span>';
                }
            },
            {
                "data": "id",
                "orderable": false,
                "render": function (data, type, row) {

                    var loggedInUserName = [[${#authentication.name}]];

                    var buttons;
                    if (row.object.username == loggedInUserName) {
                        buttons = '<span class="glyphicon glyphicon-question-sign self-edit-message pull-right" title="' + [[#{project.members.edit.selfmessage}]] + '"></span>';
                    }
                    else {
                        buttons = DT.createButtonDiv(data, row);
                    }

                    return buttons;
                },
                "class": "btns",
                "width": "17%"
            }
        ],
        "drawCallback": function (settings, data) {
            $(".select-role").hide();
            $(".self-edit-message").qtip({
                position: {
                    at: 'left center',
                    my: 'right center'
                },
                style: {
                    classes: 'qtip-dark qtip-shadow'
                }

            });
        }
    });

    //Set modial popup links
    $('.open-popup-link').magnificPopup({
        type: 'inline',
        callbacks: {
            beforeOpen: function () {
                $("#add-user-username").select2("val", "");
                $("#add-user-role").select2("val", "PROJECT_USER");
            }
        }
    });

    $("#submitAddMember").click(function () {
        var form = $("#addUserForm");
        var username = form.find("#add-user-username");
        var role = form.find("#add-user-role");
        var errors = false;

        if (!username.val().length == 0 && !role.val().length == 0) {
            var data = $("#addUserForm").serialize();
            $.ajax({
                url: /*[[@{/projects/{id}/members(id=${project.getId()})}]]*/ '/projects/1/members',
                data: data,
                type: "POST",
                success: function () {
                    noty({
                        text: /*[[#{project.members.add.success}]]*/ "User added to project successfully.",
                        layout: "topCenter",
                        type: "success",
                        timeout: 5000
                    });

                    $.magnificPopup.close();

                    table.ajax.reload();
                },
                error: function () {
                    noty({
                        text: /*[[#{project.members.add.error}]]*/ "An error occurred when adding the User to the Project.",
                        layout: "topCenter",
                        type: "error",
                        timeout: 10000
                    });
                }
            });
        }
        else {
            noty({
                text: /*[[#{project.members.add.required}]]*/ "User and Project Role are required.",
                layout: "topCenter",
                type: "error",
                timeout: 10000
            });
        }
    });


    $("#usersTable").on('click', 'button.edit', function (e) { //click the edit button
        e.stopPropagation();
        var currEdit = $("tr.editing");
        if (currEdit.length > 0) {
            //get the userid from the cancel button
            var userid = currEdit.find("button.cancel").data("userid");
            DT.cancelEditRow(userid);
        }
        var $this = $(this),
                row = $this.closest('tr'),
                userid = $this.data("userid"),
                tdBtns = row.find('.edit-button-container');
        row.addClass("editing");

        DT.createEditForm(row);
        tdBtns.html(DT.createCancelBtn(userid));
        DT.isEditingRow = true;
    }).on('click', 'button.cancel', function (e) { //click the cancel button
        e.stopPropagation();
        var $this = $(this),
                userid = $this.data("userid");

        DT.cancelEditRow(userid);
    }).on("change", ".role-select", function () { // Change the user role, update the role on the server
        var newRole = $(this).val();
        var userId = $(this).data("user");
        var projectId = [[${project.getId()}]];

        var data = "userId=" + userId + "&projectRole=" + newRole;
        var url = /*[[@{/projects/}]]*/ ''
                + projectId + "/members/editrole";

        var input = $(this);

        $.ajax({
            url: url,
            data: data,
            success: function () {
                noty({
                    text: /*[[#{project.members.edit.role.success}]]*/ '',
                    layout: "topCenter",
                    type: "success",
                    timeout: 5000
                });

                table.ajax.reload();
            },
            statusCode: {
                // 403 returned if changing role would leave project without owner
                403: function (response) {
                    noty({
                        text: response.responseText,
                        layout: "topCenter",
                        type: "error",
                        timeout: 10000
                    });

                }
            },
            error: function () {
                noty({
                    text: /*[[#{project.members.edit.role.error}]]*/ '',
                    layout: "topCenter",
                    type: "error",
                    timeout: 10000
                });
                DT.cancelEditRow(userId);
            }
        });

    });

    $("#add-user-username").select2({
        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
            url: /*[[@{/projects/{id}/(id=${project.getId()})}]]*/ ''
            + 'ajax/availablemembers',
            dataType: 'json',
            data: function (search, page) {
                return {
                    term: search, // search term
                    page_limit: 10,
                };
            },
            results: function (data, page) { // parse the results into the format expected by Select2.
                // since we are using custom formatting functions we do not need to alter remote JSON data
                var results = [];

                for (var id in data) {
                    results.push({
                        "id": id,
                        "text": data[id]
                    });
                }

                return {results: results};
            }
        },
        "placeholder": /*[[#{project.members.add.select-user}]]*/ "Select a User"
    });

    $("#add-user-role").select2();

});

function showRemoveUser(userLabel, removeUrl, userId, table) {
    var data = "userId=" + userId;
    noty({
        layout: "center",
        type: "confirmation",
        text: [[#{project.members.edit.remove}]] + " " + userLabel + "?",
        modal: true,
        buttons: [
            {
                addClass: 'btn btn-primary btn-sm modial-remove-user', text: 'Ok', onClick: function ($noty) {
                $noty.close();
                table.ajax.reload();
                $.ajax({
                    url: removeUrl,
                    data: data,
                    success: function () {
                        noty({
                            text: /*[[#{project.members.edit.remove.success}]]*/ '',
                            layout: "topCenter",
                            type: "success",
                            timeout: 5000
                        });

                        table.ajax.reload();
                    },
                    statusCode: {
                        // 403 returned if changing role would leave project without owner
                        403: function () {
                            noty({
                                text: /*[[#{project.members.edit.remove.403}]]*/ '',
                                layout: "topCenter",
                                type: "error",
                                timeout: 10000
                            });

                        }
                    },
                    error: function () {
                        noty({
                            text: /*[[#{project.members.edit.remove.error}]]*/ '',
                            layout: "topCenter",
                            type: "error",
                            timeout: 10000
                        })
                    }
                });
            }
            },
            {
                addClass: 'btn btn-danger btn-sm', text: 'Cancel', onClick: function ($noty) {
                $noty.close();
            }
            }
        ]
    });
}
/*]]>*/
</script>
</th:block>
</body>
</html>
