<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="template/page">

<head>
  <meta charset="UTF-8" />
  <title th:text="#{project.samples.new.title(${project.label})}">__NEW_SAMPLE__</title>
  <link rel="stylesheet" href="/resources/bower_components/angular-wizard/dist/angular-wizard.min.css" th:href="@{/resources/bower_components/angular-wizard/dist/angular-wizard.min.css}" />
  <link rel="stylesheet" href="/resources/bower_components/select2/select2.css" th:href="@{/resources/bower_components/select2/select2.css}" />
  <link rel="stylesheet" href="/resources/bower_components/select2/select2-bootstrap.css" th:href="@{/resources/bower_components/select2/select2-bootstrap.css}" />
  <script>
    window.dependencies = ["samples.new"];
  </script>
</head>

<body>
  <div layout:fragment="page">
    <div style="margin-top: 1rem;" class="col-md-8 col-md-offset-2 mrgn-tp-lg">
      <div class="panel panel-info ng-cloak" name="newSample">
        <div class="panel-heading">
          <h2 class="panel-title" th:text="#{project.samples.new.form.header}">__Create_New_Sample__</h2>
        </div>
        <section class="panel-body" ng-controller="SampleController as sampleCtrl">
          <wizard>
            <wz-step title="Sample Details">
              <form novalidate="novalidate" name="sampleDetailForm">
                <div class="form-group">
                  <label for="sampleName" th:text="#{samples.details.sampleName}">Sample Name</label>
                  <input id="sampleName" name="sampleName" type="text" class="form-control" ng-model="sampleCtrl.sample.sampleName" minlength="3" ng-model-options="sampleCtrl.nameOptions" required="true" />
                  <div ng-messages="sampleDetailForm.sampleName.$dirty &amp;&amp; sampleDetailForm.sampleName.$error">
                    <div class="alert alert-warning" ng-message="required" th:text="#{project.samples.new.form.name.error.required}">REQUIRED</div>
                    <div class="alert alert-warning" ng-message="minlength" th:text="#{project.samples.new.form.name.error.minlength}">Must be at least 3 characters long</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="organism" th:text="#{samples.details.organism}">Organism__</label>
                  <input ng-model="sampleCtrl.sample.organism" class="form-control" type="text" id="organism" select2="" />
                </div>
                <div class="form-group text-right">
                  <button class="btn btn-primary" ng-disabled="sampleDetailForm.$invalid" ng-click="sampleCtrl.createSample()">Create Sample</button>
                </div>
              </form>
            </wz-step>
            <wz-step title="Upload Files">
              <input class="form-control" type="text" />
            </wz-step>
          </wizard>
        </section>
      </div>
    </div>
  </div>

  <th:block layout:fragment="page-scripts" th:inline="javascript">
    <script th:inline="javascript">
      var PAGE = {
        project: {
          id: /*[[${project.getId()}]]*/ '1'
        }
      };
    </script>
    <script src="/resources/bower_components/select2/select2.min.js" th:src="@{/resources/bower_components/select2/select2.min.js}"></script>
    <script src="/resources/bower_components/angular-wizard/dist/angular-wizard.min.js" th:src="@{/resources/bower_components/angular-wizard/dist/angular-wizard.min.js}"></script>
    <script src="/resources/js/pages/projects/add-samples.js" th:src="@{/resources/js/pages/projects/add-samples.js}"></script>
  </th:block>

</body>

</html>