<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{template/page}">
<head>
  <title th:text="#{project.samples.new.title(${project.label})}">__NEW_SAMPLE__</title>
  <link rel="stylesheet" th:href="@{/dist/css/project-add-sample.bundle.css}">
  <script th:inline="javascript">
    var PAGE = {
      urls: {
        validateName: /*[[@{/projects/{projectId}/validate-sample-name(projectId=${project.getId()})}]]*/ "/project/1/validate-sample-name",
        taxonomy: /*[[@{/projects/ajax/taxonomy/search}]]*/ "/projects/ajax/taxonomy/search"
      }
    };
  </script>
</head>

<body>
<div layout:fragment="page">
    <div style="margin-top: 1rem;" class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title" th:text="#{project.samples.new.form.header}">__Create_New_Sample__</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <form id="create-sample-form" th:object="${sample}"
                    th:action="@{/projects/{id}/samples/new(id=${project.getId()})}"
                    method="post">
                <div class="form-group">
                  <label for="sampleName" th:text="#{samples.details.sampleName}">_SAMPLE_NAME_</label>
                  <small class="text-muted pull-right" th:utext="#{project.samples.new.form.label.info}"></small>
                  <input type="text" id="sampleName" name="sampleName" class="form-control"
                         th:field="*{sampleName}"
                         autofocus="autofocus"
                         data:msg-remote="#{project.samples.new.form.name.error.label-exists}"
                         data:msg-required="#{project.samples.new.form.name.error.required}"
                         data:msg-checkallowedchars="#{project.samples.new.form.name.error.special}"
                         data:msg-minlength="#{project.samples.new.form.name.error.minlength}"/>
                </div>
                <div class="form-group">
                  <label for="organism" th:text="#{samples.details.organism}">ORGANISM_</label>
                  <small class="text-muted pull-right">(Optional)</small>
                  <input id="organism" name="organism" class="form-control" th:field="*{organism}" />
                </div>
                <button id="save-btn" class="btn btn-primary pull-right" type="submit" disabled="disabled"
                        th:text="#{project.samples.new.submit.form}">
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<th:block layout:fragment="scripts">
  <script th:src="@{/dist/js/project-add-sample.bundle.js}"></script>
</th:block>
</body>

</html>
