<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="#{project.members.title}">THIS IS SOMETHING WRONG</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">MENU</div>
    </div>
    <div class="row">
        <nav th:replace="projects/project_base :: nav"></nav>
        <main class="col-md-9 col-md-push-3" role="main" property="mainContentOfPage">
            <div class="row">
                <div class="col-md-12">
                    <h1 role="heading" th:text="#{project.members.members(${project.label})}">_Project Members_</h1>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" th:if="${isAdmin} or ${isOwner}" id="addMembersLink" 
                                th:text="#{project.members.edit.add}">_Add Members_</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" th:if="${isAdmin} or ${isOwner}" id="editMembers">Edit</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="usersTable" class="table table-striped table-hover">
                        <thead>
                        <tr role="row" th:inline="text">
                            <th>[[#{project.table.collaborator.name}]]<i class="glyphicon"></i></th>
                            <th>[[#{project.table.collaborator.role}]]<i class="glyphicon"></i></th>
                            <th>[[#{project.table.collaborator.email}]]<i class="glyphicon"></i></th>
                            <th>[[#{project.table.collaborator.since}]]<i class="glyphicon"></i></th>
							<th th:if="${isAdmin} or ${isOwner}"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </main>
        <div class="col-md-3 col-md-pull-9 visible-md visible-lg">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b class="panel-title" th:text="#{project.details}">Project Details</b>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked details">
                        <li><span class="glyphicon glyphicon-barcode"></span><em th:text="#{project.id}"></em><span
                                class="pull-right" th:text="${project.getId()}"></span></li>
                        <li th:if="${project.organism} != null"><span class="glyphicon glyphicon-leaf"></span><em
                                th:text="#{project.organism}"></em><span
                                class="pull-right" id="project-organism"><i th:text="${project.organism}"></i></span>
                        </li>
                        <li th:if="${owner} != null"><span class="glyphicon glyphicon-tower"></span><em
                                th:text="#{project.owner}"></em><span
                                class="pull-right" id="project-owner"
                                th:text="${owner.label}">__DATE_CREATED__</span>
                        </li>
                        <li><span class="glyphicon glyphicon-calendar"></span><em
                                th:text="#{project.created}"></em><span
                                class="pull-right" id="project-created"
                                th:text="${#calendars.format(project.timestamp, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                        </li>
                        <li th:if="${project.modifiedDate} != null"><span
                                class="glyphicon glyphicon-calendar"></span><em th:text="#{project.modified}"></em><span
                                class="pull-right" id="project-modified" data:livestamp="${project.modifiedDate}"
                                th:title="${#calendars.format(project.modifiedDate, 'dd MMM yyyy HH:mm')}">__DATE_CREATED__</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div layout:replace="partials/associated-projects :: list (projects=${associatedProjects})"></div>
        </div>
    </div>
    <div class="hidden">
        <select id="template-roles" class="role-select form-control input-sm">
            <option th:each="role : ${projectRoles}" 
                th:value="${role}" 
                th:text="#{${'projectRole.'+role}}">_Role_</option>
        </select>
    </div>
</div>
<div layout:fragment="scripts" th:inline="javascript">
    <div th:replace="projects/project_base :: scripts"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
                   
        var showRole = true;
        
        $(document).ready(function () {
        	var table = $('#usersTable').DataTable({
                dom: "<'top'ilf>rt<'bottom'p><'clear'>",
                ajax: '/projects/ajax/[[${project.getId()}]]/members',
                deferRender: true,
                order: [
                    [0, "asc"]
                ],
                rowCallback: function(row, data){
                	var uid = data.object.id;
                	var pid = data.subject.id;
                	var userLabel = data.object.label;
                	
                	var removeUrl = [[@{/projects/{pid}(pid=${project.getId()})}]] + "/members/remove";
                	
                	var id = "#remove-user-"+uid;
                	
                	$("#usersTable").off("click",id);
                	
                	$("#usersTable").on("click",id,function(){
                		showRemoveUser(userLabel,removeUrl,uid,table);
                	});
                },
                columns: [
                    {
                        "data": "object",
                        "render": function (data) {
                            return '<a class="col-names" href="' + [[@{'/users/'}]]+data.id + '">' + data.label + '</a>';
                        }
                    },
                    {
                        "data": "projectRole",
                        "render": function (data, type, row) {
                        	var span;
                        	if (data === 'PROJECT_OWNER') {
                        		span = '<span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;' + [[#{project.role.owner}]];
                            }
                            else {
                            	span = '<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;' + [[#{project.role.collaborator}]];
                            }
                        	
                        	var roleSelect = $("#template-roles").clone();
                        	var newId = row.object.id + "-role";
                        	roleSelect.attr("id",newId);
                        	roleSelect.attr("data-user",row.object.id);
                        	roleSelect.find("option").each(function(){
                        		if($(this).val() == data){
                        			$(this).attr("selected",true);
                        		}
                        	});
                        	
                        	var select = roleSelect.wrap("<div/>").parent().html();
                        	
                        	var html = '<div class="display-role">'+span+'</div><div class="select-role">'+select+'</div>';
                        	
                        	return html;
                        }
                    },
                    {
                        "data": "object.email",
                        "render": function (data) {
                            return '<a href="mailto:' + data + '">' + data + '</a>';
                        }
                    },
                    {
                        "data": "modifiedDate",
                        "render": function (data) {
                            return '<span data-livestamp="' + new Date(parseInt(data)) + '"></span>';
                        }
                    },
					{
                        "data": "edit",
                        "render": function (data, type, row) {
                            var pid = row.subject.id;
                            var uid = row.object.id;
                            var removeButton = '<button id="remove-user-'+uid+'" class="btn btn-danger">'+[[#{project.members.edit.remove}]]+'</button>';
                            return removeButton;
                        },
                        "visible":  /*[[${isAdmin or isOwner}]]*/ false ,
                        "sortable": false
                    }
                ],
                "drawCallback": function( settings, data ){
                	showRoles();
                }
            });
        	
        	$("#editMembers").click(function(){
        		showRole = !showRole;
        		showRoles();
        	});
        	
        	
        	// toggle edit user panel 
        	$("#usersTable").on("click",".edit-user",function(){
        		var row = $(this).closest("tr");
        		var display = row.find(".display-role");
        		var select = row.find(".select-role");
        		
        		display.toggle(100);
        		select.toggle(100);
        	});
        	
        	//update the user
        	$("#usersTable").on("change",".role-select",function(){
        		var newRole = $(this).val();
        		var userId = $(this).data("user");
        		var projectId = [[${project.getId()}]];
        		
        		var data = "userId="+userId+"&projectRole="+newRole;
        		var url = [[@{/projects/}]] + projectId + "/members/editrole";
        		
        		console.log(url);
        		console.log(data);
        		
        		$.ajax({
        			url:url,
        			data:data,
        			success:function(){
        				noty({
        					text: [[#{project.members.edit.role.success}]] ,
        					layout: "topCenter", 
        					type: "success",
        					timeout: 5000
        				});
        				
        				table.ajax.reload();
        			},
        			error:function(){
        				noty({
        					text: [[#{project.members.edit.role.error}]] , 
        					layout: "topCenter", 
        					type: "error",
        					timeout: false
        				})
        			}
        		}); 
        		
        	});
        });
        
        // Whether to show the user roles, or a selector for updating the roles
        function showRoles(){
        	if(showRole){
        		$(".display-role").show();
        		$(".select-role").hide()
        	}
        	else{
        		$(".display-role").hide();
        		$(".select-role").show()
        	}
        }
        
        function showRemoveUser(userLabel,removeUrl,userId,table){
        	var data = "userId="+userId;
    		noty({
    			layout: "center",
    			type: "confirmation",
    			text: [[#{project.members.edit.remove}]] + " " + userLabel + "?",
    			buttons: [
    			          {addClass: 'btn btn-primary btn-sm modial-remove-user', text: 'Ok', onClick: function($noty) {
    			              $noty.close();
    			              table.ajax.reload();
    			              $.ajax({
    			        			url:removeUrl,
    			        			data:data,
    			        			success:function(){
    			        				noty({
    			        					text: [[#{project.members.edit.remove.success}]] ,
    			        					layout: "topCenter", 
    			        					type: "success",
    			        					timeout: 5000
    			        				});
    			        				
    			        				table.ajax.reload();
    			        			},
    			        			error:function(){
    			        				noty({
    			        					text: [[#{project.members.edit.remove.error}]] , 
    			        					layout: "topCenter", 
    			        					type: "error",
    			        					timeout: false
    			        				})
    			        			}
    			        		});               			              
    			            }
    			          },
    			          {addClass: 'btn btn-danger btn-sm', text: 'Cancel', onClick: function($noty) {
    			              $noty.close();
    			            }
    			          }
    			        ]
    		});
    	}
        /*]]>*/
    </script>
</div>
</body>
</html>