<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{projects/_base}">
<head>
    <title th:text="#{linelist.page-title}">Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/project-linelist.bundle.css}">
    <script th:inline="javascript">
        window.PAGE = {
          project: /*[[${project}]]*/ {},
          urls: {
            import: /*[[@{/projects/{id}/sample-metadata/upload(id=${project.getId()})}]]*/ "/projects/5/sample-metadata/upload"
          }
        };
    </script>
</head>
<body>
<main layout:fragment="main">
<div id="root">
    <div class="ant-alert-message">
        <th:block th:text="#{linelist.page-initialization}"/>
    </div>
</div>
</main>

<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/project-linelist.bundle.js}"></script>
</th:block>
</body>
</html>
