<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head>
    <title th:text="#{projects.title}">List of Projects</title>
</head>
<body>
<div layout:fragment="page"
     ddl:bundle-includes="projects" ddl:asset-css-excludes="datatables">
    <main class="col-md-12" role="main" property="mainContentOfPage">
        <h1 th:text="#{projects.title}"></h1>
		<div dt:conf="projectsTable">
            <div dt:confType="callback" dt:type="init" dt:function="datatables-utils#datatable.tableDrawn"></div>
        </div>
        <table id="projectsTable" dt:table="true" dt:url="@{${ajaxURL}}" dt:filterPlaceholder="header">
            <thead>
            <tr role="row">
                <th dt:property="identifier" th:text="#{projects.table.id}" style="vertical-align: top;"></th>
                <th dt:property="name" width="200px" dt:filterable="true" dt:renderFunction="projects#projectsTable.createItemButton"
                	><span class="header-name" th:text="#{projects.table.name}"></span></th>
                <th dt:filterable="true" dt:property="organism" th:text="#{projects.table.organism}"
                    dt:renderFunction="datatables-utils#datatable.forceContentSize"></th>
                <th dt:property="samples" dt:searchable="false" th:text="#{projects.table.samples}"></th>
                <th width="150px" dt:property="createdDate" dt:sortType="natural" th:text="#{projects.table.created}"
                    dt:renderFunction="datatables-utils#datatable.formatDate"></th>
                <th width="150px" dt:property="modifiedDate" dt:sortType="natural" dt:sortInitDirection="desc" th:text="#{projects.table.modified}"
                    dt:renderFunction="datatables-utils#datatable.formatDate"></th>
            </tr>
            </thead>
        </table>
    </main>
</div>
</body>
</html>
