<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="projects/_base">
<head>
	<title th:text="${project.label} + ' - ' + #{project.nav.samples}"></title>
	<script th:inline="javascript">
		window.dependencies = ['irida.projects.samples.controller'];
		var PAGE = {
			urls: {
				project: /*[[@{/projects/{id}/ajax/samples(id=${project.getId()})}]]*/ '',
				local: /*[[@{/projects/{id}/associated/samples(id=${project.getId()})}]]*/ '',
				remote: /*[[@{/projects/{id}/associated/remote/samples(id=${project.getId()})}]]*/ '',
				merge: /*[[@{/projects/{id}/ajax/samples/merge(id=${project.getId()})}]]*/ '',
				remove: /*[[@{/projects/{id}/ajax/samples/delete(id=${project.getId()})}]]*/ '',
				copy: /*[[@{/projects/{id}/ajax/samples/copy(id=${project.getId()})}]]*/ ''
			},
			i18n: {
				associatedSelectedTooltip: /*[[#{project.samples.associated-selected-error}]]*/ '_Unavailable_'
			}
		};
	</script>
</head>
<body>
<main layout:fragment="main" ddl:bundle-includes="project-samples" ddl:asset-css-excludes="jquery.datatables" ng-controller="SamplesController as samplesCtrl">

	<table datatable="ng" class="table"  dt-options="samplesCtrl.dtOptions" dt-instance="samplesCtrl.dtInstanceCallback">
		<thead>
		<tr>
			<th width="30px"><input type="checkbox" ng-model="samplesCtrl.allSelected" ng-click="samplesCtrl.updateAllSelected()" /></th>
			<th th:text="#{project.samples.table.name}">[Name]</th>
			<th th:text="#{project.samples.table.modified}" width="130px">[Modified Date]</th>
			<th th:text="#{project.samples.table.created}" width="130px">[Created Date]</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in ::samplesCtrl.samples">
			<td><input type="checkbox" ng-model="samplesCtrl.selected[$index]" ng-click="samplesCtrl.sampleChanged($index)"/></td>
			<td ng-bind="item.sample.label"></td>
			<td ng-bind="item.sample.modifiedDate | date"></td>
			<td ng-bind="item.sample.createdDate | date"></td>
		</tr>
		</tbody>
	</table>
</main>
</body>

<th:block layout:fragment="scripts">
	<script type="text/ng-template" id="buttons.html">
		<div class="btn-toolbar" style="margin-bottom: 1rem;">
			<div class="btn-group btn-group-sm">
				<button class="btn btn-default">
					<span th:text="#{project.samples.display.title}">_Display_</span>
					<span class="caret"></span>
				</button>
			</div>
			<div class="btn-group btn-group-sm">
				<button class="btn btn-default">
					<fa:icon type="merge" fixed="true"/>
					<span th:text="#{project.samples.nav.merge}">Merge</span>
				</button>
				<button class="btn btn-default">
					<fa:icon type="copy" fixed="true"/>
					<span th:text="#{project.samples.nav.copy}">_COPY_</span>
				</button>
				<button class="btn btn-default">
					<fa:icon type="move" fixed="true"/>
					<span th:text="#{project.samples.nav.move}"></span>
				</button>
				<button class="btn btn-default">
					<fa:icon type="delete" fixed="true"/>
					<span th:text="#{project.samples.nav.remove}"></span>
				</button>
			</div>

			<div class="btn-group btn-group-sm" uib-dropdown="">
				<button id="export-btn" class="btn btn-default" uib-dropdown-toggle="">
					<span th:text="#{project.samples.export.label}">Export</span>
					<span class="caret"></span>
				</button>
				<ul class="ng-cloak" uib-dropdown-menu="" role="menu" aria-labelledby="export-btn">
					<li class="dropdown-header">Export Samples</li>
					<li role="menuitem">
						<a id="exportDownloadBtn" href="#">
							<fa:icon type="download" fixed="true"/>
							<span th:text="#{form.download}">_Download</span>
						</a>
					</li>
					<!--TODO: Fix tooltip-->
					<li role="menuitem" th:if="${linkerAvailable}" ng-class="{disabled: ! subnav.localSelected}"
					    ng-attr-uib-tooltip="{{subnav.showuib-tooltip()}}" uib-tooltip-append-to-body="true"
					    uib-tooltip-placement="right">
						<a id="exportLinkerBtn" href="#" ng-click="subnav.export.linker()">
							<fa:icon type="terminal" fixed="true"/>
							<span th:text="#{project.samples.export.linker}"></span>
						</a>
					</li>
					<li role="menuitem">
						<a id="exportNcbiButton" href="#" ng-click="subnav.export.ncbi()">
							<fa:icon type="upload" fixed="true"/>
							<span th:text="#{project.samples.export.ncbi}">_Upload to NCBI_</span>
						</a>
					</li>
					<li role="menuitem" th:if="${galaxyCallback}">
						<a href="#" ng-click="subnav.export.galaxy(); cart.show=false">
							<fa:icon type="cloud" fixed="true"/>
							<span th:text="#{project.samples.export.galaxy}"></span>
						</a>
					</li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Export table to File</li>
					<li role="menuitem">
						<a href="">Excel</a>
					</li>
				</ul>
			</div>

			<div class="btn-group btn-group-sm">
				<button id="cart-add-btn"
				        class="btn btn-primary" ng-disabled="subnav.count&lt;1">
					<fa:icon type="cart-plus" fixed="true"/>
					<span th:text="#{project.samples.nav.add-to-cart}">Add to Cart></span>
				</button>
			</div>
		</div>
	</script>
</th:block>
</html>