<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/_base">
<head>
    <title th:text="#{linelist.create-template.title}">Title</title>
    <link rel="stylesheet" href="/resources/css/pages/create-linelist-template.css"
          th:href="@{/resources/css/pages/create-linelist-template.css}"/>
    <script th:inline="javascript">
      var PAGE = {
        i18n: {
          success: "Metadata template  successfully created."
        },
        urls: {
          templates: /*[[@{/projects/{id}/linelist/templates/:id(id=${project.getId()})}]]*/ '',
          fields: /*[[@{/projects/{id}/sample-metadata/fields(id=${project.getId()})}]]*/ ''
        }
      };
    </script>
</head>
<body>
<main layout:fragment="main">
    <create-template></create-template>
</main>
<th:block layout:fragment="scripts">
    <script type="text/ng-template" id="create-template.tmpl.html">
        <form name="$ctrl.createTemplateForm" novalidate="">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 show-validation="">
                                <div class="clearfix">
                                    <label class="control-label pull-left"
                                           for="template-name">
                                        <th:block th:text="#{linelist.create-template.name}"/>
                                    </label>
                                    <span class="text-muted pull-right" ng-show="$ctrl.template.identifier">
                                        <strong><th:block th:text="#{linelist.template.identifier}"/>:</strong> {{$ctrl.template.identifier}}
                                    </span>
                                </div>
                                <input id="template-name"
                                       name="templateName"
                                       class="form-control"
                                       metadata-template-name=""
                                       existing-templates="$ctrl.templates"
                                       type="text"
                                       required="required"
                                       minlength="5"
                                       ng-model="$ctrl.template.name"/>
                                <div ng-messages="$ctrl.createTemplateForm.templateName.$error"
                                     ng-show="$ctrl.createTemplateForm.templateName.$dirty">
                                    <p class="label label-danger" ng-message="required"
                                       th:text="#{linelist.create-template.templateName.required}">_This is a required
                                        field_</p>
                                    <p class="label label-danger" ng-message="minlength"
                                       th:text="#{linelist.create-template.templateName.minlength}">_Templage name must
                                        be 5
                                        letters long_</p>
                                    <p class="label label-danger" ng-message="unique"
                                       th:text="#{linelist.create-template.saving.error.unique}">
                                        This field already exists.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row spaced-bottom">
                        <div class="col-md-12">
                            <button class="btn btn-default"
                                    ng-click="$ctrl.addNewField()"
                                    th:text="#{visualization.phylogenomics.add-new-field.btn}">_ADD_NEW_FIELD_
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group" dnd-list="$ctrl.template.fields">
                                <li class="list-group-item" ng-repeat="field in $ctrl.template.fields"
                                    dnd-draggable="field"
                                    dnd-effect-allowed="move"
                                    dnd-disable-if="$ctrl.template.fields.length &lt; 2"
                                    dnd-moved="$ctrl.template.fields.splice($index, 1)">
                                    <div class="field-label">{{field.label}}&nbsp;&nbsp;
                                    </div>
                                    <div class="field-buttons">
                                        <div class="close" ng-click="$ctrl.removeField($index)">&times;</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" ng-show="$ctrl.template.identifier">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <th:block th:text="#{linelist.create-template.settings}" />
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong th:text="#{linelist.create-template.delete}">Delete this template</strong>
                                            <p th:text="#{linelist.create-template.delete-warning}">Once you delete a template, there is no going back. Please be certain.</p>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <button class="btn btn-danger" ng-click="$ctrl.removeTemplate()">
                                                <i class="fa fa-trash" aria-hidden="true"></i> <th:block th:text="#{linelist.create-template.delete}" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ng-cloak">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="text-danger"
                               ng-show="$ctrl.createTemplateForm.$invalid || $ctrl.template.fields.length === 0"
                               th:text="#{visualization.phylogenomics.aside.warning}">_Templates require a unique name
                                within the project and at least 1 field._</p>
                            <p class="text-success"
                               ng-hide="$ctrl.createTemplateForm.$invalid || $ctrl.template.fields.length === 0"
                               th:text="#{visualization.phylogenomics.aside.correct}">
                                _Templates can be viewed or modified through the Settings tab._</p>
                            <button id="save-template-btn"
                                    class="btn btn-primary btn-block"
                                    ng-disabled="$ctrl.disableSave()"
                                    ng-click="$ctrl.saveTemplate()"
                                    th:text="#{linelist.create-template.save-template}">_Save_
                            </button>
                            <p class="spaced-top text-muted"
                               ng-hide="$ctrl.templateIsModified()"
                               th:text="#{linelist.create-template.not-modified}">_This template has not been
                                modified_</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="addMetadataField.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" th:text="#{visualization.phylogenomics.field-modal.title}">
                _ADD_METADATA_FIELD_
                <div class="close" ng-click="model.close()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </h3>
        </div>
        <div class="modal-body">
            <p th:text="#{visualization.phylogenomics.field-modal.description}"></p>
            <ui-select ng-model="model.field" style="width: 100%" autofocus="">
                <ui-select-match data:placeholder="#{visualization.phylogenomics.field-modal.input.placeholder}">
                </ui-select-match>
                <ui-select-choices
                        repeat="field in model.list"
                        refresh="model.queryName($select.search)"
                        refresh-delay="0"
                        minimum-input-length="2">
                    <div class="clearfix">
                        <span class="pull-left">{{field.label}} </span>
                        <span ng-show="field.new === true"
                              class="label label-warning pull-right"
                              style="margin-top: 3px;"
                              th:text="#{visualization.phylogenomics.new-field}">_NEW_</span>
                    </div>
                </ui-select-choices>
            </ui-select>
            <div ng-show="model.fieldExists" class="spaced-top alert alert-info">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                <p th:text="#{visualization.phylogenomics.field-modal.existing-field-warning}">THIS FIELD ALREADY EXISTS
                    IN THE TABEL</p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="deleteTemplate.tmpl.html">
        <div class="modal-header"
             style="background-color: rgba(217, 83, 79, 1.00); color: white; border-radius: 4px 4px 0 0;">
            <h3 class="modal-title">
                <i class="fa fa-trash-o"></i>
                <th:block th:text="#{linelist.create-template.delete-confirm}" />
                <div class="close" ng-click="modal.dismiss()"></div>
            </h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="modal.confirm()" th:text="#{linelist.create-template.delete}">_Delete Tempate_</button>
        </div>
    </script>
    <script src="/resources/js/build/create-metadata-template.bundle.js"
            th:src="@{/resources/js/build/create-metadata-template.bundle.js}"></script>
</th:block>
</body>
</html>
