<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{page.projects.title}">List of Projects</title>
    <link rel="stylesheet" th:href="@{/dist/css/projects.bundle.css}" />
    <script th:inline="javascript">
      window.PAGE = {
        i18n: {
          ProjectsTable_th_id: /*[[#{ProjectsTable_th_id}]]*/ "__ID__",
          ProjectsTable_th_name: /*[[#{ProjectsTable_th_name}]]*/ "__NAME__",
          ProjectsTable_th_organism: /*[[#{ProjectsTable_th_organism}]]*/ "__ProjectsTable_th_organism__",
          ProjectsTable_th_samples: /*[[#{ProjectsTable_th_samples}]]*/ "__ProjectsTable_th_samples__",
          ProjectsTable_th_created_date: /*[[#{ProjectsTable_th_created_date}]]*/ "__ProjectsTable_th_created_date__",
          ProjectsTable_th_modified_date: /*[[#{ProjectsTable_th_modified_date}]]*/ "__ProjectsTable_th_modified_date__",
          ProjectsTable_export_excel: /*[[#{ProjectsTable_export_excel}]]*/ "__ProjectsTable_export_excel__",
          ProjectsTable_export_csv: /*[[#{ProjectsTable_export_csv}]]*/ "__ProjectsTable_export_csv__",
          ProjectsTable_header: /*[[#{ProjectsTable_header}]]*/ "__ProjectsTable_header__",
          ProjectsTable_export: /*[[#{ProjectsTable_export}]]*/ "__ProjectsTable_export__"
        }
      };
    </script>
  </head>
  <body>
    <div
      id="root"
      style="height: 100%; min-height: 100%"
      layout:fragment="page"
    ></div>

    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/projects.bundle.js}"></script>
    </th:block>
  </body>
</html>
