<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{projects.create.heading}">THIS IS SOMETHING WRONG</title>

    <link rel="stylesheet" th:href="@{/resources/bower_components/select2/select2.css}"
          href="/resources/bower_components/select2/select2.css"/>
    <link rel="stylesheet" th:href="@{/resources/bower_components/select2/select2-bootstrap.css}"
          href="/resources/bower_components/select2/select2-bootstrap.css"/>
</head>
<body>
<div layout:fragment="page">
    <div class="col-md-8 col-md-offset-2 mrgn-tp-lg">
        <form name="new_project" class="ng-cloak" th:action="@{/projects/new}" method="post" role="form"
              novalidate="novalidate"
              ng-controller="NewProjectController as vm">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="#{projects.create.heading}">Create a New Project</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group" th:classappend="${#maps.containsKey(errors, 'name')} ? 'has-error'"
                         ng-class="{'has-error' : !new_project.name.$focused &amp;&amp; new_project.name.$invalid &amp;&amp; !new_project.name.$pristine}">
                        <label class="control-label" for="name"> <span th:text="#{projects.create.form.name}">__Project_Name__</span>&nbsp;
                            <small uib-tooltip-placement="right" data:uib-tooltip="#{projects.create.form.required}"
                                   class="fa fa-fw fa-asterisk"></small>
                        </label>
                        <input class="form-control input-full" type="text" id="name" name="name"
                               required="required"
                               placeholder="Required" th:placeholder="#{form.required}" ng-minlength='5' ng-model="vm.project.name" ng-model-options="{debounce:{'default': 500, 'blur': 0}}"/>

                        <div ng-show="new_project.name.$dirty &amp;&amp; !new_project.name.$focused">
                            <small id="error-name-length" ng-show="new_project.name.$error.minlength"
                                   th:text="#{form.valid.length(5)}">
                                _MUST BE 5 CHARACTERS LONG__
                            </small>
                            <small id="error-name-required" ng-show="new_project.name.$error.required"
                                   th:text="#{form.valid.required}">
                                __THIS IS A REQUIRED FIELD__
                            </small>
                        </div>
                        <small id="error-name-server" th:if="${#maps.containsKey(errors, 'name')}"
                               th:text="${errors.name}">__SERVER_ERROR__
                        </small>
                    </div>
                    <div class="form-group" th:classappend="${#maps.containsKey(errors, 'organism')} ? 'has-error'">
                        <label class="control-label" for="projectOrganism" th:text="#{projects.create.form.organism}">Project
                            Organism</label>
                        <input type="text" id="projectOrganism" class="organism-select form-control input-full"
                               name="organism"/>
                        <div class="alert alert-warning" id="new-organism-warning" th:text="#{projects.create.new-organism-warning}">_Warning: new organism_</div>
                        <small id="error-organism-server" th:if="${#maps.containsKey(errors, 'organism')}"
                               th:text="${errors.organism}"></small>
                    </div>
                    <div class="form-group" th:classappend="${#maps.containsKey(errors, 'description')} ? 'has-error'">
                        <label class="control-label" for="projectDescription"
                               th:text="#{projects.create.form.description}">Project
                            Description</label>
                        <textarea class="form-control input-full" name="projectDescription" id="projectDescription"
                                  rows="3" th:text="${project}? ${project.getProjectDescription()} : ''"></textarea>
                        <small id="error-desc-server" th:if="${#maps.containsKey(errors, 'description')}"
                               th:text="${errors.description}"></small>
                    </div>
                    <div class="form-group" th:classappend="${#maps.containsKey(errors, 'remoteURL')} ? 'has-error'"
                         ng-class="{'has-error' : !new_project.remoteURL.$focused &amp;&amp; new_project.remoteURL.$invalid &amp;&amp; !new_project.remoteURL.$pristine}">
                        <label class="control-label" for="remoteURL" th:text="#{projects.create.form.wiki}">Project Wiki
                            URL</label>
                        <input class="form-control input-full" name="remoteURL" type="url" id="remoteURL"
                               placeholder="http://www.google.com" th:placeholder="#{form.placeholder.url}" ng-focus="" ng-model="vm.project.remoteURL"
                               ng-model-options="{debounce:{'default': 500, 'blur': 0}}"/>
                        <small id="error-url" th:text="#{form.valid.url}"
                               ng-show="new_project.remoteURL.$invalid &amp;&amp; !new_project.remoteURL.$focused">
                            __THIS IS A REQUIRED FIELD__
                        </small>
                        <small id="error-url-server" th:if="${#maps.containsKey(errors, 'remoteURL')}"
                               th:text="${errors.remoteURL}"></small>
                    </div>
                    <div class="form-group">
                            <label class="control-label" th:text="#{projects.create.settings}">_Settings_</label>

                            <th:block th:with="allSamples = ${#lists.size(allowedSamples) + #lists.size(disallowedSamples)}">
                                <div class="checkbox">
                                    <label for="useCartSamples">
                                        <input type="checkbox" id="useCartSamples"  name="useCartSamples" value="true" th:checked="${useCartSamples}" th:disabled="${allSamples} == 0"/>
                                        <span th:text="#{projects.create.settings.cart}">_Use samples from cart_</span>
                                    </label>
                                </div>

                                <div id="cartAlert" class="alert alert-warning" th:if="${#lists.size(disallowedSamples) > 0}">
                                    <span th:text="#{projects.create.settings.cart.disallowed}">_The following samples cannot be added_</span>
                                    <ul>
                                        <li th:each="sample : ${disallowedSamples}" th:text="${sample.sampleName}">_sample_</li>
                                    </ul>
                                </div>

                                <div class="checkbox">
                                    <label for="lockSamples">
                                        <input type="checkbox" id="lockSamples" name="lockSamples" value="false" th:disabled="${allSamples} == 0 or ${!useCartSamples}" />
                                        <span th:text=" #{projects.create.settings.sample.modification}" >_Lock sample
                                    modification_</span>
                                    </label>
                                </div>
                            </th:block>
                        
                        </div>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" th:href="${#httpServletRequest.getHeader('referer')}"
                       th:text="#{projects.create.form.cancel}">Cancel</a>
                    <button id="submitBtn" type="submit" class="btn btn-primary" ng-disabled="new_project.$invalid">
                        <span th:text="#{projects.create.form.create}">Create Project</span>&nbsp;
                        <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </section>
        </form>
    </div>
</div>
<th:block layout:fragment="scripts" th:inline="javascript">
    <script th:src="@{/resources/bower_components/select2/select2.min.js}"
            src="/resources/bower_components/select2/select2.min.js"></script>
    <script>
        $("#new-organism-warning").hide();
        $(".organism-select").select2({
            minimumInputLength: 2,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: /*[[@{/projects/ajax/taxonomy/search}]]*/ '/projects/ajax/taxonomy/search',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        searchTerm: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
            	var organism = $(element).val();
            	if (organism !== "") {
            		$.ajax(/*[[@{/projects/ajax/taxonomy/search}]]*/ '/projects/ajax/taxonomy/search', {
            			data: { searchTerm: organism },
            			dataType: "json"
            		}).done(function(data) {
            			callback(data[0])
            		});
            	}
            }

        }).on("change", function(data){
          if(data.added.searchTerm){
            $("#new-organism-warning").show();
          }
          else{
            $("#new-organism-warning").hide();
          }
        }).select2('val', /*[[${project} ? ${project.getOrganism()} : '']]*/ '');

        $("#useCartSamples").change(function(){
            showHideCart(100);
        });

        showHideCart(0);

        function showHideCart(time) {
            if($("#useCartSamples").prop('checked')){
                $("#cartAlert").show(time);
            }
            else{
                $("#cartAlert").hide(time);
            }
        }

        /*
            Disables/enables the lockSamples checkbox
            depending on if using the samples from cart
        */
        $("#useCartSamples").on("change", function(e) {
          var selected = $(e.target).prop("checked");
          if (!selected) {
            $("#lockSamples").attr("disabled", true);
            $("#lockSamples").prop("checked", false);
          } else {
            $("#lockSamples").removeAttr("disabled");
          }
        });

        (function() {
          "use strict";

          const newProjectModule = angular.module("irida.project.new", ["ui.bootstrap"])
            .controller('NewProjectController', function() {
              var vm = this;
              vm.project = {
                name: /*[[${project} ? ${project.getName()} : '']]*/ '',
                remoteURL: /*[[${project} ? ${project.getRemoteURL()} : '']]*/ '',
              };
            })
            .name;
          angular.module("irida").requires.push(newProjectModule);
        })();
    </script>
</th:block>
</body>
</html>
