<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{projects/_base}">
<head>
	<title th:text="${project.label} + ' - ' + #{project.nav.analysis}"></title>
	<link rel="stylesheet" th:href="@{/resources/dist/css/analyses-table.bundle.css}">
	<link rel="stylesheet" th:href="@{/resources/dist/css/analysis.bundle.css}">
</head>
<body>

<main layout:fragment="main">
	<th:block th:replace="analyses/analyses-table :: batch-download"/>
	<th:block th:replace="analyses/analyses-table :: table"/>
	<th:block th:replace="analyses/analyses-table :: messages"/>
</main>
<th:block layout:fragment="scripts">
	<th:block th:replace="analyses/analyses-table :: scripts"/>
	<th:block th:replace="analyses/analyses-table :: batch-download-scripts"/>
</th:block>
</body>
</html>
