<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{projects/_base}">
<head>
	<title th:text="${project.label} + ' - ' + #{project.nav.metadata}"></title>
</head>
<body>

<main layout:fragment="main" th:object="${project}">

	<section class="row" th:object="${project}">
		<div class="col-md-3">
			<ul class="list-group">
				<li class="list-group-item">
					<strong th:text="#{project.metadata.id}"></strong>
					<span class="pull-right" th:text="*{identifier}"></span>
				</li>
				<li class="list-group-item">
					<strong th:text="#{project.metadata.createdDate}"></strong>
					<span class="pull-right" th:text="*{#dates.format(createdDate, #messages.msg('locale.date.short'))}"></span>
				</li>
				<li class="list-group-item">
					<strong th:text="#{project.metadata.modifiedDate}"></strong>
					<span class="pull-right" th:text="*{#dates.format(modifiedDate, #messages.msg('locale.date.short'))}"></span>
				</li>
			</ul>
		</div>
		<div class="col-md-9"><div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="#{projects.create.form.name}">Project Name</h3>
			</div>
			<div class="panel-body" id="name" th:text="*{label}">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="#{projects.create.form.description}">Project Description</h3>
			</div>
			<div class="panel-body" id="description" th:text="*{projectDescription}">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="#{projects.create.form.organism}">Project Organism</h3>
			</div>
			<div class="panel-body" id="organism" th:text="*{organism}">

			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="#{projects.create.form.wiki}">Project Wiki</h3>
			</div>
			<div class="panel-body">
				<a th:href="*{remoteURL}" id="remoteURL" th:text="*{remoteURL}"></a>
			</div>
		</div></div>
	</section>
	<div class="row">
		<div class="col-md-12 clearfix" style="margin-bottom: 1rem;">
			<a id="edit-metadata" th:if="${isOwner}" class="btn btn-default btn-sm pull-right"
			   th:href="@{'/projects/' + *{id} + '/metadata/edit'}" th:text="#{form.btn.edit}">__EDIT__</a>
		</div>
	</div>
</main>
</body>
</html>
