<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/_base}">
<head>
    <title th:text="#{metadata-template.title}">Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/create-metadata-template.bundle.css}"/>
    <script th:inline="javascript">
      var PAGE = {
        urls: {
          fields: /*[[@{/projects/{id}/metadata-templates/fields(id=${project.getId()})}]]*/ ''
        },
        isOwner: /*[[${isOwner}]]*/ false
      };
    </script>
</head>
<body>
<main layout:fragment="main">
    <div class="clearfix">
        <h2 class="h2-muted spaced-bottom pull-left" th:text="#{metadata-template.title}"></h2>
        <a class="btn btn-default btn-sm pull-right"
           th:href="@{/projects/{id}/metadata-templates/{templateId}/excel(id=${project.getId()}, templateId=${template.getId()})}">
            <i class="fa fa-fw fa-download"></i>&nbsp;<th:block th:text="#{form.download}"/></a>
    </div>
    <div class="row spaced-bottom">
        <div class="col-md-12">
            <form id="template-form" th:object="${template}"
                  th:action="@{/projects/{id}/metadata-templates/save(id=${project.id})}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="template-name" class="control-label" th:text="#{metadata-template.name}">TEMPLATE
                        NAME</label>
                    <input id="template-name" type="text" class="form-control" th:field="*{name}"
                           minlength="5" required="required" th:disabled="!${isOwner}"
                           data:msg-minlength="#{metadata-template.template.template.name-minlength}"/>
                </div>
                <hr/>
                <div class="row spaced-bottom">
                    <div class="col-md-8">
                        <label th:text="#{metadata-template.fields}">METADATA_FIELDS</label>
                    </div>
                    <div class="col-md-4 text-right">
                        <button id="add-field-btn" type="button" class="btn btn-default"
                                data-toggle="modal" data-target="#add-field-modal"
                                th:text="#{visualization.phylogenomics.add-new-field.btn}"
                                th:if="${isOwner}">ADD
                            FIELD
                        </button>
                    </div>
                </div>
                <div id="field-count-warning" class="spaced-top spaced-bottom alert alert-danger hidden">
                    <strong th:text="#{metadata-template.required-fields}">Must have at least 1 template
                        field</strong>
                </div>
                <ul class="list-group template-fields">
                    <li class="list-group-item template-field" th:classappend="${isOwner} ? template-field-draggable" th:each="field : *{fields}">
                        <i class="fa fa-bars" aria-hidden="true" th:if="${isOwner}"></i>&nbsp;
                        <th:block th:text="${field.label}"/>
                        <input class="field-names" name="fields" type="hidden" th:value="${field.label}"/>
                        <span class="close field-remove pull-right" th:if="${isOwner}">&times;</span>
                    </li>
                </ul>
                <button id="save-btn" class="btn btn-primary" type="submit"
                        th:text="#{metadata-template.save}"
                        th:if="${isOwner}">SAVE ME
                </button>
            </form>
        </div>
    </div>

    <div class="panel panel-default" th:if="${template.id} and ${isOwner}">
        <div class="panel-heading">
            <th:block th:text="#{metadata-template.settings}"/>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <strong th:text="#{metadata-template.delete}">Delete this
                        template</strong>
                    <p th:text="#{metadata-template.delete-message}">Once you delete a
                        template, there is no going back. Please be certain.</p>
                </div>
                <div class="col-md-4 text-right">
                 <form method="post" th:action="@{/projects/{id}/metadata-templates/delete/{templateId}(id=${project.id},templateId=${template.id})}">   <div class="checkbox">
                        <label for="delete-checkbox">
                            <input type="checkbox" id="delete-checkbox"/> Confirm template deletion
                        </label></div>
                    <button id="delete-template-btn" class="btn btn-danger" disabled="disabled">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <th:block th:text="#{metadata-template.delete}"/>
                    </button></form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-fade" id="add-field-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{visualization.phylogenomics.field-modal.title}"></h4>
                </div>
                <div class="modal-body">
                    <label for="field-select" th:text="#{visualization.phylogenomics.field-modal.description}"></label>
                    <select class="form-control" id="field-select"></select>
                    <div ng-show="model.fieldExists" class="spaced-top alert alert-info">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                        <th:block th:text="#{visualization.phylogenomics.field-modal.existing-field-warning}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/create-metadata-template.bundle.js}"></script>
</th:block>
</body>
</html>
