<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="projects/_base" ddl:bundle-includes="project-settings">

<head>
  <title th:text="${project.label} + ' - ' + #{project.nav.settings}"></title>
  <script th:inline="javascript">
        var PAGE = {
            i18n: {
                'error' : /*[[#{project.settings.notifications.error}]]*/ '_Error updating project_'
            },
            urls: {
                'assemble': /*[[@{/projects/{id}/settings/assemble(id=${project.getId()})}]]*/ '/projects/1/settings/assemble',
                'sync': /*[[@{/projects/{id}/settings/sync(id=${project.getId()})}]]*/ '/projects/1/settings/sync'
            },
            vars: {
                'apiId': /*[[${project.getRemoteStatus().getApi().getId()}]]*/ '1'
            }
        };
    </script>
</head>

<body>
  <main layout:fragment="main" ddl:bundle-includes="project-settings" >
    <div class="panel panel-default">
      <div class="panel-heading" th:text="#{project.settings.basic.heading}">_Basic project settings_</div>
      <div class="panel-body">
        <div class="checkbox">
          <label>
            <input id="assemble" type="checkbox" value="assemble" th:checked="${project.assembleUploads}"/>
            <span th:text="#{project.settings.assemble}">_Automatically assemble uploads_</span>
          </label>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default" th:if="${project.isRemote()}">
      <div class="panel-heading" th:text="#{project.settings.sync.heading}">_Project Sync Settings_</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label" th:text="#{project.settings.sync.lastSync}">_Last Sync_</label>
          <div>
            <span th:text="${#calendars.format(project.getRemoteStatus().getLastUpdate(), 'dd MMM yyyy hh:mma')}"></span>
            <button id="forceSync" role="button" class="btn btn-primary btn-sm" th:text="#{project.settings.sync.forceSync}">_Force Sync_</button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" th:text="#{project.settings.api}">_API_</label>
          <div th:with="status = ${project.getRemoteStatus()}">
            <a href="#" th:href="@{/remote_api/{id}(id=${status.getApi().getId()})}" th:text="${status.getApi().getLabel()}">_api_</a>
            <span id="api-status" class="api-status">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        
            <button type="button" class="oauth-connect-link btn btn-default hidden" id="connect-button"
                th:text="#{remoteapi.status.connect.button}">_Connect_</button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="frequency" th:text="#{project.settings.sync.frequency}">_Sync Frequency_</label>
          <select id="frequency" class="form-control input-full sync-setting">
            <option th:each="freq : ${frequencies}" th:value="${freq}" th:text="#{'project.settings.frequency.' + ${freq}}" th:selected="${project.getSyncFrequency() == freq}"></option>
          </select>
        </div>
      </div>
    </div>
    
  </main>
  <th:block layout:fragment="scripts" th:inline="javascript">
      <script layout:fragment="scripts" th:inline="javascript" th:replace="remote_apis/remote_api_connect"></script>
  </th:block>
</body>

</html>
