<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
</head>
<body>
<div layout:fragment="page"
     ddl:bundle-includes="project-samples-metadata"
     ddl:asset-css-excludes="jquery.datatables">
	<h1>Project Samples Metadata Page</h1>
	<section ui-view=""></section>

	<script type="text/ng-template" id="upload.tmpl.html">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Step 1: Select an Excel File Containing the Sample Metadata</h2>
			</div>
			<div class="panel-body">
				<dropzone data:url="@{/projects/{id}/sample-metadata(id=${projectId})}"
				          on-success="uploaderCtrl.onSuccess"
				          on-complete="uploaderCtrl.onComplete"
				          max-files="1"
				          accepted-files=".xlsx,.xlx"
				          data:message="#{metadata.dropzone.message}"></dropzone>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="sampleId.tmpl.html">
		<div class="radio" ng-repeat="header in sampleIdCtrl.headers">
			<label>
				<input type="radio"
				       ng-model="sampleIdCtrl.selectedColumn"
				       ng-value="header"/>
				{{ header }}
			</label>
		</div>
		<button class="btn btn-primary" ng-click="sampleIdCtrl.complete()">Next</button>
	</script>
</div>
</body>
</html>