<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="projects/_base">
<head>
    <title th:text="#{linelist.create-template.title}">Title</title>
</head>
<body>
<main layout:fragment="main" ddl:bundle-includes="project-linelist-template">
    <h2 th:text="#{linelist.create-template.title}">Create a New Line List Template</h2>
    <template-input-component data:redirecturl="@{/projects/{id}/linelist(id=${project.getId()})}"/>
    <script type="text/ng-template" id="templateInput.tmpl.html">
        <div class="row">
            <div class="col-md-12">
                <label for="template-name" th:text="#{linelist.create-template.name}">Template Name</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <div class="form-group">
                    <input id="template-name" class="form-control" type="text" ng-model="$ctrl.template.name"/>
                </div>
            </div>
            <div class="col-md-4">
                <button id="save-template-btn"
                        class="btn btn-primary"
                        ng-disabled="$ctrl.template.name.length &lt; 3"
                        ng-click="$ctrl.saveTemplate()"
                        th:text="#{linelist.create-template.save-template}">Save
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="existing-templates" th:text="#{linelist.create-template.add-existing}">Add Existing
                    Template</label>
                <select id="existing-templates"
                        class="form-control spaced-bottom"
                        multiple="multiple"
                        select2-basic=""
                        ng-change="$ctrl.getUpdatedTemplates()"
                        ng-model="$ctrl.existing">
                    <option th:each="template : ${templates}" th:text="${template}"></option>
                </select>
            </div>
        </div>
        <label th:text="#{linelist.create-template.template-fields}">Template Fields</label>
        <div class="fields">
            <div class="row entry">
                <div class="col-md-12">
                        <span class="label label-warning" th:text="#{linelist.create-template.required-field}">Required</span>
                </div>
                <div class="form-group col-md-5">
                    <input disabled="disabled" type="text" class="form-control" value="identifier"/>
                </div>
                <div class="form-group col-md-3">
                    <select disabled="disabled" class="form-control">
                        <option value="text">Text</option>
                    </select>
                </div>
            </div>
            <div class="row entry">
                <div class="col-md-12">
                    <span class="label label-warning" th:text="#{linelist.create-template.required-field}">Required</span>
                </div>
                <div class="form-group col-md-5">
                    <input disabled="disabled" type="text" class="form-control" value="label"/>
                </div>
                <div class="form-group col-md-3">
                    <select disabled="disabled" class="form-control">
                        <option value="text">Text</option>
                    </select>
                </div>
            </div>
            <div class="row templates" ng-repeat="item in $ctrl.template.list | limitTo:$ctrl.template.list.length:2">
                <div class="col-md-12">
                        <span class="label label-primary"
                              ng-repeat="(template, value) in item.templates">{{ template }}</span>
                </div>
                <div class="form-group col-md-5">
                    <input ng-disabled="item.templates" type="text" class="form-control field-label" ng-model="item.label"
                           placeholder="Field Name"/>
                </div>
                <div class="form-group col-md-3">
                    <select disabled="disabled" class="form-control" ng-model="item.type">
                        <option value="text">Text</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-default add-field-btn"
                            ng-click="$ctrl.addField($index)"
                            ng-disabled="item.label.length &lt; 3"
                            th:text="#{linelist.create-template.new-field}">Add
                    </button>
                    <button class="btn btn-default remove-field-btn"
                            ng-hide="$ctrl.template.list.length === 3"
                            ng-click="$ctrl.removeField($index)"
                            th:text="#{linelist.create-template.remove-field}">Remove
                    </button>
                </div>
            </div>
        </div>
    </script>
</main>
</body>
</html>