<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="projects/_base">
<head>
	<title th:text="${project.label} + ' - ' + #{project.nav.samples}"></title>
	<script th:inline="javascript">
		window.dependencies = ['irida.projects.samples.controller'];
		var PAGE = {
			urls: {
				project: /*[[@{/projects/{id}/ajax/samples(id=${project.getId()})}]]*/ '',
				local: /*[[@{/projects/{id}/associated/samples(id=${project.getId()})}]]*/ '',
				remote: /*[[@{/projects/{id}/associated/remote/samples(id=${project.getId()})}]]*/ '',
				merge: /*[[@{/projects/{id}/ajax/samples/merge(id=${project.getId()})}]]*/ '',
				remove: /*[[@{/projects/{id}/ajax/samples/delete(id=${project.getId()})}]]*/ '',
				copy: /*[[@{/projects/{id}/ajax/samples/copy(id=${project.getId()})}]]*/ ''
			},
			i18n: {
				associatedSelectedTooltip: /*[[#{project.samples.associated-selected-error}]]*/ '_Unavailable_'
			}
		};
	</script>
</head>
<body>
<main layout:fragment="main" ddl:bundle-includes="project-samples" ddl:asset-css-excludes="jquery.datatables" ng-controller="SamplesController as samplesCtrl">

	<table id="samplesTable" datatable="ng" class="table table-hover table-selectable"  dt-options="samplesCtrl.dtOptions" dt-column-defs="samplesCtrl.dtColumnDefs" dt-instance="samplesCtrl.dtInstanceCallback">
		<thead>
		<tr>
			<th width="20px">
				<input type="checkbox" id="selectAll" ng-click="samplesCtrl.selectAll()" ng-model="samplesCtrl.allSelected" />
			</th>
			<th th:text="#{project.samples.table.name}">[Name]</th>
			<th th:text="#{project.samples.table.modified}" width="130px">[Modified Date]</th>
			<th th:text="#{project.samples.table.created}" width="130px">[Created Date]</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in ::samplesCtrl.samples" ng-click="samplesCtrl.rowClick($event, $index, item)">
			<td>
				<input type="checkbox" ng-model="item.selected" ng-click="samplesCtrl.checkboxClick($event, $index, item)"/>
			</td>
			<td>
				<a data:ng-href="@{'/samples/{{item.sample.identifier}}'}" ng-bind="item.sample.label"></a></td>
			<td ng-bind="item.sample.modifiedDate | date"></td>
			<td ng-bind="item.sample.createdDate | date"></td>
		</tr>
		</tbody>
	</table>
</main>
</body>

<th:block layout:fragment="scripts">
	<script type="text/ng-template" id="buttons.html" th:include="projects/partials/samples.tmpl :: toolbar"></script>
</th:block>
</html>