<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default navbar-sm" role="navigation" th:fragment="nav">
    <ul class="nav navbar-nav" th:inline="text" th:with="baseLink=${'/projects/' + project.getId()}">
        <li th:class="${activeNav} == 'dashboard' ? 'active'"><a th:href="@{${baseLink}}"><span
                class="glyphicon glyphicon-home"></span></a></li>
        <li th:class="${activeNav} == 'metadata' ? 'active'"><a th:href="@{${baseLink} + '/metadata'}">[[#{project.nav.metadata}]]</a>
        </li>
        <li th:class="${activeNav} == 'samples' ? 'active'"><a th:href="@{${baseLink} + '/samples'}">[[#{project.nav.samples}]]<span
                class="badge"
                th:text="${samples}"></span>
        </a></li>
        <li th:class="${activeNav} == 'members' ? 'active'"><a th:href="@{${baseLink} + '/members'}">[[#{project.nav.members}]]<span
                class="badge"
                th:text="${users}"></span></a>
        </li>
        <li th:class="${activeNav} == 'analysis' ? 'active'"><a th:href="@{${baseLink} + '/analysis'}">[[#{project.nav.analysis}]]</a>
        </li>
    </ul>
</nav>

<aside th:fragment="sidebar" class="col-md-3 col-md-pull-9 visible-md visible-lg"
       th:object="${project}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b class="panel-title" th:text="#{project.details}">Project Details</b>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked details">
                <li>
                    <i class="glyphicon glyphicon-barcode"></i>
                    <em th:text="#{project.id}"></em>
                    <span th:text="*{id}"></span>
                </li>
                <li th:if="${project.organism} != null"><i class="glyphicon glyphicon-leaf"></i><em
                        th:text="#{project.organism}"></em><span
                        id="project-organism"><i th:text="*{organism}"></i></span>
                </li>
                <li th:if="${owner} != null"><i class="glyphicon glyphicon-tower"></i><em
                        th:text="#{project.owner}"></em><span
                        id="project-owner" th:text="${owner.label}">__DATE_CREATED__</span>
                </li>
                <li><i class="glyphicon glyphicon-calendar"></i><em th:text="#{project.created}"></em><span
                        id="project-created" th:text="${#calendars.format(project.createdDate, 'dd MMM yyyy')}">__DATE_CREATED__</span>
                </li>
                <li th:if="${project.modifiedDate} != null"><i class="glyphicon glyphicon-calendar"></i><em
                        th:text="#{project.modified}"></em><span id="project-modified" data:livestamp="*{modifiedDate}"
                        th:title="${#calendars.format(project.modifiedDate, 'dd MMM yyyy HH:mm')}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div layout:replace="partials/associated-projects :: list (projects=${associatedProjects})"></div>
</aside>
<th:block th:fragment="scripts">
    <script th:src="@{/resources/bower_components/bootstrap/js/tab.js}"
            src="/resources/bower_components/bootstrap/js/tab.js"></script>
    <script th:src="@{/resources/bower_components/select2/select2.min.js}"
            src="/resources/bower_components/select2/select2.min.js"></script>
    <script th:src="@{/resources/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js}"
            src="/resources/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script th:src="@{/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js}"
            src="/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/resources/bower_components/moment/min/moment-with-langs.min.js}"
            src="/resources/bower_components/moment/min/moment-with-langs.min.js"></script>
    <script th:src="@{/resources/bower_components/livestampjs/livestamp.min.js}"
            src="/resources/bower_components/livestampjs/livestamp.min.js"></script>
	<script th:src="@{/resources/js/project.js}" src="/resources/js/project.js"></script>
	<script th:src="@{/resources/bower_components/mustache/mustache.js}" src="/resources/bower_components/mustache/mustache.js"></script>
</th:block>
</body>
</html>