<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="projects/_base">
<head>
	<title th:text="#{metadata.page-title}"></title>
	<link rel="stylesheet" href="/resources/css/components/steps.css" />
	<style>
		.row-hover {
			background-color: #00b3ee;
			cursor: pointer;
		}
	</style>
</head>
<body>
<div layout:fragment="main"
	 ddl:bundle-includes="project-samples-metadata"
	 ddl:asset-css-excludes="jquery.datatables">
	<section ui-view=""></section>
	<script type="text/ng-template" id="upload.tmpl.html">
		<div class="alert alert-info">
			<dropzone data:url="@{/projects/{id}/sample-metadata(id=${projectId})}"
				          on-success="$ctrl.onSuccess"
				          on-complete="$ctrl.onComplete"
				          max-files="1"
				          accepted-files=".xlsx,.xlx"
				          data:message="#{metadata.dropzone.message}"/>
			</div>
	</script>
	<script type="text/ng-template" id="sampleId.tmpl.html">
		<pre ng-bind="$ctrl.headers | json"></pre>
	</script>
	<script type="text/ng-template" id="result.tmpl.html">
		<div ng-show="resultCtrl.table.length > 0">
			<h2 class="panel-title" th:text="#{metadata.results.success.title}"></h2>
			<table class="table">
				<tr>
					<th ng-repeat="header in resultCtrl.headers" ng-bind="header"></th>
				</tr>
				<tr ng-repeat="row in resultCtrl.table">
					<td ng-repeat="header in resultCtrl.headers" ng-bind="row[header]"></td>
				</tr>
			</table>
		</div>
		<div ng-show="resultCtrl.notFound.length > 0">
			<h2 class="panel-title" th:text="#{metadata.results.no-found.title}"></h2>
			<table class="table">
				<tr>
					<th ng-repeat="header in resultCtrl.headers" ng-bind="header"></th>
				</tr>
				<tr ng-repeat="row in resultCtrl.notFound">
					<td ng-repeat="header in resultCtrl.headers" ng-bind="row[header]"></td>
				</tr>
			</table>
		</div>
</script>
</div>
</body>
</html>