<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{projects.create.heading}">THIS IS SOMETHING WRONG</title>
    <script th:inline="javascript">
        var PAGE = {
            urls: {
                'apiProjectList': /*[[@{/projects/ajax/api/}]]*/ "/projects/ajax/api/"
            }
        };
    </script>
</head>
<body>
<div layout:fragment="page">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        <form name="new_project" class="ng-cloak" th:action="@{/projects/synchronize}" method="post" role="form"
              novalidate="novalidate">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="#{projects.sync.heading}">_Synchronize New Project_</h2>
                </div>
                <div class="panel-body">
                    <div th:if="${#maps.containsKey(errors, 'oauthError')}" th:text="#{projects.sync.error.oauth}" class="alert alert-warning">_Oauth Error_</div>
                    <div th:if="${#maps.containsKey(errors, 'urlError')}" th:text="#{projects.sync.error.url}" class="alert alert-warning">_URL Error_</div>
                    <div class="form-group connection-wrapper">
                        <label class="control-label" for="api-selection" th:text="#{projects.sync.remoteapi}">_Remote API_</label>
                        <div class="row">
                            <div class="col-md-7">
                                <select class="form-control api-selection" id="api-selection">
                                    <option th:each="api : ${apis}" th:text="${api.name}" th:value="${api.id}"></option>
                                </select>
                            </div>
                            <div class="col-md-5 clearfix">
                                <span id="api-status" class="js-status-wrapper api-status pull-left">
                                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                                    <th:block th:text="#{remoteapi.status.waiting}"/>
                                </span>
                            
                                <button type="button" class="oauth-connect-link btn btn-default hidden pull-right" id="connect-button"
                                        data-toggle="modal"
                                        data-target="#remote-connect-wrapper"
                                    th:text="#{remoteapi.status.connect.button}">_Connect_</button>
                            </div>
                        </div>
                        <p class="help-block" th:text="#{projects.sync.api.help}">_Connect to a Remote API_</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="project" th:text="#{projects.sync.project}">_Project_</label>
                        <select class="form-control project-select" id="project-select">
                            <option class="select-api-opt" th:value="0" th:text="#{projects.sync.select}">_Select_</option>
                        </select>
                        <p class="help-block" th:text="#{projects.sync.project.help}">_Select a project to synchornize_</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="frequency" th:text="#{project.settings.sync.frequency}">_Sync Frequency_</label>
                        <select id="frequency" name="syncFrequency" class="form-control input-full">
                            <option th:each="freq : ${frequencies}" th:value="${freq}" th:selected="${freq == defaultFrequency}" th:text="#{'project.settings.frequency.' + ${freq}}"></option>
                        </select>
                        <p class="help-block" th:text="#{projects.sync.frequency.help}">_How often should the project be synchronized_</p>
                    </div>
                    
                    <div><a id="advancedToggle" data-toggle="collapse" href="#advancedCollapse"><span th:text="#{projects.sync.advanced}">_Advanced_</span> <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a></div>
                    <div id="advancedCollapse" class="form-group collapse">
                        <label class="control-label" for="name"><span th:text="#{projects.sync.url}">_Project_URL_</span>
                            <i uib-tooltip-placement="right" data:uib-tooltip="#{projects.create.form.required}"
                                   class="fa fa-fw fa-asterisk"></i>
                        </label>
                        <input class="form-control input-full" type="text" id="projectUrl" name="url"
                               required="required"
                               placeholder="Required" th:placeholder="#{form.required}"/>
                        <p class="help-block" th:text="#{projects.sync.url.help}">_API URL_</p>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" th:href="${#httpServletRequest.getHeader('referer')}"
                       th:text="#{projects.create.form.cancel}">Cancel</a>
                    <button id="submitBtn" type="submit" class="btn btn-primary" ng-disabled="new_project.$invalid">
                        <span th:text="#{projects.sync.create}">Create Project</span>&nbsp;
                        <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </section>
        </form>
    </div>
</div>
<th:block layout:fragment="scripts" th:inline="javascript">
    <script th:src="@{/dist/js/project-sync.bundle.js}"></script>
</th:block>
</body>
</html>
