<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/_base}">

<head>
    <title th:text="${project.label} + ' - ' + #{analysis.batch-download}"></title>
    <script>
        var PAGE = {
          URLS: {
            base: /*[[@{/}]]*/ '/',
          }
        }
    </script>
</head>

<body>
<main layout:fragment="main">
    <div class="alert alert-warning" th:text="#{analysis.batch-download-warning}"></div>
    <div id="app">
    </div>
    <div id="js-messages" class="hidden"
         th:data-download="#{form.download}"
         th:data-batch-download="#{analysis.batch-download}"
         th:data-download-output-files="#{analysis.download-output-files}"
         th:data-analysis-type="#{analysis.table.type}"
         th:data-analysis-output-file-key="#{analysis.output-file-key}"
         th:data-req-error="#{analysis.batch-download.ajax.error}"
         th:data-error="#{error}"
         th:data-status-code="#{error.request.status-code}"
         th:data-status-text="#{error.request.status-text}"
         th:data-request-url="#{error.request.url}"
         >
    </div>
</main>
</body>
<th:block layout:fragment="scripts">
    <script th:src="@{/resources/dist/js/project-analysis-outputs.bundle.js}"></script>
</th:block>
</html>
