<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
</head>
<body>
<div layout:fragment="page"
     ddl:bundle-includes="project-samples-metadata"
     ddl:asset-css-excludes="jquery.datatables">
	<h1>Project Samples Metadata Page</h1>
	<section ui-view=""></section>

	<script type="text/ng-template" id="upload.tmpl.html">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Step 1: Select an Excel File Containing the Sample Metadata</h2>
			</div>
			<div class="panel-body">
				<dropzone data:url="@{/projects/{id}/sample-metadata(id=${projectId})}"
				          on-success="uploaderCtrl.onSuccess"
				          on-complete="uploaderCtrl.onComplete"
				          max-files="1"
				          accepted-files=".xlsx,.xlx"
				          data:message="#{metadata.dropzone.message}"></dropzone>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="sampleId.tmpl.html">
		<set-sample-id data:heading="#{metadata.set-sample-id.title}"
		               data:url="@{/projects/{id}/sample-metadata(id=${projectId})}"></set-sample-id>
	</script>
	<script type="text/ng-template" id="result.tmpl.html">
		<div ng-show="resultCtrl.table.length > 0" class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title" th:text="#{metadata.results.success.title}"></h2>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th ng-repeat="header in resultCtrl.headers" ng-bind="header"></th>
					</tr>
					<tr ng-repeat="row in resultCtrl.table">
						<td ng-repeat="header in resultCtrl.headers" ng-bind="row[header]"></td>
					</tr>
				</table>
			</div>
		</div>
		<div ng-show="resultCtrl.notFound.length > 0" class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title" th:text="#{metadata.results.no-found.title}"></h2>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th ng-repeat="header in resultCtrl.headers" ng-bind="header"></th>
					</tr>
					<tr ng-repeat="row in resultCtrl.notFound">
						<td ng-repeat="header in resultCtrl.headers" ng-bind="row[header]"></td>
					</tr>
				</table>
			</div>
		</div>
</script>
</div>
</body>
</html>