<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="projects/_base">

<head>
  <title th:text="${project.label} + ' - ' + #{project.nav.details}"></title>
</head>

<body>
  <main layout:fragment="main">
    <h1 th:text="#{project.activities.title(${project.label})}"></h1>

    <div class="row">
      <div class="col-xs-3">
        <label for="size" th:text="#{event.size}">_Activities to show:_</label>
        <select id="size" class="form-control event-count">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div id="events"></div>
    <input type="hidden" id="eventURL" value="/events/project" th:value="@{/events/project/{id}(id=${project.getId()})}" />
  </main>
  <th:block layout:fragment="scripts" th:inline="javascript">
    <script th:src="@{/resources/js/pages/events/events.js}" src="/resources/js/pages/events.js"></script>
  </th:block>
</body>

</html>