<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/_base"
ddl:bundle-includes="project-members">
<head>
    <title th:text="${project.label} + ' - ' + #{project.nav.members}"></title>
    <script th:inline="javascript">
        var PAGE = {
            i18n: {
                'PROJECT_USER' : /*[[#{projectRole.PROJECT_USER}]]*/ '_Project user_',
                'PROJECT_OWNER' : /*[[#{projectRole.PROJECT_OWNER}]]*/ '_Project owner_',
                'remove' : /*[[#{project.members.edit.remove}]]*/ '_Remove user from project_',

            },
            urls: {
                'addMember': /*[[@{/projects/{id}/members(id=${project.getId()})}]]*/ '/projects/1/members',
                'usersLink' : /*[[@{/users/}]]*/'/users',
                'deleteModal' : /*[[@{/projects/removeUserModal}]]*/ '/projects/removeUserModal',
                'removeMember': /*[[@{/projects/{id}/members/(id=${project.getId()})}]]*/ '/projects/1/members/2'
            }
        };
    </script>
    <style>
		.dataTables_paginate {
			text-align: center!important;
		}
	</style>
</head>
<body>
<main layout:fragment="main" ddl:bundle-includes="project-members" ddl:asset-css-excludes="jquery.datatables">
	<div dt:conf="usersTable">
		<div dt:confType="callback" dt:type="createdRow" dt:function="project-members#projectMembersTable.deleteLinkCallback" />
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" style="margin-bottom: 1rem;" role="toolbar">
                <div class="btn-group">
                    <button id="add-members-button" class="btn btn-default"
                       th:if="${isAdmin} or ${isOwner}" href="#addMembersLink"
                       th:text="#{project.members.edit.add}">_Add Members_</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="usersTable" dt:table="true" dt:url="@{/projects/ajax/{id}/members(id=${project.getId()})}">
                <thead>
                <tr role="row">
                    <th dt:property="object.username" dt:searchable="true" th:text="#{project.table.collaborator.name}" dt:renderFunction="project-members#projectMembersTable.userNameLinkRow"></th>
                    <th dt:property="projectRole" th:text="#{project.table.collaborator.role}" dt:renderFunction="project-members#projectMembersTable.renderGroupRole"></th>
                    <th dt:property="object.email" th:text="#{project.table.collaborator.email}"></th>
                    <th width="150px" dt:property="createdDate" th:text="#{project.table.collaborator.since}" dt:renderFunction="datatables-utils#datatable.formatDate"></th>
                    <th width="50px" th:if="${isAdmin} or ${isOwner}" dt:sortable="false" dt:renderFunction="project-members#projectMembersTable.removeUserButton"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="modal fade" id="removeUserModal" role="dialog" aria-labelledBy="#deleteConfirmTitle"></div>
</main>
</body>
</html>
