/*
Error: Invalid CSS after "// Helpers": expected selector or at-rule, was "@import "helper..."
        on line 3 of /Users/josh/IRIDA/irida/src/main/webapp/styles/main.scss

1: @import "compass"
2: // Helpers
3: @import "helpers/variables";
4: // Components
5: @import "components/buttons";
6: @import "components/datatables"; // TODO: remove this once datatables are officially gone
7: @import "components/magnific-popup";
8: @import "components/noty";

Backtrace:
/Users/josh/IRIDA/irida/src/main/webapp/styles/main.scss:3
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:43:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"// Helpers\": expected selector or at-rule, was \"@import \"helper...\"\A         on line 3 of /Users/josh/IRIDA/irida/src/main/webapp/styles/main.scss\A \A 1: @import \"compass\"\A 2: // Helpers\A 3: @import \"helpers/variables\";\A 4: // Components\A 5: @import \"components/buttons\";\A 6: @import \"components/datatables\"; // TODO: remove this once datatables are officially gone\A 7: @import \"components/magnific-popup\";\A 8: @import \"components/noty\";"; }
