$color-primary: rgba(37, 114, 180, 1.0);
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-grey-lighter: lighten(#000, 93.5);
$color-grey-light: lighten(#000, 47.6);
$color-grey: lighten(#000, 33.5);
$color-grey-dark: lighten(#000, 20);
$color-grey-darker: lighten(#000, 13.5);
$color-text: $color-grey-dark;