<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{remoteapi.create}">_Create Client_</title>
</head>
<body>
<main layout:fragment="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mrgn-tp-lg wb-frmvld">
            <form role="form" action="/remote_api/create"
                  th:action="@{/remote_api/create}" method="post">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{remoteapi.create}">_Add Remote API_</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" th:text="#{remoteapi.name}" for="name">_Name_</label>

                            <div th:if="${#maps.containsKey(errors, 'serviceUrl')}" th:text="${errors.serviceUrl}"
                                 class="alert alert-warning">_Service URL Error_
                            </div>
                            <input type="text" id="name" name="name" class="form-control input-full" required="required"
                                   th:placeholder="#{remoteapi.name}" th:value="${given_name}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{remoteapi.clientid}" for="clientId">_Client
                                ID_</label>

                            <div th:if="${#maps.containsKey(errors, 'clientId')}" th:text="${errors.clientId}"
                                 class="alert alert-warning">_Client ID Error_
                            </div>
                            <input type="text" id="clientId" name="clientId" class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{remoteapi.clientid}" th:value="${given_clientId}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{remoteapi.details.secret}" for="clientSecret">_Client
                                Secret_</label>

                            <div th:if="${#maps.containsKey(errors, 'clientSecret')}" th:text="${errors.clientSecret}"
                                 class="alert alert-warning">_Client ID Error_
                            </div>
                            <input type="text" id="clientSecret" name="clientSecret" class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{remoteapi.details.secret}" th:value="${given_clientSecret}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{remoteapi.serviceurl}"
                                   for="serviceURI">_Username_</label>

                            <div th:if="${#maps.containsKey(errors, 'serviceURI')}" th:text="${errors.serviceURI}"
                                 class="alert alert-warning">_Service URL Error_
                            </div>
                            <input type="text" id="serviceURI" name="serviceURI" class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{remoteapi.serviceurl}" th:value="${given_serviceURI}"/>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <a type="reset" th:text="#{form.btn.cancel}" class="btn btn-default" href="#"
                           th:href="@{/remote_api}">Cancel</a>
                        <button id="create-remoteapi-submit" type="submit" th:text="#{remoteapi.create.button}"
                                class="btn btn-primary submit">Create API
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</main>
</body>
</html>
