<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="remote_apis/_base">
<head>
    <title th:text="#{clients.title}">_Clients_</title>
</head>
<body>
<main layout:fragment="main">
    <h1 th:text="#{remoteapi.title}">_Clients_</h1>

    <p th:text="#{remoteapi.status.description}">_Connect links on this page will redirect you to a remote IRIDA
        site._</p>
    <a href="/clients/create" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/remote_api/create}"
       th:text="#{remoteapi.add}" class="btn btn-default">_Add Client_</a>
    <table id="remoteapiTable" class="table table-striped table-hover">
        <thead>
        <tr th:inline="text">
            <th id="name-header">[[#{remoteapi.name}]]<i class="glyphicon"></i></th>
            <th id="created-header">[[#{iridaThing.timestamp}]]<i class="glyphicon"></i></th>
            <th id="status-header">[[#{remoteapi.status}]]</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="remoteapi-table-body"></tbody>
    </table>
</main>

<th:block layout:fragment="pageScripts">

    <script th:src="@{/resources/wet-theme/js/deps/jquery.dataTables.min.js}"
            src="/resources/wet-theme/js/deps/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#remoteapiTable').DataTable({
                dom: "<'top'ilf>rt<'bottom'p><'clear'>",
                processing: true,
                serverSide: true,
                deferRender: true,
                ajax: /*[[@{'/remote_api/ajax/list'}]]*/ '/remote_api/ajax/list',
                stateSave: true,
                stateDuration: -1,
                order: [[0, "desc"]],
                columns: [
                    {
                    	"data": "name",
                    	"render": function (data, type, row) {
                    		var urlbase = /*[[@{/remote_api/}]]*/ '/remote_api/';
                    		return '<a class="api-name" href="' + urlbase + row.id + '">' + data + '</a>';
                         }
                    },
                    {
                    	"data": "createdDate"
                    },
                    {
                    	"sortable": false,
                    	"render": function (data, type, row) {
                    		var id = "status-" + row.id;
                    		var statusText = /*[[#{remoteapi.status.waiting}]]*/ "Waiting for response...";
                    		var span = "<div data-api-id='"+row.id+"' class='connection-status' id="+ id + ">"+statusText+"</div>";
                    		return span;
                    	}
                    },
                    {
                    	"sortable": false,
                    	render: function(data, type, row){
                    		var connectUrlBase = /*[[@{/remote_api/connect/}]]*/ "/remote_api/connect";
                    		var id="connect-button-"+row.id;
                    		
                    		var connectText = /*[[#{remoteapi.status.connect.button}]]*/ 'Connect';

                    		var button = "<button id='"+ id +"' class='oauth-connect-link btn btn-default btn-xs hidden' data-api-id='"+row.id+"'>"+connectText+"</a>";
							return button;
                    	}
                    }
                    
                ],
                drawCallback: function( row, data, dataIndex ) {
                	$(".connection-status").each(function(){
                		var resultDiv = "#"+$(this).attr("id");
                		var apiId = $(this).data("api-id");
                		var buttonId = "#connect-button-" + apiId;
                		
                		getApiStatus(apiId,resultDiv,buttonId);
                	});
                    
                }
                
            });
        });
        
        /*]]>*/
    </script>
	<script th:replace="remote_apis/remote_api_connect"></script>
</th:block>
</body>
</html>