<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{clients.title}">_Clients_</title>
    <link rel="stylesheet" th:href="@{/resources/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}" />
    <script th:inline="javascript">
        var PAGE = {
            urls: {
                table: /*[[@{'/remote_api/ajax/list'}]]*/ '/remote_api/ajax/list',
                linkBase: /*[[@{/remote_api/}]]*/ '/remote_api/'
            },
            lang: {
                statusText: /*[[#{remoteapi.status.waiting}]]*/ "Waiting for response...",
                connectText: /*[[#{remoteapi.status.connect.button}]]*/ 'Connect'
            }
        };
    </script>
</head>
<body>
<main layout:fragment="page">
    <h1 th:text="#{remoteapi.title}">_Clients_</h1>

    <p th:text="#{remoteapi.status.description}">_Connect links on this page will redirect you to a remote IRIDA
        site._</p>
    <a href="/clients/create" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/remote_api/create}"
       th:text="#{remoteapi.add}" class="btn btn-default mrgn-bttm-md">_Add Client_</a>
    <table id="remoteapiTable" class="table table-striped table-hover">
        <thead>
        <tr th:inline="text">
            <th id="name-header">[[#{remoteapi.name}]]</th>
            <th id="created-header">[[#{iridaThing.timestamp}]]</th>
            <th id="status-header">[[#{remoteapi.status}]]</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="remoteapi-table-body"></tbody>
    </table>
</main>

<th:block layout:fragment="scripts">
    <th:block th:inline="javascript" th:replace="remote_apis/remote_api_connect"/>
    <script th:src="@{/resources/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/pages/remote-apis/remote-apis-list.js}"></script>
</th:block>
</body>
</html>
