<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{remoteapi.details.title}">_REMOTE API PAGE_</title>
    <link rel="stylesheet" th:href="@{/dist/css/remote-api-details.bundle.css}">
</head>
<body>

<div layout:fragment="page" id="root">
        <!-- Remote Connect Status jsx  -->
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/remote-api-details.bundle.js}"></script>
</th:block>
</body>
</html>
