<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="remote_apis/_base">
<head>
    <title th:text="#{remoteapi.details.title(${remoteApi.name})}">_REMOTE API PAGE_</title>
</head>
<body>

<main layout:fragment="main">
    <div class="row mrgn-tp-lg">
    	<h1 th:text="${remoteApi.name}">_Api Name_</h1>
    	<div class="col-md-6">
            <div class="sidebar">
                <div class="sidebar__heading clearfix">
                	<h2 class="pull-left" th:text="#{remoteapi.details.title}">_API Details_</h2>
					        <div class="btn-group-xs pull-right">
				            <button id="remove-btn" class="btn btn-danger" th:text="#{remoteapi.remove.button}">Remove</button>
                	</div>
                </div>

                <div class="sidebar__body">
                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-barcode"></i>
                    </div>
                    <div th:text="#{iridaThing.id}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-id" th:text="${remoteApi.id}">_ID_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-flag"></i>
                    </div>
                    <div th:text="#{remoteapi.name}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-name" th:text="${remoteApi.name}">_Name_</div>
                  </div>

                  <div class="sidebar__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <div th:text="#{remoteapi.serviceurl}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-serviceurl" th:text="${remoteApi.serviceURI}">_URL_</div>
                  </div>

                  <div class="sidebar__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-tag"></i>
                    </div>
                    <div th:text="#{remoteapi.clientid}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-clientid" th:text="${remoteApi.clientId}">_Client ID_</div>
                  </div>

                  <div class="sidebar__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-eye-close"></i>
                    </div>
                    <div th:text="#{remoteapi.details.secret}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-secret" th:text="${remoteApi.clientSecret}">_Secret_</div>
                  </div>

                  <div class="sidebar__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    <div th:text="#{iridaThing.timestamp}">_ID_</div>
                    <div class="sidebar__value" id="remoteapi-created"
                         th:text="${#calendars.format(remoteApi.createdDate, 'dd MMM yyyy')}">_DATE_CREATED_</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Connection Status</h3>
                    <div class="btn-group-xs pull-right">
                        <button class="oauth-connect-link btn btn-default btn-xs hidden" id="connect-button"
                            th:attr="data-api-id=${remoteApi.id}"
                            th:text="#{remoteapi.status.connect.button}">_Connect_</button>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled project-details" th:inline="text">
                        <li>
                            <i class="glyphicon glyphicon-link"></i>[[#{remoteapi.status}]]
                            <span class="pull-right">
                                <span id="connection-status"
                                        th:text="#{remoteapi.status.waiting}">_Connection Status_</span>
                            </span>

                        </li>
                        <li th:if="${tokenExpiry}">
                            <i class="glyphicon glyphicon-time"></i>&nbsp;[[#{remoteapi.status.tokenexpiry}]]
                            <span class="pull-right" id="token-expiry"
                                    th:text="${tokenExpiry}">_TOKEN_EXPIRY_</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
    <section>
        <form id="removeForm" action="/remote_api/remove" th:action="@{/remote_api/remove}" method="POST">
            <input type="hidden" th:value="${remoteApi.id}" name="id"/>
        </form>
    </section>
</main>
<th:block layout:fragment="scripts" th:inline="javascript">
    <script th:src="@{/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js}"
            src="/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script th:inline="javascript">
    	$(document).ready(function(){
    		$("#remove-btn").click(function(){
    			noty({
    				layout: "center",
    	            type: "default",
    	            text: /*[[#{remoteapi.remove.confirm(${remoteApi.name})}]]*/ "Remove Remote API?",
    	            modal: true,
    	            buttons: [
    	                {
    	                    addClass: 'btn btn-primary btn-sm confirm-delete',
    	                    text: /*[[#{form.btn.confim}]]*/ 'OK',
    	                    onClick: function ($noty) {
    	                        $("#removeForm").submit();
    	                    }
    	                },
    	                {
    	                    addClass: 'btn btn-default btn-sm',
    	                    text: /*[[#{form.btn.cancel}]]*/ 'Cancel',
    	                    onClick: function ($noty) {
    	                        $noty.close();
    	                    }
    	                }
    	            ],
    			});

    		});

    		var apiId = /*[[${remoteApi.id}]]*/ 1;
    		getApiStatus(apiId,"#connection-status","#connect-button");
    	});

    </script>
    <script th:replace="remote_apis/remote_api_connect"></script>
</th:block>
</body>
</html>
