<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/wet-boew/wet-layout">
<head>
    <title th:text="#{clients.title}">_Clients_</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div th:replace="templates/wet-boew/partials/sitemenu :: menu-en">_MENU_</div>
        <div class="col-md-12">
            <main role="main" property="mainContentOfPage">
                <h1 th:text="#{remoteapi.title}">_Clients_</h1>
                <table id="remoteapiTable" class="table table-striped table-hover">
                <thead>
                <tr th:inline="text">
                    <th id="name-header">[[#{remoteapi.name}]]<i class="glyphicon"></i></th>
                    <th id="created-header">[[#{iridaThing.timestamp}]]<i class="glyphicon"></i></th>
                    <th id="status-header">[[#{remoteapi.status}]]</th>
                </tr>
                </thead>
                <tbody id="remoteapi-table-body"></tbody>
            </table>
            </main>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/resources/wet-theme/js/deps/jquery.dataTables.min.js}"
            src="/resources/wet-theme/js/deps/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#remoteapiTable').DataTable({
                dom: "<'top'ilf>rt<'bottom'p><'clear'>",
                processing: true,
                serverSide: true,
                deferRender: true,
                ajax: /*[[@{'/remote_api/ajax/list'}]]*/ '/remote_api/ajax/list',
                stateSave: true,
                stateDuration: -1,
                order: [[0, "desc"]],
                columns: [
                    {
                    	"data": "name"
                    },
                    {
                    	"data": "createdDate"
                    },
                    {
                    	"render": function (data, type, row) {
                    		var id = "status-" + row.id;
                    		var connectUrlBase = /*[[@{/remote_api/connect/}]]*/ "/remote_api/connect";
                    		var span = "<span data-api-id='"+row.id+"' class='connection-status' id="+ id + ">Waiting for response...</span>";
                    		var button = "<a class='btn btn-default' href='"+ connectUrlBase + row.id + "'>Connect</a>";
                    		return span + button;
                    	}
                    }
                ],
                drawCallback: function( row, data, dataIndex ) {
                	$(".connection-status").each(function(){
                		getApiStatus($(this));
                	});
                    
                }
            });
            
        });
        
        function getApiStatus(span){
        	var apiId = span.data("api-id");
        	var urlBase = /*[[@{/remote_api/status/}]]*/ '/remote_api/status/'
        	$.ajax({
        		url: urlBase + apiId,
        		type: "POST",
        		success: function(data, textStatus, jqXHR){
    				span.html(data);

        			if(data == "valid"){
        				span.addClass("badge alert-success");
        			}
        			else if(data == "invalid_token"){
        				span.addClass("badge alert-warning");
        			}
        			else if(data == "inactive"){
        				span.addClass("badge alert-warning");
        			}
        		},
        		error: function(data, textStatus, jqXHR){
        			span.html(data);
        			span.addClass("badge alert-danger");
        		}
        	});
        }
        
        
        /*]]>*/
    </script>
</div>
</body>
</html>