<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="clients/_base">
<head>
    <title th:text="#{client.details.title(${client.clientId})}">_USER PAGE_</title>
</head>
<body>
<main layout:fragment="main">
    <h1 th:text="${client.clientId}">_Name_</h1>
    <div class="row mrgn-tp-lg">
    	<!-- User details -->
    	<div class="col-md-8">
            <div class="sidebar">
                <div class="sidebar__heading clearfix">
                	<h2 class="pull-left" th:text="#{client.details.title}">_Client Details_</h2>
					        <div class="btn-group-xs pull-right">
				            <div id="remove-btn" class="btn btn-danger" th:text="#{client.remove.button}">Remove</div>
                        <a href="#" th:href="@{/clients/{id}/edit(id=${client.id})}" id="edit-btn" class="btn btn-default" th:text="#{form.btn.edit}">Edit</a>
                	</div>
                </div>
                <div class="sidebar__body">
                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-barcode"></i>
                    </div>
                    <div th:text="#{iridaThing.id}">_ID_</div>
                    <div class="sidebar__value" id="client-id" th:text="${client.id}">_ID_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-tag"></i>
                    </div>
                    <div th:text="#{client.clientid}">_ID_</div>
                    <div class="sidebar__value" id="client-clientid" th:text="${client.clientId}">_Client ID_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-eye-close"></i>
                    </div>
                    <div th:text="#{client.details.clientSecret}">_ID_</div>
                    <div class="sidebar__value" id="client-secret" th:text="${client.clientSecret}">_Secret_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-ok-sign"></i>
                    </div>
                    <div th:text="#{client.grant-types}">_ID_</div>
                    <div class="sidebar__value" id="client-grants" th:text="${grants}">_Grants_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-transfer"></i>
                    </div>
                    <div th:text="#{client.scopes}">_ID_</div>
                    <div class="sidebar__value" id="client-scopes" th:text="${scopes}">_Scopes_</div>
                  </div>
                  
                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-transfer"></i>
                    </div>
                    <div th:text="#{client.autoScopes}">_ID_</div>
                    <div class="sidebar__value" id="client-auto-approvable-scopes" th:text="${autoApproveScopes}">_Auto-Approvable Scopes_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div th:text="#{client.details.tokenValidity}">_ID_</div>
                    <div class="sidebar__value tokenValidityInSeconds" id="client-token-validity"
                         th:text="${client.accessTokenValiditySeconds}">_Token Validity_</div>
                  </div>

                  <div class="sidebar__item">
                    <div class="sidebar__icon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    <div th:text="#{iridaThing.timestamp}">_ID_</div>
                    <div class="sidebar__value" id="client-created"
                         th:text="${#calendars.format(client.createdDate, 'dd MMM yyyy')}">_DATE_CREATED_</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left" th:text="#{client.details.token.title}">_Tokens_</h3>
              <div class="btn-group-xs pull-right">
                <button class="btn btn-default btn-xs" id="revoke-btn" th:text="#{client.details.token.revoke}">_Revoke Tokens_</button>
              </div>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr> 
                  <td th:text="#{client.details.token.active}">_Active Tokens_</td>
                  <td th:text="${activeTokens}"></td>
                </tr>
                <tr> 
                  <td th:text="#{client.details.token.expired}">_Expired Tokens_</td>
                  <td th:text="${expiredTokens}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
       </div>
       <section>
           <form id="removeForm" action="/clients/remove" th:action="@{/clients/remove}" method="POST">
               <input type="hidden" th:value="${client.id}" name="id"/>
           </form>
       </section>
  
       <section>
           <form id="revokeForm" action="/clients/revoke" th:action="@{/clients/revoke(id=${client.getId()})}" method="POST">
               <input type="hidden" th:value="${client.id}" name="id"/>
           </form>
       </section>
</main>
<th:block layout:fragment="pageScripts">
    <script th:src="@{/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js}"
            src="/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script th:inline="javascript">
    	$(function(){
    		$("#remove-btn").click(function(){
    			noty({
    				layout: "center",
    	            type: "default",
    	            text: /*[[#{client.remove.confirm(${client.clientId})}]]*/ "Remove client?",
    	            modal: true,
    	            buttons: [
    	                {
    	                    addClass: 'btn btn-primary btn-sm confirm-delete',
    	                    text: /*[[#{form.btn.confim}]]*/ 'OK',
    	                    onClick: function ($noty) {
    	                        $("#removeForm").submit();
    	                    }
    	                },
    	                {
    	                    addClass: 'btn btn-default btn-sm',
    	                    text: /*[[#{form.btn.cancel}]]*/ 'Cancel',
    	                    onClick: function ($noty) {
    	                        $noty.close();
    	                    }
    	                }
    	            ],
    			});

    		});
          
          $("#revoke-btn").click(function(){
    			noty({
    				layout: "center",
    	            type: "default",
    	            text: /*[[#{client.revoke.confirm(${client.clientId})}]]*/ "Revoke tokens?",
    	            modal: true,
    	            buttons: [
    	                {
    	                    addClass: 'btn btn-primary btn-sm confirm-delete',
    	                    text: /*[[#{form.btn.confim}]]*/ 'OK',
    	                    onClick: function ($noty) {
    	                        $("#revokeForm").submit();
    	                    }
    	                },
    	                {
    	                    addClass: 'btn btn-default btn-sm',
    	                    text: /*[[#{form.btn.cancel}]]*/ 'Cancel',
    	                    onClick: function ($noty) {
    	                        $noty.close();
    	                    }
    	                }
    	            ],
    			});

    		});
    	});

    </script>
</th:block>
</body>
</html>
