<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{clients/_base}">
<head>
    <title th:text="#{client.create}">_Create Client_</title>
    <style>
        .sub-cb {
        margin-left: 20px;
        }
    </style>
    <script th:inline="javascript">
        var PAGE = {
            validity: /*[[${given_tokenValidity}]]*/ '43200',
            refresh_validity: /*[[${refresh_validity}]]*/ '2592000'
        };
    </script>
</head>
<body>
<main layout:fragment="page">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="/clients/create"
                  th:action="@{/clients/create}" method="post">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{client.create}">_Create Client_</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" th:text="#{client.clientid}" for="clientId">_Username_</label>

                            <div th:if="${#maps.containsKey(errors, 'clientId')}" th:text="${errors.clientId}"
                                 class="alert alert-warning">_Client ID Error_
                            </div>
                            <input type="text" id="clientId" name="clientId" class="form-control input-full"
                                   required="required"
                                   th:placeholder="#{client.clientid}" th:value="${given_clientId}"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" th:text="#{client.details.tokenValidity}" for="tokenValidity">_Token
                                Validity_</label>

                            <div th:if="${#maps.containsKey(errors, 'tokenValidity')}" th:text="${errors.tokenValidity}"
                                 class="alert alert-warning">_Token Validity Error_
                            </div>
                            <select id="tokenValidity" name="accessTokenValiditySeconds"
                                    class="form-control input-full">
                                <option class="tokenValidityInSeconds" th:each="time : ${available_token_validity}"
                                        th:value="${time}" th:text="${time}" th:selected="${given_tokenValidity} == ${time}" />
                            </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label" th:text="#{client.grant-types}" for="authorizedGrantTypes">_Grant
                                Types_</label>

                            <div id="grant-error" th:if="${#maps.containsKey(errors, 'grant')}"
                                 th:text="${errors.grant}" class="alert alert-warning">_Role Error_
                            </div>
                            <select id="authorizedGrantTypes" name="authorizedGrantTypes"
                                    class="form-control input-full" required="required">
                                <option th:each="grant : ${available_grants}" th:value="${grant}" th:text="${grant}"/>
                            </select>
                            <div class="checkbox col-md-12">
                                <label class="control-label" for="refresh">
                                    <input type="checkbox" id="refresh" name="refresh" value="refresh"/>
                                    <span th:text="#{client.refresh}">_Refresh_></span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group" id="refresh-token-container" style="display:none">
                            <label class="control-label" th:text="#{client.details.refreshTokenValidity}" for="refreshTokenValidity">_Token
                                Validity_</label>

                            <select id="refreshTokenValidity" name="refreshTokenValidity"
                                    class="form-control input-full">
                                <option class="tokenValidityInSeconds" th:each="time : ${available_refresh_token_validity}"
                                        th:value="${time}" th:text="${time}" th:selected="${refresh_validity} == ${time}"/>
                            </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label" th:text="#{client.scopes}">_Scopes_</label>

                            <div id="scope-error" th:if="${#maps.containsKey(errors, 'scope')}"
                                 th:text="${errors.scope}" class="alert alert-warning">_Scope Error_
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label for="scope_read">
                                        <input type="checkbox" id="scope_read" name="scope_read" checked="checked" value="read"/>
                                        <span th:text="#{client.scope.read}">Read</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12" id="scope_auto_read_div">
                                <div class="checkbox sub-cb">
                                    <label for="scope_auto_read">
                                        <input type="checkbox" id="scope_auto_read" name="scope_auto_read" value="read"/>
                                        <span th:text="#{client.scope.autoApprove}">Auto-approve read access</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label for="scope_write">
                                        <input type="checkbox" id="scope_write" name="scope_write" value="write"/>
                                        <span th:text="#{client.scope.write}">Write</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="scope_auto_write_div" style="display:none">
                            <div class="checkbox sub-cb">
                                <label for="scope_auto_write">
                                    <input type="checkbox" id="scope_auto_write" name="scope_auto_write" value="write"/>
                                    <span th:text="#{client.scope.autoApprove}">Auto-approve write access</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <a type="reset" class="btn btn-default" href="#" th:href="@{/clients}">Cancel</a>
                        <button id="create-client-submit" type="submit" th:text="#{client.create.button}"
                                class="btn btn-primary submit">Create User
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</main>
<th:block layout:fragment="page-scripts">
    <script th:src="@{/resources/js/pages/clients/client_create.js}"></script>
</th:block>
</body>
</html>
