<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{clients/_base}">
<head>
	<title th:text="#{client.create}">_Create Client_</title>
    <style>
        .sub-cb {
        margin-left: 20px;
        }
    </style>
	<script th:inline="javascript">
		var PAGE = {
			lang: {

			}
		};
	</script>
</head>
<body>
<main layout:fragment="page">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-12">
			<form role="form" action="/clients/create"
			      th:action="@{/clients/{id}/edit(id=${client.id})}" method="post">
				<section class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{client.edit.title(${client.clientId})}">_Edit Client_</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label" th:text="#{client.clientid}" for="clientId">_Client_id_</label>

							<div th:if="${#maps.containsKey(errors, 'clientId')}" th:text="${errors.clientId}"
							     class="alert alert-warning">_Client ID Error_
							</div>
							<input type="text" class="form-control input-full"
							       disabled="disabled" th:value="${client.clientId}"/>
						</div>

						<div class="form-group">
							<label class="control-label" th:text="#{client.details.tokenValidity}" for="tokenValidity">_Token
								Validity_</label>

							<div th:if="${#maps.containsKey(errors, 'tokenValidity')}" th:text="${errors.tokenValidity}"
							     class="alert alert-warning">_Token Validity Error_
							</div>

							<select id="tokenValidity" name="accessTokenValiditySeconds"
							        class="form-control input-full">
								<option class="tokenValidityInSeconds" th:each="time : ${available_token_validity}"
								        th:value="${time}" th:text="${time}" th:selected="${time == client.accessTokenValiditySeconds}"/>
							</select>

						</div>

						<div class="form-group">
							<label class="control-label" th:text="#{client.grant-types}" for="authorizedGrantTypes">_Grant
								Types_</label>

							<div id="grant-error" th:if="${#maps.containsKey(errors, 'grant')}"
							     th:text="${errors.grant}" class="alert alert-warning">_Role Error_
							</div>
							<select id="authorizedGrantTypes" name="authorizedGrantTypes"
							        class="form-control input-full" required="required">
								<option th:each="grant : ${available_grants}" th:value="${grant}" th:text="${grant}" th:selected="${grant == selectedGrant}"/>
							</select>
							<div class="checkbox col-md-12">
                                <label class="control-label" for="refresh">
                                    <input type="checkbox" id="refresh" name="refresh" value="refresh" th:checked="${refresh}"/>
                                    <span th:text="#{client.refresh}">_Refresh_></span>
                                </label>
                            </div>
						</div>

						<div class="form-group" id="refresh-token-container" th:style="${refresh == true ? 'display:block' : 'display:none'}">
                            <label class="control-label" th:text="#{client.details.refreshTokenValidity}" for="refreshTokenValidity">_Token
                                Validity_</label>

                            <select id="refreshTokenValidity" name="refreshTokenValidity"
                                    class="form-control input-full">
                                <option class="tokenValidityInSeconds" th:each="time : ${available_refresh_token_validity}"
                                        th:value="${time}" th:text="${time}" th:selected="${time == client.refreshTokenValiditySeconds}"/>
                            </select>

                        </div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="checkbox">

									<label for="new_secret"> <input type="checkbox" id="new_secret" name="new_secret" value="new_secret"/>
										<span th:text="#{client.edit.new-secret}">_NEW SECRET_</span> </label>
								</div>
							</div>

						</div>

						<div class="form-group">
							<label class="control-label" th:text="#{client.scopes}">_Scopes_</label>

							<div id="scope-error" th:if="${#maps.containsKey(errors, 'scope')}"
							     th:text="${errors.scope}" class="alert alert-warning">_Scope Error_
							</div>
							<div class="col-md-12">
								<div class="checkbox">

									<label for="scope_read">
										<input type="checkbox" id="scope_read" name="scope_read" th:checked="${given_scope_read}" value="read" />
										<span th:text="#{client.scope.read}">Read</span> </label>
								</div>
							</div>
                            <div class="col-md-12" id="scope_auto_read_div" th:style="${given_scope_read == null ? 'display:none' : 'display:block'}">
                                <div class="checkbox sub-cb">
                                    <label for="scope_auto_read">
                                        <input type="checkbox" id="scope_auto_read" name="scope_auto_read" th:checked="${given_scope_auto_read}" value="read"/>
                                        <span th:text="#{client.scope.autoApprove}">Auto-approve read access</span>
                                    </label>
                                </div>
                            </div>
							<div class="col-md-12">
								<div class="checkbox">
									<label for="scope_write">
										<input type="checkbox" id="scope_write" name="scope_write" th:checked="${given_scope_write}" value="write"/>
										<span th:text="#{client.scope.write}">Write</span> </label>
								</div>
							</div>
                            <div class="col-md-12" id="scope_auto_write_div" th:style="${given_scope_write == null ? 'display:none' : 'display:block'}">
                                <div class="checkbox sub-cb">
                                    <label for="scope_auto_write">
                                        <input type="checkbox" id="scope_auto_write" name="scope_auto_write" th:checked="${given_scope_auto_write}" value="write"/>
                                        <span th:text="#{client.scope.autoApprove}">Auto-approve write access</span>
                                    </label>
                                </div>
                            </div>
						</div>

					</div>
					<div class="panel-footer text-right">
						<a type="reset" class="btn btn-default" href="#" th:href="@{/clients/{id}(id=${client.getId()})}">Cancel</a>
						<button id="edit-client-submit" type="submit" th:text="#{client.edit.button}"
						        class="btn btn-primary submit">_EDIT_CLIENT_
						</button>
					</div>
				</section>
			</form>
		</div>
	</div>
</main>

<th:block layout:fragment="page-scripts">
	<script th:src="@{/resources/js/pages/clients/client_edit.js}"></script>
</th:block>
</body>
</html>
