<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{clients/_base}">
<head>
    <title th:text="#{clients.title}">_Clients_</title>
    <link rel="stylesheet" th:href="@{/dist/css/clients-list.bundle.css}">
</head>
<body>
<th:block layout:fragment="page">
    <div class="col-md-12">
        <main role="main" property="mainContentOfPage">
            <h1 th:text="#{clients.title}">_Clients_</h1>
            <a id="add-link" href="/clients/create" th:href="@{/clients/create}" th:text="#{clients.add}"
               class="btn btn-sm btn-default hidden">_Add
                Client_</a>
            <table id="clientsTable" class="table table-striped table-hover"
                   data:clients="@{/clients/}"
                   data:url="@{/clients/ajax/list}">
                <thead>
                <tr th:inline="text">
                    <th data-data="id" width="20" id="id-header">[[#{iridaThing.id}]]</th>
                    <th data-data="clientId" width="160" id="clientid-header">[[#{client.clientid}]]</th>
                    <th data-data="grants" data-orderable="false" id="grants-header">[[#{client.grant-types}]]</th>
                    <th data-data="createdDate" id="created-header">[[#{iridaThing.timestamp}]]</th>
                    <th data-data="tokens" id="tokens-header" data-orderable="false">
                        [[#{client.details.token.active}]]
                    </th>
                </tr>
                </thead>
                <tbody id="client-table-body"></tbody>
            </table>
        </main>
    </div>
</th:block>
<th:block layout:fragment="page-scripts">
    <script th:src="@{/dist/js/clients-list.bundle.js}"></script>
</th:block>
</body>
</html>
