<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{clients.title}">_Clients_</title>
    <link rel="stylesheet" th:href="@{/dist/css/clients-list.bundle.css}" />
  </head>
  <body>
    <div layout:fragment="page" id="client-root" style="height: 100%;">
      <!-- Base react component found at : /webapp/resources/js/pages/clients/listing/ClientListingPage.jsx -->
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/clients-list.bundle.js}"></script>
    </th:block>
  </body>
</html>
