<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SRA - Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">


    </style>
    <style type="text/css">

    </style>
</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <a href="" th:href="@{${resetLink}}" th:text="#{email.reset.link}">RESET LINK HERE</a>
        </td>
    </tr>
</table>
</body>
</html>