<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{email.reset.activityItem}">_IRIDA Password Reset_</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style type="text/css"></style>
  </head>
  <body>
    <h1 th:text="#{email.reset.activityItem}">_IRIDA Password Reset_</h1>
    <p th:text="#{email.reset.description(${user.label})}">
      _A password reset was requested for bob@bobco.com._
    </p>
    <p th:text="#{email.reset.username(${user.username})}">
      _Your IRIDA username is bob._
    </p>
    <p>
      <span th:text="#{email.reset.resetLinkDescription}"
        >_To create a new password click the following link: _</span
      >
      <a
        href="#"
        th:text="#{email.reset.resetLink}"
        th:href="${serverURL}+'/password_reset/'+${passwordReset.id}"
        >_Create New Password_</a
      >
    </p>
    <p>
      <span th:text="#{email.welcome.verifykeydescription}"
        >_If the above link is not working, please go to the IRIDA Platform home
        page, click the Activate Account link, and enter the following key:
        _</span
      >
      <strong th:text="${passwordReset.id}">_XXXXX_</strong>
    </p>
  </body>
</html>
