<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.welcome.subject}">_Welcome to the IRIDA Platform_</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width"/>
<style type="text/css">
</style>
</head>
<body>
	<h1>_Recent Events_</h1>
	<p><span th:text="#{email.welcome.homepagedescription}">_The IRIDA Platform home page can be found at_</span> 
	<a href="#" th:href="${serverURL}" th:text="${serverURL}">_http://localhost:8080_</a></p>
<div>
	<p>_The following events have occured on your subscribed projects:_</p>
	<ul class="list-group">
      <li class="list-group-item" th:each="event : ${events}">
          <span th:replace="fragments/event :: ${event.name} (${event.event})"></span>
          <span class="event-date pull-right" th:text="${event.event.createdDate}"></span>
      </li>
      <li class="list-group-item" th:if="${#lists.isEmpty(events)}" th:text="#{event.no_activities}">
      </li>
  </ul>


</div>

</body>
</html>