<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/settings/_base}">
<head>
    <title th:text="#{project.associated.heading(${project.label})}"></title>
    <link rel="stylesheet" th:href="@{/dist/css/projects-associated-edit.bundle.css}">
</head>
<body>

<div th:object="${project}" layout:fragment="settings-content">
    <div class="row">
        <div class="col-md-10">
            <h2 class="h2-muted" th:text="#{project.associated.title}"></h2>
        </div>
        <a class="btn btn-sm btn-default pull-right" href="/projects/1/associated"
           th:href="@{/projects/{pid}/settings/associated(pid=${project.getId()})}" th:text="#{form.btn.done}">_Done_
        </a>
    </div>

    <div ng-controller="AssociatedTableCtrl as $ctrl">
        <div class="form-inline">
            <button id="filterBtn" class="btn btn-info"
                    ng-click="$ctrl.filter.isCollapsed = !$ctrl.filter.isCollapsed"
                    th:inline="text">
                <span class="fa fa-filter fa-fw"></span>
                [[#{project.associated.filter}]]
            </button>
            <div class="form-group">
                <select class="form-control" name="count" id="count" ng-model="$ctrl.filterCriteria.count"
                        ng-change="$ctrl.filterResult()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <label for="count" th:text="#{global.tables.select-page-size}">Select Page Size</label>
            </div>
        </div>
        <!-- TODO (Josh | 2016-09-02): This needs to be converted to a datatable -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th sort-by="" onsort="$ctrl.onSort" sortdir="$ctrl.filterCriteria.sortDir"
                    sortedby="$ctrl.filterCriteria.sortedBy"
                    sortValue="id" th:text="#{iridaThing.id}">_ID_
                </th>
                <th sort-by="" onsort="$ctrl.onSort" sortdir="filterCriteria.sortDir"
                    sortedby="filterCriteria.sortedBy"
                    sortValue="name" th:text="#{projects.table.name}">_Name_
                </th>
                <th sort-by="" onsort="$ctrl.onSort" sortdir="filterCriteria.sortDir"
                    sortedby="filterCriteria.sortedBy"
                    sortValue="organism" th:text="#{projects.table.organism}">_State_
                </th>
                <th sort-by="" onsort="$ctrl.onSort" sortdir="filterCriteria.sortDir"
                    sortedby="filterCriteria.sortedBy"
                    sortValue="createdDate" th:text="#{project.created}">_Created_
                </th>
                <th th:text="#{project.associated.table.associated}">_Associated_</th>
            </tr>
            <tr>
                <td id="table-filter" colspan="5">
                    <div class="row ng-cloak" uib-collapse="$ctrl.filter.isCollapsed">
                        <div class="form-group col-md-3">
                            <label for="name-filter" th:text="#{table.filter.name}">_Filter by Name_</label> <input
                                id="name-filter" name="name-filter" type="text"
                                class="form-control input-full"
                                ng-model="$ctrl.filterCriteria.name"/>
                        </div>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr class="associated-project-row" ng-repeat="project in $ctrl.associated">
                <td class="project-id" ng-bind="project.id"></td>
                <td class="project-name" ng-bind="project.name"></td>
                <td ng-bind="project.organism"></td>
                <td ng-bind="project.createdDate"></td>
                <td>
                    <input
                            bs-switch="bs-switch"
                            class="associated-switch"
                            ng-init="project.associated = !!project.associated"
                            ng-model="project.associated"
                            ng-change="$ctrl.updateAssociated(project)"
                            switch-size="mini"
                            type="checkbox"/>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="text-center" ng-hide="$ctrl.paging.totalPages &lt; 2">
            <ul uib-pagination=""
                boundary-links="true"
                total-items="$ctrl.paging.totalAssociated"
                max-size="8"
                ng-model="$ctrl.paging.page">
            </ul>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts" th:inline="javascript">
    <script>
      var PAGE = {
        urls: {
          local: {
            get: /*[[@{/projects/{id}/settings/associated/ajax/available(id=${project.getId()})}]]*/ '/projects/1/associated/ajax/available',
            add: /*[[@{/projects/{id}/settings/associated/(id=${project.getId()})}]]*/ '/projects/1/associated/',
            remove: /*[[@{/projects/{id}/settings/associated/remove(id=${project.getId()})}]]*/ "/projects/1/associated/"
          }
        }
      };
    </script>
    <script th:src="@{/dist/js/projects-associated-edit.bundle.js}"></script>
</th:block>
</body>
</html>