<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/settings/_base}">
<head>
    <title th:text="#{project.settings.page.title.basic}">Basic</title>
    <script th:inline="javascript">
      var PAGE = {
        i18n: {
          'error': /*[[#{project.settings.notifications.error}]]*/ '_Error updating project_',
          'not_set': /*[[#{project.settings.notset}]]*/ '_not set_'
        },
        urls: {
          'coverage': /*[[@{/projects/{id}/settings/coverage(id=${project.getId()})}]]*/ '/projects/1/settings/coverage',
          'deleteModal': /*[[@{/projects/{id}/settings/template/removeTemplateModal(id=${project.getId()})}]]*/ '/projects/1/setttings/template/removeTemplateModal'
        }
      };
    </script>
</head>
<body>
<th:block layout:fragment="settings-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-muted" th:text="#{project.settings.automated-pipelines}">_Automated Pipelines_</h2>
            
            <table class="table table-striped" th:if="${not analysisTemplates.isEmpty()}">
                <thead>
                   <th th:text="#{project.settings.automated.template.name}">_Pipeline name_</th>
                   <th th:text="#{project.settings.automated.template.type}">_Analysis type_</th>
                   <th th:if="${manageMembers}"></th>
                </thead>
                <tbody>
                    <tr th:each="template : ${analysisTemplates}" th:data-analysis="${template.id}">
                        <td th:text="${template.name}">_Name_</td>
                        <td th:text="${template.analysisType}">_type_</td>
                        <td th:if="${manageMembers}">
                            <button class="btn btn-xs btn-default analysis-remove"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-info" th:if="${analysisTemplates.isEmpty()}" th:text="#{project.settings.automated.empty}">_Add one below_</div>

            <a class="btn btn-default" href="/cart/pipelines" th:href="@{/cart/pipelines(automatedProject=${project.id})}" role="button" th:if="${manageMembers}">
                <i class="fas fa-plus"></i>
                <span th:text="#{project.settings.automated.create}">_Create new analysis_</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>

            <h2 class="h2-muted">Coverage
                <span>
            <button id="edit-coverage-btn" class="btn btn-xs btn-default edit-coverage" th:text="#{form.btn.edit}"
                    th:if="${manageMembers}">_Edit_</button>
            <button id="coverage-cancel" class="btn btn-default btn-xs edit-coverage" style="display: none"
                    type="button" th:text="#{form.btn.cancel}">_cancel_</button>
            <button id="coverage-save" class="btn btn-success btn-xs edit-coverage" style="display: none" type="button"
                    th:text="#{form.btn.update}">_save_</button>
        </span>
            </h2>

            <div class="form-group">
                <div id="display-coverage" class="row edit-coverage">
                    <div class="col-md-12">
                        <label for="minimum-coverage-display" th:text="#{project.settings.coverage.minimum_coverage}">_Required
                            Coverage_</label>
                        <span id="minimum-coverage-display" th:if="${project.minimumCoverage != NULL}"
                              th:text="${project.minimumCoverage} + 'x'"></span>
                        <span id="minimum-coverage-display" th:if="${project.minimumCoverage == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>

                    <div class="col-md-12">
                        <label for="maximum-coverage-display" th:text="#{project.settings.coverage.maximum_coverage}">_Required
                            Coverage_</label>
                        <span id="maximum-coverage-display" th:if="${project.maximumCoverage != NULL}"
                              th:text="${project.maximumCoverage} + 'x'"></span>
                        <span id="maximum-coverage-display" th:if="${project.maximumCoverage == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>

                    <div class="col-md-12">
                        <label for="genome-size-display" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <span id="genome-size-display" th:if="${project.genomeSize != NULL}"
                              th:text="${#numbers.formatInteger(project.genomeSize, 3, 'DEFAULT')} + 'bp'"></span>
                        <span id="genome-size-display" th:if="${project.genomeSize == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>
                </div>
                <div id="edit-coverage" class="form row edit-coverage" style="display: none">
                    <div class="col-md-12">
                        <label for="minimum-coverage" th:text="#{project.settings.coverage.minimum_coverage}">_Min
                            Coverage_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="minimum-coverage"
                                   th:value="${project.minimumCoverage}"/>
                            <div class="input-group-addon">x</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="maximum-coverage" th:text="#{project.settings.coverage.maximum_coverage}">_Max
                            Coverage_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="maximum-coverage"
                                   th:value="${project.maximumCoverage}"/>
                            <div class="input-group-addon">x</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="genome-size" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="genome-size" th:value="${project.genomeSize}"
                                   size="10"/>
                            <div class="input-group-addon">bp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeAnalysisTemplateModal" role="dialog" aria-labelledBy="#deleteConfirmTitle"></div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="@{/resources/js/pages/projects/project-settings-basic.js}"></script>
</th:block>

</body>
</html>
