<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/settings/_base}">
<head>
    <title th:text="#{project.settings.page.title.basic}">Basic</title>
    <script th:inline="javascript">
      var PAGE = {
        i18n: {
          'error': /*[[#{project.settings.notifications.error}]]*/ '_Error updating project_',
          'not_set': /*[[#{project.settings.notset}]]*/ '_not set_'
        },
        urls: {
          'assemble': /*[[@{/projects/{id}/settings/assemble(id=${project.getId()})}]]*/ '/projects/1/settings/assemble',
          'sistr': /*[[@{/projects/{id}/settings/sistr(id=${project.getId()})}]]*/ '/projects/1/settings/sistr',
          'coverage': /*[[@{/projects/{id}/settings/coverage(id=${project.getId()})}]]*/ '/projects/1/settings/coverage'
        }
      };
    </script>
</head>
<body>
<th:block layout:fragment="settings-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-muted" th:text="#{project.settings.automated-pipelines}">_Automated Pipelines_</h2>
            <div class="checkbox">
                <label>
                    <input id="assemble" type="checkbox" value="assemble" th:checked="${project.assembleUploads}"
                           th:disabled="not ${manageMembers}"/>
                    <span th:text="#{project.settings.assemble.control}">_Automatically assemble uploads_</span>
                </label>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label for="sistrTypingUploads">
                        <input type="checkbox" class="js-sistr-checkbox" id="sistrTypingUploads"
                               th:checked="${#strings.contains(project.sistrTypingUploads, 'AUTO')}"
                               name="sistrTypingUploads" value="OFF" th:disabled="not ${manageMembers}">
                        <span th:text="#{projects.create.settings.sistr}">_RUN_SISTR_</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label style="margin-left: 20px;" for="sistrWrites">
                        <input type="checkbox" class="js-sistr-writes" id="sistrWrites"
                               th:checked="${#strings.equals(project.sistrTypingUploads, 'AUTO_METADATA')}"
                               th:disabled="not ${#strings.contains(project.sistrTypingUploads, 'AUTO')}">
                        <span th:text="#{projects.create.settings.sistr.AUTO_METADATA}">_WRITE_BACK_TO_SAMPLE_METADATA_</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>

            <h2 class="h2-muted">Coverage
                <span>
            <button id="edit-coverage-btn" class="btn btn-xs btn-default edit-coverage" th:text="#{form.btn.edit}"
                    th:if="${manageMembers}">_Edit_</button>
            <button id="coverage-cancel" class="btn btn-default btn-xs edit-coverage" style="display: none"
                    type="button" th:text="#{form.btn.cancel}">_cancel_</button>
            <button id="coverage-save" class="btn btn-success btn-xs edit-coverage" style="display: none" type="button"
                    th:text="#{form.btn.update}">_save_</button>
        </span>
            </h2>


            <div class="form-group">
                <div id="display-coverage" class="row edit-coverage">
                    <div class="col-md-12">
                        <label for="minimum-coverage-display" th:text="#{project.settings.coverage.minimum_coverage}">_Required
                            Coverage_</label>
                        <span id="minimum-coverage-display" th:if="${project.minimumCoverage != NULL}"
                              th:text="${project.minimumCoverage} + 'x'"></span>
                        <span id="minimum-coverage-display" th:if="${project.minimumCoverage == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>

                    <div class="col-md-12">
                        <label for="maximum-coverage-display" th:text="#{project.settings.coverage.maximum_coverage}">_Required
                            Coverage_</label>
                        <span id="maximum-coverage-display" th:if="${project.maximumCoverage != NULL}"
                              th:text="${project.maximumCoverage} + 'x'"></span>
                        <span id="maximum-coverage-display" th:if="${project.maximumCoverage == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>

                    <div class="col-md-12">
                        <label for="genome-size-display" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <span id="genome-size-display" th:if="${project.genomeSize != NULL}"
                              th:text="${#numbers.formatInteger(project.genomeSize, 3, 'DEFAULT')} + 'bp'"></span>
                        <span id="genome-size-display" th:if="${project.genomeSize == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>
                </div>
                <div id="edit-coverage" class="form row edit-coverage" style="display: none">
                    <div class="col-md-12">
                        <label for="minimum-coverage" th:text="#{project.settings.coverage.minimum_coverage}">_Min
                            Coverage_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="minimum-coverage"
                                   th:value="${project.minimumCoverage}"/>
                            <div class="input-group-addon">x</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="maximum-coverage" th:text="#{project.settings.coverage.maximum_coverage}">_Max
                            Coverage_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="maximum-coverage"
                                   th:value="${project.maximumCoverage}"/>
                            <div class="input-group-addon">x</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="genome-size" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="genome-size" th:value="${project.genomeSize}"
                                   size="10"/>
                            <div class="input-group-addon">bp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="@{/resources/js/pages/projects/project-settings-basic.js}"></script>
</th:block>

</body>
</html>
