<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/settings/_base">
<head>
    <title th:text="#{project.settings.page.title.basic}">Basic</title>
    <script th:inline="javascript">
      var PAGE = {
        i18n: {
          'error': /*[[#{project.settings.notifications.error}]]*/ '_Error updating project_'
        },
        urls: {
          'assemble': /*[[@{/projects/{id}/settings/assemble(id=${project.getId()})}]]*/ '/projects/1/settings/assemble',
          'sistr': /*[[@{/projects/{id}/settings/sistr(id=${project.getId()})}]]*/ '/projects/1/settings/sistr',
          'coverage': /*[[@{/projects/{id}/settings/coverage(id=${project.getId()})}]]*/ '/projects/1/settings/coverage'
        }
      };
    </script>
</head>
<body>
<th:block layout:fragment="settings-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-muted" th:text="#{project.settings.automated-pipelines}">_Automated Pipelines_</h2>
            <div class="checkbox">
                <label>
                    <input id="assemble" type="checkbox" value="assemble" th:checked="${project.assembleUploads}"
                           th:disabled="not ${manageMembers}"/>
                    <span th:text="#{project.settings.assemble.control}">_Automatically assemble uploads_</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="sistr" type="checkbox" value="sistr" th:checked="${project.sistrTypingUploads}"
                          th:disabled="not ${manageMembers}"/>
                    <span th:text="#{project.settings.sistr.control}">_Automatically type uploads with SISTR_</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>

            <h2 class="h2-muted">Coverage
                <span>
            <button id="edit-coverage-btn" class="btn btn-xs btn-default edit-coverage" th:text="#{form.btn.edit}"
                    th:if="${manageMembers}">_Edit_</button>
            <button id="coverage-cancel" class="btn btn-default btn-xs edit-coverage" style="display: none"
                    type="button" th:text="#{form.btn.cancel}">_cancel_</button>
            <button id="coverage-save" class="btn btn-success btn-xs edit-coverage" style="display: none" type="button"
                    th:text="#{form.btn.update}">_save_</button>
        </span>
            </h2>


            <div class="form-group">
                <div id="display-coverage" class="row edit-coverage">
                    <div class="col-md-3">
                        <label for="required-coverage-display" th:text="#{project.settings.coverage.required_coverage}">_Required
                            Coverage_</label>
                        <span id="required-coverage-display" th:if="${project.minimumCoverage != NULL}"
                              th:text="${project.minimumCoverage} + 'x'"></span>
                        <span id="required-coverage-display" th:if="${project.minimumCoverage == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>

                    <div class="col-md-4">
                        <label for="genome-size-display" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <span id="genome-size-display" th:if="${project.genomeSize != NULL}"
                              th:text="${#numbers.formatInteger(project.genomeSize, 3, 'DEFAULT')} + 'bp'"></span>
                        <span id="genome-size-display" th:if="${project.genomeSize == NULL}"
                              th:text="#{project.settings.notset}">N/A</span>
                    </div>
                </div>
                <div id="edit-coverage" class="form row edit-coverage" style="display: none">
                    <div class="col-md-3">
                        <label for="required-coverage" th:text="#{project.settings.coverage.required_coverage}">_Required
                            Coverage_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="required-coverage"
                                   th:value="${project.minimumCoverage}"/>
                            <div class="input-group-addon">x</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="genome-size" th:text="#{project.settings.coverage.genome_size}">_Genome
                            Size_</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="genome-size" th:value="${project.genomeSize}"
                                   size="10"/>
                            <div class="input-group-addon">bp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
