<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{projects/settings/_base}"
>
  <head>
    <title th:text="#{project.settings.page.title.groups}">Title</title>
    <link
      rel="stylesheet"
      th:href="@{/dist/css/project-user-groups.bundle.css}"
    />
    <script th:inline="javascript">
      window.PAGE = {
        user: /*[[${session.user.getId()}]]*/ 1,
        canManage: /*[[${manageMembers}]]*/ false,
      };
    </script>
  </head>
  <body>
    <div id="groups-root" layout:fragment="settings-content"></div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/project-user-groups.bundle.js}"></script>
    </th:block>
  </body>
</html>
