<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{projects/settings/_base}"
>
  <head>
    <title th:text="#{project.settings.page.title.members}">Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/project-users.bundle.css}" />
    <script th:inline="javascript">
      window.PAGE = {
        canManage: /*[[${manageMembers}]]*/ false,
        urls: {
          addMember:
            /*[[@{/projects/{id}/settings/members(id=${project.getId()})}]]*/ "/projects/1/settings/members",
          usersLink: /*[[@{/users/}]]*/ "/users",
          deleteModal:
            /*[[@{/projects/settings/removeUserModal}]]*/ "/projects/settings/removeUserModal",
          removeMember:
            /*[[@{/projects/{id}/settings/members/(id=${project.getId()})}]]*/ "/projects/1/settings/members/2",
          usersSelection:
            /*[[@{/projects/{id}/settings/ajax/availablemembers(id=${project.getId()})}]]*/ "/projects/1/settings/ajax/availablemembers",
          updateRole:
            /*[[@{/projects/{id}/settings/members/editrole/(id=${project.getId()})}]]*/ "/projects/1/settings/members"
        }
      };
    </script>
  </head>
  <body>
    <div id="users-root" layout:fragment="settings-content">
      <!-- React component from src/main/webapp/resources/js/pages/projects/ProjectUsers.jsx -->
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/project-users.bundle.js}"></script>
    </th:block>
  </body>
</html>
