<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{projects/settings/_base}"
>
  <head>
    <title th:text="#{project.settings.page.title.members}">Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/project-users.bundle.css}" />
    <script th:inline="javascript">
      window.PAGE = {
        user: /*[[${session.user.getId()}]]*/ 1,
        canManage: /*[[${manageMembers}]]*/ false
      };
    </script>
  </head>
  <body>
    <div id="users-root" layout:fragment="settings-content">
      <!-- React component from src/main/webapp/resources/js/pages/projects/ProjectMembers.jsx -->
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/project-users.bundle.js}"></script>
    </th:block>
  </body>
</html>
