<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{projects/settings/_base}"
>
  <head>
    <title th:text="#{project.settings.page.title.basic}">Basic</title>
    <link
      rel="stylesheet"
      th:href="@{/dist/css/project-processing.bundle.css}"
    />
  </head>
  <body>
    <div layout:fragment="settings-content" id="process-root">
      <!-- Rendered by react from src/main/webapp/resources/js/pages/projects/processing/index.js -->
    </div>

    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/project-processing.bundle.js}"></script>
    </th:block>
  </body>
</html>
