<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{projects/settings/_base}"
>
<head>
    <meta charset="UTF-8" />
    <title th:text="#{ReferenceFile.title}">Title</title>
    <link rel="stylesheet" href="/dist/css/project-reference-files.bundle.css">
</head>
<body>
<div id="reference-files-root" layout:fragment="settings-content" >
    <div th:text="#{ReferenceFile.loading}">LOADING ...</div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/project-reference-files.bundle.js}"></script>
</th:block>
</body>
</html>