<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{projects/settings/_base}"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/dist/css/project-remote.bundle.css">
    <title th:text="#{ProjectRemoteSettings.title}">Title</title>
  </head>
  <body>
    <div id="project-remote-root" layout:fragment="settings-content" >
      <div th:text="#{ProjectRemote.loading}">LOADING ...</div>
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/project-remote.bundle.js}"></script>
    </th:block>
  </body>
</html>