<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{template/base}">
<head>
	<title th:text="#{password.activate}">_Activate Account_</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1 class="page-header" th:text="#{password.activate}">_Activate Account_</h1>
			<div class="col-md-6 wb-frmvld">
				<form role="form" action="#" th:action="@{/password_reset/activate}" method="post">
							<div class="form-group">
								<label class="control-label" th:text="#{password.reset.activationId}" for="activationId">_Activation Code_</label>
								<input type="text" id="activationId" name="activationId" class="form-control input-full" required="required" 
									th:placeholder="#{password.reset.activationId}" />
							</div>
						<button type="submit" class="btn btn-primary submit">Submit</button>
                      	<a class="btn btn-default" href="#" th:href="@{/}">Cancel</a>
				</form>
			</div>
			<div class="col-md-6">
				<p th:text="#{password.reset.activation.description}">_Enter your activation code_</p> 
			</div>
	</div>
</body>
</html>