<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="${themePath + '_base'}">
<head>
<title th:text="#{user.passwordReset}">_USER PAGE_</title>
</head>
<body>
<main layout:fragment="content" class="container main-area" role="main" property="mainContentOfPage">
    <h1 class="page-header" th:text="#{user.passwordReset}">_Reset User Password_</h1>
	<div class="col-md-6 wb-frmvld">
		<form role="form" action="/password_reset/1"
			th:action="@{/password_reset}" method="post">
					<div class="form-group">
						<label class="control-label" th:text="#{users.email}"	for="email">_Email_</label>
						<div th:if="${emailError}" th:text="#{password.reset.email.error}" class="alert alert-warning">_Email Error_</div>
						<input type="email" id="email" name="email" class="form-control input-full" required="required" 
							th:placeholder="#{users.email}" th:value="${email}"/>
					</div>
				<button type="submit" class="btn btn-primary submit">Reset Password</button>
              	<a class="btn btn-default" href="#" th:href="@{/}">Cancel</a>
		</form>
	</div>
	<div class="col-md-6">
		<p th:text="#{password.reset.email.description}">_Enter your email address_</p> 
	</div>
</main>
</body>
</html>