<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{user.passwordReset}">_USER PAGE_</title>
	<link rel="stylesheet" th:href="@{/dist/css/vendor.bundle.css}">
</head>
<body>
<main class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-offset-0 col-sm-12">
			<h1 class="page-header" th:text="#{user.passwordReset}">_Reset User Password_</h1>
			<div th:if="${mailSendError}" th:text="#{password.reset.email.send.error}" class="alert alert-danger">_Email
				Error_
			</div>
			<p class="lead" th:text="#{password.reset.email.description}">_Enter your email address_</p>
			<form role="form" action="/password_reset/1"
			      th:action="@{/password_reset}" method="post">
				<div class="form-group">
					<label class="control-label" th:text="#{users.email}" for="email">_Email_</label>
					<div th:if="${emailError}" th:text="#{password.reset.email.error}" class="alert alert-warning">
						_Email Error_
					</div>
					<input type="email" id="email" name="email" class="form-control input-full" required="required"
					       th:placeholder="#{users.email}" th:value="${email}"/>
				</div>
				<button type="submit" class="btn btn-primary submit">Reset Password</button>
				<a class="btn btn-default" href="#" th:href="@{/}">Cancel</a>
			</form>
		</div>
	</div>
</main>
</body>
</html>