<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="${user.label}">_USER PAGE_</title>
</head>
<body>
<div layout:fragment="page">
    <main class="col-md-12">
        <h1 class="page-header" th:text="#{password.reset.title(${user.label})}">_Reset User Password_</h1>
        <div class="panel-body t-reset-success">
            <p th:text="#{password.reset.success}">_Password was successfully changed._</p>
            <a href="/login" th:href="@{/}" th:text="#{password.reset.success.link}">Return to home</a>
        </div>
    </main>
</div>
</body>
</html>