<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="${themePath + '_page'}">
<head>
    <title th:text="${user.label}">_USER PAGE_</title>
</head>
<body>
<div layout:fragment="page">
    <main class="col-md-12">
        <h1 class="page-header" th:text="#{password.reset.title(${user.label})}">_Reset User
        Password_</h1>

        <div class="col-md-6 wb-frmvld">
            <form role="form" action="/password_reset/1"
                  th:action="@{/password_reset/{id}(id=${passwordReset.id})}" method="post">
                <div class="alert alert-warning"
                    th:if="${expired}" th:text="#{password.reset.password_expired}">_Your password has expired.  Please enter a new password._</div>
                <div class="form-group">
                    <label class="control-label" th:text="#{user.password}" for="password">_Password_</label>

                    <div th:if="${#maps.containsKey(errors, 'password')}" th:text="${errors.password}"
                         class="alert alert-warning">_Password Error_
                    </div>
                    <input type="password" id="password" name="password" class="form-control input-full"
                           required="required" th:placeholder="#{user.password}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" th:text="#{user.confirmPassword}" for="confirmPassword">_Confirm
                        Password_</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control input-full"
                           required="required" th:placeholder="#{user.confirmPassword}"/>
                </div>
                <button type="submit" class="btn btn-primary submit" th:text="#{form.password-set}">Set Password</button>
                <a class="btn btn-default" href="#" th:href="@{/}" th:text="#{form.btn.cancel}">Cancel</a>
            </form>
        </div>
        <div class="col-md-6" th:text="#{password.reset.description}">
            _This is where the reset description will go._
        </div>
    </main>
</div>
</body>
</html>