<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/wet-boew/wet-layout">
<head>
<title th:text="${user.label}">_USER PAGE_</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1 class="page-header" th:text="#{password.reset.title(${user.label})}">_Reset User Password_</h1>
			<div class="col-md-12">
				<div class="panel-body">
					<p th:text="#{password.reset.success}">_Password was successfully changed._</p>
					<a href="/" th:href="@{/}" th:text="#{password.reset.success.link}">Return to home</a>
				</div>
			</div>
	</div>

	<div layout:fragment="scripts" th:inline="javascript"></div>
</body>
</html>