<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.passwordReset}">_PASSWORD RESET_</title>
    <link rel="stylesheet" th:href="@{/dist/css/vendor.bundle.css}">
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-0 col-sm-12">
            <h1 class="page-header" th:text="#{user.passwordReset}">_Reset User Password_</h1>
            <p class="lead" th:text="#{password.reset.created.description}">_Password reset was created_</p>
            <div class="well">
                <p class="reset-desc" th:text="#{password.reset.created(${email})}">_Password reset submitted for
                    nobody@nowhere.com._</p>
                <a href="/" th:href="@{/}" th:text="#{password.reset.success.link}">_Return to home_</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>