<div layout:fragment="list">
    <div th:if="${ #lists.isEmpty( projects ) }" class="panel panel-default">
        <div class="panel-heading" th:text="${title}">Associated Projects</div>
        <div class="panel-body">
            <p th:text="#{project.associated.none}">This is an area to store similar projects that would be run together
                                                    on
                                                    a pipeline.</p>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty( projects ) }" class="list-group" id="associated-projects" th:inline="text">
        <b class="list-group-item" th:text="${title}"></b>
        <a th:each="project : ${projects}"
           th:class="${project.auth} == 'authorized' ? 'authorized list-group-item' : 'unauthorized list-group-item disabled'"
           th:href="${project.auth} == 'authorized' ? @{${project.id}} : '#'" th:disabled="${project.auth} == 'authorized' ? false : true">
            <span class="pull-right"><span th:class="${project.auth} == 'authorized' ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-lock'"></span></span>
            <span class="project-name" th:text="${project.name}"></span>
        </a>
    </div>

</div>
