<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"
          href="/resources/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/bower_components/Font-Awesome/css/font-awesome.min.css}"
          href="/resources/bower_components/Font-Awesome/css/font-awesome.min.css"/>
</head>
<body>
<div class="btn-toolbar btn-xs pull-right">
    <div class="btn-group">
        <btn id="saveBtn" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
             th:title="#{form.save.image}">
            <span class="fa fa-fw fa-save"></span>
            <span class="sr-only" th:text="#{form.save.image}">Save Image</span>
        </btn>
        <a class="btn btn-default" th:href="@{/analysis/ajax/download/{id}(id=${analysisSubmission.getId()})}" href="#"
           data-toggle="tooltip" data-placement="bottom" th:title="#{form.download-files}">
            <span class="fa fa-download fa-fw"></span>
            <span class="sr-only" th:text="#{form.download-files}">Download Files</span>
        </a>
    </div>
</div>
<div id="phyloSVG"></div>
<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"
        src="/resources/bower_components/jquery/dist/jquery.min.js"></script>
<script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"
        src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script th:src="@{/resources/bower_components/raphael/raphael-min.js}"
        src="/resources/bower_components/raphael/raphael-min.js"></script>
<script th:src="@{/resources/js/jsphylosvg-min.js}" src="/resources/js/jsphylosvg-min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var newick = /*[[${newick}]]*/ '';
    var phylo = new Smits.PhyloCanvas({'newick': newick}, 'phyloSVG', window.innerWidth, 800, 'circular');
    $('.btn').tooltip();

    $("#saveBtn").on('click', function () {
        var svgName = /*[[${analysisSubmission.name}]]*/ 'fred';
        var svg = document.getElementsByTagName("svg");
        var serializer = new XMLSerializer();
        var source = serializer.serializeToString(svg[0]);

        source = '<?xml version="1.0" standalone="no"?>\r\n' + source;
        source = encodeURIComponent(source);
        var url = /*[[@{/analysis/ajax/download/svg}]]*/ '/ajax/download/svg';
        url += '?svg=' + source + '&name=' + svgName;

        var a = document.createElement('a');
        a.href = url;
        a.setAttribute("download", svgName + ".svg");
        a.click();
    });


    /*]]>*/
</script>
</body>
</html>