<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"
          href="/resources/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/bower_components/Font-Awesome/css/font-awesome.min.css}"
          href="/resources/bower_components/Font-Awesome/css/font-awesome.min.css"/>
</head>
<body>
<div class="btn-toolbar btn-xs pull-right">
    <div class="btn-group">
        <a id="saveBtn" href="#" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                th:title="#{form.save.image}" th:attr="download=${analysisSubmission.name + '.svg'}">
            <span class="fa fa-fw fa-save"></span>
            <span class="sr-only" th:text="#{form.save.image}">Save Image</span>
        </a>
        <a class="btn btn-default" th:href="@{/analysis/ajax/download/{id}(id=${analysis.getId()})}" href="#"
           data-toggle="tooltip" data-placement="bottom" th:title="#{form.download-files}">
            <span class="fa fa-download fa-fw"></span>
            <span class="sr-only" th:text="#{form.download-files}">Download Files</span>
        </a>
    </div>
</div>
<div id="phyloSVG"></div>
<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"
        src="/resources/bower_components/jquery/dist/jquery.min.js"></script>
<script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"
        src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script th:src="@{/resources/bower_components/raphael/raphael-min.js}"
        src="/resources/bower_components/raphael/raphael-min.js"></script>
<script th:src="@{/resources/js/jsphylosvg-min.js}" src="/resources/js/jsphylosvg-min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var newick = /*[[${newick}]]*/ '';
    var phylo = new Smits.PhyloCanvas({'newick': newick}, 'phyloSVG', window.innerWidth, 800, 'circular');
    $('.btn').tooltip();

    (function() {
        //get svg element. NOTE: BUG in safari prevents this from downloading (not in webkit)
        var svg = document.getElementsByTagName("svg");
        console.log(svg);
        var serializer = new XMLSerializer();
        var source = serializer.serializeToString(svg[0]);

        if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
            source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
        }
        if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
            source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
        }

        source = '<?xml version="1.0" standalone="no"?>\r\n' + source;
        var url = "data:image/svg+xml;base64,"+btoa(source);
        document.getElementById("saveBtn").href = url;
    })();


    /*]]>*/
</script>
</body>
</html>