<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
  <title th:text="#{project.export.table.title}">SRA</title>
    <link rel="stylesheet" th:href="@{/dist/css/ncbi-exports.bundle.css}">
</head>

<body>
<main id="root" layout:fragment="page" style="height: 100%">
</main>

<th:block layout:fragment="scripts">
  <script th:src="@{/dist/js/ncbi-exports.bundle.js}"></script>
</th:block>
</body>

</html>
