<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page"
      ddl:bundle-includes="ncbi-exports"
      ddl:asset-css-excludes="jquery.datatables">
<head>
  <title th:text="#{project.export.table.title}">SRA</title>
  <script th:inline="javascript">
  		var PAGE = {
  			"URLS": {
  				"projectBase": /*[[@{/projects/}]]*/ "/projects/1/export/",
          "userBase": /*[[@{/projects/}]]*/ "/projects/1/export/"
  			}
  		};
  	</script>
</head>

<body>
<main layout:fragment="page">
  <h1 th:text="#{project.export.table.title}">_Project Exports_</h1>
  <table id="exportTable" dt:table="true" dt:url="@{/ajax/export/list}" dt:filterPlaceholder="none" dt:filterable="false" dt:sortable="false">
    <thead>
      <tr role="row">
        <th dt:property="identifier" th:text="#{iridaThing.id}" dt:renderFunction="ncbi-exports#exportsTable.createLinkButton"></th>
        <th dt:property="bioSampleFiles" th:text="#{project.export.table.samples}" dt:renderFunction="datatables-utils#datatable.displayListSize"></th>
        <th dt:property="project" th:text="#{project.export.table.project}" dt:renderFunction="ncbi-exports#exportsTable.createProjectLink"></th>
        <th dt:property="uploadState" th:text="#{project.export.table.state}"></th>
        <th dt:property="createdDate" th:text="#{iridaThing.timestamp}" dt:renderFunction="datatables-utils#datatable.formatDate"></th>
      </tr>
    </thead>
  </table>
</main>
</body>

</html>
