<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/_base}">

<head>
  <title th:text="#{project.export.sidebar.title}">SRA</title>
  <link rel="stylesheet" th:href="@{/dist/css/sample-files.bundle.css}">
</head>

<body>

  <div layout:fragment="main">
    <main class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <b class="panel-title" th:text="#{project.export.sidebar.title}">_Export_</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <dl class="col-md-6">
                  <dt th:text="#{iridaThing.id}">_ID_</dt>
                  <dd th:text="${submission.getId()}">_1_</dd>
                </dl>
                <dl class="col-md-6">
                  <dt th:text="#{project.export.status}">_Upload Status_</dt>
                  <dd id="upload-status" th:text="${submission.uploadState}"></dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-md-6">
                  <dt th:text="#{project.export.submitter}">_Submitter_</dt>
                  <dd><a href="#" th:href="@{/users/{id}(id=${submission.submitter.id})}" th:text="${submission.submitter.label}"></a></dd>
                </dl>
                <dl class="col-md-6">
                  <dt th:text="#{iridaThing.timestamp}">_Created_</dt>
                  <dd th:text="${#calendars.format(submission.getCreatedDate(), 'dd MMM yyyy')}"></dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-md-6">
                  <dt th:text="#{project.export.bioproject.title}">_BioProject ID_</dt>
                  <dd th:text="${submission.bioProjectId}"></dd>
                </dl>
                <dl class="col-md-6">
                  <dt th:text="#{project.export.organization.title}">_organization_</dt>
                  <dd th:text="${submission.organization}"></dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-md-6">
                  <dt th:text="#{project.export.namespace.title}">_Namespace ID_</dt>
                  <dd th:text="${submission.ncbiNamespace}"></dd>
                </dl>
                <dl class="col-md-6">
                  <dt th:text="#{project.export.release_date.title}">_Release date_</dt>
                  <dd th:text="${submission.releaseDate}"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <b class="panel-title" th:text="#{project.export.files}">_Samples_</b>
            </div>
            <ul class="list-group">
              <li class="list-group-item" th:each="sample : ${submission.bioSampleFiles}">
                <div class="row">
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.biosample.title}">_BioSample ID_</dt>
                    <dd th:text="${sample.bioSample}"></dd>
                  </dl>
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.status}">_Export Status_</dt>
                    <dd th:text="${sample.submissionStatus}"></dd>
                  </dl>
                </div>
                <div class="row">
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.accession}">_NCBI Accession_</dt>
                    <dd th:text="${sample.accession}"></dd>
                  </dl>

                  <dl class="col-md-6">
                    <dt th:text="#{project.export.library_name.title}">_Library Name_</dt>
                    <dd th:text="${sample.libraryName}"></dd>
                  </dl>
                </div>
                <div class="row">
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.instrument_model.title}">_Instrument Model_</dt>
                    <dd th:text="${sample.instrumentModel.value}"></dd>
                  </dl>

                  <dl class="col-md-6">
                    <dt th:text="#{project.export.library_strategy.title}">_Library Strategy_</dt>
                    <dd th:text="${sample.libraryStrategy.value}"></dd>
                  </dl>
                </div>
                <div class="row">
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.library_selection.title}">_Library Selection_</dt>
                    <dd th:text="${sample.librarySelection.value}"></dd>
                  </dl>

                  <dl class="col-md-6">
                    <dt th:text="#{project.export.library_source.title}">_Library Source_</dt>
                    <dd th:text="${sample.librarySource.value}"></dd>
                  </dl>
                </div>
                <div class="row">
                  <dl class="col-md-6">
                    <dt th:text="#{project.export.library_construction_protocol.title}">_Library Construction Protocol_</dt>
                    <dd th:text="${sample.libraryConstructionProtocol}"></dd>
                  </dl>
                </div>

                <!-- Files -->
                <table class="table">

                  <!--/* (15-03-26 ) PAIRED END DATA */-->
                  <th:block>
                    <th:block th:each="pair : ${sample.pairs}">
                      <tr class="paired_end paired_end__forward">
                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getForwardSequenceFile()},icon='forward', relative='false')"></td>
                      </tr>
                      <tr class="paired_end paired_end__reverse">
                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getReverseSequenceFile()},icon='reverse')"></td>
                      </tr>
                    </th:block>
                  </th:block>

                  <!--/* (15-03-26 ) SINGLE END DATA */-->
                  <th:block>
                    <tr class="single_end" th:each="file : ${sample.files}">
                      <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${file},file=${file.getSequenceFile()},icon='single')"></td>
                    </tr>
                  </th:block>
                </table>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

  </div>
  <th:block layout:fragment="page-scripts">
    <th:block layout:fragment="pageScripts"></th:block>
  </th:block>
</body>

</html>
