<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="projects/_base"
      ddl:bundle-includes="ncbi-exports"
      ddl:asset-css-excludes="jquery.datatables">
<head>
  <title th:text="#{project.export.table.title}">SRA</title>
  <script th:inline="javascript">
  		var PAGE = {
  			"URLS": {
  				"exportBase": /*[[@{/projects/{pid}/export/(pid=${project.id})}]]*/ "/projects/1/export/"
  			}
  		};
  	</script>
</head>

<body>
  <div layout:fragment="main">
    <main class="col-md-12" role="main" property="mainContentOfPage">
      <h1 th:text="#{project.export.table.title}"></h1>
      <table id="exportTable" dt:table="true" dt:url="@{/ajax/projects/{id}/export/list(id=${project.id})}" dt:filterPlaceholder="none" dt:pageable="false" dt:filterable="false" dt:sortable="false">
        <thead>
          <tr role="row">
            <th dt:property="identifier" th:text="#{iridaThing.id}" dt:renderFunction="ncbi-exports#exportsTable.createLinkButton"></th>
            <th dt:property="bioSampleFiles" th:text="#{project.export.table.samples}" dt:renderFunction="datatables-utils#datatable.displayListSize"></th>
            <th dt:property="uploadState" th:text="#{project.export.table.state}"></th>
            <th dt:property="createdDate" th:text="#{iridaThing.timestamp}" dt:renderFunction="datatables-utils#datatable.formatDate"></th>
          </tr>
        </thead>
      </table>
    </main>
  </div>
</body>

</html>
