<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{projects/export/_base}">

<head>
  <title th:text="#{project.export.title}"></title>
  <link rel="stylesheet" th:href="@{/dist/css/project-ncbi-export.bundle.css}">
  <link rel="stylesheet" th:href="@{/dist/css/sample-files.bundle.css}">
</head>

<body>
  <main layout:fragment="main">
    <div class="container">
      <div class="row">
        <h1 th:text="#{project.export.title}">_NCBI Export_</h1>
      </div>
      <div class="row">
        <h2 th:text="${project.label}">_project id_</h2>
      </div>
      <div class="alert alert-info row" role="alert">
        <p th:utext="#{project.export.files.description}">_Info_</p>
      </div>
      <form id="submissionForm" class="metadata-form">
        <div class="form-group row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="bioProject" th:text="#{project.export.bioproject.title}">_BioProject ID_</label>
              <input class="form-control" id="bioProject" required="required" />
              <p class="help-block" th:text="#{project.export.bioproject.description}">_BioProject to add data to_</p>
            </div>
            <div class="form-group col-md-6">
              <label for="organization" th:text="#{project.export.organization.title}">_Organization_</label>
              <input class="form-control" id="organization" required="required" />
              <p class="help-block" th:text="#{project.export.organization.description}">_Name of organization__</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="namespace" th:text="#{project.export.namespace.title}">_SRA Namespace_</label>
              <input class="form-control" id="namespace" required="required" th:value="${defaultNamespace}"/>
              <p class="help-block" th:text="#{project.export.namespace.description}">_Namespace used for identifier creation_</p>
            </div>
            <div class="form-group col-md-6">
              <label for="release-date" th:text="#{project.export.release_date.title}">_Release Date_</label>
              <div class="input-group" ng-controller="DatePickerControl as picker">
                <input type="text" id="release_date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="picker.dt" is-open="picker.opened" ng-required="true" close-text="Close" required="required" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="picker.open($event)"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </span>
              </div>
              <p class="help-block" th:text="#{project.export.release_date.description}">_When data will be released_</p>
            </div>
          </div>
        </div>
        
        <div class="form-group row" th:with="dateFormat=#{locale.date.short}">
          <h3 class="control-label" th:text="#{project.export.samples}">Samples</h3>
          <p class="help-block" th:utext="#{project.export.apply-all-hint}">_apply all hint_</p>
          <div class="horizontal-scroll">
            <table class="table table-striped sample-details-table">
              <thead>
                <th></th>
                <th>
                  <label th:text="#{project.export.biosample.title}">_BioSample ID_</label>
                  <a data-toggle="modal" data-target="#bioSampleHelp"
                    href="#bioSampleHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.library_name.title}">_Library Name_</label>
                  <a data-toggle="modal" data-target="#libraryNameHelp"
                    href="#libraryNameHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.library_strategy.title}">_Library Strategy_</label>
                  <a data-toggle="modal" data-target="#strategyHelp"
                    href="#strategyHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.library_source.title}">_Library Source_</label>
                  <a data-toggle="modal" data-target="#sourceHelp"
                    href="#sourceHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.library_construction_protocol.title}">_Library Construction Protocol_</label>
                  <a data-toggle="modal" data-target="#constructionHelp"
                    href="#constructionHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.instrument_model.title}">_Instrument Model_</label>
                  <a data-toggle="modal" data-target="#modelHelp"
                    href="#modelHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
                <th>
                  <label th:text="#{project.export.library_selection.title}">_Library Selection_</label>
                  <a data-toggle="modal" data-target="#selectionHelp"
                    href="#selectionHelp"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></a>
                </th>
              </thead>
              <tbody>
                <div th:each="sample : ${samples}" th:id="${'sample-' + sample.id}" th:with="hasPaired=${#maps.containsKey(sample.files, 'paired_end') and #sets.size(sample.files.paired_end) &gt; 0},
                  hasSingles=${#maps.containsKey(sample.files, 'single_end') and #sets.size(sample.files.single_end) &gt; 0}">
                  <tr class="sample-container" th:attr="data-sample=${sample.id}" th:if="${hasPaired or hasSingles}">
                    <td>
                      <a class="sample-name" href="#" th:href="@{/projects/{id}/samples/{sid}(id=${project.getId()},sid=${sample.id})}" th:text="${sample.name}"></a>
                      <button type="button" data:uib-tooltip="#{form.btn.remove}" class="btn btn-danger btn-xs remove-button"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                      <input class="form-control bioSample" name="bioSample" required="required" />
                    </td>
                    <td>
                      <input class="form-control library_name" name="library_name" th:value="${sample.name}" required="required" />
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-control library_strategy" name="library_strategy" required="required">
                          <option th:each="sel : ${library_strategy}" th:value="${sel}" th:text="${sel.value}">_Strategy_</option>
                        </select>
                        <div class="input-group-addon">
                          <a class="apply-all" data-type="library_strategy" href="#">
                            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-control library_source" name="library_source" required="required">
                          <option th:each="sel : ${library_source}" th:value="${sel}" th:text="${sel.value}">)_Source_</option>
                        </select>
                        <div class="input-group-addon">
                          <a class="apply-all" data-type="library_source" href="#">
                            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control library_construction_protocol" name="library_construction_protocol" required="required" />
                        <div class="input-group-addon">
                          <a class="apply-all" data-type="library_construction_protocol" href="#">
                            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-control instrument_model" name="instrument_model" required="required">
                          <option th:each="instr : ${instrument_model}" th:value="${instr}" th:text="${instr.value}">_Instrument_</option>
                        </select>
                        <div class="input-group-addon">
                          <a class="apply-all" data-type="instrument_model" href="#">
                            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-control library_selection" name="library_selection" required="required">
                          <option th:each="sel : ${library_selection}" th:value="${sel}" th:text="${sel.value}">)_Selection_</option>
                        </select>
                        <div class="input-group-addon">
                          <a class="apply-all" data-type="library_selection" href="#">
                            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </div>
              </tbody>  
            </table>
          </div>
        </div>
            
        <div class="row">
          <h3 class="control-label" th:text="#{project.export.files}">Files</h3>
          
          <div th:id="${'files-' + sample.id}" th:attr="data-sample=${sample.id}" th:each="sample : ${samples}"
              th:with="hasPaired=${#maps.containsKey(sample.files, 'paired_end') and #sets.size(sample.files.paired_end) &gt; 0},
              hasSingles=${#maps.containsKey(sample.files, 'single_end') and #sets.size(sample.files.single_end) &gt; 0}">
            <div th:if="${hasPaired or hasSingles}">
              <h4>
                <a class="sample-file-name" href="#" th:href="@{/projects/{id}/samples/{sid}(id=${project.getId()},sid=${sample.id})}" th:text="${sample.name}"></a>
              </h4>

              <th:block>
                <div class="alert alert-danger empty-file-warning" role="alert">
                  <p th:text="#{project.export.warning.select}">_One or more files must be selected for upload_</p>
                </div>
                <table class="table" th:if="${hasPaired or hasSingles}">

                  <!--/* (15-03-26 ) PAIRED END DATA */-->
                  <th:block th:if="${hasPaired}" th:with="pairs=${sample.files.paired_end}">
                    <th:block th:each="pair : ${pairs}">
                      <tr class="paired_end paired_end__forward">
                        <td class="td_radio" rowspan="2">
                          <!--/* (15-03-26 ) Checked only if it is the first pair in the set. */-->
                          <input type="checkbox" class="paired_files file-checkbox" data-type="paired_end" th:value="${pair.getId()}" th:name="${sample.id}" th:checked="${#sets.contains(newestPairs, pair.getId())}" />
                        </td>
                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getForwardSequenceFile()},icon='forward', relative='false')"></td>
                      </tr>
                      <tr class="paired_end paired_end__reverse">
                        <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${pair},file=${pair.getReverseSequenceFile()},icon='reverse')"></td>
                      </tr>
                    </th:block>
                  </th:block>

                  <!--/* (15-03-26 ) SINGLE END DATA */-->
                  <th:block th:if="${hasSingles}" th:with="files=${sample.files.single_end}">
                    <tr class="single_end" th:each="file : ${files}" th:with="file=${file}">
                      <td class="td_radio">
                        <!--/* (15-03-26 ) Checked only if there are no pairs and it is the first one in the file set */-->
                        <input type="checkbox" class="single_files file-checkbox" data-type="single_end" th:value="${file.getId()}" th:name="${sample.id}" th:checked="${#sets.contains(newestSingles, file.getId())}" />
                      </td>
                      <td th:replace="templates/_sequenceFile :: sequenceFileTableLayout (object=${file},file=${file.getSequenceFile()},icon='single')"></td>
                    </tr>
                  </th:block>
                </table>

              </th:block>
            </div>
            <div class="alert alert-warning sample-no-files" role="alert" th:text="#{project.export.warning.nofiles(${sample.name})}" th:if="${!hasPaired and !hasSingles}">No files</div>
            <hr/>
          </div>
        </div>
        <button id="submit" class="btn btn-primary" th:text="#{global.btn.submit}">_Submit_</button>
      </form>
      
      <!-- Help popups -->
            
      <div class="modal fade" id="bioSampleHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.biosample.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:text="#{project.export.biosample.description}">_biosample to add data to_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="libraryNameHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.library_name.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.library_name.description}">_name of sequencing library_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="strategyHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.library_strategy.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.library_strategy.description}">_strategy used to create sequencing library_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="sourceHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.library_source.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.library_source.description}">_library source_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="constructionHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.library_construction_protocol.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.library_construction_protocol.description}">_protocol used ot create library_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="modelHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.instrument_model.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.instrument_model.descripton}">_instrument used to sequence data_</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="selectionHelp" role="dialog" aria-labelledby="#Help">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="Help" th:text="#{project.export.library_selection.title}">_Help_</h4>					
            </div>
            <div class="modal-body">
              <p class="help-block" th:utext="#{project.export.library_selection.description}">_how data for library was selected_</p>
            </div>
          </div>
        </div>
      </div>
    </div>
          
  </main>
  
  <th:block layout:fragment="scripts" th:inline="javascript">
    <script>
      $("#submissionForm").submit(function(event) {

        $(".empty-file-warning").hide();

        var single = [];
        var paired = [];

        var bioProject = $('#bioProject').val();
        var namespace = $('#namespace').val();
        var organization = $('#organization').val();
        var release_date = $('#release_date').val();

        var samples = [];

        $(".sample-container").each(function() {
          var sample = $(this);
          
          var sampleId = sample.data("sample");

          var form = sample.find(".metadata-form");

          var data = {};
          var sampleElements = ["bioSample", "instrument_model", "library_name", "library_construction_protocol", "library_strategy", "library_selection", "library_source"];

          var paired = [];
          var single = [];

          sampleElements.forEach(function(ele) {
            data[ele] = sample.find("." + ele).val();
          });
          
          var filesContainer = $("#files-"+sampleId);

          filesContainer.find('.paired_files:checked').each(function() {
            paired.push($(this).val());
          });

          filesContainer.find('.single_files:checked').each(function() {
            single.push($(this).val());
          });

          if (paired.length + single.length == 0) {
            sample.find(".empty-file-warning").show();
          }

          data.single = single;
          data.paired = paired;

          samples.push(data);

        });

        var submission = {
          bioProject: bioProject,
          organization: organization,
          namespace: namespace,
          release_date: release_date,
          samples: samples
        };

        $.ajax({
          type: "POST",
          url: /*[[@{/projects/{id}/export/ncbi(id=${project.id})}]]*/ '/projects/1/export/ncbi',
          contentType: 'application/json',
          data: JSON.stringify(submission),
          success: function(data, textStatus, jqXHR) {
            var url = /*[[@{/projects/{id}/export/(id=${project.id})}]]*/ '/export/';
            url = url + data.submissionId;
            window.location = url;
          }
        });
      });

      /**
      * Remove the parent sample
      */
      $(".remove-button").on("click", function(){
        var sampleContainer = $(this).closest(".sample-container");
        var sampleId = sampleContainer.data("sample");
        
        sampleContainer.remove();
        
        $("#files-"+sampleId).remove();

        checkNumberValidSamples();

      });
      
      $(".apply-all").on("click", function(){
        var that = $(this);
        var type = that.data("type");
        
        var value = that.closest(".input-group").find("."+type).val();
        
        $("."+type).val(value);
      });

      /**
      * Check how many valid samples exist and show remove button if needed
      */
      function checkNumberValidSamples(){
        //If there's only one sample, remove the remove button.  we can't have an empty submission
        if($(".sample-container").size() == 1){
          $(".remove-button").remove();
        }
      }

      /*
       * Disable the submit button if nothing is selected
       */
      $(document).ready(function() {
        $(".empty-file-warning").hide();
        checkNumberValidSamples();
      });

      function disableSubmit(fileBoxes, submitButton) {
        if (fileBoxes.is(":checked")) {
          submitButton.removeAttr("disabled");
        } else {
          submitButton.attr("disabled", "disabled");
        }
      }

      /*
       * Angular controller for the date picker widget
       */
      (function() {
        const ncbiModule = angular.module('irida.ncbi', []).controller("DatePickerControl", function () {
          var vm = this;

          vm.dt = /*[[${#calendars.format(#dates.createToday(),'YYYY-MM-dd')}]]*/ "2015-08-24";
          vm.opened = false;

          vm.open = function (e) {
            e.preventDefault();
            e.stopPropagation();
            this.opened = true;
          };

        }).name;

        angular.module("irida").requires.push(ncbiModule);

      })();
    </script>
  </th:block>
</body>

</html>
