/* line 1, ../../../../styles/themes/wet/components/_modals.scss */
.modal-content {
  background-color: #eeeeee;
  border: 1px solid #555555;
}

/* line 6, ../../../../styles/themes/wet/components/_modals.scss */
.modal-header {
  background-color: #428bca;
}
/* line 8, ../../../../styles/themes/wet/components/_modals.scss */
.modal-header h2 {
  color: #ffffff;
}
/* line 11, ../../../../styles/themes/wet/components/_modals.scss */
.modal-header small {
  color: #eeeeee;
}

/* line 16, ../../../../styles/themes/wet/components/_modals.scss */
.modal-footer {
  margin-top: 0;
  padding: 20px;
}

/* line 1, ../../../../styles/themes/wet/components/_forms.scss */
.select2-container, input[type=text] {
  width: 100%;
}

/* line 6, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.menu {
  z-index: 600;
}
/* line 8, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.menu > .pull-right ul {
  position: absolute;
  right: 0;
}

/* line 14, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.subnav {
  z-index: 500;
}

/* line 18, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.main-area {
  background-color: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding-top: 1em;
}

/* line 26, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.has-error label {
  color: #d9d34f;
}

/* line 31, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label + span.wb-date-wrap {
  display: block;
  width: 100%;
}
/* line 35, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
span.wb-date-wrap .input-full {
  width: auto;
  display: inline-block;
}

/* line 42, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label {
  margin-top: 5px;
}

/* line 6, ../../../../styles/themes/wet/main.scss */
body {
  background-color: white;
}

/* line 10, ../../../../styles/themes/wet/main.scss */
.navbar.subnav {
  margin-bottom: 0;
}
