/* line 6, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.menu > .pull-right ul {
  position: absolute;
  right: 0; }

/* line 11, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.main-area {
  background-color: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

/* line 18, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.has-error label {
  color: #d9d34f; }

/* line 23, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label + span.wb-date-wrap {
  display: block;
  width: 100%; }
/* line 27, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
span.wb-date-wrap .input-full {
  width: auto;
  display: inline-block; }

/* line 34, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label {
  margin-top: 5px; }

/* line 4, ../../../../styles/themes/wet/main.scss */
body {
  background-color: white; }
