/* line 6, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.menu > .pull-right ul {
  position: absolute;
  right: 0; }

/* line 11, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
main.container {
  background-color: white; }

/* line 16, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
.has-error label {
  color: #d9d34f; }

/* line 21, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label + span.wb-date-wrap {
  display: block;
  width: 100%; }
/* line 25, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
span.wb-date-wrap .input-full {
  width: auto;
  display: inline-block; }

/* line 32, ../../../../styles/themes/wet/helpers/_wet-overrides.scss */
label {
  margin-top: 5px; }

/* line 4, ../../../../styles/themes/wet/main.scss */
body {
  background-color: white; }
