.templates-option {
  display: flex;
  justify-content: space-between;
}

.templates-option--name {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-select-selection-selected-value {
  width: 100%;
}

.ant-select-dropdown-menu-item button,
.ant-select-selection-selected-value .templates-option--field-count {
  display: none;
}

.ag-grid-tool-panel {
  background-color: rgba(245, 247, 247, 1);
  min-height: 100%;
  padding: 1rem;
  margin-right: 20px;
  border-right: 1px solid #bdc3c7;
  overflow-x: hidden;
  width: 230px;

  .ant-checkbox-wrapper {
    font-weight: normal;
  }
}

.ant-layout-sider-collapsed .ag-grid-tool-panel {
  display: none;
}

.ag-grid-tool-panel--buttons {
  background-color: rgba(245, 247, 247, 1);
  border-left: 1px solid #bdc3c7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
}

.ag-grid-tool-panel--button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-right: 1px solid #bdc3c7;
  color: rgba(0, 0, 0, 0.54);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  width: 100px;
  transform: rotate(90deg) translateY(-20px);
  transform-origin: 0 0;
  font-size: 12px;
}

.ag-grid-table-wrapper {
  box-sizing: border-box;
  height: 600px;
  width: 100%;
}
