.announcement-dd {
    width: 200px;
}

.announcement-dd .ant-btn-link {
    color: #001529 !important;
}

.announcement-dd .ant-btn-link:hover {
    /*Can we pick this color up from the theme?*/
    color: #40a9ff !important;
}

.announcement-dd .ant-menu-sub {
    background-color: white !important;
}

.announcement-dd .ant-menu-item {
    height: auto !important;
    whiteSpace: normal !important;
    lineHeight: 1em !important;
    background-color: white !important;
}

.announcement-dd .ant-menu-item-divider {
    background-color: #001529 !important;
}
