.main-navigation {
  display: flex;
  align-content: center;
  height: 64px;
}

.dark-theme.main-navigation {
  background-color: #001529;
}

.light-theme.main-navigation {
  background-color: #ffffff;
}

.main-navigation header {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
}

.main-navigation .ant-menu-item-active {
  background-color: transparent;
}

.main-navigation .anticon {
  font-size: 20px !important;
}

.dark-theme .main-navigation .anticon,
.dark-theme .main-navigation .ant-menu-title-content a {
  color: var(--grey-100);
}

.light-theme .main-navigation .anticon,
.light-theme .main-navigation .ant-menu-title-content a {
  color: var(--grey-900);
}

.main-navigation .ant-menu-title-content a {
  font-weight: 600;
  font-size: 1.5rem;
}

.dark-theme .main-navigation .ant-menu-title-content a:hover {
  color: var(--grey-000);
}

.light-theme .main-navigation .ant-menu-title-content a:hover {
  color: var(--grey-800);
}

.main-navigation .accessory-menu {
  margin-left: 30px;
}
