<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">

<head>
  <title th:text="#{event.admin.title}">_ALL EVENTS_</title>
    <link rel="stylesheet" th:href="@{/dist/css/activities.bundle.css}">
</head>

<body>
<div class="row" layout:fragment="page">
    <main class="container" role="main" property="mainContentOfPage">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{event.admin.title}">_Recent Activities_</h1>
                <events data:url="@{/events/all}"></events>
            </div>
        </div>
    </main>
</div>

  <th:block layout:fragment="scripts">
    <script th:src="@{/dist/js/activities.bundle.js}"></script>
  </th:block>
</body>

</html>
