<div data-ng-controller="LandingCtrl">
    <div id="nav-main" class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">NGS Archive</a>
            <ul class="nav pull-right">
                <li><a class="logoutBtn" href="#" data-ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="outer">
        <div class="sidebar">
            <div class="sidebar--projects" data-ng-controller="ProjectsListCtrl">
                <ul data-ng-repeat="p in projects">
                    <li data-ng-click="gotoProject(p.links.self)">
                        <div>
                            <i class="icon-folder-close"></i>&nbsp;
                            <span>{{p.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main" ui-view=""></div>
    </div>
    <script type="text/javascript">(function () {
        var e = "176", a = g("nav-main"), d = document.getElementsByClassName("outer")[0], c = document.getElementsByClassName("sidebar")[0], b = document.getElementsByClassName("main")[0];
        window.onresize = f;
        function f() {
            var j = window.innerHeight - a;
            var i = window.innerWidth;
            d.style.width = i + "px";
            d.style.height = j + "px";
            c.style.height = j + "px";
            c.style.width = e + "px";
            b.style.height = j + "px";
            b.style.width = i - e + "px"
        }

        function g(h) {
            var j, i;
            if (document.all) {
                j = parseInt(document.getElementById(h).currentStyle.height, 10);
                i = parseInt(document.getElementById(h).currentStyle.marginTop, 10) + parseInt(document.getElementById(h).currentStyle.marginBottom, 10)
            } else {
                j = parseInt(document.defaultView.getComputedStyle(document.getElementById(h), "").getPropertyValue("height"), 10);
                i = parseInt(document.defaultView.getComputedStyle(document.getElementById(h), "").getPropertyValue("margin-top")) + parseInt(document.defaultView.getComputedStyle(document.getElementById(h), "").getPropertyValue("margin-bottom"))
            }
            return j + i
        }

        f()
    })();
    </script>
</div>
