<div data-ng-controller="LandingCtrl">
    <!--<div id="nav-main" class="navbar navbar-static-top navbar-inverse">-->
        <!--<div class="navbar-inner">-->
            <!--<a class="brand" href="/landing">NGS Archive</a>-->
            <!--<ul class="nav pull-right">-->
                <!--<li><a class="logoutBtn" href="#" data-ng-click="logout()">Logout</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="outer">
        <div class="sidebar">
            <div id="sidebar-top">
                <p>NGS Archive</p>
            </div>
            <div class="sidebar-inner" data-ng-controller="ProjectsListCtrl">
                <ul>
                    <li data-ng-repeat="p in projects" data-ng-click="gotoProject($event, p.links.self)">
                        <div>
                            <i class="icon-tasks"></i>&nbsp;
                            <span>{{p.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="sidebar-bottom">
                <h4>Josh Adam</h4>
                <span><i class="icon-cog"></i>&nbsp;Settings</span>
                <span data-ng-click="logout()"><i class="icon-off"></i>&nbsp;Logout</span>
            </div>
        </div>
        <div class="main" ui-view=""></div>
    </div>
    <script type="text/javascript">
        (function () {
            var SIDEBAR_W = '176',

                    OUTER = document.getElementsByClassName('outer')[0],
                    SIDEBAR = document.getElementsByClassName('sidebar')[0],
                    CONTENT = document.getElementsByClassName('main')[0],
                    SIDEBAR_TOP_H = getTotalHeight('sidebar-top'),
                    SIDEBAR_BODY = document.getElementsByClassName('sidebar-inner')[0],
                    SIDEBAR_BOTTOM_H = getTotalHeight('sidebar-bottom');


            window.onresize = adjustWindow;
            function adjustWindow() {
                var h = window.innerHeight;
                var w = window.innerWidth;

                OUTER.style.width = w + 'px';
                OUTER.style.height = h + 'px';

                SIDEBAR.style.height = h + 'px';
                SIDEBAR.style.width = SIDEBAR_W + 'px';
                SIDEBAR_BODY.style.height = ( h - SIDEBAR_BOTTOM_H - SIDEBAR_TOP_H ) + 'px';

                CONTENT.style.height = h + 'px';
                CONTENT.style.width = w - SIDEBAR_W + 'px';
            }

            function getTotalHeight(elmID) {
                var elmHeight, elmMargin;
                if (document.all) { // IE
                    elmHeight = parseInt(document.getElementById(elmID).currentStyle.height, 10);
                    elmMargin = parseInt(document.getElementById(elmID).currentStyle.marginTop, 10);
                }
                else { // Mozilla
                    elmHeight = parseInt(document.defaultView.getComputedStyle(document.getElementById(elmID), '').getPropertyValue('height'), 10);
                    elmMargin = parseInt(document.defaultView.getComputedStyle(document.getElementById(elmID), '').getPropertyValue('margin-top')) + parseInt(document.defaultView.getComputedStyle(document.getElementById(elmID), '').getPropertyValue('margin-bottom'));
                }
                return elmHeight + elmMargin;
            }

            adjustWindow();
        })();
    </script>
</div>
