<div data-ng-controller="LandingCtrl">
    <div class="outer">
        <div class="sidebar">
            <div id="sidebar-top">
                <p>NGS Archive</p>
                <div class="">
                    <input type="search" class="sidebar-search" data-ng-model="search.project" placeholder="project search" />
                </div>
            </div>
            <div class="sidebar-inner" data-ng-controller="ProjectsListCtrl">
                <ul>
                    <li data-ng-repeat="p in projects | filter:{name: search.project}" data-ng-click="gotoProject($event, p.links.self)">
                        <div>
                            <i class="icon-tasks"></i>&nbsp;
                            <span>{{p.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="sidebar-bottom">
                <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                <span class="dropup" data-ng-click="settings.toggleSettings()">
                    <a class="dropdown-toggle"><i class="icon-cog"></i>&nbsp;Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Link</a></li>
                    </ul>
                </span>
                <span data-ng-click="logout()"><i class="icon-off"></i>&nbsp;Logout</span>
            </div>
        </div>
        <div class="main" ui-view=""></div>
    </div>
    <script type="text/javascript">
        (function () {
            var f = "176", e = $(".outer"), d = $(".sidebar"), a = $(".main"), h = $("#sidebar-top").outerHeight(), c = $(".sidebar-inner"), b = $("#sidebar-bottom").outerHeight();
            window.onresize = g;
            function g() {
                d.width(f);
                var j = window.innerHeight;
                var i = window.innerWidth;
                e.width(i);
                d.height(j);
                c.height(j - b - h);
                a.width(i - f);
                a.height(j);
                e.height(j)
            }

            g()
        })();
    </script>
</div>
