<div class="login-outer">
    <div class="login" ng-controller="LoginCtrl">

        <h2>NGS Archive</h2>
        <form name="loginForm" novalidated="true">
            <p>
                <label for="username" class="">Username</label>
                <input id="username" name="username" required="required" type="text" autofocus="true"
                       placeholder="username" ng-model="username"/>
            </p>

            <p>
                <label for="password" class=""> Your password </label>
                <input id="password" name="password" required="required" type="password" ng-model="password"
                       placeholder="eg. X8df!90EO"/>
            </p>

            <div ng-show="showError" class="error">Invalid login credentials.</div>
            <button class="btn btn-large btn-primary" data-ng-class="{disabled: !loginForm.$valid}" ng-click="login()">Login
            </button>
        </form>
    </div>
</div>
