<div class="section-container accordion" data-section="accordion" data-options="deep_linking: true" ngs-section="">
    <section data-ng-repeat="s in project.samples">
        <p class="title" data-section-title=""><a data-ng-click="loadSample(s)">{{s.label}}</a></p>

        <div class="content">
            <div data-ng-switch="" on="samples[s.label].loaded">
                <div class="spinner" data-ng-switch-default="">
                </div>
                <div data-ng-switch-when="loaded">
                    loaded
                </div>
            </div>
        </div>
    </section>
</div>
