<div id="section-top" class="large-container" data-ng-controller="ProjectSamplesCtrl">
    <table class="sample-table table">
        <tr data-ng-repeat="s in project.samples" data-ng-click="gotoSample($event, s.links.self)">
            <td><i class="icon-beaker"></i>&nbsp;&nbsp;{{ s.label }}</td>
            <td class="file-date">{{ s.dateCreated | angularMoment }}</td>
        </tr>
    </table>
</div>

<div ui-view="">

</div>
<script type="text/javascript">
//    $(document).ready(function () {
//        NGS_SPACE.resizePageSection($(window).innerHeight());
//    });
</script>