<!--<div class="row">-->
    <div class="large-12 columns" data-ng-controller="ProjectsListCtrl as pCtrl">
        <ul class="card-holder" infinite-scroll='pCtrl.loadMore()'
            infinite-scroll-distance='1'>
            <!--<li>-->
                <!--<div class="card new-card" ng-click="pCtrl.openModal()">-->
                    <!--<i class="icon-plus"></i>-->
                <!--</div>-->
            <!--</li>-->
            <li data-ng-repeat="project in projects">
                <!-- todo: do not use links[0] -->
                <div class="card" data-ng-click="pCtrl.gotoProject(project.links[0].href)">
                    <h2>{{project.name}}</h2>
                    <span ng-bind="project.dateCreated | date: 'd MMM yyyy'"></span>

                    <p class="hide-for-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur
                        consequuntur dolorum hic modi
                        molestias omnis quia quibusdam! Aut beatae delectus deserunt eum expedita id ipsa quae
                        repudiandae saepe
                        similique.</p>
                </div>
            </li>
        </ul>
        <div th:substituteby="fragments/projects/new-project-modal"></div>
    </div>
<!--</div>-->