<div class="container-fluid" data-ng-controller="ProjectCtrl">
    <h2>{{ project.name }}</h2>
    <h4>{{ project.dateCreated | angularMoment }}</h4>

    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills ngs-pills">
                <li data-ng-class="{true: 'active'}[data.view == 'samples']"><a href=""
                                                                                data-ng-click="changeProjectView('samples')">Samples</a>
                </li>
                <li data-ng-class="{true: 'active'}[data.view == 'files']"><a href=""
                                                                              data-ng-click="changeProjectView('files')">Files</a>
                </li>
                <li data-ng-class="{true: 'active'}[data.view == 'users']"><a href=""
                                                                              data-ng-click="changeProjectView('users')">Users</a>
                </li>
                <li class="dropdown active psettings pull-right"><a class="dropdown-toggle" href=""><i
                        class="icon-cog"></i> Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href=""><i class="icon-copy"></i> Duplicate Project</a></li>
                        <li><a href=""><i class="icon-trash"></i> Delete Project</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div ui-view=""></div>
    </div>
</div>
