<div class="container-fluid" data-ng-controller="ProjectCtrl">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{project.name}}</a>
            <ul class="nav">
                <li data-ng-class="{true: 'active'}[data.view == 'samples']"><a href=""
                                                                                data-ng-click="changeProjectView('samples')">Samples</a>
                </li>
                <li data-ng-class="{true: 'active'}[data.view == 'files']"><a href="" data-ng-click="changeProjectView('files')">Files</a>
                </li>
                <li data-ng-class="{true: 'active'}[data.view == 'users']"><a href="" data-ng-click="changeProjectView('users')">Users</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle"><i class="icon-cog"></i> Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href="" data-ng-click="deleteProject()"><i class="icon-trash"></i> Delete Project</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--<h4>{{project.date | date: 'mediumDate'}}</h4>-->

    <div class="row-fluid">
        <div ui-view=""></div>
    </div>
</div>
