<div class="main-content" data-ng-controller="ProjectsListCtrl">
    <div class="sidebar">

        <span class="title-area"><a class="ngs-button" data-ng-click="toggleProjectList($event)"><i
                class="icon-reorder"></i></a>
        </span>

        <div class="sidebar__body">
            <h2>Projects</h2>
            <ul>
                <li data-ng-repeat="p in projects" data-ng-click="gotoProject(p.links[0].href)">{{p.name}}</li>
            </ul>
        </div>
        <div class="sidebar__rotated">Projects</div>
    </div>
    <div class="detailed-content">
        <nav class="main top-bar">
            <ul class="title-area">
                <li class="name"><h1><a href="/projects">NGS Archive</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#" ng-click="toggleDD()"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li><a ng-click="logout()" href="#">Logout</a></li>
                </ul>
            </section>
        </nav>
        <!--<div ui-view=""></div>-->

        <div class="row">
            <div class="large-12 columns">
                <div class="section-container tabs" data-section="tabs">
                    <section>
                        <p class="title" data-section-title=""><a href="#">Section 1</a></p>
                        <div class="content" data-section-content="">
                            <p>Content of section 1.</p>
                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title=""><a href="#">Section 2</a></p>
                        <div class="content" data-section-content>
                            <p>Content of section 2.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>