<div data-ng-controller="SampleCtrl">
    <div class="row-fluid">
        <h1>{{data.sample.sampleName}}</h1>

        <h3>Date Created: {{data.sample.dateCreated | angularMoment}}</h3>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <tbody>
                <tr data-ng-repeat="f in data.sequenceFiles">
                    <td><a href="" data-ng-click="downloadFile($event, f, 'sample/sequenceFile/fasta')">{{f.label}}</a></td>
                    <td class="file-date">{{f.dateCreated | angularMoment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>