<!--/*
The 'th:with's below require some explanation.  They are used to
create <a href...> tags for the user and project which can then be used in a
internationalization message.  4 variables are created:
    userHref = the href to the user in the event
    userLink = the <a> tag which uses the userHref variable
    projectHref = the href to the project
    projectLink = the <a> tag using the projectHref
These created variables are then used as parameters to a message so that they
can be internationalized.
*/-->

<th:block class="event-text" th:fragment="user-role-event (event)">
    <div class="event-icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
    <div class="event-content user-role-event"
        th:with="userHref=@{/users/{uid}(uid=${event.user.getId()})},
        userLink=${'&lt;a href='+ userHref +'&gt;'+ event.user.label +'&lt;/a&gt; '},
        projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
        projectLink=${'&lt;a href='+ projectHref +' &gt;'+ event.project.label +'&lt;/a&gt; '}">
        <span th:utext="#{event.user_added(${userLink},#{'projectRole.'+${event.role}},${projectLink})}"></span></div>
</th:block>

<th:block class="event-text" th:fragment="user-removed-event (event)">
    <div class="event-icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
    <div class="event-content user-removed-event"
            th:with="userHref=@{/users/{uid}(uid=${event.user.getId()})},
            userLink=${'&lt;a href='+ userHref +'&gt;'+ event.user.label +'&lt;/a&gt; '},
            projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
            projectLink=${'&lt;a href='+ projectHref +' &gt;'+ event.project.label +'&lt;/a&gt; '}"
            th:utext="#{event.user_removed(${userLink},${projectLink})}"></div>
</th:block>

<th:block class="event-text" th:fragment="sample-added-event (event)">
    <div class="event-icon"><i class="fa fa-flask fa-fw" aria-hidden="true"></i></div>
    <div class="event-content sample-added-event"
            th:with="sampleHref=@{/projects/{pid}/samples/{sid}/sequenceFiles(sid=${event.sample.getId()}, pid=${event.project.getId()})},
            sampleLink=${'&lt;a href='+ sampleHref +'&gt;'+ event.sample.label +'&lt;/a&gt; '},
            projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
            projectLink=${'&lt;a href='+ projectHref +'&gt;'+ event.project.label +'&lt;/a&gt; '}">
            <span th:utext="#{event.sample_added(${sampleLink},${projectLink})}"></span></div>
</th:block>

<th:block class="event-text" th:fragment="sample-removed-event (event)">
    <div class="event-icon"><i class="far fa-trash-alt fa-fw" aria-hidden="true"></i></div>
    <div class="event-content sample-removed-event"
            th:with="projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
            projectLink=${'&lt;a href='+ projectHref +'&gt;'+ event.project.label +'&lt;/a&gt; '}">
            <span th:utext="#{event.sample_removed(${event.sampleName},${projectLink})}"></span></div>
</th:block>

<th:block class="event-text" th:fragment="data-added-event (event)">
    <div class="event-icon"><i class="far fa-file"></i></div>
    <div class="event-content data-added-event"
            th:with="sampleHref=@{/projects/{pid}/samples/{sid}/sequenceFiles(sid=${event.sample.getId()}, pid=${event.project.getId()})},
            sampleLink=${'&lt;a href='+ sampleHref +'&gt;'+ event.sample.label +'&lt;/a&gt; '},
            projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
            projectLink=${'&lt;a href='+ projectHref +'&gt;'+ event.project.label +'&lt;/a&gt; '}">
            <span th:utext="#{event.data_added(${sampleLink},${projectLink})}"></span></div>
</th:block>

<th:block class="event-text" th:fragment="user-group-role-event (event)">
    <div class="event-icon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></div>
    <div class="event-content user-role-event"
        th:with="groupHref=@{/groups/{groupId}(groupId=${event.userGroup.getId()})},
        groupLink=${'&lt;a href='+ groupHref +'&gt;'+ event.userGroup.label +'&lt;/a&gt; '},
        projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
        projectLink=${'&lt;a href='+ projectHref +' &gt;'+ event.project.label +'&lt;/a&gt; '}">
        <span th:utext="#{event.group_added(${groupLink},#{'projectRole.'+${event.role}},${projectLink})}"></span></div>
</th:block>

<th:block class="event-text" th:fragment="user-group-removed-event (event)">
    <div class="event-icon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></div>
    <div class="event-content user-removed-event"
        th:with="groupHref=@{/groups/{groupId}(groupId=${event.userGroup.getId()})},
        groupLink=${'&lt;a href='+ groupHref +'&gt;'+ event.userGroup.label +'&lt;/a&gt; '},
        projectHref=@{/projects/{pid}(pid=${event.project.getId()})},
        projectLink=${'&lt;a href='+ projectHref +' &gt;'+ event.project.label +'&lt;/a&gt; '}">
        <span th:utext="#{event.group_removed(${groupLink},${projectLink})}"></span></div>
</th:block>