.phylogenomics {
  background-color: rgba(30, 170, 241, 1.0)!important;
  color: #222!important;
}
.assembly-annotation {
  background-color: rgba(205, 218, 73, 1.0)!important;
  color: #222!important;
}
.assembly-annotation-collection {
  background-color: rgba(253, 192, 47, 1.0)!important;
  color: #222!important;
}