/* line 1, ../../../styles/pages/analyses-list.scss */
.progress {
  height: 2px !important;
}

/* line 5, ../../../styles/pages/analyses-list.scss */
tr td {
  vertical-align: middle !important;
}

/* line 9, ../../../styles/pages/analyses-list.scss */
.crop {
  max-width: 250px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
