.auto-analysis-status {
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
  border-radius: 4px;
}

.auto-analysis-status__title {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.auto-analysis-status__entry {
  color: #595959;
  &:first-of-type {
    margin-bottom: 5px;
  }
  strong {
    font-size: 14px;
    color: #262626;
  }
}

.auto-analysis-status__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  border-top: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  height: 46px;
}
