.btn input[type=checkbox] {
  margin: 0 !important;
}

.selection-heading {
  width: 40px !important;
}

.counts {
  line-height: 2rem;
  height: 2rem;
}

tbody {
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

td input[type="checkbox"] {
  margin-left: 11px;
}

.project-checkboxes {
  border: 1px solid red;
}

.project-checkboxes label {
  border: 1px solid chartreuse;
  display: inline-block;
  width: 49.5%;
  margin: 0 !important;
}

.associated-projects-table tr {
  cursor: pointer;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.associated-projects-table tr.selected, .associated-projects-table tr.selected a {
  background-color: #337ab7 !important;
  color: white !important;
}

.associated-projects-table .checkbox {
  margin-top: 0 !important;
}

.associated-projects-table td {
  vertical-align: top;
}
