.container {
  width: 1300px !important; }

table tr th {
  vertical-align: top !important; }

.yadcf-filter-reset-button {
  display: none !important; }

.yadcf-filter-wrapper {
  display: block !important; }

.table-cell-override {
  width: 200px !important;
  wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
