.paired_end,
.single_end,
.file_info,
.assembly_sample_info {
  background-color: #F3F3F3;
  td {
    border: none !important;
  }
}

.assembly_sample_info {
  .td_icon {
    background-color: #133b54;
    color: #F3F3F3;
  }

  .assembly_row {
    border: 1px solid #133b54;
  }
}

.paired_end {
  .td_radio {
    border: 1px solid #133b54 !important;
    vertical-align: middle;
    text-align: center;
  }
  .td_icon {
    background-color: #133b54;
    color: #F3F3F3;
    vertical-align: middle;
    text-align: center;
  }
}

.paired_end__forward {
  border: 1px solid #133b54;
  border-bottom: none;
}

.paired_end__reverse {
  border: 1px solid #133b54;
  border-top: none;
}

.paired_end__assembly {
  border: 1px solid #133b54;
}

.paired_end__sistr_typing {
  border: 1px solid #133b54;
}

.file__qc {
  border: 1px solid #133b54;
}

.qc_icon,
.assembly_sample_icon {
  vertical-align: middle !important;
}

.assembly_sample_icon {
  background-color: #133b54;
  color: #F3F3F3;
  vertical-align: middle;
  text-align: center;
}

.qc_list {
  margin-bottom: 0px;
}

.sequence_spacer {
  border-top: 1px solid #133b54 !important;
}

.single_end {
  border: 1px solid #3092D0;
  .td_icon {
    background-color: #3092D0;
  }
  .td_radio {
    vertical-align: middle;
    text-align: center;
  }
}

.file_info,
.assembly_sample_info {
  border: 1px solid #133b54;
}

.sidebar-content {
  width: 130px;
  white-space: normal;
  margin: 1rem auto 0 auto;
}

.alert-icon-motion {
  animation: move-up-down 2s infinite;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.flexed {
  display: flex;
}

.panel-file-upload .panel-body {
  h3 {
    margin-top: 0 !important;
  }
  .alert-info {
    margin: 0 !important;
    padding: 2px 5px !important;
  }
  .progress {
    margin-right: 0.5em !important;
  }
}

.file-upload-progress,
.file-upload-crunching,
.file-upload-error {
  display: none !important;
}

.file-upload-crunching,
.file-upload-error,
.file-upload-error {
  padding-bottom: 15px;
}

.file-upload-progress.fadeIn {
  display: flex !important;
  h3 {
    margin-top: 0 !important;
  }
}

.file-upload-crunching.fadeIn,
.file-upload-error.fadeIn {
  display: block !important;
}

.modal-body .alert {
  margin: 7px 0 !important;
  padding: 0 14px !important;
}

.modal-body .alert label {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  font-weight: normal;
}

.progress {
  margin-bottom: 0;
  flex-grow: 2;
  margin-right: 1em;
}

.seq-file {
  display: flex;
  justify-content: center;
}

.seq-file_name {
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
}

.seq-file_size {
  width: 100px;
}

.seq-file_remove {
  width: 30px;
}

.uploaded-file-name {
  text-align: left !important;
  color: #222;
  font-weight: bold;
}

table.fast5 {
  background-color: #F3F3F3;
  border: 2px solid #3092D0;
}

tr.fast5_row {
  border: 1px solid #3092D0;
}

.fast5_icon {
  background-color: #3092D0;
  text-align: center;
  vertical-align: middle !important;
}