@-webkit-keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
@-moz-keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
@keyframes move-up-down {
  0% {
    transform: translate3d(0, -65px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 0, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -65px, 0px); } }
@-webkit-keyframes glow {
  from {
    background-color: #3092d0; }
  50% {
    background-color: #83bee3; }
  to {
    background-color: #3092d0; } }
@-moz-keyframes glow {
  from {
    background-color: #3092d0; }
  50% {
    background-color: #83bee3; }
  to {
    background-color: #3092d0; } }
@-webkit-keyframes glow {
  from {
    background-color: #3092d0; }
  50% {
    background-color: #83bee3; }
  to {
    background-color: #3092d0; } }
.glow {
  -webkit-animation: glow .5s .2s 1;
  -moz-animation: glow .5s .2s 1;
  animation: glow .5s .2s 1; }

/*
  Subtle fade in effect that move the element up 20px and fades it into view
*/
.fade-in {
  transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  opacity: 1;
  top: 0; }

.fade-in.ng-hide {
  top: 20px;
  opacity: 0; }

.fade-in.ng-hide-add {
  display: none; }

.fade-in.ng-hide-remove-active {
  display: block !important; }

.paired_end .td_radio {
  border: 2px solid #133B54;
  vertical-align: middle;
  text-align: center; }
.paired_end .td_icon {
  background-color: #133B54;
  color: #f3f3f3;
  vertical-align: middle;
  text-align: center; }

.paired_end__forward {
  border: 2px solid #133B54;
  border-bottom: none; }

.paired_end__reverse {
  border: 2px solid #133B54;
  border-top: none; }

.single_end {
  border: 2px solid #3092d0; }
  .single_end .td_icon {
    background-color: #3092d0; }

.sidebar-content {
  width: 130px;
  white-space: normal;
  margin: 1rem auto 0 auto; }

.alert-icon-motion {
  animation: move-up-down 2s infinite; }
