<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{analyses.user.page-title}">_Analyses_</title>
    <link rel="stylesheet" th:href="@{/dist/css/analyses-table.bundle.css}">
</head>
<body>
<div class="col-md-12" layout:fragment="page">
    <h1 th:text="#{${userList} ? 'analyses.user.page-title' : 'analyses.admin.page-title'}">_Analyses_</h1>
    <th:block th:replace="analyses/analyses-table :: table"/>
</div>
<th:block layout:fragment="scripts">
    <th:block th:replace="analyses/analyses-table :: scripts"/>
</th:block>
</body>
</html>
