<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{analyses.user.page-title}">_Analyses_</title>
    <link rel="stylesheet" th:href="@{/dist/css/analyses.bundle.css}" />
    <script th:inline="javascript">
      window.PAGE = {
        canManage: /*[[${isAdmin}]]*/ true,
        url: /*[[@{/ajax/analyses/list?admin={isAdmin}(isAdmin=${all})}]]*/ "",
      };
    </script>
  </head>
  <body>
    <div
            id="root"
            style="height: 100%; min-height: 100%"
            layout:fragment="page"
    ></div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/analyses.bundle.js}"></script>
    </th:block>
  </body>
</html>
