<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="table">
    <table id="analyses" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th data-data="id" width="10" th:text="#{analyses.id}">ID</th>
            <th data-data="state" width="40" data-name="analysisState" th:text="#{analyses.state}">_State_</th>
            <th data-data="name" width="100" th:text="#{analyses.analysis-name}">_Name_</th>
            <th data-data="workflow" width="80" data-orderable="false" th:text="#{analyses.type}">_Workflow_</th>
            <th data-data="submitter" width="80" th:text="#{analyses.submitter}">_Submitter_</th>
            <th data-data="createdDate" width="60" th:text="#{analysis.date-created}">_Created Date_</th>
            <th data-data="duration" width="40" data-orderable="false" th:text="#{analysis.duration}">_Duration_</th>
            <th data-data="buttons" width="20"></th>
        </tr>
        </thead>
    </table>

    <div class="hidden" id="filterBtnWrapper">
        <div class="btn-toolbar dt-filter-btns" role="toolbar">
            <div class="btn-group btn-group-sm">
                <button id="openFilterModal" class="btn btn-default" data-toggle="modal" data-target="#filterModal"
                        th:text="#{analysis.filter.title}">
                    _FILTER_
                </button>
            </div>
            <div class="btn-group btn-group-sm" id="clear-filters">
                <button id="clearFilterBtn" class="btn" th:text="#{form.btn.clear}">Clear</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterModal" role="dialog" tabindex="-1" aria-labelledby="#filterTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="filterTitle" th:text="#{analysis.filter.title}">_Advanced Analysis
                        Filters_</h4>
                </div>
                <div class="modal-body">
                    <form id="filterForm" name="filterForm">
                        <div class="form-group">
                            <label th:text="#{analysis.filter.name}">_name_</label>
                            <input autofocus="autofocus" type="text" id="nameFilter" name="name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="analysisStateFilter" th:text="#{analysis.filter.state}">_Analysis State_</label>
                            <select id="analysisStateFilter" name="analysisState" class="form-control">
                                <option value="" th:text="#{analysis.filter.select.all}">_Select_</option>
                                <option th:each="state : ${states}" th:value="${state}"
                                        th:text="#{'analysis.state.' + ${state}}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{analyses.type}">_Workflows_</label>
                            <select id="workflowIdFilter" name="workflowId" class="form-control">
                                <option value="" th:text="#{analysis.filter.select.all}">_Select_</option>
                                <option th:each="workflow : ${analysisTypes}" th:value="${workflow}"
                                        th:text="#{'workflow.' + ${workflow} + '.title'}"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button tabindex="-1" type="button" class="btn btn-default" data-dismiss="modal"
                            th:text="#{form.btn.close}"></button>
                    <button id="filterAnalysesBtn" type="submit" class="btn btn-primary" data-dismiss="modal"
                            th:text="#{analysis.filter.button}">_Filter_
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmModal" role="dialog" aria-labelledby="#deleteConfirmTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data:aria-label="#{form.btn.close}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteConfirmTitle" th:text="#{analysis.delete.title}">_Confirm delete
                        analysis_</h4>
                </div>
                <div class="modal-body">
                    <p th:text="#{analysis.delete.confirm.message}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{form.btn.close}">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-analysis-button"
                            th:text="#{analysis.delete.delete.button}">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <div id="popover-template" class="popover" role="tooltip">
            <div class="arrow"></div>
            <h3 class="popover-title"></h3>
            <div class="popover-content"></div>
        </div>
    </div>
</th:block>


<th:block th:fragment="batch-download">
    <div id="app">
        <span>
            <i class="fa fa-spinner fa-spin fa-2x spaced-left__sm" aria-hidden="true"></i>
            <th:block th:text="#{analysis.batch-download.loading}"></th:block>
        </span>
    </div>
</th:block>


<th:block th:fragment="scripts">
    <script th:inline="javascript">
      window.PAGE = Object.assign(window.PAGE || {}, {
        URLS: {
          base: /*[[@{/}]]*/ '/',
          analyses: /*[[@{${ajaxURL}}]]*/ "",
          analysis: /*[[@{/analysis/}]]*/ "",
          download: /*[[@{/analysis/ajax/download/}]]*/ "",
          deleteUrl: /*[[@{/analysis/ajax/delete/}]]*/ ""
        },
        i18n: {
          unexpectedDeleteError: /*[[#{analysis.delete.unexpected.exception}]]*/ "",
          "analysis.details.joberror.standardOutput": /*[[#{analysis.details.joberror.standardOutput}]]*/ "STDOUT",
          "analysis.details.joberror.standardError": /*[[#{analysis.details.joberror.standardError}]]*/ "STDERR",
          "analysis.joberror.popover.goto-submission": /*[[#{analysis.joberror.popover.goto-submission}]]*/ "GOTO SUBMISSION {0}",
          "analysis.joberror": /*[[#{analysis.joberror}]]*/ "JOBERROR",
          "analysis.joberror.popover.truncated-output": /*[[#{analysis.joberror.popover.truncated-output}]]*/ "TRUNCATED",
          "analysis.joberror.popover.click-to-show": /*[[#{analysis.joberror.popover.click-to-show}]]*/ "CLICK IT"
        },
        projectId: /*[[${ project?.getId()?.toString() }]]*/ '666',
      });
    </script>
    <script th:src="@{/dist/js/analyses-table.bundle.js}"></script>
</th:block>


<th:block th:fragment="batch-download-scripts">
    <script th:inline="javascript">
      window.PAGE = Object.assign(window.PAGE || {}, {
        URLS: {
          base: /*[[@{/}]]*/ '/',
          analyses: /*[[@{${ajaxURL}}]]*/ "",
          sharedAnalyses: /*[[@{/analysis/ajax/project/{projectId}/shared-analysis-outputs(projectId=${project?.getId()?.toString()})}]]*/ "",
          automatedAnalyses: /*[[@{/analysis/ajax/project/{projectId}/automated-analysis-outputs(projectId=${project?.getId()?.toString()})}]]*/ ""
        },
        projectId: /*[[${ project?.getId()?.toString() }]]*/ '666',
        page: /*[[${ page }]]*/ 'shared',
        i18n: {
          "sample.sampleName": /*[[#{sample.sampleName}]]*/ "SAMPLE NAME",
          "bc.file": /*[[#{bc.file}]]*/ "FILE",
          "analysis.table.type": /*[[#{analysis.table.type}]]*/ "ANALYSIS TYPE",
          "analysis.table.version.unknown": /*[[#{analysis.table.version.unknown}]]*/ "UNKNOWN VERSION",
          "analysis.table.name.unknown": /*[[#{analysis.table.name.unknown}]]*/ "UNKNOWN NAME",
          "pipeline": /*[[#{pipeline}]]*/ "PIPELINE",
          "analysis-submission": /*[[#{analysis-submission}]]*/ "ANALYSIS SUBMISSION",
          "analysis.date-created": /*[[#{analysis.date-created}]]*/ "CREATED",
          "form.download": /*[[#{form.download}]]*/ "DOWNLOAD",
          "project.export.submitter": /*[[#{project.export.submitter}]]*/ "SUBMITTER",
          "error.request.status-code": /*[[#{error.request.status-code}]]*/ "STATUS CODE",
          "error.request.url": /*[[#{error.request.url}]]*/ "REQUEST URL",
          "error.request.status-text": /*[[#{error.request.status-text}]]*/ "STATUS TEXT",
          "analysis.batch-download.ajax.error": /*[[#{analysis.batch-download.ajax.error}]]*/ "REQUEST ERROR",
          "error": /*[[#{error}]]*/ "!!!ERROR!!!",
          "analysis.batch-download.preparing": /*[[#{analysis.batch-download.preparing}]]*/ "PREPARING DOWNLOAD",
          "analysis.automated-analyses": /*[[#{analysis.automated-analyses}]]*/ "AUTOMATED ANALYSES",
          "analysis.shared-analyses": /*[[#{analysis.shared-analyses}]]*/ "SHARED ANALYSES",
          "analysis.batch-download.help-info": /*[[#{analysis.batch-download.help-info}]]*/ "SEND HELP"
        }
      });
    </script>
    <script th:src="@{/dist/js/analysis-outputs-table.bundle.js}"></script>
</th:block>

</body>
</html>
