<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{analyses.user.page-title}">_Analyses_</title>
    <link rel="stylesheet" th:href="@{/dist/css/analyses-table.bundle.css}">
    <link rel="stylesheet" th:href="@{/dist/css/analysis.bundle.css}">
</head>
<body>
<div class="col-md-12" layout:fragment="page">
    <h2 th:text="#{analysis.batch-download.user-title}">__YOUR_ANALYSIS_OUTPUTS__</h2>
    <th:block th:replace="analyses/analyses-table :: batch-download"/>
</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
      window.PAGE = Object.assign(window.PAGE || {}, {
        URLS: {
          base: /*[[@{/}]]*/ '/',
        }
      });
    </script>
    <th:block th:replace="analyses/analyses-table :: batch-download-scripts"/>
</th:block>
</body>
</html>
