<div class="row">
    <div class="large-12 columns">
        <section>
            <h1>{{project.name}}</h1>

            <div class="row details">
                <div class="large-8 small-12 columns description">
                    <h2>Description</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid architecto autem
                        cumque deserunt dolore est expedita fugit, harum hic ipsam iste maxime minima numquam odit
                        quibusdam, rerum sit.</p>
                </div>
                <div class="large-3 large-offset-1 small-12 columns">
                    <h2>Users</h2>
                    <ul>
                        <li><a href="#!/users/josh"><i class="icon-user"></i> Josh Adam</a></li>
                        <li><a href=""><i class="icon-user"></i> Tom Matthews</a></li>
                        <li><a href=""><i class="icon-user"></i> Aaron Petkau</a></li>
                        <li><a href="#!/users/franklin"><i class="icon-user"></i> Franklin Bristow</a></li>
                        <li><a href=""><i class="icon-user"></i> Mathew Stuart-Edwards</a></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div>
                    <input type="file" multiple="multiple" data-file="param.files"/>
                </div>

            </div>
        </section>
    </div>
</div>
