<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head lang="en">
	<title th:text="#{pipeline.launch.page-title}">Pipelines - Launch</title>
	<style>
		.phylogenomics {
			background-color: rgba(39, 85, 108, 1.0);
		}
	</style>
</head>
<body>
<div layout:fragment="page">
	<h1><span th:text="#{pipeline.launch.title}">Select a Pipeline</span></h1>
	<div th:replace="pipelines/fragments/i18n :: cart-summary(${counts})"></div>
	<ul class="card-container">
		<li class="card" th:each="flow : ${workflows}">
			<div class="card_wrapper">
				<div class="card_colour" th:classappend="${flow.name}"></div>
				<div class="card_title" th:text="${flow.title}"></div>
				<div class="card_desc" th:text="${flow.description}"></div>
				<div class="card_footer">
					<a th:href="@{'/pipelines/' + ${flow.name}}" class="btn btn-primary btn-xs pull-right">Select</a>
				</div>
			</div>
		</li>
	</ul>
</div>
</body>
</html>