<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<head>
    <title th:text="#{pipeline.launch.page-title}">Pipelines - Launch</title>
    <link rel="stylesheet" th:href="@{/resources/dist/css/pipeline-selection.bundle.css}">
    <style th:text="${pipeline_plugin_style}"></style>
</head>
<body>
<div class="container" layout:fragment="page">
    <div class="col-md-23"><h1 th:text="#{pipeline.launch.title}">Select a Pipeline</h1>
    <div th:replace="pipelines/fragments/i18n :: cart-summary(${counts})"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" th:each="flow : ${workflows}">
            <div class="pipeline-panel t-pipeline panel panel-default"><div class="panel-heading" th:classappend="${flow.name}">
                <h3 class="panel-title" th:text="${flow.title}"></h3>
            </div>
            <div class="panel-body">
                <p th:text="${flow.description}"></p>
            </div>
            <div class="panel-footer text-right" th:if="${counts.projects>0}">
                <a th:id="${flow.name + '_btn'}" th:href="@{'/pipelines/' + ${flow.id}}"
                   class="btn btn-default btn-sm" th:text="#{form.btn.select}">Select
                </a>
            </div>
        </div></div>
    </div></div>
</div>
</body>
</html>