<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/page">
<head lang="en">
	<title th:text="#{pipeline.launch.page-title}">Pipelines - Launch</title>
	<link rel="stylesheet" th:href="@{/resources/css/modules/pipelines.css}" />
</head>
<body>
<div layout:fragment="page">
	<h1><span th:text="#{pipeline.launch.title}">Select a Pipeline</span></h1>
	<div th:replace="pipelines/fragments/i18n :: cart-summary(${counts})"></div>
	<div class="row">
		<div class="col-md-12 flex-row">
			<div class="panel panel-default flex-panel workflow" th:each="flow : ${workflows}">
				<div class="panel-heading" th:classappend="${flow.name}">
					<h3 class="panel-title" th:text="${flow.title}"></h3>
				</div>
				<div class="panel-body">
					<p th:text="${flow.description}"></p>
				</div>
				<div class="panel-footer text-right" th:if="${counts.projects>0}">
					<a th:id="${flow.name + '_btn'}" th:href="@{'/pipelines/' + ${flow.id}}"
						class="btn btn-default btn-sm" th:text="#{form.btn.select}">Select
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>