<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{template/page}">
<body>
    <div layout:fragment="page">
        <main class="col-md-9 col-md-push-3">
            <h1 th:text="#{sequencingruns.page-header(${run.getId()})}">_RUN_LABEL></h1>

            <ul class="nav nav-tabs subnav" th:with="baseLink=@{/sequencingRuns/{id}(id=${run.getId()})}">
                <li th:class="${activeNav} == 'details' ? 'active'">
                    <a th:href="${baseLink}" href="#" th:text="#{samples.nav.details}">
                        _Details_
                    </a>
                </li>
                <li th:class="${activeNav} == 'files' ? 'active'">
                    <a th:href="${baseLink + '/sequenceFiles'}" href="#">
                        <span th:text="#{samples.nav.files}">_Files_</span>
                        <span id="file-count" class="badge badge-default" th:text="${fileCount}">0</span>
                    </a>
                </li>
            </ul>

            <th:block layout:fragment="main"/>
        </main>
        <aside class="col-md-3 col-md-pull-9 visible-md visible-lg">
            <div class="sidebar">
                <div class="sidebar__body">
                    <div class="sidebar__item">
                        <div class="sidebar__icon"><span class="fa fa-fw fa-barcode sidebar__icon"></span></div> <span th:text="#{iridaThing.id}">ID</span>
                        <div id="sb-id" class="sidebar__value" th:text="${run.getId()}"></div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon"><span class="fa fa-fw fa-desktop sidebar__icon"></span></div> <span th:text="#{sequencingruns.details.type}">ID</span>
                        <div id="sb-id" class="sidebar__value sequencer-type" th:text="${run.sequencerType}"></div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon"><span class="fa fa-upload fa-fw sidebar__icon"></span></div> <span th:text="#{sequencingruns.uploadStatus}">_Status_</span>
                        <div id="sb-id" class="sidebar__value sequencer-type" th:text="#{'sequencingruns.status.' + ${run.uploadStatus}}"></div>
                    </div>
                    <div class="sidebar__item" th:if="${run.user}">
                        <div class="sidebar__icon"><span class="fa fa-user fa-fw sidebar__icon"></span></div> <span th:text="#{sequencingruns.details.uploader}">_Uploader_</span>
                        <div id="sb-id" class="sidebar__value">
                            <a href="#" th:href="@{/users/{id}(id=${run.user.id})}" th:text="${run.user.label}">_User</a>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__icon"><span class="far fa-calendar sidebar__icon"></span></div> <em
                            th:text="#{iridaThing.timestamp}">Created</em> <div id="sb-created"
                            class="sidebar__value" th:text="${#calendars.format(run.getCreatedDate(), 'dd MMM yyyy')}"></div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <th:block layout:fragment="page-scripts">

        <th:block layout:fragment="scripts"></th:block>
    </th:block>
</body>
</html>
