<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{sequencingRuns/_details_base}"
>
  <body>
    <main layout:fragment="main">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div
              class="panel-heading clearfix"
              ng-controller="DeleteModalCtrl as ctrl"
            >
              <b
                class="panel-title pull-left"
                th:text="#{sequencingruns.details.details}"
                >Run Details</b
              >
            </div>
            <div class="panel-body">
              <dl class="run-detail">
                <dt
                  class="run-detail-key"
                  th:text="#{sequencingruns.details.description}"
                >
                  _Description_
                </dt>
                <dd
                  class="run-detail-value"
                  th:if="${run.description}"
                  th:text="${run.description}"
                >
                  _Description_
                </dd>
              </dl>
              <div>
                <dl class="run-detail" th:each="kv : ${run.optionalProperties}">
                  <dt class="run-detail-key" th:text="${kv.key}">
                    _Description_
                  </dt>
                  <dd class="run-detail-value" th:text="${kv.value}">
                    _Description_
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
