<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{template/page}"
>
  <head>
    <title th:text="#{sequencingruns.title}">_Clients_</title>
    <link rel="stylesheet" th:href="@{/dist/css/sequencing-runs.bundle.css}" />
    <script th:inline="javascript">
      window.PAGE = {
        i18n: {
          "sequencingruns.title": /*[[#{sequencingruns.title}]]*/ "sequencingruns.title",
          "sequencingruns.id": /*[[#{sequencingruns.id}]]*/ "sequencingruns.id",
          "sequencingruns.type": /*[[#{sequencingruns.type}]]*/ "sequencingruns.type",
          "sequencingruns.uploadStatus": /*[[#{sequencingruns.uploadStatus}]]*/ "sequencingruns.uploadStatus",
          "sequencingruns.uploadUser": /*[[#{sequencingruns.uploadUser}]]*/ "sequencingruns.uploadUser",
          "sequencingruns.createdDate": /*[[#{sequencingruns.createdDate}]]*/ "sequencingruns.createdDate"
        }
      };
    </script>
  </head>
  <body>
    <div
      id="root"
      style="height: 100%; min-height: 100%"
      layout:fragment="page"
    >
        <!-- Sequencing runs should be displayed here.  Root JS file: SequenceRunsPage.jsx -->
    </div>

    <th:block layout:fragment="scripts">
      <script th:src="@{/dist/js/sequencing-runs.bundle.js}"></script>
    </th:block>
  </body>
</html>
