<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="sequencingRuns/_details_base">
<head lang="en">
	<meta charset="UTF-8"/>
	<title th:text="#{sequencingruns.details.title(${run.id})}">_Run_</title>
	<link rel="stylesheet" th:href="@{/resources/bower_components/DataTables/media/css/jquery.dataTables.min.css}"
	      href="/resources/bower_components/DataTables/media/css/jquery.dataTables.min.css"/>
</head>
<body>
<main layout:fragment="main">
	<div class="row">
		<div class="col-md-12">
			<h1 id="page-title" role="heading" th:text="#{sequencingruns.files.title(${run.id})}">
				__TITLE__</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="filesTable">
				<thead>
				<tr role="row">
					<th th:text="#{sequencingruns.files.id}">ID</th>
					<th th:text="#{sequencingruns.files.name}">Name</th>
					<th th:text="#{sequencingruns.files.size}">Size</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr class="file-row" role="row" th:each="file : ${files}"
				    th:id="${'file-row-' + file.id}">
					<td class="file-id" th:text="${file.id}">ID</td>
					<td>
						<a class="file-name btn btn-default btn-xs"
						   th:href="@{/sequencingRuns/{runId}/sequenceFiles/{id}/summary(runId=${run.id}, id=${file.id})}"
						   href="#"
						   th:text="${file.label}"></a>
					</td>
					<td data:order="${file.size}" th:text="${file.size}"></td>
					<td class="file-buttons">
						<div class="btn-toolbar pull-right">
							<button class="btn btn-primary btn-xs download-file"
							        th:attr="data-file-id=${file.id}">
								<span class="fa fa-fw fa-download"></span>
							</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
<th:block layout:fragment="pageScripts" th:inline="javascript">
	<script th:src="@{/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js}"
	        src="/resources/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js}"
	        src="/resources/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script>
		/*<![CDATA[*/
		$(document).ready(function () {
			'use strict';
			var table = $("#filesTable").DataTable();

			$("button.download-file").on("click", function () {
				var that = $(this);
				var fileId = that.data("file-id");
				var url = /*[[@{/sequenceFiles/download/}]]*/ '/sequenceFiles/download/';
				var iframe = document.createElement("iframe");
				iframe.src = url + fileId;
				iframe.style.display = "none";
				document.body.appendChild(iframe);
			});
		});

		/*]]>*/
	</script>
</th:block>
</body>
</html>