<div th:fragment="MiSeq (run)"> 
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.investigatorName}">_Description_</dt>
        <dd class="run-detail-value" th:if="run.investigatorName" th:text="${run.investigatorName}">_Description_</dd>
    </dl>
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.projectName}">_Name_</dt>
        <dd class="run-detail-value" th:if="run.projectName" th:text="${run.projectName}">_Name_</dd>
    </dl>
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.workflow}">_Workflow_</dt>
        <dd class="run-detail-value" th:if="run.workflow" th:text="${run.workflow}">_Workflow_</dd>
    </dl>
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.application}">_Application_</dt>
        <dd class="run-detail-value" th:if="run.application" th:text="${run.application}">_Application_</dd>
    </dl>
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.assay}">_Assay_</dt>
        <dd class="run-detail-value" th:if="run.assay" th:text="${run.assay}">_Assay_</dd>
    </dl>
    <dl class="run-detail">
        <dt class="run-detail-key" th:text="#{sequencingruns.miseq.chemistry}">_Chemistry_</dt>
        <dd class="run-detail-value" th:if="run.chemistry" th:text="${run.chemistry}">_Chemistry_</dd>
    </dl>
	<dl class="run-read-lengths">
		<dt class="run-read-lengths-key" th:text="#{sequencingruns.miseq.readLengths}">_Chemistry_</dt>
		<dd class="run-read-lengths-value" th:if="run.readLengths" th:text="${run.readLengths}">_Chemistry_</dd>
	</dl>
</div>
